<div data-file="intelligente-magische-gegenstaende.html">
<h3 id="intelligente-magische-gegenstaende">Intelligente magische Gegenstände</h3>
<p>Manche magische Gegenstände sind intelligent und besitzen eine Persönlichkeit. Solche Gegenstände können besessen sein, den Geist ihres früheren Eigentümers beherbergen oder durch die Magie, mit der sie erschaffen worden sind, ein Bewusstsein erlangt haben. In jedem Fall verhält sich der Gegenstand wie ein Charakter mit Eigenarten, Idealen, Bindungen und manchmal auch Makeln. Ein intelligenter Gegenstand kann ein wertvoller Verbündeter oder ein ständiger Widersacher sein.</p>
<p>Die meisten intelligenten Gegenstände sind Waffen. Auch andere Gegenstände können intelligent sein, sofern es keine Verbrauchsgegenstände wie Tränke und Schriftrollen sind.</p>
<p>Intelligente magische Gegenstände fungieren als NSC, die der SL kontrolliert. Aktivierte Eigenschaften des Gegenstands werden durch den Gegenstand kontrolliert, nicht durch den Charakter, der den Gegenstand führt. Solange der Träger eine gute Beziehung zum Gegenstand hat, sind die Eigenschaften für den Träger normal zugänglich. Wenn die Beziehung angespannt ist, kann der Gegenstand seine aktivierbaren Eigenschaften unterdrücken oder sie sogar gegen den Träger verwenden.</p>
<h4>Intelligente magische Gegenstände erschaffen</h4>
<p>Wenn du einen intelligenten magischen Gegenstand erschaffen möchtest, erschaffst du die Persönlichkeit des Gegenstands bis auf wenige hier beschriebene Ausnahmen genau so, wie du es bei einem NSC tun würdest.</p>
<h5>Fähigkeiten</h5>
<p>Ein intelligenter magischer Gegenstand hat Intelligenz-, Weisheits- und Charismawerte. Du kannst die Fähigkeiten des Gegenstands wählen oder zufällig bestimmen. Wenn du sie zufällig bestimmen möchtest, würfelst du für jede Fähigkeit mit vier W6, ignorierst den niedrigsten Wurf und addierst die restlichen Würfe.</p>
<h5>Kommunikation</h5>
<p>Ein intelligenter Gegenstand hat gewisse Kommunikationsmöglichkeiten: Er kann entweder seine Gefühle vermitteln, telepathisch seine Gedanken übertragen oder laut sprechen. Du kannst auswählen, welche Kommunikationsmethode er verwendet, oder würfeln und es anhand der folgenden Tabelle bestimmen.</p>
<table id="table-kommunikation">
<tr><th>W100</th>
<th>Kommunikation</th></tr>
<tr><td>1-60</td><td>Der Gegenstand kommuniziert, indem er der Kreatur, die ihn trägt oder führt, seine Emotionen vermittelt.</td></tr>
<tr><td>61-90</td><td>Der Gegenstand kann mindestens eine Sprache sprechen, lesen und verstehen.</td></tr>
<tr><td>91-100</td><td>Der Gegenstand kann mindestens eine Sprache sprechen, lesen und verstehen. Außerdem kann der Gegenstand telepathisch mit jedem Charakter kommunizieren, der ihn trägt oder führt.</td></tr>
</table>
<h5>Sinne</h5>
<p>Intelligenz und Wahrnehmung hängen eng zusammen. Ein intelligenter Gegenstand kann seine Umgebung innerhalb einer bestimmten Reichweite wahrnehmen. Du kannst auswählen, welche Sinne er verwendet, oder würfeln und es anhand der folgenden Tabelle bestimmen.</p>
<table id="table-sinne">
<tr>
    <th>W4</th>
    <th>Sinne</th>
</tr>
<tr><td>1</td><td>Gehör und normale Sicht auf bis zu 9 m </td></tr>
<tr><td>2</td><td>Gehör und normale Sicht auf bis zu 18 m</td></tr>
<tr><td>3</td><td>Gehör und normale Sicht auf bis zu 36 m</td></tr>
<tr><td>4</td><td>Gehör und Dunkelsicht auf bis zu 36 m  </td></tr>
</table>
<h5>Gesinnung</h5>
<p>Ein intelligenter magischer Gegenstand hat eine Gesinnung. Sein Schöpfer oder seine Natur könnten eine Gesinnung nahelegen. Wenn nicht, kannst du eine Gesinnung auswählen, oder würfeln und sie anhand der folgenden Tabelle bestimmen.</p>
<table id="table-gesinnung">
<tr><th>W100</th>
<th>Gesinnung</th>
<th>W100</th>
<th>Gesinnung</th></tr>
<tr><td>1-15</td><td>Rechtschaffen gut</td><td>74-85</td><td>Chaotisch neutral</td></tr>
<tr><td>16-35</td><td>Neutral gut</td><td>86-89</td><td>Rechtschaffen böse</td></tr>
<tr><td>36-50</td><td>Chaotisch gut</td><td>90-96</td><td>Neutral böse</td></tr>
<tr><td>51-63</td><td>Rechtschaffen neutral</td><td>97-100</td><td>Chaotisch böse</td></tr>
<tr><td>64-73</td><td>Neutral</td><td></td><td></td></tr>
</table>
<h5>Besonderes Ziel</h5>
<p>Du kannst einem intelligenten Gegenstand ein Ziel geben, das er verfolgt - gegebenenfalls ohne Rücksicht auf Verluste. Solange der Träger des Gegenstands mit ihm dieses besondere Ziel verfolgt, ist der Gegenstand kooperativ. Weicht der Träger von diesem Ziel ab, kann es zu Konflikten zwischen ihm und dem Gegenstand kommen. Der Gegenstand kann sogar verhindern, dass sein Träger die aktivierten Eigenschaften verwenden kann. Du kannst ein besonderes Ziel auswählen, oder würfeln und es anhand der folgenden Tabelle bestimmen.</p>
<table id="table-besonderes-ziel">
<tr>
    <th>W10</th>
    <th>Ziel</th>
</tr>
<tr><td>1 </td><td><em>Gesinnung:</em> Der Gegenstand will alle mit gegenteiliger Gesinnung besiegen oder zerstören. (Ein solcher Gegenstand ist niemals neutral.)</td></tr>
<tr><td>2 </td><td><em>Nemesis:</em> Der Gegenstand will alle Kreaturen einer bestimmten Art besiegen oder zerstören, zum Beispiel Unholde, Gestaltwandler, Trolle oder Magier.</td></tr>
<tr><td>3 </td><td><em>Beschützer:</em> Der Gegenstand versucht, ein bestimmtes Volk oder eine bestimmte Art von Kreatur zu verteidigen, zum Beispiel Elfen oder Druiden.</td></tr>
<tr><td>4 </td><td><em>Kreuzfahrer:</em> Der Gegenstand will die Diener einer bestimmten Gottheit besiegen, schwächen oder zerstören.</td></tr>
<tr><td>5 </td><td><em>Tempelritter:</em> Der Gegenstand will die Diener und Interessen einer bestimmten Gottheit verteidigen.</td></tr>
<tr><td>6 </td><td><em>Zerstörer:</em> Der Gegenstand ist voller Zerstörungswut und stachelt seinen Träger willkürlich zu Kämpfen an.</td></tr>
<tr><td>7 </td><td><em>Ruhmsucher:</em> Der Gegenstand strebt danach, als großartigster magischer Gegenstand der Welt angesehen zu werden und versucht daher alles, um seinem Benutzer zu einem guten oder auch schlechten Ruf zu verhelfen.</td></tr>
<tr><td>8 </td><td><em>Wissenssucher:</em> Der Gegenstand strebt nach Wissen oder ist entschlossen, ein Rätsel zu lösen, ein Geheimnis zu lüften oder eine kryptische Prophezeiung zu entschlüsseln.</td></tr>
<tr><td>9 </td><td><em>Schicksalssucher:</em> Der Gegenstand ist überzeugt, dass er und sein Träger bei zukünftigen Ereignissen eine wichtige Rolle spielen werden.</td></tr>
<tr><td>10</td><td><em>Schöpfersucher:</em> Der Gegenstand sucht seinen Schöpfer und will verstehen, warum er erschaffen wurde.</td></tr>
</table>

<h4>Konflikt</h4>
<p>Ein intelligenter Gegenstand hat einen eigenen Willen, der von seiner Persönlichkeit und seiner Gesinnung geprägt ist. Wenn die Handlungen seines Trägers der Gesinnung oder dem Ziel des Gegenstands widersprechen, kann es zu Konflikten kommen. Wenn ein solcher Konflikt auftritt, führt der Gegenstand einen vergleichenden Charismawurf gegen den Charismawurf seines Trägers aus.</p>
<p>Wenn der Gegenstand den Vergleich gewinnt, stellt er mindestens eine der folgenden Forderungen:</p>
<ul><li> Der Gegenstand besteht darauf, ständig getragen oder gehalten zu werden.</li>
<li> Der Gegenstand verlangt, dass sein Träger alles entsorgt, was der Gegenstand anstößig findet.</li>
<li> Der Gegenstand verlangt, dass sein Träger nichts außer den Zielen des Gegenstands verfolgt.</li>
<li> Der Gegenstand verlangt, an jemand anderen weitergegeben zu werden.</li></ul>
<p>Wenn sein Träger sich weigert, den Wünschen des Gegenstands zu gehorchen, kann der Gegenstand eine beliebige Anzahl der folgenden Maßnahmen ergreifen:</p>
<ul><li> Er macht es seinem Träger unmöglich, sich auf ihn einzustimmen.</li>
<li> Er unterdrückt mindestens eine seiner aktivierten Eigenschaften.</li>
<li> Er versucht, die Kontrolle über seinen Träger zu übernehmen.</li></ul>
<p>Wenn ein intelligenter Gegenstand versucht, die Kontrolle über seinen Träger zu übernehmen, muss der Träger einen Charismarettungswurf ausführen, wobei der SG gleich 12 + dem Charismamodifikator des Gegenstands ist. Scheitert der Wurf, ist der Träger für 1W12 Stunden von dem Gegenstand bezaubert. Im bezauberten Zustand muss der Träger versuchen, den Befehlen des Gegenstands zu gehorchen. Wenn der Träger Schaden erleidet, kann er den Rettungswurf wiederholen und den Effekt bei einem Erfolg beenden. Egal, ob der Versuch, die Kontrolle über seinen Träger zu übernehmen, gelingt oder scheitert, kann der Gegenstand diese Fähigkeit erst im nächsten Morgengrauen erneut verwenden.</p>
<h3 id="artefakte">Artefakte</h3>

<div class="magicitem" id="magicitem-kugel-der-drachen">
<h5>Kugel der Drachen</h5>
<p class="magicitem-type"><em>Wundersamer Gegenstand, Artefakt (erfordert Einstimmung)</em></p>
<p>Vor ewigen Zeiten führten Elfen und Menschen einen furchtbaren Krieg gegen böse Drachen. Als die Welt dem Untergang geweiht schien, versammelten sich mächtige Magier und wirkten ihre stärksten Zauber, um fünf <span class="nameref">Kugeln der Drachen</span> - oder Drachenkugeln -zu schaffen und so zu helfen, die Drachen zu besiegen. Jeweils eine Kugel wurde zu einem der fünf Magiertürme gebracht. Dort wurden sie verwendet, um den Krieg bald darauf zu einem siegreichen Ende zu führen. Die Magier nutzten die Kugeln, um Drachen zu sich zu locken und sie dann mit mächtiger Magie zu zerstören.</p>
<p>Die Magiertürme zerfielen im Laufe der Zeit zu Ruinen, die Kugeln wurden zerstört oder verblassten zu Legenden. Es wird angenommen, dass nur drei der Kugeln die Zeiten überdauert haben. Im Laufe der Jahrhunderte wandelte sich ihre Magie. Obwohl sie ihren Hauptzweck noch erfüllen und Drachen herbeirufen, ermöglichen sie auch eine gewisse Kontrolle über Drachen.</p>
<p>Jede Kugel enthält die Essenz eines bösen Drachen. Diese Präsenz hasst es, dass der Kugel Magie entlockt wird. Schwache Persönlichkeiten können Gefahr laufen, von einer Kugel versklavt zu werden.</p>
<p>Eine Kugel ist eine geätzte Kristallkugel mit einem Durchmesser von rund 25 Zentimetern. Wenn sie verwendet wird, wächst ihr Durchmesser auf rund 50 Zentimeter an und in ihrem Inneren beginnt ein Nebel zu wirbeln.</p>
<p>Wenn du auf eine Kugel eingestimmt bist, kannst du als Aktion in die Tiefen der Kugel schauen und ihr Befehlswort aussprechen. Führe dann einen SG-15-Charismawurf aus. Bei einem Erfolg kontrollierst du die Kugel, solange du auf sie eingestimmt bist. Anderenfalls bist du von der Kugel bezaubert, solange du auf sie eingestimmt bist.</p>
<p>Während du von der Kugel bezaubert bist, kannst du deine Einstimmung auf sie nicht freiwillig beenden, und die Kugel wirkt beliebig oft Einflüsterung (Rettungswurf-SG 18) auf dich, um dich anzustacheln, die Arbeit an ihren bösen Zielen voranzutreiben.</p>
<p>Die Drachenessenz in der Kugel kann viele verschiedene Ziele haben: Sie kann die Vernichtung eines bestimmten Volks wünschen, Freiheit von der Kugel anstreben, Leid auf der Welt verbreiten wollen, die Vermehrung von Tiamats Gefolgschaft im Sinn haben oder ein anderes Ziel verfolgen, das der SL festlegt.</p>
<p><span class="nameref">Zufällige Eigenschaften:</span> Eine <a class="magicitem" href="#magicitem-kugel-der-drachen">Kugel der Drachen</a> hat die folgenden zufälligen Eigenschaften:</p>
<ul><li> zwei kleinere vorteilhafte Eigenschaften</li>
<li> eine kleinere nachteilige Eigenschaft</li>
<li> eine größere nachteilige Eigenschaft</li></ul>
<p><span class="nameref">Zauber:</span> Die Kugel hat sieben Ladungen und erhält täglich im Morgengrauen 1W4+3 verbrauchte Ladungen zurück. Wenn du die Kugel kontrollierst, kannst du als Aktion eine oder mehrere Ladungen verbrauchen, um einen der folgenden Zauber mit ihr zu wirken (Rettungswurf-SG 18): <a class="spell" href="#spell-ausspaehung">Ausspähung</a> (drei Ladungen), <a class="spell" href="#spell-tageslicht">Tageslicht</a> (eine Ladung), <a class="spell" href="#spell-todesschutz">Todesschutz</a> (zwei Ladungen) oder <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a> (5. Grades, drei Ladungen).</p>
<p>Du kannst außerdem eine Aktion verwenden, um mit der Kugel den Zauber <a class="spell" href="#spell-magie-entdecken">Magie entdecken</a> zu wirken, ohne Ladungen zu verbrauchen.</p>
<p><span class="nameref">Drachen herbeirufen:</span> Während du die Kugel kontrollierst, kannst du als Aktion das Artefakt dazu bringen, einen telepathischen Ruf auszusenden, der sich 64 Kilometer weit in alle Richtungen ausbreitet. Böse Drachen in Reichweite werden veranlasst, so schnell wie möglich und auf direktem Wege zur Kugel zu kommen. Drachengottheiten wie Tiamat werden von diesem Ruf nicht betroffen. Drachen, die von der Kugel angezogen werden, können dir feindlich gesinnt sein, weil du sie gegen ihren Willen gerufen hast. Nachdem du diese Eigenschaft verwendet hast, kann sie erst eine Stunde später erneut verwendet werden.</p>
<p><span class="nameref">Eine Kugel zerstören:</span> Eine <a class="magicitem" href="#magicitem-kugel-der-drachen">Kugel der Drachen</a> scheint zerbrechlich zu sein, ist aber gegen die meisten Schadensarten immun. Selbst die Odemwaffen von Drachen können ihr nichts anhaben. Der Zauber <a class="spell" href="#spell-aufloesung">Auflösung</a> oder ein guter Treffer mit einer magischen Waffe +3 kann eine Kugel jedoch zerstören.</p>
</div>
</div>