<h2 id="anhang-ph-a-zustaende">Anhang PH-A: Zustände</h2>
<p>Zustande verändern die Fähigkeiten von Kreaturen auf vielfältige Arten und können das Ergebnis von Zaubern, Klassenmerkmalen, Monsterangriffen oder anderen Effekten sein. Die meisten Zustände wie etwa Blind sind Einschränkungen, einige andere wie etwa Unsichtbar können vorteilhaft sein.</p>
<p>Ein Zustand hält entweder an, bis er aufgehoben wird (der Zustand Liegend wird beispielsweise durch Aufstehen aufgehoben), oder die Wirkungsdauer wird von seinem Auslöser bestimmt.</p>
<p>Wenn mehrere Auslöser einer Kreatur den gleichen Zustand zufügen, hat jede Instanz des Zustands ihre eigene Wirkungsdauer, aber die Effekte des Zustandes werden nicht stärker. Eine Kreatur hat entweder einen Zustand oder nicht.</p>
<p>Die folgenden Definitionen legen fest, was mit einer Kreatur geschieht, während sie einem Zustand unterliegt.</p>
<h5>Betäubt</h5>
<ul>
<li> Eine betäubte Kreatur ist kampfunfähig (siehe entsprechenden Zustand), kann sich nicht bewegen und nur stockend sprechen.</li>
<li> Die Kreatur scheitert bei Stärke- und Geschicklichkeitsrettungswürfen automatisch.</li>
<li> Angriffswürfe gegen die Kreatur sind im Vorteil.</li>
</ul>
<h5>Bewusstlos</h5>
<ul><li> Eine bewusstlose Kreatur ist kampfunfähig (siehe entsprechenden Zustand), kann sich nicht bewegen oder sprechen und ist sich ihrer Umgebung nicht bewusst.</li>
<li> Die Kreatur lässt fallen, was auch immer sie hält, und erleidet den Zustand liegend.</li>
<li> Die Kreatur scheitert bei Stärke- und Geschicklichkeitsrettungswürfen automatisch.</li>
<li> Angriffswürfe gegen die Kreatur sind im Vorteil.</li>
<li> Jeder Angriff, der die Kreatur trifft, ist ein kritischer Treffer, wenn sich der Angreifer im Abstand von bis zu 1,5 Metern um die Kreatur befindet.</li></ul>
<h5>Bezaubert</h5>
<ul><li> Eine bezauberte Kreatur kann den Zauberwirker nicht angreifen oder als Ziel für schädigende Fähigkeiten oder magische Effekte wählen.</li>
<li> Der Zauberwirker ist bei Attributswürfen, die soziale Interaktionen mit der Kreatur betreffen, im Vorteil.</li></ul>
<h5>Blind</h5>
<ul><li> Eine blinde Kreatur kann nicht sehen und scheitert automatisch bei jedem Attributswurf, der Sicht erfordert</li>
<li> Angriffswürfe gegen die Kreatur sind im Vorteil, die Angriffswürfe der Kreatur selbst im Nachteil.</li></ul>
<h5>Festgesetzt</h5>
<ul><li> Die Bewegungsrate einer festgesetzten Kreatur wird zu 0, und es kann kein Bonus auf die Bewegungsrate genutzt werden.</li>
<li> Angriffswürfe gegen die Kreatur sind im Vorteil, die Angriffswürfe der Kreatur selbst im Nachteil.</li>
<li> Die Kreatur ist bei Stärke- und Geschicklichkeitsrettungswürfen im Nachteil.</li></ul>
<h5>Gelähmt</h5>
<ul><li> Eine gelähmte Kreatur ist kampfunfähig (siehe entsprechenden Zustand) und kann weder sich bewegen noch sprechen.</li>
<li> Die Kreatur scheitert bei Stärke- und Geschicklichkeitsrettungswürfen automatisch.</li>
<li> Angriffswürfe gegen die Kreatur sind im Vorteil.</li>
<li> Jeder Angriff, der die Kreatur trifft, ist ein kritischer Treffer, wenn sich der Angreifer im Abstand von bis zu 1,5 Metern um die Kreatur befindet.</li></ul>
<h5>Gepackt</h5>
<ul><li> Die Bewegungsrate einer gepackten Kreatur wird zu 0, und es kann kein Bonus auf die Bewegungsrate genutzt werden.</li>
<li> Der Zustand endet, wenn die packende Kreatur kampfunfähig ist (siehe entsprechenden Zustand).</li>
<li> Der Zustand endet auch, wenn ein Effekt die gepackte Kreatur aus der Reichweite der packenden Kreatur oder ihres packenden Effekts entfernt, etwa der Zauber <a class="spell" href="#spell-donnerwoge">Donnerwoge</a>.</li></ul>
<h5>Kampfunfähig</h5>
<ul><li> Eine kampfunfähige Kreatur kann weder Aktionen noch Reaktionen ausführen.</li></ul>
<h5>Liegend</h5>
<ul><li> Eine liegende Kreatur kann als einzige Bewegung kriechen, es sei denn, sie steht auf und beendet dadurch den Zustand.</li>
<li> Die Kreatur ist bei Angriffswürfen im Nachteil.</li>
<li> Jeder Angriffswurf gegen die Kreatur ist im Vorteil, wenn der Angreifer sich im Abstand von bis zu 1,5 Metern um die Kreatur befindet. Anderenfalls ist der Angriffswurf im Nachteil.</li></ul>
<h5>Taub</h5>
<ul><li> Eine taube Kreatur kann nichts hören und scheitert automatisch bei jedem Attributswurf, der Hören erfordert.</li></ul>

<div class="boxed" id="box-erschoepfung">
<h5>Erschöpfung</h5>
<p>Einige Spezialfähigkeiten und Umweltgefahren, wie Hunger und die langfristigen Auswirkungen von sehr niedrigen oder hohen Temperaturen, können einen besonderen Zustand auslösen, der als Erschöpfung bezeichnet wird. Erschöpfung wird in sechs Stufen gemessen. Ein Effekt kann einer Kreatur eine oder mehrere Erschöpfungsstufen verleihen, wie in der Beschreibung des Effekts angegeben.</p>
<table id="table-erschoepfung">
<tr>
    <th>Stufe</th>
    <th>Effekt</th>
</tr>
<tr><td>1</td><td>Nachteil bei Attributswürfen</td></tr>
<tr><td>2</td><td>Halbe Bewegungsrate</td></tr>
<tr><td>3</td><td>Nachteil bei Angriffs- und Rettungswürfen</td></tr>
<tr><td>4</td><td>Halbes Trefferpunktemaximum</td></tr>
<tr><td>5</td><td>Bewegungsrate auf 0 reduziert</td></tr>
<tr><td>6</td><td>Tod</td></tr>
</table>

<p>Erleidet eine bereits erschöpfte Kreatur einen weiteren Effekt, der Erschöpfung verursacht, steigt die aktuelle Erschöpfungsstufe um den in der Beschreibung des Effekts angegebenen Wert.</p>
<p>Eine Kreatur erhält den Effekt ihrer aktuellen Erschöpfungsstufe sowie aller niedrigeren Stufen. Zum Beispiel hat eine Kreatur, die unter Erschöpfungsstufe 2 leidet, nur noch die halbe Bewegungsrate und ist bei Attributswürfen im Nachteil.</p>
<p>Ein Effekt, der Erschöpfung verringert, senkt die Stufe entsprechend der Beschreibung, und alle Erschöpfungseffekte enden, sobald die Erschöpfungsstufe einer Kreatur unter 1 sinkt.</p>
<p>Nach einer langen Rast sinkt die Erschöpfungsstufe einer Kreatur um 1, vorausgesetzt, sie hat auch etwas gegessen und getrunken.</p>
</div>

<h5>Unsichtbar</h5>
<ul>
<li>Eine unsichtbare Kreatur kann nicht ohne die Hilfe von Magie oder besonderen Sinnen gesehen werden. Um sich zu verstecken, wird die Kreatur komplett verschleiert. Die Position der Kreatur kann aus Geräuschen, die sie macht, oder Spuren, die sie hinterlässt, abgeleitet werden.</li>
<li>Angriffswürfe gegen die Kreatur sind im Nachteil, die Angriffswürfe der Kreatur selbst im Vorteil.</li>
</ul>
<h5>Verängstigt</h5>
<ul>
<li> Eine verängstigte Kreatur ist bei Attributswürfen und Angriffswürfen im Nachteil, solange sich die Quelle ihrer Furcht in Sichtlinie befindet.</li>
<li> Die Kreatur kann sich nicht willentlich auf die Quelle ihrer Furcht zubewegen.</li>
</ul>
<h5>Vergiftet</h5>
<ul><li> Eine vergiftete Kreatur ist bei Angriffs- und Attributswürfen im Nachteil.</li></ul>
<h5>Versteinert</h5>
<ul><li> Eine versteinerte Kreatur wird zusammen mit nichtmagischer Ausrüstung, die sie trägt, in eine feste, unbewegliche Substanz verwandelt (normalerweise Stein), Ihr Gewicht steigt um den Faktor zehn und sie hört auf zu altern.</li>
<li> Die Kreatur ist kampfunfähig (siehe entsprechenden Zustand), kann sich nicht bewegen oder sprechen und ist sich ihrer Umgebung nicht bewusst.</li>
<li> Angriffswürfe gegen die Kreatur sind im Vorteil.</li>
<li> Die Kreatur scheitert automatisch bei Rettungswürfen auf Stärke und Geschicklichkeit.</li>
<li> Die Kreatur ist gegen alle Schadensarten resistent.</li>
<li> Die Kreatur ist gegen Gift und Krankheiten immun. Gifte und Krankheiten, die sich bereits in ihrem Körper befinden, werden jedoch nur pausiert, nicht neutralisiert.</li></ul>