<h3 id="gegenstaende">Gegenstände</h3>
<p>Wenn Charaktere Seile durchschneiden, Fenster einschlagen oder den Sarg eines Vampirs zerschmettern müssen, gilt als einzige feste Regel: Mit genug Zeit und den richtigen Werkzeugen können die Charaktere jedes zerstörbare Objekt zerstören. Nutze deinen gesunden Menschenverstand, wenn es darum geht, ob ein Charakter erfolgreich einen Gegenstand zerstört. Kann ein Kämpfer mit einem Schwert eine Steinwand durchtrennen? Nein, das Schwert geht wahrscheinlich vor der Mauer kaputt.</p>
<p>Für diese Regeln ist ein Objekt ein separater, unbelebter Gegenstand wie ein Fenster, eine Tür, ein Schwert, ein Buch, ein Tisch, ein Stuhl oder Stein - kein Gebäude oder ein Fahrzeug, dass aus vielen verschiedenen Objekten besteht.</p>
<h5>Werte für Gegenstände</h5>
<p>Wenn Zeit eine Rolle spielt, kannst du zerstörbaren Gegenständen eine Rüstungsklasse und Trefferpunkte zuweisen. Du kannst ihnen auch Immunität und Resistenz gegen beziehungsweise Anfälligkeit für bestimmte Schadensarten geben.</p>
<p><span class="trait-name">Rüstungsklasse:</span> Die Rüstungsklasse eines Gegenstands legt fest, wie schwierig es ist, dem Gegenstand mit einem Treffer Schaden zuzufügen (da der Gegenstand nicht ausweichen kann).</p>
<p>Die Tabelle „Rüstungsklasse eines Gegenstands&quot; liefert Vorschläge für die RK bestimmter Materialien.</p>

<h5>Rüstungsklasse eines Gegenstands</h5>
<table id="table-ruestungsklasse-eines-gegenstands">
<tr>
    <th>Material</th>
    <th>RK</th>
</tr>
<tr><td>Papier, Seil, Stoff</td><td>11</td></tr>
<tr><td>Eis, Glas, Kristall</td><td>13</td></tr>
<tr><td>Holz, Knochen      </td><td>15</td></tr>
<tr><td>Stein              </td><td>17</td></tr>
<tr><td>Eisen, Stahl       </td><td>19</td></tr>
<tr><td>Mithral            </td><td>21</td></tr>
<tr><td>Adamantin          </td><td>23</td></tr>
</table>

<p><span class="trait-name">Trefferpunkte:</span> Die Trefferpunkte eines Gegenstands geben an, wie viel Schaden er erleiden kann, bevor er seine strukturelle Integrität verliert. Solide Gegenstände haben mehr Trefferpunkte als zerbrechliche. Große Gegenstände haben zudem meist mehr Trefferpunkte als kleine, es sei denn, die Zerstörung eines kleinen Teils ist genauso effektiv wie die Zerstörung des gesamten Objekts. Die Tabelle „Trefferpunkte eines Gegenstands&quot; liefert Vorschläge für Trefferpunkte für maximal große zerbrechliche und stabile Gegenstände.</p>
<h5>Trefferpunkte eines Gegenstands</h5>
<table id="table-trefferpunkte-eines-gegenstands">
<tr><th>Größe</th>
<th>Zerbrechlich</th>
<th>Stabil</th></tr>
<tr><td>Winzig (Flasche, Schloss)</td><td>2 (1W4)</td><td>5 (2W4)</td></tr>
<tr><td>Klein (Kiste, Laute)</td><td>3 (1W6)</td><td>10 (3W6)</td></tr>
<tr><td>Mittelgroß (Fass, Kronleuchter)</td><td>4(1W8)</td><td>18 (4W8)</td></tr>
<tr><td>Groß (Fenster 3 m x 3 m, Karren)</td><td>5 (1W10)</td><td>27 (5W10)</td></tr>
</table>
<p><span class="trait-name">Riesige und gigantische Gegenstände: </span>Gewöhnliche Waffen sind gegen viele riesige und gigantische Gegenstände wie kolossale Statuen, Steinsäulen oder massive Felsbrocken praktisch nutzlos. Eine Fackel kann jedoch einen riesigen Wandteppich verbrennen und der Zauber <a class="spell" href="#spell-erdbeben">Erdbeben</a> kann einen Koloss zu einem Schutthaufen machen. Wenn du möchtest, kannst du die Trefferpunkte von riesigen und gigantischen Gegenständen verfolgen, oder du legst einfach fest, wie lange der Gegenstand einer bestimmten Waffe oder Kraft widersteht. Wenn du Trefferpunkte verwendest, teile den Gegenstand in höchstens große Abschnitte und verfolge die Trefferpunkte jedes Abschnitts separat. Wird einer dieser Abschnitte zerstört, könnte der ganze Gegenstand ruiniert werden. Eine gigantische Statue eines Menschen könnte beispielsweise Umfallen, wenn die Trefferpunkte eines ihrer großen Beine auf 0 sinken.</p>
<p><span class="trait-name">Gegenstände und Schadensarten:</span> Gegenstände sind gegen Gift- und psychischen Schaden immun. Du kannst festlegen, dass einige Schadensarten gegen bestimmte Gegenstände oder Materialien effektiver sind als andere. Beispielsweise funktioniert Wuchtschaden gut, um Dinge zu zerschmettern, aber nicht, um Seile oder Leder zu durchtrennen. Papier- und Stoffgegenstände sind anfällig für Blitz- und Feuerschaden. Eine Spitzhacke kann Steine zerbrechen, aber nicht besonders gut einen Baum fällen. Nutze wie immer gesunden Menschenverstand.</p>
<p><span class="trait-name">Schadensschwellenwert:</span> Große Objekte wie Burgmauern haben oft zusätzliche Widerstandskraft, die durch einen Schadensschwellenwert dargestellt wird. Ein Gegenstand mit einem Schadensschwellenwert ist gegen jeglichen Schaden immun, es sei denn, er erhält durch einen einzigen Angriff oder einen Effekt mindestens so viel Schaden wie sein Schadensschwellenwert. In diesem Fall erhält der Gegenstand wie gewohnt Schaden. Jeglicher Schaden, der geringer als der Schadensschwellenwert des Gegenstands ist, gilt als oberflächlich und hat keinen Effekt auf die Trefferpunkte des Objekts.</p>