<h2 id="anhang-ph-b-pantheons">Anhang PH-B: Pantheons in Geschichte und Fantasy-Welten</h2>
<p>Die keltischen, ägyptischen, griechischen und nordischen Pantheons sind Fantasy-Interpretationen historischer Religionen aus der Antike unserer Welt Dazu gehören Gottheiten, die für die Verwendung in einem Spiel am besten geeignet sind, losgelöst von ihrem historischen Kontext in der realen Welt und in Pantheons vereint, die auf die Bedürfnisse des Spiels angepasst wurden.</p>
<h5>Das ägyptische Pantheon</h5>
<p>Diese Götter sind eine junge Dynastie einer alten göttlichen Familie, die Erben der Herrschaft des Kosmos und der Erhaltung des göttlichen Prinzips des Ma'at - der fundamentalen Ordnung von Wahrheit, Gerechtigkeit, Gesetz und Ordnung, die den Göttern, sterblichen Pharaonen und gewöhnlichen Männern und Frauen auf ihren logischen und rechtmäßigen Platz im Universum verweist.</p>
<p>Das ägyptische Pantheon ist ungewöhnlich, weil darin drei Götter mit dem Tod verbunden sind, die jeweils andere Gesinnungen aufweisen. Anubis ist der rechtschaffen neutrale Gott des Jenseits, der über die Seelen der Toten richtet Set ist ein chaotisch böser Gott des Mordes, der vielleicht am besten dafür bekannt ist, seinen Bruder Osiris getötet zu haben. Nephthys ist eine chaotisch gute Göttin der Trauer.</p>
<h5>Das griechische Pantheon</h5>
<p>Die Götter des Olymps machen sich mit dem sanften Rauschen der Wellen am Ufer und dem Grollen des Donners zwischen wolkenverhangenen Gipfeln bemerkbar. Die dichten, von Wildschweinen bevölkerten Wälder und die trockenen, mit Olivenbäumen bedeckten Hänge zeugen von ihrer Anwesenheit. Jeder Aspekt der Natur spiegelt ihre Präsenz wider, und sie haben sich einen Platz in den Herzen der Menschen erobert.</p>
<h5>Das keltische Pantheon</h5>
<p>Es heißt, etwas Wildes würde in jeder Seele lauern, ein Raum, der beim nächtlichen Ruf der Gänse frohlockt, beim Flüstern des Windes in den Kiefern, beim unerwarteten Rot der Mistel an einer Eiche -und dass in diesem Raum die keltischen Götter leben. Sie entsprangen dem Bach und Strom und stärkten ihre Macht mit der Kraft der Eiche und der Schönheit der Wälder und offenen Moore. Als der erste Förster es wagte, dem Gesicht in einem Baumstamm oder der Stimme im Plätschern eines Bachs einen Namen zu geben, drängten sich diese Götter ins Dasein.</p>
<p>Die keltischen Götter werden ebenso oft von Druiden wie von Klerikern angebetet, da sie eng mit den Kräften der Natur verbunden sind, zu denen die Druiden eine starke Verbindung haben.</p>
<h5>Das nordische Pantheon</h5>
<p>Wo das Land von den schneebedeckten Hügeln in eisige, steile Fjorde übergeht, wo die Langboote am Strand anlegen, wo die Gletscher vorwärts fließen und sich jeden Herbst und Frühling zurückziehen -das ist das Land der Wikinger, die Heimat des nordischen Pantheons. Dieses raue Klima erfordert ein brutales Leben. Die Krieger des Landes mussten sich an die rauen Bedingungen anpassen, um zu überleben, aber sie wurden nicht allzu sehr von den Bedürfnissen ihrer Umgebung verändert. Wenn man bedenkt, dass sie Wohlstand und Nahrung durch Überfälle erlangen, überrascht es nicht, dass sich die Sterblichen so entwickelt haben. Ihre Kraft spiegelt das Bedürfnis dieser Krieger nach starker Führung und entschlossenem Handeln wider. Aus diesem Grund sehen sie ihre Götter in jeder Flussbiegung, hören sie im Grollen des Donners und dem Dröhnen der Gletscher und riechen sie im Rauch eines brennenden Langhauses.</p>
<p>Das nordische Pantheon umfasst zwei Hauptfamilien, die Äsen (Gottheiten des Krieges und des Schicksals) und Wanen (Götter der Fruchtbarkeit und des Wohlstands), Einst waren sie verfeindet, aber nun sind sie im Kampf gegen ihre gemeinsamen Feinde, die Riesen, eng verbündet (zu denen auch die Götter Surtur und Thrym gehören).</p>
<h5>Ägyptische Götter</h5>
<table id="table-aegyptische-goetter">
<tr><th>Gottheit</th>
<th>Gesinnung</th>
<th>Empfohlene Domänen</th>
<th>Symbol</th></tr>
<tr><td>Re-Horachti, Gott der Sonne, Herrscher der Götter</td><td>RG</td><td>Leben, Licht</td><td>Von Schlangen umgebene Sonnenscheibe</td></tr>
<tr><td>Anubis, Gott der Gerechtigkeit und des Todes</td><td>RN</td><td>Tod</td><td>Schwarzer Schakal</td></tr>
<tr><td>Apophis, Gott des Bösen, des Feuers und der Schlangen</td><td>NB</td><td>List</td><td>Brennende Schlange</td></tr>
<tr><td>Bastet, Göttin der Katzen und der Rache</td><td>CG</td><td>Krieg</td><td>Katze</td></tr>
<tr><td>Bes, Gott des Glücks und der Musik</td><td>CN</td><td>List</td><td>Bild der missgestalteten Gottheit</td></tr>
<tr><td>Hathor, Göttin der Liebe, Musik und Mutterschaft</td><td>NG</td><td>Leben, Licht</td><td>Gehörnter Kuhkopf mit Mondscheibe</td></tr>
<tr><td>Imhotep, Gott des Handwerks und der Medizin</td><td>NG</td><td>Wissen</td><td>Stufenpyramide</td></tr>
<tr><td>Isis, Göttin der Fruchtbarkeit und Magie</td><td>NG</td><td>Wissen, Leben</td><td>Ankh und Stern</td></tr>
<tr><td>Nephthys, Göttin des Todes und der Trauer</td><td>CG</td><td>Tod</td><td>Hörner um eine Mondscheibe</td></tr>
<tr><td>Osiris, Gott der Natur und der Unterwelt</td><td>RG</td><td>Leben, Natur</td><td>Krummstab und Flegel</td></tr>
<tr><td>Ptah, Gott des Handwerks, des Wissens und der Geheimnisse</td><td>RN</td><td>Wissen</td><td>Stier</td></tr>
<tr><td>Set, Gott der Dunkelheit und der Wüstenstürme</td><td>CB</td><td>Tod, Sturm, List</td><td>Eingerollte Kobra</td></tr>
<tr><td>Sobek, Gott des Wassers und der Krokodile</td><td>RB</td><td>Natur, Sturm</td><td>Krokodilkopf mit Hörnern und Federn</td></tr>
<tr><td>Thoth, Gott des Wissens und der Weisheit</td><td>N</td><td>Wissen</td><td>Ibis</td></tr>
</table>
<h5>Griechische Gottheiten</h5>
<table id="table-griechische-gottheiten">
<tr><th>Gottheit</th>
<th>Gesinnung</th>
<th>Empfohlene Domänen</th>
<th>Symbol</th></tr>
<tr><td>Zeus, Gott des Himmels, Herrscher der Götter</td><td>N</td><td>Sturm</td><td>Eine Faust voller Blitze</td></tr>
<tr><td>Aphrodite, Göttin der Liebe und Schönheit</td><td>CG</td><td>Licht</td><td>Muschel</td></tr>
<tr><td>Apollo, Gott des Lichts, der Musik und der Heilung</td><td>CG</td><td>Wissen, Leben, Licht</td><td>Leier</td></tr>
<tr><td>Ares, Gott des Krieges und der Zwietracht</td><td>CB</td><td>Krieg</td><td>Speer</td></tr>
<tr><td>Artemis, Göttin der Jagd und Geburt</td><td>NG</td><td>Leben, Natur</td><td>Pfeil und Bogen auf einer Mondscheibe</td></tr>
<tr><td>Athene, Göttin der Weisheit und Zivilisation</td><td>RG</td><td>Wissen, Krieg</td><td>Eule</td></tr>
<tr><td>Demeter, Göttin der Landwirtschaft</td><td>NG</td><td>Leben</td><td>Stutenkopf</td></tr>
<tr><td>Dionysus, Gott der Freude und des Weins</td><td>CN</td><td>Leben</td><td>Thyrsus (Stab mit Tannenzapfen an der Spitze)</td></tr>
<tr><td>Hades, Gott der Unterwelt</td><td>RB</td><td>Tod</td><td>Schwarzer Widder</td></tr>
<tr><td>Hekate, Göttin der Magie und des Mondes</td><td>CB</td><td>Wissen, List</td><td>Untergehender Mond</td></tr>
<tr><td>Hephaistos, Gott der Schmiede und Handwerker</td><td>NG</td><td>Wissen</td><td>Hammer und Amboss</td></tr>
<tr><td>Hera, Göttin der Ehe und Intrige</td><td>CN</td><td>List</td><td>Fächer aus Pfauenfedern</td></tr>
<tr><td>Herkules, Gott der Stärke und des Abenteuers</td><td>CG</td><td>Sturm, Krieg</td><td>Löwenkopf</td></tr>
<tr><td>Hermes, Gott des Reisens und des Handels</td><td>CG</td><td>List</td><td>Caduceus (geflügelter Stab und Schlangen)</td></tr>
<tr><td>Hestia, Göttin der Heimat und Familie</td><td>NG</td><td>Leben</td><td>Herd</td></tr>
<tr><td>Nike, Göttin des Sieges</td><td>RN</td><td>Krieg</td><td>Geflügelte Frau</td></tr>
<tr><td>Pan, Gott der Natur</td><td>CN</td><td>Natur</td><td>Syrinx (Panflöte)</td></tr>
<tr><td>Poseidon, Gott des Meeres und der Erdbeben</td><td>CN</td><td>Sturm</td><td>Dreizack</td></tr>
<tr><td>Tyche, Göttin des Glücks</td><td>N</td><td>List</td><td>Rotes Pentagramm</td></tr>
</table>
<h5>Keltische Götter</h5>
<table id="table-keltische-goetter">
<tr><th>Gottheit</th>
<th>Gesinnung</th>
<th>Empfohlene Domänen</th>
<th>Symbol</th></tr>
<tr><td>Dagda, Gott des Wetters und der Ernte</td><td>CG</td><td>Natur, List</td><td>Brodelnder Kessel oder Schild</td></tr>
<tr><td>Arawn, Gott des Lebens und Todes</td><td>NB</td><td>Leben, Tod</td><td>Schwarzer Stern auf grauem Hintergrund</td></tr>
<tr><td>Belenus, Gott der Sonne, des Lichts und der Wärme</td><td>NG</td><td>Licht</td><td>Sonnenscheibe und stehende Steine</td></tr>
<tr><td>Brigantia, Göttin der Flüsse und des Viehs</td><td>NG</td><td>Leben</td><td>Steg</td></tr>
<tr><td>Dian Cecht, Gott der Medizin und Heilung</td><td>RG</td><td>Leben</td><td>Gekreuzte Eichen- und Mistelzweige</td></tr>
<tr><td>Dunatis, Gott der Berge und Gipfel</td><td>N</td><td>Natur</td><td>Roter sonnengekrönter Berggipfel</td></tr>
<tr><td>Goibniu, Gott der Schmiede und Heilung</td><td>NG</td><td>Wissen, Leben</td><td>Riesenhammer über Schwert</td></tr>
<tr><td>Lugh, Gott der Kunst, des Reisens und des Handels</td><td>CN</td><td>Wissen, Leben</td><td>Ein Paar lange Hände</td></tr>
<tr><td>Manannan mac Lir, Gott der Ozeane und Meereskreaturen</td><td>RN</td><td>Natur, Sturm</td><td>Welle aus weißem Wasser auf Grün</td></tr>
<tr><td>Math fab Mathonwy, Gott der Magie</td><td>NB</td><td>Wissen</td><td>Stab</td></tr>
<tr><td>Morrigan, Göttin der Schlachten</td><td>CB</td><td>Krieg</td><td>Zwei gekreuzte Speere</td></tr>
<tr><td>Nuada, Gott des Krieges und der Krieger</td><td>N</td><td>Krieg</td><td>Silberne Hand auf schwarzem Hintergrund</td></tr>
<tr><td>Oghma, Gott der Sprache und Schrift</td><td>NG</td><td>Wissen</td><td>Geöffnete Schriftrolle</td></tr>
<tr><td>Silvanus, Gott der Natur und der Wälder</td><td>N</td><td>Natur</td><td>Sommerlicher Eichenbaum</td></tr>
</table>
<h5>Nordische Gottheiten</h5>
<table id="table-nordische-gottheiten">
<tr><th>Gottheit</th>
<th>Gesinnung</th>
<th>Empfohlene Domänen</th>
<th>Symbol</th></tr>
<tr><td>Odin, Gott des Wissens und Krieges</td><td>NG</td><td>Wissen, Krieg</td><td>Wachsames blaues Auge</td></tr>
<tr><td>Aegir, Gott des Meeres und der Stürme</td><td>NB</td><td>Sturm</td><td>Wilde Meereswogen</td></tr>
<tr><td>Balder, Gott der Schönheit und Poesie</td><td>NG</td><td>Leben, Licht</td><td>Juwelenbesetzter Silberpokal</td></tr>
<tr><td>Forseti, Gott der Gerechtigkeit und Gesetze</td><td>N</td><td>Licht</td><td>Kopf eines bärtigen Mannes</td></tr>
<tr><td>Freya, Göttin der Fruchtbarkeit und Liebe</td><td>NG</td><td>Leben</td><td>Falke</td></tr>
<tr><td>Freyr, Gott der Fruchtbarkeit und der Sonne</td><td>NG</td><td>Leben, Licht</td><td>Eisblaues Zweihandschwert</td></tr>
<tr><td>Frigga, Göttin der Geburt und Fruchtbarkeit</td><td>N</td><td>Leben, Licht</td><td>Katze</td></tr>
<tr><td>Heimdall, Gott der Wachsamkeit und Loyalität</td><td>RG</td><td>Licht, Krieg</td><td>Gebogenes Klanghorn</td></tr>
<tr><td>Hel, Göttin der Unterwelt</td><td>NB</td><td>Tod</td><td>Gesicht einer Frau, auf einer Seite verfault</td></tr>
<tr><td>Hermodr, Gott des Glücks</td><td>CN</td><td>List</td><td>Geflügelte Schriftrolle</td></tr>
<tr><td>Loki, Gott der Diebe und der List</td><td>CB</td><td>List</td><td>Flamme</td></tr>
<tr><td>Njörd, Gott des Meeres und des Windes</td><td>NG</td><td>Natur, Sturm</td><td>Goldmünze</td></tr>
<tr><td>Odur, Gott des Lichts und der Sonne</td><td>CG</td><td>Licht</td><td>Sonnenscheibe</td></tr>
<tr><td>Sif, Göttin des Krieges</td><td>CG</td><td>Krieg</td><td>Erhobenes Schwert</td></tr>
<tr><td>Skadi, Göttin der Erde und der Berge</td><td>N</td><td>Natur</td><td>Berggipfel</td></tr>
<tr><td>Surtur, Gott der Feuerriesen und des Krieges</td><td>RB</td><td>Krieg</td><td>Brennendes Schwert</td></tr>
<tr><td>Thor, Gott der Stürme und des Donners</td><td>CG</td><td>Sturm, Krieg</td><td>Hammer</td></tr>
<tr><td>Thrym, Gott der Frostriesen und der Kälte</td><td>CB</td><td>Krieg</td><td>Weiße Doppelaxt</td></tr>
<tr><td>Tyr, Gott des Mutes und der Strategie</td><td>RN</td><td>Wissen, Krieg</td><td>Schwert</td></tr>
<tr><td>Uller, Gott der Jagd und des Winters</td><td>CN</td><td>Natur</td><td>Langbogen</td></tr>
</table>