<h3 id="krankheiten">Krankheiten</h3>
<p>Eine Seuche verheert das Königreich und die Abenteurer begeben sich auf die Suche nach einem Heilmittel. Eine Abenteurerin verlässt ein uraltes Grabmal, das seit Jahrhunderten nicht geöffnet wurde, und leidet kurz darauf an einer zermürbenden Krankheit. Ein Hexenmeister verärgert eine dunkle Macht und erkrankt an einem seltsamen Leiden, das sich ausbreitet, wenn er Zauber wirkt.</p>
<p>Ein einfacher Ausbruch mag nur zu einer geringen Belastung der Gruppenressourcen führen und kann mit dem Zauber <a class="spell" href="#spell-schwache-genesung">Schwache Genesung</a> geheilt werden. Ein komplizierter Ausbruch kann die Grundlage für ein oder mehrere Abenteuer bilden, in denen die Abenteurer nach einem Heilmittel suchen, die Ausbreitung der Krankheit verhindern und mit den Konsequenzen umgehen müssen.</p>
<p>Eine Krankheit, die mehr als ein paar Gruppenmitglieder infiziert, dient vor allem der Geschichte. Die Regeln helfen dabei, die Effekte einer Krankheit und ihre Heilungsmöglichkeiten zu beschreiben, aber die genauen Eigenheiten einer Krankheit werden nicht durch Regeln festgelegt. Krankheiten können jede Kreatur befallen und eine bestimmte Krankheit kann möglicherweise von einem Volk oder einer Kreaturenart zur nächsten übertragen werden. Eine Seuche könnte nur Konstrukte oder Untote befallen, oder durch ein Halblingviertel fegen, während andere Völker nicht betroffen sind. Was zählt ist die Geschichte, die du erzählen willst.</p>
<h4>Beispielkrankheiten</h4>
<p>Die hier genannten Krankheiten illustrieren die Vielzahl von Möglichkeiten, wie eine Krankheit im Spiel funktionieren kann. Passe den Rettungswurf-SG, die Inkubationszeit, die Symptome und andere Charakteristiken der Krankheiten an deine Kampagne an.</p>
<h5>Augenfäule</h5>
<p>Diese schmerzhafte Infektion verursacht blutende Augen und macht das Opfer letztendlich blind.</p>
<p>Tiere oder Humanoide, die von der Augenfäule verseuchtes Wasser trinken, müssen einen SG-15-Konstitutionsrettungswurf bestehen, oder sie werden infiziert. Einen Tag nach der Infektion wird die Sicht der Kreatur verschwommen. Die Kreatur erhält einen Malus von -1 auf alle Angriffs- und Attributswürfe, die Sicht erfordern. Am Ende jeder langen Rast nach dem Auftreten der Symptome erhöht sich der Malus um -1. Wenn er -5 erreicht, ist das Opfer blind, bis seine Sicht durch Magie wie <a class="spell" href="#spell-schwache-genesung">Schwache Genesung</a> oder <a class="spell" href="#spell-heilung">Heilung</a> wiederhergestellt wird.</p>
<p>Augenfäule kann mit einer seltenen Pflanze namens Augenschein geheilt werden, die in einigen Sümpfen wächst. Innerhalb einer Stunde kann ein Charakter, der im Umgang mit Kräuterkundeausrüstung geübt ist, die Pflanze in eine Dosis von Salbe verwandeln. Wird sie vor einer langen Rast auf die Augen aufgetragen, sorgt die Salbe dafür, dass sich die Krankheit nach der Rast nicht verschlimmert. Nach drei Dosen heilt die Salbe die Krankheit vollständig.</p>
<h5>Gackerfieber</h5>
<p>Diese Krankheit befällt Humanoide, während Gnome seltsamerweise immun sind. Während sie unter dieser Krankheit leiden, verfallen Opfer häufig in wahnsinnige Lachanfälle, wodurch die Krankheit ihren Namen und ihren morbiden Spitznamen erhielt: „Das Kreischen&quot;.</p>
<p>Die Symptome manifestieren sich 1W4 Stunden nach der Infektion. Dazu gehören Fieber und Desorientierung. Die infizierte Kreatur erhält eine Erschöpfungsstufe, die erst entfernt werden kann, wenn die Krankheit geheilt wurde.</p>
<p>Ein Ereignis, das bei der infizierten Kreatur großen Stress auslöst - darunter Kämpfe, das Erleiden von Schaden, Furcht oder Alpträume - zwingt die Kreatur, einen SG-13-Konstitutionsrettungswurf auszuführen. Scheitert der Wurf, erleidet die Kreatur 5 (1W10) psychischen Schaden und ist eine Minute lang aufgrund von wahnsinnigem Gelächter kampfunfähig.</p>
<p>Die Kreatur kann den Rettungswurf am Ende jedes ihrer Züge wiederholen und das Gelächter und den Kampfunfähig-Zustand bei einem Erfolg beenden.</p>
<p>Jede Kreatur, die ihren Zug im Abstand von bis zu drei Metern von einer infizierten Kreatur beginnt, die an einem wahnsinnigen Lachanfall leidet, muss einen SG-10-Konstitutionsrettungswurf bestehen, oder sie wird ebenfalls mit dieser Krankheit infiziert. Sobald eine Kreatur bei diesem Rettungswurf Erfolg hat, ist sie 24 Stunden lang gegen das wahnsinnige Gelächter dieser einen infizierten Kreatur immun.</p>
<p>Am Ende jeder langen Rast kann eine infizierte Kreatur einen SG-13-Konstitutionsrettungswurf ausführen. Bei einem erfolgreichen Rettungswurf sinkt der SG für diesen Rettungswurf und zur Vermeidung eines wahnsinnigen Lachanfalls um 1W6. Sinkt der Rettungswurf-SG auf 0, erholt sich die Kreatur von der Krankheit. Wenn eine Kreatur bei drei Rettungswürfen scheitert, erhält sie eine zufällige Form von dauerhaftem Wahnsinn, wie später beschrieben.</p>
<h5>Kanalpest</h5>
<p>Die Kanalpest ist ein Oberbegriff für eine weitgefasste Kategorie von Krankheiten, die in Abwasserkanälen, Müllhaufen und Sümpfen brüten und manchmal von dort heimischen Kreaturen übertragen werden, darunter Ratten und Otyugh.</p>
<p>Wird eine humanoide Kreatur von einer Kreatur gebissen, die den Erreger in sich trägt, oder kommt sie mit kontaminiertem Schmutz oder Abfall in Kontakt, muss die Kreatur einen SG-11-Konstitutionsrettungs-wurf bestehen, oder sie wird infiziert.</p>
<p>Es dauert 1W4 Tage, bis sich die Symptome der Kanalpest bei infizierten Kreaturen manifestieren. Zu den Symptomen gehören Müdigkeit und Krämpfe. Die infizierte Kreatur erhält eine Erschöpfungsstufe, bekommt beim Verbrauchen von Trefferwürfeln nur die Hälfte der normalen Anzahl an Trefferpunkten und nach einer langen Rast gar keine Trefferpunkte zurück.</p>
<p>Am Ende jeder langen Rast muss eine infizierte Kreatur einen SG-11-Konstitutionsrettungswurf ausführen. Scheitert der Wurf, erhält der Charakter eine Erschöpfungsstufe. Bei einem erfolgreichen Wurf sinkt die Erschöpfungsstufe des Charakters um eine Stufe. Wenn ein erfolgreicher Rettungswurf die Erschöpfungsstufe der infizierten Kreatur auf 0 verringert, ist die Kreatur von der Krankheit geheilt.</p>
