<h2 id="monster">Monster</h2>
<p>Die Spielwerte von Monstern, manchmal auch als <span class="feature-name">Wertekasten </span>bezeichnet, bieten die wichtigsten Informationen zum Spielen des Monsters.</p>
<h4>Größe</h4>
<p>Ein Monster kann winzig, klein, mittelgroß, groß, riesig oder gigantisch sein. Die Tabelle „Größenkategorien&quot; zeigt, wie groß der Bereich ist, den eine Kreatur einer bestimmten Größe im Kampf kontrolliert.</p>
<p>Im <span class="nameref">Spielerhandbuch</span> findest du weitere Informationen zur Größe von Kreaturen und zum Bereich, den sie einnehmen.</p>
<h5>Größenkategorien</h5>
<table id="table-monster-groessenkategorien">
<tr><th>Größe</th>
<th>Bereich</th>
<th>Beispiele</th></tr>
<tr><td>Winzig</td><td>0,75 m x 0,75 m</td><td>Feengeist, Teufelchen</td></tr>
<tr><td>Klein</td><td>1,5 m x 1,5 m</td><td>Goblin, Riesenratte</td></tr>
<tr><td>Mittelgroß</td><td>1,5 m x 1,5 m</td><td>Ork, Werwolf</td></tr>
<tr><td>Groß</td><td>3 m x 3 m</td><td>Oger, Pferdegreif</td></tr>
<tr><td>Riesig</td><td>4,5 m x 4,5 m</td><td>Baumhirte, Feuerriese</td></tr>
<tr><td>Gigantisch</td><td>6 m x 6 m (oder mehr)</td><td>Kraken, Purpurwurm</td></tr>
</table>

<div class="boxed" id="box-kreaturen-anpassen">
<h5>Kreaturen anpassen</h5>
<p>Trotz der vielseitigen Monstersammlung in diesem Buch könntest du noch andere Kreaturen als idealen Teil eines Abenteuers benötigen. Nimm dir die Freiheit, vorhandene Kreaturen zu verändern, damit sie dir nützlich sind. Leihe dir vielleicht ein, zwei Merkmale von anderen Monstern oder nutze <strong>Varianten</strong> oder <strong>Vorlagen</strong> wie die in diesem Buch. Denk daran, dass Veränderungen von Monstern, auch Anwenden von Vorlagen, den jeweiligen Herausforderungsgrad beeinflussen können.</p>
</div>

<h4>Typ</h4>
<p>Der Typ eines Monsters beschreibt seine grundlegende Natur. Manche Zauber, magische Gegenstände, Klassenmerkmale und andere Effekte im Spiel haben Wechselwirkungen mit Kreaturen eines bestimmten Typs. Beispiel: Ein <span class="nameref">Pfeil des Drachentötens</span> fügt nicht nur Drachen zusätzlichen Schaden zu, sondern auch anderen Kreaturen vom Drachentyp wie Drachenschildkröten und Wyvern.</p>
<p>Das Spiel enthält folgende Monstertypen, die jeweils keine eigenen Regeln haben:</p>
<p><span class="feature-name">Aberrationen </span>sind ganz und gar fremdartige Wesen. Viele von ihnen haben von Natur aus magische Fähigkeiten, die sich eher auf ihren fremdartigen Verstand gründen als auf die mystischen Kräfte der Welt. Zu den häufigsten Aberrationen gehören Abolethen, Betrachter, Gedankenschinder und Slaadi.</p>
<p><span class="feature-name">Celestische </span>sind Kreaturen der Oberen Ebenen. Viele von ihnen sind Diener von Gottheiten, die als Boten oder Agenten im Reich der Sterblichen und auf allen Ebenen wirken. Celestische sind von Natur aus guter Gesinnung, und Ausnahmen sind so grausig wie selten. Zu den Celestischen gehören Engel, Couatl und Pegasi.</p>
<p><span class="feature-name">Drachen </span>sind große Reptilien von uraltem Ursprung und erheblicher Macht. Echte Drachen, darunter die guten metallischen und die bösen chromatischen Drachen, sind äußerst intelligent und von Natur aus magisch. In der Kategorie sind aber auch Kreaturen vertreten, die nur entfernt mit echten Drachen verwandt sind. Sie sind weniger mächtig, intelligent und magisch. Wyvern und Pseudodrachen gehören dazu.</p>
<p><span class="feature-name">Elementare </span>sind Kreaturen der Elementarebenen. Einige Wesen dieses Typs sind kaum mehr als belebte Ansammlungen des jeweiligen Elements, beispielsweise die Kreaturen, die schlicht als Elementare bezeichnet werden. Andere haben eine biologische Gestalt und sind mit Elementarenergie versehen. Die Völker der Dschinns, wie Dschinnis und Ifrits, bilden die wichtigsten Zivilisationen der Elementarebenen. Zu den sonstigen Elementarkreaturen gehören Azer und unsichtbare Pirscher.</p>
<p><span class="feature-name">Feenwesen </span>sind magische Kreaturen der Natur und ihren Kräften. Sie leben in dämmrigen Hainen und nebligen Wäldern. In manchen Welten sind sie eng mit dem Feywild verbunden, das auch als Ebene der Feen bezeichnet wird. Auch auf den Äußeren Ebenen gibt es Feenwesen, vor allem in Arborea und den Biestlanden. Zu ihnen gehören Dryaden, Pixies und Satyre.</p>
<p><span class="feature-name">Humanoide, </span>zivilisiert oder wild, stellen in Fantasy-Spielwelten die Hauptvölker. Nicht nur Menschen gehören dazu, sondern auch eine enorme Vielfalt weiterer Spezies. Humanoide verfügen über Sprache und Kultur, aber nur selten über natürliche magische Fähigkeiten (wobei die meisten Humanoiden das Zauberwirken erlernen können). Sie sind von zweibeiniger aufrechter Gestalt. Die häufigsten humanoiden Völker eignen sich zugleich am besten als Spielercharaktere: Menschen, Zwerge, Elfen und Halblinge. Kaum weniger zahlreich, aber viel wilder, brutaler und fast immer böse sind hingegen Goblinoide (Goblins, Hobgoblins und Grottenschrate), Orks, Gnolle, Echsenmenschen und Kobolde.</p>
<p><span class="feature-name">Konstrukte </span>werden nicht geboren, sondern hergestellt Manche wurden von ihren Schöpfern programmiert, um einfache Anweisungen auszuführen. Andere wurden mit einem Bewusstsein versehen und sind zu eigenständigem Denken fähig. Zu den bekanntesten Konstrukten gehören Golems. Viele Kreaturen, die von der äußeren Ebene Mechanus stammen, beispielsweise Modronen, sind Konstrukte, die durch den Willen mächtigerer Kreaturen aus dem Rohmaterial der Ebene geschaffen wurden.</p>
<p><span class="feature-name">Monstrositäten </span>sind Monster im engeren Sinne -grässliche Kreaturen, ungewöhnlich, unnatürlich und fast niemals von guter Gesinnung. Einige sind das Ergebnis fehlgeschlagener magischer Experimente (beispielsweise Eulenbären), andere sind durch böse Flüche entstanden (darunter Minotauren und Yuan-ti), Sie entziehen sich der Kategorisierung und dienen gewissermaßen als Sammelbecken für Kreaturen, die zu keinem anderen Typ passen.</p>
<p><span class="feature-name">Pflanzen </span>als Kreaturentyp sind vegetabile Kreaturen und keine gewöhnliche Flora. Die meisten können sich fortbewegen, und einige sind Fleischfresser. Zu den typischen Pflanzenkreaturen gehören modernde Schlurfer sowie Baumhirten. Auch Pilzkreaturen wie Gassporen und Mykoniden gehören in diese Kategorie.</p>
<p><span class="feature-name">Riesen </span>sind viel größer als Menschen und ihresgleichen. Ihre Gestalt ist humanoid, doch einige haben mehrere Köpfe (Ettin) oder weisen Deformationen auf (Fomorianer), Echte Riesen gibt es in sechs Varianten: Hügelriesen, Steinriesen, Frostriesen, Feuerriesen, Wolkenriesen und Sturmriesen. Darüber hinaus zählen auch Kreaturen wie Oger und Trolle zu den Riesen.</p>
<p><span class="feature-name">Schlicke </span>sind gallertförmige Kreaturen, die nur selten eine feste Gestalt aufweisen. Sie leben meist unterirdisch, oft in Höhlen oder Gewölben, und ernähren sich von Abfällen, Aas oder Kreaturen, die das Pech haben, ihnen zu begegnen. Zu den häufigsten Schlicken gehören schwarze Blobs und Gallertwürfel.</p>
<p><span class="feature-name">Tiere </span>als nichthumanoide Kreaturen sind natürlicher Teil des Fantasy-Biotops. Manche haben magische Kräfte, die meisten jedoch keine Intelligenz, keine Gesellschaften und Sprachen. Zu ihnen gehören alle gewöhnlichen Tiere, außerdem Dinosaurier und Riesenversionen von Tieren.</p>
<p><span class="feature-name">Unholde </span>sind boshafte Kreaturen der Unteren Ebenen. Einige wenige dienen Gottheiten, die meisten arbeiten jedoch für Erzteufel oder Dämonenprinzen. Manche werden auch von bösen Priestern und Magiern beschworen, denen sie dann zu Gebote stehen. Wenn ein böses celestisches Wesen schon eine Seltenheit ist, so ist ein guter Unhold nahezu unvorstellbar. Zu den Unholden gehören Dämonen, Teufel, Höllenhunde, Rakshasa und Yugolothen.</p>
<p><span class="feature-name">Untote </span>sind ehemals lebendige Kreaturen, die durch Nekromantie oder unheilige Flüche in einen schrecklichen untoten Zustand versetzt wurden. Zu ihnen gehören wandelnde Leichen wie Vampire und Zombies, aber auch körperlose Kreaturen wie Geister und Schreckgespenster.</p>
<h5>Schlagwörter</h5>
<p>Möglicherweise sind Schlagwörter in Klammern an Monster angehängt Beispiel: Ein Ork weist den Typ <span class="nameref">Humanoide (Ork)</span> auf. Die Schlagwörter in Klammern bieten eine zusätzliche Kategorisierung für bestimmte Kreaturen. Für die Schlagwörter gelten keine eigenen Regeln, aber Spielelemente wie magische Gegenstände können auf sie verweisen. Beispiel: Ein Speer, der im Kampf gegen Dämonen besonders effektiv ist, entfaltet seine Wirkung gegen jedes Monster mit dem Schlagwort „Dämon&quot;.</p>
<h4>Gesinnung</h4>
<p>Die Gesinnung eines Monsters weist auf sein Temperament hin und gibt Aufschluss darüber, wie es sich in Rollenspiel- oder Kampfsituationen wahrscheinlich verhält. Beispiel: Mit einem chaotisch bösen Monster kann man vermutlich nicht diskutieren, und wahrscheinlich greift es die Charaktere an, sobald es sie sieht. Ein neutrales Monster dagegen ist möglicherweise bereit zu verhandeln. Unter <a href="#gesinnung">Gesinnung</a> findest du Beschreibungen der verschiedenen Gesinnungen.</p>
<p>Die Gesinnung im Wertekasten eines Monsters ist der Standard. Natürlich kannst du davon abweichen und die Gesinnung des Monsters an deine Kampagne anpassen. Brauchst du einen grünen Drachen mit guter Gesinnung oder einen bösen Sturmriesen, so lass dich nicht aufhalten.</p>
<p>Einige Kreaturen <span class="feature-name">können jede Gesinnung </span>haben. Mit anderen Worten: Es ist an dir, die Gesinnung des Monsters auszusuchen. Bei manchen Monstern kann der Gesinnungseintrag eine Tendenz zu - oder gegen - rechtschaffen oder chaotisch, gut oder böse anzeigen. Beispiel: Ein Berserker kann jede chaotische Gesinnung haben (chaotisch gut, chaotisch neutral, chaotisch böse), wie es seiner wilden Natur entspricht.</p>
<p>Kreaturen von geringer Intelligenz haben meist keinen Begriff von rechtschaffen oder chaotisch, gut oder böse. Sie treffen keine moralischen oder ethischen Entscheidungen, sondern handeln instinktiv. Diese Kreaturen sind <span class="feature-name">gesinnungslos, </span>sie haben also keine Gesinnung.</p>
<h4>Rüstungsklasse</h4>
<p>Monster mit Rüstung oder Schild haben eine Rüstungsklasse (RK), bei der Rüstung, Schild und Geschicklichkeit berücksichtigt sind. Andernfalls basiert die RK auf dem Geschicklichkeitsmodifikator und natürlichen Rüstungen, sofern vorhanden. Wenn ein Monster über eine natürliche Rüstung verfügt oder eine Rüstung oder einen Schild trägt, so ist dies in Klammern hinter dem RK-Wert angegeben.</p>
<h4>Trefferpunkte</h4>
<p>Normalerweise stirbt ein Monster oder wird zerstört, wenn seine Trefferpunkte auf 0 sinken. Weitere Informationen zu Trefferpunkten findest du im <span class="nameref">Spielerhandbuch.</span></p>
<p>Die Trefferpunkte eines Monsters werden sowohl als Würfelausdruck wie auch als durchschnittliche Zahl angegeben. Beispiel: Ein Monster mit 2W8 Trefferpunkten hat durchschnittlich 9 Trefferpunkte (2x4%).</p>
<p>Die Würfel zum Bestimmen der Trefferpunkte eines Monsters werden durch dessen Größe bestimmt (siehe Tabelle „Trefferwürfel nach Größe&quot;).</p>

<h5>Trefferwürfel nach Größe</h5>
<table id="table-trefferwuerfel-nach-groesse">
<tr>
    <th>Monstergröße</th>
    <th>Trefferwürfel</th>
    <th>Durchschnittlich TP pro Würfel</th>
</tr>
<tr><td>Winzig</td><td>W4</td><td>2 &half;</td></tr>
<tr><td>Klein</td><td>W6</td><td>3 &half;</td></tr>
<tr><td>Mittelgroß</td><td>W8</td><td>4 &half;</td></tr>
<tr><td>Groß</td><td>W10</td><td>5 &half;</td></tr>
<tr><td>Riesig</td><td>W12</td><td>6 &half;</td></tr>
<tr><td>Gigantisch</td><td>W20</td><td>10 &half;</td></tr>
</table>
<p>Auch der Konstitutionsmodifikator eines Monsters beeinflusst die Anzahl seiner Trefferpunkte. Der Konstitutionsmodifikator wird mit der Anzahl der Trefferwürfel multipliziert, die das Monster besitzt, und das Ergebnis wird seinen Trefferpunkten hinzugefügt. Beispiel: Wenn ein Monster eine Konstitution von 12 (Modifikator: +1) und zwei W8-Trefferwürfel besitzt, so hat es 2W8+2 Trefferpunkte (Durchschnitt: 11).</p>
<h4>Bewegungsrate</h4>
<p>Die Bewegungsrate eines Monsters gibt an, wie weit es sich pro Zug bewegen kann. Weitere Informationen zur Bewegungsrate findest du unter <a href="#bewegung">Bewegung</a>.</p>
<p>Alle Kreaturen haben eine Schrittbewegungsrate, die schlicht als Bewegungsrate des Monsters angegeben wird. Kreaturen ohne Fortbewegungsmöglichkeit am Boden haben eine Schrittbewegungsrate von 0 Metern.</p>
<p>Manche Kreaturen haben zusätzlich mindestens einen der folgenden Bewegungsmodi:</p>
<h5>Fliegen</h5>
<p>Monster mit Flugbewegungsrate können ihre Bewegung ganz oder teilweise verwenden, um zu fliegen. Einige Monster haben die Fähigkeit zu <span class="feature-name">schweben, </span>sodass es schwierig ist, sie auf den Boden zu kriegen (siehe <a href="#bewegung-und-positionierung">Bewegung und Positionierung</a>). Diese Monster hören auf zu schweben, wenn sie sterben.</p>
<h5>Graben</h5>
<p>Monster mit Grabbewegungsrate können ihre Bewegung ganz oder teilweise verwenden, um sich durch Sand, Erde, Schlamm oder Eis zu bewegen. Sie können sich nicht durch massives Gestein bewegen, sofern sie nicht ein besonderes Merkmal dazu befähigt</p>
<h5>Klettern</h5>
<p>Monster mit Kletterbewegungsrate können ihre Bewegung ganz oder teilweise verwenden, um sich auf vertikalen Flächen zu bewegen. Sie müssen keine zusätzliche Bewegungsrate verwenden, um zu klettern.</p>
<h5>Schwimmen</h5>
<p>Monster mit Schwimmbewegungsrate müssen keine zusätzliche Bewegungsrate verwenden, um zu schwimmen.</p>
<h4>Attributswerte</h4>
<p>Jedes Monster hat sechs Attributswerte mit entsprechenden Modifikatoren: Stärke, Geschicklichkeit, Konstitution, Intelligenz, Weisheit und Charisma. Weitere Informationen zu Attributswerten und deren Verwendung im Spiel findest du unter <a href="#attributswerte-verwenden">Attributswerte verwenden</a>.</p>
<h4>Rettungswürfe</h4>
<p>Ein Eintrag für Rettungswürfe ist Kreaturen vorbehalten, die bestimmten Arten von Effekten besonders gut widerstehen können. Beispiel: Eine Kreatur, die nicht leicht bezaubert oder verängstigt werden kann, erhält möglicherweise einen Bonus auf ihre Weisheitsrettungswürfe. Die meisten Kreaturen haben keine besonderen Boni auf Rettungswürfe. In diesem Fall fehlt der Abschnitt.</p>
<p>Ein Rettungswurf-Bonus ist die Summe aus relevantem Attributsmodifikator des Monsters sowie seinem Übungsbonus, der durch seinen Herausforderungsgrad bestimmt wird (siehe Tabelle „Übungsbonus nach Herausforderungsgrad&quot;).</p>

<h5>Übungsbonus nach Herausforderungsgrad</h5>
<table id="table-uebungsbonus-nach-herausforderungsgrad">
<tr>
    <th>Herausforderungsgrad</th>
    <th>Übungsbonus</th>
    <th>Herausforderungsgrad</th>
    <th>Übungsbonus</th>
</tr>
<tr><td>0</td><td>+2</td><td>14</td><td>+5</td></tr>
<tr><td>1/8</td><td>+2</td><td>15</td><td>+5</td></tr>
<tr><td>1/4</td><td>+2</td><td>16</td><td>+5</td></tr>
<tr><td>1/2</td><td>+2</td><td>17</td><td>+6</td></tr>
<tr><td>1</td><td>+2</td><td>18</td><td>+6</td></tr>
<tr><td>2</td><td>+2</td><td>19</td><td>+6</td></tr>
<tr><td>3</td><td>+2</td><td>20</td><td>+6</td></tr>
<tr><td>4</td><td>+2</td><td>21</td><td>+7</td></tr>
<tr><td>5</td><td>+3</td><td>22</td><td>+7</td></tr>
<tr><td>6</td><td>+3</td><td>23</td><td>+7</td></tr>
<tr><td>7</td><td>+3</td><td>24</td><td>+7</td></tr>
<tr><td>8</td><td>+3</td><td>25</td><td>+8</td></tr>
<tr><td>9</td><td>+4</td><td>26</td><td>+8</td></tr>
<tr><td>10</td><td>+4</td><td>27</td><td>+8</td></tr>
<tr><td>11</td><td>+4</td><td>28</td><td>+8</td></tr>
<tr><td>12</td><td>+4</td><td>29</td><td>+9</td></tr>
<tr><td>13</td><td>+5</td><td>30</td><td>+9</td></tr>
</table>
<h4>Fertigkeiten</h4>
<p>Ein Eintrag für Fertigkeiten ist Monstern vorbehalten, die in mindestens einer Fertigkeit geübt sind. Beispiel: Ein scharfsinniges, unauffälliges Monster könnte Boni bei Würfen auf Weisheit (Wahrnehmung) und Geschicklichkeit (Heimlichkeit) haben.</p>
<p>Ein Fertigkeitsbonus ist die Summe aus dem relevanten Attributsmodifikator des Monsters sowie seinem Übungsbonus, welcher durch seinen Herausforderungsgrad bestimmt wird (siehe Tabelle „Übungsbonus nach Herausforderungsgrad&quot;). Es können auch andere Modifikatoren gelten. Beispiel: Ein Monster könnte einen höheren Bonus als erwartet haben (normalerweise seinen doppelten Übungsbonus), um seiner besonderen Expertise Rechnung zu tragen.</p>
<h4>Empfindlichkeiten, Resistenzen und Immunitäten</h4>
<p>Kreaturen können anfällig für bestimmte Schadensarten sein - oder gegen sie resistent beziehungsweise immun sein. Manche Kreaturen sind sogar gegen Schaden durch nichtmagische Angriffe (magische Angriffe sind solche durch Zauber, magische Gegenstände oder andere magische Quellen) resistent oder immun. Außerdem sind manche Kreaturen gegen bestimmte Zustände immun.</p>
<h4>Sinne</h4>
<p>Der Eintrag für Sinne gibt den passiven Weisheitswert (Wahrnehmung) des Monsters sowie alle Spezialsinne an, die es möglicherweise hat. Spezialsinne sind im Folgenden beschrieben:</p>
<h5>Blindsicht</h5>
<p>Monster mit Blindsicht können in einem bestimmten Radius die Umgebung wahrnehmen, ohne sich auf ihr Augenlicht verlassen zu müssen.</p>
<p>Kreaturen ohne Augen (wie Grimlocks und graue Schlicke) verfügen normalerweise über diesen Spezialsinn, ebenso Kreaturen mit Echolot oder geschärften Sinnen (wie Fledermäuse und wahre Drachen).</p>
<p>Wenn ein Monster natürlicherweise blind ist, so ist in Klammern angegeben, welcher Radius seiner Blindsicht die maximale Reichweite seiner Wahrnehmung definiert.</p>
<h5>Dunkelsicht</h5>
<p>Monster mit Dunkelsicht können in einem bestimmten Radius im Dunkeln sehen. In diesem Umkreis können sie in dämmrigem Licht wie in hellem Licht sehen, bei Dunkelheit wie in dämmrigem Licht. Allerdings können sie bei Dunkelheit keine Farben, sondern nur Graustufen erkennen. Viele Kreaturen, die unterirdisch leben, verfügen über diesen Spezialsinn.</p>

<div class="boxed" id="box-uebung-mit-ruestungen-waffen-und-werkzeugen">
<h5>Übung mit Rüstungen, Waffen und Werkzeugen</h5>
<p>Kreaturen sind meist im Umgang mit ihren Rüstungen, Waffen und Werkzeugen geübt. Werden diese gewechselt, musst du entscheiden, ob die Kreatur im Umgang mit der neuen Ausrüstung ebenfalls geübt ist.</p>
<p>Beispiel: Ein Hügelriese trägt normalerweise eine Fellrüstung und führt einen Zweihandknüppel. Du könntest ihn stattdessen mit einem Kettenpanzer und einer Zweihandaxt ausrüsten und dabei annehmen, dass er im Umgang mit beidem, mit einem von beidem oder mit keinem von beidem geübt ist.</p>
<p>Unter <a href="#ruestung">Rüstung</a> und <a href="#waffen">Waffen</a> findest du Regeln zum Verwenden von Rüstungen oder Waffen ohne Übung.</p>
</div>

<h5>Erschütterungssinn</h5>
<p>Monster mit Erschütterungssinn können in einem bestimmten Radius den Ursprung von Erschütterungen aufspüren, sofern sie und die Quelle der Erschütterungen Kontakt mit demselben Boden oder derselben Substanz haben. Fliegende oder körperlose Kreaturen können mit Erschütterungssinn nicht erkannt werden. Viele grabende Kreaturen wie Ankhegs und Erdkolosse verfügen über diesen Spezialsinn.</p>
<h5>Wahrer Blick</h5>
<p>Monster mit wahrem Blick können bis zu einer bestimmten Reichweite in normaler und magischer Dunkelheit sehen, unsichtbare Kreaturen und Objekte erkennen, automatisch optische Illusionen durchschauen und Rettungswürfe gegen sie erfolgreich ausführen. Zudem erkennen sie die ursprüngliche Form von Gestaltwandlern oder Kreaturen, die magisch verwandelt wurden. Darüber hinaus können diese Monster bis zur gleichen Reichweite in die Ätherebene sehen.</p>
<h4>Sprachen</h4>
<p>Die Sprachen, die eine Monster sprechen kann, werden in alphabetischer Reihenfolge aufgelistet. Manche Monster können eine Sprache verstehen, aber nicht sprechen. Auch dies wird im Eintrag vermerkt. Mit wird angezeigt, dass eine Kreatur weder eine Sprache spricht noch eine Sprache versteht</p>
<h5>Telepathie</h5>
<p>Telepathie ist eine magische Fähigkeit, die Monstern gestattet, innerhalb einer bestimmten Reichweite mental mit anderen Kreaturen zu kommunizieren. Das Kommunikationsziel muss dabei nicht dieselbe Sprache wie das Monster sprechen. Allerdings muss es mindestens einer Sprache mächtig sein. Kreaturen ohne Telepathie können telepathische Nachrichten empfangen und auf sie reagieren, jedoch selbst kein telepathisches Gespräch beginnen oder beenden.</p>
<p>Telepathische Monster müssen die kontaktierten Kreaturen nicht sehen und können den telepathischen Kontakt jederzeit beenden. Der Kontakt ist beendet, sobald die beiden Beteiligten sich nicht mehr in Reichweite befinden oder wenn das telepathische Monster eine andere Kreatur innerhalb der Reichweite kontaktiert. Telepathische Monster können telepathische Kontakte beginnen oder beenden, ohne eine Aktion zu verwenden. Sind sie kampfunfähig, können sie keine telepathischen Kontakte beginnen, und alle aktuellen Kontakte werden beendet</p>
<p>Kreaturen im Bereich eines <a class="spell" href="#spell-antimagisches-feld">Antimagisches Feld</a> oder an einem anderen Ort, an dem Magie nicht wirkt, können telepathische Nachrichten weder übermitteln noch empfangen.</p>
<h4>Herausforderungsgrad</h4>
<p>Der <span class="feature-name">Herausforderungsgrad </span>eines Monsters sagt dir, wie groß die Bedrohung durch das Monster ist. Eine angemessen ausgerüstete und ausgeruhte Gruppe von vier Abenteurern sollte in der Lage sein, ein Monster, dessen Herausforderungsgrad ihrer Stufe entspricht, ohne Verluste zu besiegen. Beispiel: Ein Monster mit dem Herausforderungsgrad 3 müsste für eine Abenteurergruppe mit vier Charakteren der 3. Stufe eine würdige, aber keine tödliche Herausforderung darstellen.</p>
<p>Monster, die deutlich schwächer als Charaktere der 1. Stufe sind, haben einen Herausforderungsgrad von weniger als eins. Monster mit einem Herausforderungsgrad von 0 sind nur in größeren Gruppen bedeutsam. Haben sie keine wirksamen Angriffe, so bringen sie auch keine Erfahrungspunkte. Solche mit Angriffen bringen jeweils zehn EP.</p>
<p>Einige Monster bedeuten sogar eine größere Herausforderung, als eine übliche Abenteurergruppe der 20. Stufe bewältigen kann. Solche Monster haben einen Herausforderungsgrad von mindestens 21 und sind eigens dafür geschaffen, die Spielerfertigkeiten zu testen.</p>
<h5>Erfahrungspunkte</h5>
<p>Die Anzahl der Erfahrungspunkte (EP), die eine Kreatur wert ist, basiert auf dem Herausforderungsgrad der Kreatur. Die EP werden üblicherweise beim Sieg über ein Monster zuerkannt, wobei der Spielleiter sie auch vergeben kann, wenn die Bedrohung durch das Monster auf andere Art neutralisiert wurde.</p>
<p>Sofern keine abweichenden Informationen vorliegen, ist ein Monster, das durch einen Zauber oder auf andere magische Art beschworen wurde, die in seinem Wertekasten vermerkten EP wert.</p>
<h5>Erfahrungspunkte nach Herausforderungsgrad</h5>
<table id="table-erfahrungspunkte-nach-herausforderungsgrad">
<tr><th>Herausforderungsgrad</th>
<th>EP</th>
<th>Herausforderungsgrad</th>
<th>EP</th></tr>
<tr><td>0</td><td>0 oder 10</td><td>14</td><td>11.500</td></tr>
<tr><td>1/8</td><td>25</td><td>15</td><td>13.000</td></tr>
<tr><td>1/4</td><td>50</td><td>16</td><td>15.000</td></tr>
<tr><td>1/2</td><td>100</td><td>17</td><td>18.000</td></tr>
<tr><td>1</td><td>200</td><td>18</td><td>20.000</td></tr>
<tr><td>2</td><td>450</td><td>19</td><td>22.000</td></tr>
<tr><td>3</td><td>700</td><td>20</td><td>25.000</td></tr>
<tr><td>4</td><td>1.100</td><td>21</td><td>33.000</td></tr>
<tr><td>5</td><td>1.800</td><td>22</td><td>41.000</td></tr>
<tr><td>6</td><td>2.300</td><td>23</td><td>50.000</td></tr>
<tr><td>7</td><td>2.900</td><td>24</td><td>62.000</td></tr>
<tr><td>8</td><td>3.900</td><td>25</td><td>75.000</td></tr>
<tr><td>9</td><td>5.000</td><td>26</td><td>90.000</td></tr>
<tr><td>10</td><td>5.900</td><td>27</td><td>105.000</td></tr>
<tr><td>11</td><td>7.200</td><td>28</td><td>120.000</td></tr>
<tr><td>12</td><td>8.400</td><td>29</td><td>135.000</td></tr>
<tr><td>13</td><td>10.000</td><td>30</td><td>155.000</td></tr>
</table>
<h4>Besondere Merkmale</h4>
<p>Besondere Merkmale (hinter dem Herausforderungsgrad und vor Aktionen sowie Reaktionen eines Monsters aufgeführt) sind Eigenschaften, die bei Kampfbegegnungen wahrscheinlich relevant sind und jeweils eine Erklärung erfordern.</p>
<h5>Angeborenes Zauberwirken</h5>
<p>Monster mit der natürlichen Fähigkeit zum Zauberwirken haben das besondere Merkmal Angeborenes Zauberwirken. Sofern nicht anders vermerkt, wird ein angeborener Zauber des 1. Grades oder höher stets auf dem niedrigsten möglichen Grad gewirkt und kann nicht auf einem höheren Grad gewirkt werden. Wenn ein Monster über einen Zaubertrick verfügt, dessen Grad eine Rolle spielt, jedoch kein Grad angeben ist, dann verwende den Herausforderungsgrad des Monsters.</p>
<p>Angeborene Zauber können besondere Regeln oder Einschränkungen aufweisen. Beispiel: Ein Drow-Magier kann den angeborenen Zauber <a class="spell" href="#spell-schweben">Schweben</a> wirken, doch der Zauber hat die Einschränkung „nur auf sich selbst&quot;, was bedeutet, dass er nur auf den Drow-Magier wirkt.</p>
<p>Angeborene Zauber von Monstern können nicht gegen andere Zauber ausgetauscht werden. Wenn die angeborenen Zauber eines Monsters keine Angriffswürfe erfordern, wird für sie kein Angriffsbonus vergeben.</p>
<h5>Zauberwirken</h5>
<p>Monster mit dem besonderen Merkmal „Zauberwirken&quot; haben eine Zauberwirkerstufe und Zauberplätze.</p>
<p>Diese verwenden sie, um ihre Zauber des 1. Grades und höher zu wirken (siehe <a href="#zauberwirken">Zauberwirken</a>). Die Stufe des Zauberwirkers wird auch für alle Zaubertricks verwendet, die im Merkmal enthalten sind.</p>
<p>Die Monster haben eine Liste von bekannten oder vorbereiteten Zaubern einer bestimmten Klasse. Die Liste kann auch Zauber aus einem Merkmal dieser Klasse enthalten, beispielsweise aus dem Merkmal Göttliche Domäne der Klerikerklasse oder aus dem Merkmal Druidenzirkel der Druidenklasse. Die Monster gelten als Klassenmitglieder, wenn sie sich auf einen magischen Gegenstand einstimmen -oder ihn verwenden -, der eine entsprechende Klassenmitgliedschaft oder Zugriff auf die Zauberliste der Klasse erfordert.</p>
<p>Monster können Zauber aus der Liste auf einem höheren Grad wirken, wenn sie über einen entsprechenden Zauberplatz verfügen. Beispiel: Ein Drow-Magier mit einem <a class="spell" href="#spell-blitz">Blitz</a>-Zauber des 3. Grades kann diesen als Zauber des 5. Grades wirken, wenn er dazu einen seiner Zauberplätze des 5. Grades verwendet.</p>
<p>Du kannst die Zauber ändern, die ein Monster kennt oder vorbereitet hat, indem du einen beliebigen Zauber von seiner Zauberliste durch einen Zauber des gleichen Grades und aus der gleichen Klassenliste ersetzt. Dadurch kann die Bedrohung durch das Monster höher oder niedriger ausfallen als durch seinen Herausforderungsgrad angegeben.</p>
<h5>Psionik</h5>
<p>Monster, die Zauber nur mit der Kraft ihres Geistes wirken, weisen bei ihrem besonderen Merkmal Zauberwirken oder Angeborenes Zauberwirken das Stichwort Psionik auf. Dieses Schlagwort hat keine eigenen besonderen Regeln, aber andere Spielelemente können sich darauf beziehen. Monster mit diesem Schlagwort brauchen normalerweise keine Komponenten, um ihre Zauber zu wirken.</p>
<h4>Aktionen</h4>
<p>Wenn Monster ihre Aktion verwenden, können sie aus den Optionen im Aktionen-Abschnitt ihres Wertekastens auswählen oder eine der Aktionen verwenden, die für alle Kreaturen verfügbar sind, beispielsweise die Spurt- oder Verstecken-Aktion (siehe <a href="#aktionen-im-kampf">Aktionen im Kampf</a>).</p>
<h5>Nahkampf- und Fernkampfangriffe</h5>
<p>Die häufigsten Aktionen, die Monster im Kampf ausführen, sind Nahkampf- und Fernkampfangriffe. Es kann sich um Angriffe mit Zaubern oder mit Waffen handeln, wobei die Waffen hergestellte oder natürliche Waffen wie Krallen oder Stachelschwänze sein können. Weitere Informationen zu den verschiedenen Angriffsarten findest du unter <a href="#aktionen-im-kampf">Aktionen im Kampf</a>.</p>
<p><span class="trait-name">Kreatur vs. Ziel:</span> Das Ziel eines Nahkampf- oder Fernkampfangriffs ist normalerweise entweder eine Kreatur oder ein Ziel. Der Unterschied besteht darin, dass ein „Ziel&quot; eine Kreatur oder ein Objekt sein kann.</p>
<p><span class="trait-name">Treffer:</span> Der Schaden und die sonstigen Effekte, wenn ein Angriff das Ziel trifft, sind nach dem Stichwort „Treffer&quot; beschrieben. Du hast die Möglichkeit, den durchschnittlichen Schaden zu verwenden oder den Schaden auszuwürfeln. Sowohl der durchschnittliche Schaden als auch der Würfelausdruck sind aufgeführt</p>
<p><span class="trait-name">Fehlschlag:</span> Wenn ein Angriff einen Effekt hat, der bei einem Fehlschlag auftritt, so ist dieser nach dem Stichwort „Fehlschlag&quot; beschrieben.</p>
<h5>Mehrfachangriff</h5>
<p>Kreaturen, die in ihrem Zug mehrere Angriffe ausführen können, verfügen über die Aktion Mehrfachangriff. Sie können keinen Mehrfachangriff ausführen, wenn sie einen Gelegenheitsangriff starten, bei welchem es sich um einen einzelnen Nahkampfangriff handeln muss.</p>
<h5>Munition</h5>
<p>Monster tragen genügend Munition bei sich, um ihre Fernkampfangriffe auszuführen. Du kannst davon ausgehen, dass ein Monster bei einem Angriff mit einer Wurfwaffe über 2W4 Stück Munition und bei einem Angriff mit einer Projektilwaffe (wie Bogen oder Armbrust) über 2W10 Stück Munition verfügt.</p>
<h4>Reaktionen</h4>
<p>Wenn Monster mit ihren Reaktionen etwas Besonderes tun können, ist diese Information hier enthalten. Verfügen sie nicht über besondere Reaktionen, so fehlt dieser Abschnitt.</p>
<h4>Beschränkter Einsatz</h4>
<p>Einige Spezialfähigkeiten haben Einschränkungen hinsichtlich der Anzahl ihrer Einsätze.</p>
<p><span class="trait-name">X-mal täglich:</span> Der Vermerk „X-mal täglich&quot; gibt an, wie oft eine Spezialfähigkeit eingesetzt werden kann, bis sie erst nach einer langen Rast wieder verfügbar ist. Beispiel: „1-mal täglich&quot; bedeutet, dass eine Spezialfähigkeit nur einmal eingesetzt werden kann und das Monster sie dann erst nach einer langen Rast erneut einsetzen kann.</p>
<p><span class="trait-name">Aufladung X-Y:</span> Der Vermerk .Aufladung X-Y&quot; bedeutet, dass eine Spezialfähigkeit einmal eingesetzt werden kann und danach in jeder Kampfrunde eine zufallsbasierte Chance hat, sich wieder aufzuladen. Würfle zu Beginn jedes Zugs des Monsters mit einem W6. Wenn das Ergebnis einer der Ziffern in .Aufladung X-Y&quot; entspricht, ist die Spezialfähigkeit wieder einsetzbar. Die Fähigkeit wird auch durch eine kurze oder lange Rast wieder aufgeladen.</p>
<p>Beispiel: .Aufladung 5-6&quot; bedeutet, dass ein Monster die Spezialfähigkeit einmal einsetzen kann. Dann erlangt das Monster zu Beginn seines Zugs in jeder Runde den Einsatz der Fähigkeit zurück, wenn es mit einem W6 eine 5 oder 6 würfelt.</p>
<p><span class="trait-name">Aufladung nach einer kurzen oder langen Rast: </span>Dieser Vermerk bedeutet, dass ein Monster eine Spezialfähigkeit einmal einsetzen kann und dann eine kurze oder lange Rast beenden muss, um sie erneut einzusetzen.</p>

<div class="boxed" id="box-haltegriff-regeln-fuer-monster">
<h5>Haltegriff-Regeln für Monster</h5>
<p>Viele Monster haben besondere Angriffe, die ihnen gestatten, ihre Beute rasch zu packen. Wenn ein Monster einen solchen Angriff ausführt, muss es keinen zusätzlichen Attributswurf ausführen, um zu bestimmen, ob der Haltegriff erfolgreich ist, sofern nicht beim Angriff anders angegeben.</p>
<p>Eine vom Monster gepackte Kreatur kann ihre Aktion verwenden, um zu versuchen, zu entkommen. Dazu muss ihr ein Stärkewurf (Athletik) oder Geschicklichkeitswurf (Akrobatik) gegen den Rettungswurf-SG gelingen, der in den Spielwerten des Monsters angegeben ist. Ist kein Rettungswurf-SG angegeben, so nimm an, dass der SG 10 + Stärkewurf-Modifikator (Athletik) des Monsters beträgt.</p>
</div>

<h4>Ausrüstung</h4>
<p>Der Wertekasten bezieht sich selten auf Ausrüstung, abgesehen von Rüstung oder Waffen, die vom Monster verwendet werden. Bei Kreaturen wie Humanoiden, die üblicherweise Kleidung tragen, wird angemessene Kleidung angenommen.</p>
<p>Du kannst Monster zusätzlich mit Ausrüstung und Requisiten nach deinem Ermessen versehen. Du bestimmst, wie viel seiner Ausrüstung noch nutzbar ist, wenn es besiegt wurde. Beispielsweise ist eine beschädigte Rüstung, die für ein Monster angefertigt wurde, selten von jemand anderem nutzbar.</p>
<p>Braucht ein zauberwirkendes Monster Materialkomponenten, um seine Zauber zu wirken, so nimm an, dass es über die erforderlichen Materialkomponenten verfügt, um die Zauber in seinem Wertekasten zu wirken.</p>
<h3 id="legendaere-kreaturen">Legendäre Kreaturen</h3>
<p>Legendäre Kreaturen können Dinge vollbringen, die gewöhnlichen Kreaturen nicht möglich sind. Sie können besondere Aktionen außerhalb ihres Zugs ausführen und möglicherweise in kilometerweitem Radius magischen Einfluss ausüben.</p>
<p>Wenn Kreaturen beispielsweise durch Zauber die Gestalt von legendären Kreaturen annehmen, stehen ihnen die legendären Aktionen, Hortaktionen und regionalen Effekte der Gestalt nicht zur Verfügung.</p>
<h4>Legendäre Aktionen</h4>
<p>Legendäre Kreaturen können eine bestimmte Anzahl an besonderen Aktionen - sogenannte legendäre Aktionen - außerhalb ihres Zugs ausführen. Sie können jeweils nur eine legendäre Aktionsmöglichkeit und nur am Ende des Zugs einer anderen Kreatur ausführen. Legendäre Kreaturen erhalten verbrauchte legendäre Aktionen am Anfang ihres Zugs zurück. Sie können auch darauf verzichten, sie auszuführen. Wenn sie kampfunfähig oder anderweitig nicht imstande sind, Aktionen auszuführen, stehen die legendären Aktionen ihnen nicht zur Verfügung. Werden sie überrascht, so können sie erst nach ihrem ersten Zug im Kampf legendäre Aktionen ausführen.</p>
<h4>Horte von legendären Kreaturen</h4>
<p>Bei legendären Kreaturen ist möglicherweise ein Abschnitt vorhanden, in dem ihr Hort sowie die besonderen Effekte beschrieben werden, die ihnen im Hort zur Verfügung stehen - entweder nach Bedarf oder einfach dadurch, dass sie dort anwesend sind. Diese Abschnitte gelten nur für legendäre Kreaturen, die viel Zeit in ihrem Hort verbringen.</p>
<h5>Hortaktionen</h5>
<p>Wenn legendären Kreaturen Hortaktionen zur Verfügung stehen, können sie diese einsetzen, um die Umgebungsmagie in ihrem Hort zu nutzen. Bei einer Initiative von 20 (verliert bei Gleichstand) können sie eine ihrer Hortaktion-Optionen verwenden. Wenn sie kampfunfähig oder anderweitig nicht imstande sind, Aktionen auszuführen, stehen die Hortaktion-Optionen ihnen nicht zur Verfügung. Werden sie überrascht, so können sie erst nach ihrem ersten Zug im Kampf Hortaktion-Optionen ausführen.</p>
<h5>Regionale Effekte</h5>
<p>Die bloße Anwesenheit legendärer Kreaturen kann wundersame Effekte auf ihre Umgebung haben, wie in diesem Abschnitt beschrieben. Diese regionalen Effekte enden entweder abrupt oder verlieren sich im Lauf der Zeit, wenn eine legendäre Kreatur stirbt.</p>

