<div data-file="nsc.html">
<h2 id="anhang-mm-b-nsc">Anhang MM-B: Nicht-Spieler-Charaktere</h2>
<p>Dieser Anhang enthält Spielwerte für verschiedene humanoide Nicht-Spieler-Charaktere (NSCs), denen Abenteurer im Verlaufe einer Kampagne begegnen könnten - vom niederen Gemeinen bis zum mächtigen Erzmagier. Diese Spielwerte können zum Repräsentieren sowohl menschlicher als auch nichtmenschlicher NSCs dienen.</p>

<h4>NSCs anpassen</h4>
<p>Es gibt viele einfache Methoden, die NSCs in diesem Anhang an deine Kampagne anzupassen.</p>
<p><span class="trait-name">Volksmerkmale:</span> Du kannst einem NSC Volksmerkmale hinzufügen. Beispiel: Ein Halbling-Druide könnte eine Bewegungsrate von 7,5 Metern und das Merkmal Glückspilz haben. Werden einem NSC Volksmerkmale hinzugefügt, so ändert sich sein Herausforderungsgrad dadurch nicht. Weitere Informationen zu Volksmerkmalen findest du im <span class="nameref">Spielerhandbuch.</span></p>
<p><span class="trait-name">Zauberwechsel:</span> Passe einen NSC-Zauberwirker an, indem du mindestens einen seiner Zauber auswechselst. Du kannst jeden Zauber von der Zauberliste des NSCs durch einen anderen Zauber desselben Grades von derselben Zauberliste ersetzen. Durch einen solchen Austausch von Zaubern ändert sich der Herausforderungsgrad des NSCs nicht.</p>
<p><span class="trait-name">Rüstungs- und Waffenwechsel:</span> Du kannst die Rüstung eines NSCs auf- oder abwerten und Waffen hinzufügen oder austauschen. Änderungen an Rüstungsklasse und Schaden können den Herausforderungsgrad des NSCs ändern.</p>
<p><span class="trait-name">Magische Gegenstände:</span> Je mächtiger ein NSC ist, desto wahrscheinlicher hat er mindestens einen magischen Gegenstand im Besitz. Ein Erzmagier könnte beispielsweise einen Zauberstab oder Stab, mindestens einen Trank sowie Schriftrollen besitzen. Wenn du einem NSC einen mächtigen magischen Gegenstand gibst, der Schaden bewirkt, kann sich der Herausforderungsgrad des NSCs ändern.</p>

<div class="monster" id="monster-adeliger">
    <h5>Adeliger</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">15 (Brustplatte)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">9 (2W8)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">11 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">11 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">14 (+2)</div>
        <div class="v">16 (+3)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Motiv erkennen +4, Täuschen +5, Überzeugen +5</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 12</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Zwei beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/8 (25 EP)</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Rapier</div> <div class="action_value">Nahkampfwaffenangriff: +3 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 5 (1W8+1) Stichschaden.</div>
    <hr />
    <h4>Reaktionen</h4>
    <div class="reaction_name">Parieren</div> <div class="reaction_value">Der Adelige erhöht seine RK gegen einen Nahkampfangriff, der treffen würde, um 2. Dazu muss der Adelige den Angreifer sehen können und eine Nahkampfwaffe führen.</div>

    <p>Adelige gebieten als Angehörige der Oberklasse über große Autorität, erheblichen Einfluss, über Reichtümer und Verbindungen, die sie so mächtig wie Monarchen und Generäle machen können. Oft reisen sie in Begleitung von Wachen sowie von Dienern, welche Gemeine sind.</p>
    <p>Die Spielwerte von Adeligen können auch für Höflinge verwendet werden, welche nicht von adeliger Abstammung sind.</p>
</div>

<div class="monster" id="monster-akolyth">
    <h5>Akolyth</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">10</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">9 (2W8)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">14 (+2)</div>
        <div class="v">11 (+0)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Heilkunde +4, Religion +2</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 12</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/4 (50 EP)</div>
    <hr />
    <div class="trait_name">Zauberwirken</div> <div class="trait_value">Der Akolyth ist ein Zauberwirker der 1. Stufe. Sein Attribut zum Zauberwirken ist Weisheit (Zauberrettungswurf-SG 12, +4 auf Treffer mit Zauberangriffen). Der Akolyth hat folgende Klerikerzauber vorbereitet:<br />
        <div class="prepared_spell_level">Zaubertricks (beliebig oft)</div> <div class="prepared_spell_list"><a class="spell" href="#spell-heilige-flamme">Heilige Flamme</a>, <a class="spell" href="#spell-licht">Licht</a>, <a class="spell" href="#spell-thaumaturgie">Thaumaturgie</a></div>
        <div class="prepared_spell_level">1. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-heiligtum">Heiligtum</a>, <a class="spell" href="#spell-segnen">Segnen</a>, <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a></div>
    </div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Knüppel</div> <div class="action_value">Nahkampfwaffenangriff: +2 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 2 (1W4) Wuchtschaden.</div>

    <p>Akolythen sind Juniormitglieder religiöser Orden, die üblicherweise einem Priester unterstehen. Sie versehen verschiedene Aufgaben in Tempeln, und ihre Gottheiten gewähren ihnen grundlegende Zauberwirkkräfte.</p>
</div>



<div class="monster" id="monster-assassine">
    <h5>Assassine</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede nichtgute Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">15 (beschlagenes Leder)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">78 (12W8+24)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">11 (+0)</div>
        <div class="v">16 (+3)</div>
        <div class="v">14 (+2)</div>
        <div class="v">13 (+1)</div>
        <div class="v">11 (+0)</div>
        <div class="v">10 (+0)</div>
    </div>
    <div class="stat_name">Rettungswürfe</div> <div class="stat_value">Ges +6, Int +4</div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Akrobatik +6, Heimlichkeit +9, Täuschen +3, Wahrnehmung +3</div>
    <div class="stat_name">Schadensresistenzen</div> <div class="stat_value">Gift</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 13</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Diebessprache und zwei weitere beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">8 (3.900 EP)</div>
    <hr />
    <div class="trait_name">Attentat</div> <div class="trait_value">Während seines ersten Zugs ist der Assassine bei Angriffswürfen gegen jede Kreatur, die noch keinen Zug ausgeführt hat, im Vorteil. Jeder Treffer des Assassinen gegen eine überraschte Kreatur ist kritisch.</div>
    <div class="trait_name">Entrinnen</div> <div class="trait_value">Wenn der Assassine von einem Effekt profitiert, der es ihm ermöglicht, einen Geschicklichkeitsrettungswurf auszuführen, damit er nur den halben Schaden erleidet, so erleidet er stattdessen bei einem Erfolg gar keinen Schaden und bei Misserfolg nur den halben Schaden.</div>
    <div class="trait_name">Hinterhältiger Angriff</div> <div class="trait_value">Einmal pro Zug bewirkt der Assassine zusätzlich 14 (4W6) Schaden, wenn er ein Ziel mit einem Waffenangriff trifft und beim Angriffswurf im Vorteil ist, oder wenn das Ziel sich im Abstand von bis zu 1,5 Metern von einem Verbündeten des Assassinen befindet, der nicht kampfunfähig ist, und der Assassine beim Angriffswurf nicht im Nachteil ist.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Assassine führt zwei Angriffe mit dem Kurzschwert aus.</div>
    <div class="action_name">Kurzschwert</div> <div class="action_value">Nahkampfwaffenangriff: +6 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 6 (1W6+3) Stichschaden, und das Ziel muss einen SG-15-Konstitutionsrettungswurf ausführen. Scheitert der Wurf, erleidet es 24 (7W6) Giftschaden, anderenfalls die Hälfte.</div>
    <div class="action_name">Leichte Armbrust</div> <div class="action_value">Fernkampfwaffenangriff: +6 auf Treffer, Reichweite 24/96 m, ein Ziel. Treffer: 7 (1W8+3) Stichschaden, und das Ziel muss einen SG-15-Konstitutionsrettungswurf ausführen. Scheitert der Wurf, erleidet es 24 (7W6) Giftschaden, anderenfalls die Hälfte.</div>
    
    <p>Assassinen sind im Umgang mit Giften versiert und ruchlose Mörder, die im Auftrag von Adeligen, Gildenmeistern, Herrschern und allen anderen arbeiten, die sich ihre Dienste leisten können.</p>
</div>



<div class="monster" id="monster-bandit">
    <h5>Bandit</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede nicht-rechtschaffene Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">12 (Lederrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">11 (2W8+2)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">11 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">12 (+1)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
    </div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/8 (25 EP)</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Krummsäbel</div> <div class="action_value">Nahkampfwaffenangriff: +3 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 4 (1W6+1) Hiebschaden.</div>
    <div class="action_name">Leichte Armbrust</div> <div class="action_value">Fernkampfwaffenangriff: +3 auf Treffer, Reichweite 24/96 m, ein Ziel. Treffer: 5 (1W8+1) Stichschaden.</div>

    <p>Banditen schließen sich zusammen und werden manchmal von Schlägern, Veteranen oder Zauberwirkern angeführt. Nicht alle Banditen sind böse. Auch ehrliche Leute können durch Unterdrückung, Krankheiten, Dürren oder Hungersnöte zu einem Banditendasein gezwungen sein.</p>
    <p><strong>Piraten</strong> sind Banditen auf See. Sie sind möglicherweise eigenständige Piraten, die nur an Schätzen und Mord interessiert sind, oder Freibeuter, die von einer Krone beauftragt wurden, Schiffe anderer Nationen anzugreifen zu und plündern.</p>
</div>

<div class="monster" id="monster-banditenhauptmann">
    <h5>Banditenhauptmann</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede nichtrechtschaffene Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">15 (beschlagenes Leder)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">65 (10W8+20)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">15 (+2)</div>
        <div class="v">16 (+3)</div>
        <div class="v">14 (+2)</div>
        <div class="v">14 (+2)</div>
        <div class="v">11 (+0)</div>
        <div class="v">14 (+2)</div>
    </div>
    <div class="stat_name">Rettungswürfe</div> <div class="stat_value">Str +4, Ges +5, Wei +2</div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Athletik +4, Täuschen +4</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Zwei beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">2 (450 EP)</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Hauptmann führt drei Nahkampfangriffe aus: zwei mit seinem Krummsäbel und einen mit seinem Dolch. Alternativ kann er zwei Fernkampfangriffe mit seinen Dolchen ausführen.</div>
    <div class="action_name">Krummsäbel</div> <div class="action_value">Nahkampfwaffenangriff: +5 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 6 (1W6+3) Hiebschaden.</div>
    <div class="action_name">Dolch</div> <div class="action_value">Nah- oder Fernkampfwaffenangriff: +5 auf Treffer, Reichweite 1,5 m oder Reichweite 6/18 m, ein Ziel. Treffer: 5 (1W4+3) Stichschaden.</div>
    <hr />
    <h4>Reaktionen</h4>
    <div class="reaction_name">Parieren</div> <div class="reaction_value">Der Hauptmann erhöht seine RK gegen einen Nahkampfangriff, der ihn treffen würde, um 2. Dazu muss der Hauptmann den Angreifer sehen können und eine Nahkampfwaffe führen.</div>

    <p>Es braucht eine starke Persönlichkeit, ruchlose Verschlagenheit und eine flinke Zunge, um eine Banditengruppe auf Linie zu halten. Der Banditenhauptmann verfügt über diese Qualitäten zur Genüge.</p>
    <p>Der <strong>Piratenkapitän</strong> ist eine Variante des Banditenhauptmanns. Er muss eine Besatzung aus selbstsüchtigen Unzufriedenen in Schach halten und hat ein Schiff zu befehligen und zu beschützen. Um die Besatzung auf Linie zu halten, muss er regelmäßig sowohl mit Belohnungen als auch mit Bestrafungen arbeiten.</p>
    <p>Banditenhauptmänner und Piratenkapitäne sind an Reichtümern, aber noch mehr an ihrem Ruf interessiert. Als Gefangener ist man gut beraten, solchen Anführern zu schmeicheln und an ihre Eitelkeit und ihr Ego zu appellieren, anstatt vor- oder zuzugeben, nichts von deren oft wenig schmeichelhafter Reputation zu wissen.</p>
</div>

<div class="monster" id="monster-berserker">
    <h5>Berserker</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede chaotische Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">13 (Fellrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">67 (9W8+27)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">16 (+3)</div>
        <div class="v">12 (+1)</div>
        <div class="v">17 (+3)</div>
        <div class="v">9 (-1)</div>
        <div class="v">11 (+0)</div>
        <div class="v">9 (-1)</div>
    </div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">2 (450 EP)</div>
    <hr />
    <div class="trait_name">Unvorsichtig</div> <div class="trait_value">Ab Beginn seines Zugs ist der Berserker bei allen Nahkampfwaffenangriffswürfen im Vorteil, doch Angriffswürfe gegen ihn sind ebenfalls im Vorteil. Dies gilt bis zum Beginn seines nächsten Zugs.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Zweihandaxt</div> <div class="action_value">Nahkampfwaffenangriff: +5 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 9 (1W12+3) Hiebschaden.</div>

    <p>Die unberechenbaren Berserker stammen aus unzivilisierten Landstrichen. Sie tun sich zu Kriegstrupps zusammen und suchen jeden Streit, den sie finden können.</p>
</div>



<div class="monster" id="monster-druide">
    <h5>Druide</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">11 (16 mit Rindenhaut)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">27 (5W8+5)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">10 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">13 (+1)</div>
        <div class="v">12 (+1)</div>
        <div class="v">15 (+2)</div>
        <div class="v">11 (+0)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Heilkunde +4, Naturkunde +3, Wahrnehmung +4</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 14</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Druidisch und zwei weitere beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">2 (450 EP)</div>
    <hr />
    <div class="trait_name">Zauberwirken</div> <div class="trait_value">Der Druide ist ein Zauberwirker der 4. Stufe. Sein Attribut zum Zauberwirken ist Weisheit (Zauberrettungswurf-SG 12, +4 auf Treffer mit Zauberangriffen). Er hat folgende Druidenzauber vorbereitet:<br />
        <div class="prepared_spell_level">Zaubertricks (beliebig oft)</div> <div class="prepared_spell_list"><a class="spell" href="#spell-druidenkunst">Druidenkunst</a>, <a class="spell" href="#spell-flammen-erzeugen">Flammen erzeugen</a>, <a class="spell" href="#spell-shillelagh">Shillelagh</a></div>
        <div class="prepared_spell_level">1. Grad (4 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-donnerwoge">Donnerwoge</a>, <a class="spell" href="#spell-lange-schritte">Lange Schritte</a>, <a class="spell" href="#spell-mit-tieren-sprechen">Mit Tieren sprechen</a>, <a class="spell" href="#spell-verstricken">Verstricken</a></div>
        <div class="prepared_spell_level">2. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-rindenhaut">Rindenhaut</a>, <a class="spell" href="#spell-tierbote">Tierbote</a></div>
    </div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Kampfstab</div> <div class="action_value">Nahkampfwaffenangriff: +2 auf Treffer (+4 auf Treffer mit Shillelagh), Reichweite 1,5 m, ein Ziel. Treffer: 3 (1W6) Wuchtschaden, 4 (1W8) Wuchtschaden bei zweihändiger Führung oder 6 (1W8+2) Wuchtschaden mit Shillelagh.</div>

    <p>Druiden leben in Wäldern und an anderen abgeschiedenen Orten, wo sie die Natur vor Monstern und den Gefahren der Zivilisation beschützen. Einige sind Stammesschamanen. Sie heilen die Kranken, beten zu Tiergeistern und bieten göttliche Führung.</p>
</div>




<div class="monster" id="monster-erzmagier">
    <h5>Erzmagier</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">12 (15 mit Magierrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">99 (18W8+18)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">10 (+0)</div>
        <div class="v">14 (+2)</div>
        <div class="v">12 (+1)</div>
        <div class="v">20 (+5)</div>
        <div class="v">15 (+2)</div>
        <div class="v">16 (+3)</div>
    </div>
    <div class="stat_name">Rettungswürfe</div> <div class="stat_value">Int +9, Wei +6</div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Arkane Kunde +13, Geschichte +13</div>
    <div class="stat_name">Schadensresistenzen</div> <div class="stat_value">Schaden durch Zauber; Hieb, Stich und Wucht durch nichtmagische Angriffe (durch Steinhaut)</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 12</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Sechs beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">12 (8.400 EP)</div>
    <hr />
    <div class="trait_name">Magieresistenz</div> <div class="trait_value">Der Erzmagier ist bei Rettungswürfen gegen Zauber und andere magische Effekte im Vorteil.</div>
    <div class="trait_name">Zauberwirken</div> <div class="trait_value">Der Erzmagier ist ein Zauberwirker der 18. Stufe. Sein Attribut zum Zauberwirken ist Intelligenz (Zauberrettungswurf-SG 17, +9 auf Treffer mit Zauberangriffen). Der Erzmagier kann beliebig oft Selbstverkleidung und Unsichtbarkeit wirken und hat folgende Magierzauber vorbereitet:<br />
        <div class="prepared_spell_level">Zaubertricks (beliebig oft)</div> <div class="prepared_spell_list"><a class="spell" href="#spell-feuerpfeil">Feuerpfeil</a>, <a class="spell" href="#spell-licht">Licht</a>, <a class="spell" href="#spell-magierhand">Magierhand</a>, <a class="spell" href="#spell-schockgriff">Schockgriff</a>, <a class="spell" href="#spell-taschenspielerei">Taschenspielerei</a></div>
        <div class="prepared_spell_level">1. Grad (4 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-identifizieren">Identifizieren</a>, <a class="spell" href="#spell-magie-entdecken">Magie entdecken</a>, <a class="spell" href="#spell-magierruestung">Magierrüstung*</a>, <a class="spell" href="#spell-magisches-geschoss">Magisches Geschoss</a></div>
        <div class="prepared_spell_level">2. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-gedanken-wahrnehmen">Gedanken wahrnehmen</a>, <a class="spell" href="#spell-nebelschritt">Nebelschritt</a>, <a class="spell" href="#spell-spiegelbilder">Spiegelbilder</a></div>
        <div class="prepared_spell_level">3. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-blitz">Blitz</a>, <a class="spell" href="#spell-fliegen">Fliegen</a>, <a class="spell" href="#spell-gegenzauber">Gegenzauber</a></div>
        <div class="prepared_spell_level">4. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-feuerschild">Feuerschild</a>, <a class="spell" href="#spell-steinhaut">Steinhaut*</a>, <a class="spell" href="#spell-verbannung">Verbannung</a></div>
        <div class="prepared_spell_level">5. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-ausspaehung">Ausspähung</a>, <a class="spell" href="#spell-energiewand">Energiewand</a>, <a class="spell" href="#spell-kaeltekegel">Kältekegel</a></div>
        <div class="prepared_spell_level">6. Grad (1 Platz)</div>           <div class="prepared_spell_list"><a class="spell" href="#spell-kugel-der-unverwundbarkeit">Kugel der Unverwundbarkeit</a></div>
        <div class="prepared_spell_level">7. Grad (1 Platz)</div>           <div class="prepared_spell_list"><a class="spell" href="#spell-teleportieren">Teleportieren</a></div>
        <div class="prepared_spell_level">8. Grad (1 Platz)</div>           <div class="prepared_spell_list"><a class="spell" href="#spell-gedankenleere">Gedankenleere*</a></div>
        <div class="prepared_spell_level">9. Grad (1 Platz)</div>           <div class="prepared_spell_list"><a class="spell" href="#spell-zeitstopp">Zeitstopp</a></div>
        <div class="note">*Der Erzmagier wirkt diese Zauber vor dem Kampf auf sich selbst.</div>
    </div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Dolch</div> <div class="action_value">Nah- oder Fernkampfwaffenangriff: +6 auf Treffer, Reichweite 1,5 m oder Reichweite 6/18 m, ein Ziel. Treffer: 4 (1W4+2) Stichschaden.</div>

    <p>Erzmagier sind mächtige (und normalerweise ziemlich alte) Zauberwirker, die sich dem Studium der arkanen Künste verschrieben haben. Gut gesinnte Erzmagier beraten oft Könige und Königinnen. Böse herrschen als Tyrannen und trachten danach, Liche zu werden. Diejenigen, die weder gut noch böse sind, ziehen sich häufig in abgeschiedene Türme zurück, um ungestört ihre Magie praktizieren zu können.</p>
    <p>Erzmagier haben normalerweise mindestens einen Lehrlingsmagier. Ihre Refugien werden von zahlreichen Schutzzaubern gesichert und von Wächtern vor Eindringlingen geschützt.</p>
</div>

<div class="monster" id="monster-gemeiner">
    <h5>Gemeiner</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">10</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">4 (1W8)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
    </div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">0 (10 EP)</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Knüppel</div> <div class="action_value">Nahkampfwaffenangriff: +2 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 2 (1W4) Wuchtschaden.</div>

    <p>Gemeine sind Bauern, Leibeigene, Diener, Sklaven, Pilger, Händler, Künstler und Einsiedler.</p>
</div>



<div class="monster" id="monster-gladiator">
    <h5>Gladiator</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">16 (beschlagenes Leder, Schild)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">112 (15W8+45)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">18 (+4)</div>
        <div class="v">15 (+2)</div>
        <div class="v">16 (+3)</div>
        <div class="v">10 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">15 (+2)</div>
    </div>
    <div class="stat_name">Rettungswürfe</div> <div class="stat_value">Str +7, Ges +5, Kon +6</div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Athletik +10, Einschüchtern +5</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 11</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">5 (1.800 EP)</div>
    <hr />
    <div class="trait_name">Rohling</div> <div class="trait_value">Eine Nahkampfwaffe bewirkt einen zusätzlichen Würfel ihres Schadens, wenn der Gladiator damit trifft (im Angriff enthalten).</div>
    <div class="trait_name">Tapferkeit</div> <div class="trait_value">Der Gladiator ist bei Rettungswürfen gegen den Zustand Verängstigt im Vorteil.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Gladiator führt drei Nahkampfangriffe oder zwei Fernkampfangriffe aus.</div>
    <div class="action_name">Schildstoß</div> <div class="action_value">Nahkampfwaffenangriff: +7 auf Treffer, Reichweite 1,5 m, eine Kreatur. Treffer: 9 (2W4+4) Wuchtschaden. Wenn das Ziel eine höchstens mittelgroße Kreatur ist, muss es einen SG-15-Stärkerettungswurf bestehen, oder es wird umgestoßen.</div>
    <div class="action_name">Speer</div> <div class="action_value">Nah- oder Fernkampfwaffenangriff: +7 auf Treffer, Reichweite 1,5 m und Reichweite 6/18 m, ein Ziel. Treffer: 11 (2W6+4) Stichschaden oder 13 (2W8+4) Stichschaden bei zweihändiger Führung und Nahkampfangriff.</div>
    <hr />
    <h4>Reaktionen</h4>
    <div class="reaction_name">Parieren</div> <div class="reaction_value">Der Gladiator erhöht seine RK gegen einen Nahkampfangriff, der ihn treffen würde, um 3. Dazu muss der Gladiator den Angreifer sehen können und eine Nahkampfwaffe führen.</div>

    <p>Gladiatoren kämpfen zur Unterhaltung lärmender Massen. Einige Gladiatoren sind brutale Arenenkämpfer, die jeden Kampf bis zum Tode führen. Andere sind professionelle Duellanten, die sich fürstlich entlohnen lassen, aber nicht auf Leben und Tod kämpfen.</p>
</div>




<div class="monster" id="monster-kultfanatiker">
    <h5>Kultfanatiker</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede nichtgute Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">13 (Lederrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">33 (6W8+6)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">11 (+0)</div>
        <div class="v">14 (+2)</div>
        <div class="v">12 (+1)</div>
        <div class="v">10 (+0)</div>
        <div class="v">13 (+1)</div>
        <div class="v">14 (+2)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Religion +2, Täuschen +4, Überzeugen +4</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 11</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">2 (450 EP)</div>
    <hr />
    <div class="trait_name">Dunkle Hingabe</div> <div class="trait_value">Der Fanatiker ist bei Rettungswürfen gegen die Zustände Bezaubert und Verängstigt im Vorteil.</div>
    <div class="trait_name">Zauberwirken</div> <div class="trait_value">Der Fanatiker ist ein Zauberwirker der 4. Stufe. Sein Attribut zum Zauberwirken ist Weisheit (Zauberrettungswurf-SG 11, +3 auf Treffer mit Zauberangriffen). Der Fanatiker hat folgende Klerikerzauber vorbereitet:<br />
        <div class="prepared_spell_level">Zaubertricks (beliebig oft)</div> <div class="prepared_spell_list"><a class="spell" href="#spell-heilige-flamme">Heilige Flamme</a>, <a class="spell" href="#spell-licht">Licht</a>, <a class="spell" href="#spell-thaumaturgie">Thaumaturgie</a></div>
        <div class="prepared_spell_level">1. Grad (4 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-befehl">Befehl</a>, <a class="spell" href="#spell-schild-des-glaubens">Schild des Glaubens</a>, <a class="spell" href="#spell-wunden-verursachen">Wunden verursachen</a></div>
        <div class="prepared_spell_level">2. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-person-festhalten">Person festhalten</a>, <a class="spell" href="#spell-waffe-des-glaubens">Waffe des Glaubens</a></div>
    </div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Fanatiker führt zwei Nahkampfangriffe aus.</div>
    <div class="action_name">Dolch</div> <div class="action_value">Nah- oder Fernkampfwaffenangriff: +4 auf Treffer, Reichweite 1,5 m oder Reichweite 6/18 m, eine Kreatur. Treffer: 4 (1W4+2) Stichschaden.</div>

    <p>Fanatiker sind oft Teil der Führungsriege von Kulten. Sie nutzen ihr Charisma und ihre Glaubenssätze, um Leute mit schwachem Willen zu manipulieren und zu benutzen. Die meisten sind in erster Linie an persönlicher Macht interessiert.</p>
</div>



<div class="monster" id="monster-kultist">
    <h5>Kultist</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede nichtgute Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">12 (Lederrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">9 (2W8)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">11 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">11 (+0)</div>
        <div class="v">10 (+0)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Religion +2, Täuschen +2</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/8 (25 EP)</div>
    <hr />
    <div class="trait_name">Dunkle Hingabe</div> <div class="trait_value">Der Kultist ist bei Rettungswürfen gegen die Zustände Bezaubert und Verängstigt im Vorteil.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Krummsäbel</div> <div class="action_value">Nahkampfwaffenangriff: +3 auf Treffer, Reichweite 1,5 m, eine Kreatur. Treffer: 4 (1W6+1) Hiebschaden.</div>

    <p>Kultisten geloben dunklen Kräften wie Elementarprinzen, Dämonenfürsten oder Erzteufeln die Treue. Die meisten verheimlichen ihre Loyalität, um nicht wegen ihres Glaubens geächtet, eingesperrt oder hingerichtet zu werden. Im Gegensatz zu bösen Akolythen weisen Kultisten oft Anzeichen von Wahnsinn in ihrem Glauben und ihren Praktiken auf.</p>
</div>



<div class="monster" id="monster-magier">
    <h5>Magier</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">12 (15 mit Magierrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">40 (9W8)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">9 (-1)</div>
        <div class="v">14 (+2)</div>
        <div class="v">11 (+0)</div>
        <div class="v">17 (+3)</div>
        <div class="v">12 (+1)</div>
        <div class="v">11 (+0)</div>
    </div>
    <div class="stat_name">Rettungswürfe</div> <div class="stat_value">Int +6, Wei +4</div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Arkane Kunde +6, Geschichte +6</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 11</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Vier beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">6 (2.300 EP)</div>
    <hr />
    <div class="trait_name">Zauberwirken</div> <div class="trait_value">Der Magier ist ein Zauberwirker der 9. Stufe. Sein Attribut zum Zauberwirken ist Intelligenz (Zauberrettungswurf-SG 14, +6 auf Treffer mit Zauberangriffen). Der Magier hat folgende Magierzauber vorbereitet:<br />
        <div class="prepared_spell_level">Zaubertricks (beliebig oft)</div> <div class="prepared_spell_list"><a class="spell" href="#spell-feuerpfeil">Feuerpfeil</a>, <a class="spell" href="#spell-licht">Licht</a>, <a class="spell" href="#spell-magierhand">Magierhand</a>, <a class="spell" href="#spell-taschenspielerei">Taschenspielerei</a></div>
        <div class="prepared_spell_level">1. Grad (4 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-magie-entdecken">Magie entdecken</a>, <a class="spell" href="#spell-magierruestung">Magierrüstung</a>, <a class="spell" href="#spell-magisches-geschoss">Magisches Geschoss</a>, <a class="spell" href="#spell-schild">Schild</a></div>
        <div class="prepared_spell_level">2. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-einfluesterung">Einflüsterung</a>, <a class="spell" href="#spell-nebelschritt">Nebelschritt</a></div>
        <div class="prepared_spell_level">3. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-feuerball">Feuerball</a>, <a class="spell" href="#spell-fliegen">Fliegen</a>, <a class="spell" href="#spell-gegenzauber">Gegenzauber</a></div>
        <div class="prepared_spell_level">4. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-eissturm">Eissturm</a>, <a class="spell" href="#spell-maechtige-unsichtbarkeit">Mächtige Unsichtbarkeit</a></div>
        <div class="prepared_spell_level">5. Grad (1 Platz)</div>           <div class="prepared_spell_list"><a class="spell" href="#spell-kaeltekegel">Kältekegel</a></div>
    </div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Dolch</div> <div class="action_value">Nah- oder Fernkampfwaffenangriff: +5 auf Treffer, Reichweite 1,5 m oder Reichweite 6/18 m, ein Ziel. Treffer: 4 (1W4+2) Stichschaden.</div>

    <p>Magier verbringen ihr Leben damit, die Magie zu studieren und zu wirken. Magier mit guter Gesinnung sind oft Ratgeber von Adeligen und anderen Mächtigen. Solche mit böser Gesinnung leben meist abgeschieden, um ungestört ihren unaussprechlichen Experimenten nachzugehen.</p>
</div>



<div class="monster" id="monster-priester">
    <h5>Priester</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">13 (Kettenhemd)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">27 (5W8+5)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">7,5 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">13 (+1)</div>
        <div class="v">16 (+3)</div>
        <div class="v">13 (+1)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Heilkunde +7, Religion +4, Überzeugen +3</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 13</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Zwei beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">2 (450 EP)</div>
    <hr />
    <div class="trait_name">Göttliche Eminenz</div> <div class="trait_value">Als Bonusaktion kann der Priester einen Zauberplatz verwenden, um seine Nahkampf-Waffenangriffe bei einem Treffer magisch mit zusätzlich 10 (3W6) gleißendem Schaden zu versehen. Dieser Vorzug bleibt bis zum Ende des Zugs erhalten. Wenn der Priester einen Zauberplatz mindestens des 2. Grades verwendet, wird der Extraschaden für jeden Grad über dem ersten um 1W6 erhöht.</div>
    <div class="trait_name">Zauberwirken</div> <div class="trait_value">Der Priester ist ein Zauberwirker der 5. Stufe. Sein Attribut zum Zauberwirken ist Weisheit (Zauberrettungswurf-SG 13, +5 auf Treffer mit Zauberangriffen). Der Priester hat folgende Klerikerzauber vorbereitet:<br />
        <div class="prepared_spell_level">Zaubertricks (beliebig oft)</div> <div class="prepared_spell_list"><a class="spell" href="#spell-heilige-flamme">Heilige Flamme</a>, <a class="spell" href="#spell-licht">Licht</a>, <a class="spell" href="#spell-thaumaturgie">Thaumaturgie</a></div>
        <div class="prepared_spell_level">1. Grad (4 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-heiligtum">Heiligtum</a>, <a class="spell" href="#spell-lenkendes-geschoss">Lenkendes Geschoss</a>, <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a></div>
        <div class="prepared_spell_level">2. Grad (3 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-schwache-genesung">Schwache Genesung</a>, <a class="spell" href="#spell-waffe-des-glaubens">Waffe des Glaubens</a></div>
        <div class="prepared_spell_level">3. Grad (2 Plätze)</div>         <div class="prepared_spell_list"><a class="spell" href="#spell-magie-bannen">Magie bannen</a>, <a class="spell falsch" href="#spell-waechtergeister">Wächtergeister</a></div>
    </div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Streitkolben</div> <div class="action_value">Nahkampfwaffenangriff: +2 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 3 (1W6) Wuchtschaden.</div>

    <p>Priester bringen die Lehren ihrer Götter unter das gemeine Volk. Sie sind die spirituellen Anführer von Tempeln und Schreinen und bekleiden in ihren Gemeinschaften oft einflussreiche Positionen. Böse Priester könnten offen für Tyrannen arbeiten oder Sekten vorstehen, die in den dunklen Nischen guter Gesellschaften verderbte Rituale durchführen.</p>
    <p>Ein Priester hat normalerweise mindestens einen Akolythen, der ihm hilft, religiöse Zeremonien zu vollziehen und andere heilige Pflichten zu versehen.</p>
</div>

<div class="monster" id="monster-ritter">
    <h5>Ritter</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">18 (Ritterrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">52 (8W8+16)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">16 (+3)</div>
        <div class="v">11 (+0)</div>
        <div class="v">14 (+2)</div>
        <div class="v">11 (+0)</div>
        <div class="v">11 (+0)</div>
        <div class="v">15 (+2)</div>
    </div>
    <div class="stat_name">Rettungswürfe</div> <div class="stat_value">Kon +4, Wei +2</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">3 (700 EP)</div>
    <hr />
    <div class="trait_name">Tapferkeit</div> <div class="trait_value">Der Ritter ist bei Rettungswürfen gegen den Zustand Verängstigt im Vorteil.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Ritter führt zwei Nahkampfangriffe aus.</div>
    <div class="action_name">Zweihandschwert</div> <div class="action_value">Nahkampfwaffenangriff: +5 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 10 (2W6+3) Hiebschaden.</div>
    <div class="action_name">Schwere Armbrust</div> <div class="action_value">Fernkampfwaffenangriff: +2 auf Treffer, Reichweite 30/120 m, ein Ziel. Treffer: 5 (1W10) Stichschaden.</div>
    <div class="action_name">Führungsqualitäten (wird nach kurzer oder langer Rast aufgeladen)</div> <div class="action_value">Der Ritter kann eine Minute lang einen speziellen Befehl oder eine Warnung aussprechen, wann immer eine Kreatur im Abstand von bis zu neun Metern von ihm, die er sehen kann und die ihm nicht feindlich gesinnt ist, einen Angriffs- oder Rettungswurf ausführt. Diese Kreatur kann ihrem Wurf dann einen W4 hinzufügen, sofern sie den Ritter hören und verstehen kann. Eine Kreatur kann nur von jeweils einem Führungsqualitäten-Würfel profitieren. Dieser Effekt endet, wenn der Ritter kampfunfähig ist.</div>
    <hr />
    <h4>Reaktionen</h4>
    <div class="reaction_name">Parieren</div> <div class="reaction_value">Der Ritter erhöht seine RK gegen einen Nahkampfangriff, der ihn treffen würde, um 2. Dazu muss der Ritter den Angreifer sehen können und eine Nahkampfwaffe führen.</div>

    <p>Ritter sind Krieger in den Diensten von Herrschern, religiösen Orden und edlen Zwecken. Ihre Gesinnung bestimmt das Ausmaß, in dem sie ihren Eid ehren. Auf Missionen und Patrouillen führen Ritter häufig ein Gefolge aus gemeinen Knappen und Mietlingen mit sich.</p>
</div>



<div class="monster" id="monster-schlaeger">
    <h5>Schläger</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede nichtgute Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">11 (Lederrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">32 (5W8+10)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">15 (+2)</div>
        <div class="v">11 (+0)</div>
        <div class="v">14 (+2)</div>
        <div class="v">10 (+0)</div>
        <div class="v">10 (+0)</div>
        <div class="v">11 (+0)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Einschüchtern +2</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/2 (100 EP)</div>
    <hr />
    <div class="trait_name">Rudeltaktik</div> <div class="trait_value">Der Schläger ist bei Angriffswürfen gegen eine Kreatur im Vorteil, wenn sich mindestens einer seiner Verbündeten, der nicht kampfunfähig ist, im Abstand von bis zu 1,5 Metern von der Kreatur befindet.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Schläger führt zwei Nahkampfangriffe aus.</div>
    <div class="action_name">Streitkolben</div> <div class="action_value">Nahkampfwaffenangriff: +4 auf Treffer, Reichweite 1,5 m, eine Kreatur. Treffer: 5 (1W6+2) Wuchtschaden.</div>
    <div class="action_name">Schwere Armbrust</div> <div class="action_value">Fernkampfwaffenangriff: +2 auf Treffer, Reichweite 30/120 m, ein Ziel. Treffer: 5 (1W10) Stichschaden.</div>

    <p>Schläger bedienen sich ruchloser Methoden wie Einschüchterung und Gewalt. Sie arbeiten gegen Geld und haben wenig Skrupel.</p>
</div>



<div class="monster" id="monster-spaeher">
    <h5>Späher</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">13 (Lederrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">16 (3W8+3)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">11 (+0)</div>
        <div class="v">14 (+2)</div>
        <div class="v">12 (+1)</div>
        <div class="v">11 (+0)</div>
        <div class="v">13 (+1)</div>
        <div class="v">11 (+0)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Heimlichkeit +6, Naturkunde +4, Überlebenskunst +5, Wahrnehmung +5</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 15</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/2 (100 EP)</div>
    <hr />
    <div class="trait_name">Scharfes Gehör und scharfer Geruchssinn</div> <div class="trait_value">Der Späher ist bei Weisheitswürfen (Wahrnehmung), die auf Gehör oder Sicht basieren, im Vorteil.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Späher führt zwei Nahkampfangriffe oder zwei Fernkampfangriffe aus.</div>
    <div class="action_name">Kurzschwert</div> <div class="action_value">Nahkampfwaffenangriff: +4 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 5 (1W6+2) Stichschaden.</div>
    <div class="action_name">Langbogen</div> <div class="action_value">Fernkampfwaffenangriff: +4 auf Treffer, Reichweite 45/180 m, ein Ziel. Treffer: 6 (1W8+2) Stichschaden.</div>

    <p>Späher sind fähige Jäger und Fährtenleser, die ihre Sachkunde gegen Geld anbieten. Die meisten jagen Wild, einige arbeiten aber auch als Kopfgeldjäger, dienen als Anführer oder bieten militärische Aufklärung.</p>
</div>



<div class="monster" id="monster-spion">
    <h5>Spion</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">12</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">27 (6W8)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">10 (+0)</div>
        <div class="v">15 (+2)</div>
        <div class="v">10 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">14 (+2)</div>
        <div class="v">16 (+3)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Fingerfertigkeit +4, Heimlichkeit +4, Motiv erkennen +4, Nachforschungen +5, Täuschen +5, Überzeugen +5, Wahrnehmung +6</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 16</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Zwei beliebige Sprachen</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1 (200 EP)</div>
    <hr />
    <div class="trait_name">Hinterhältiger Angriff (1-mal pro Zug)</div> <div class="trait_value">Der Spion bewirkt zusätzlich 7 (2W6) Schaden, wenn er ein Ziel mit einem Waffenangriff trifft und beim Angriffswurf im Vorteil ist, oder wenn das Ziel sich im Abstand von bis zu 1,5 Metern von einem Verbündeten des Spions befindet, der nicht kampfunfähig ist, und der Spion beim Angriffswurf nicht im Nachteil ist.</div>
    <div class="trait_name">Raffinierte Aktion</div> <div class="trait_value">Der Spion kann in jedem seiner Züge die Rückzugs-, Spurt- oder die Verstecken-Aktion als Bonusaktion ausführen.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Spion führt zwei Nahkampfangriffe aus.</div>
    <div class="action_name">Kurzschwert</div> <div class="action_value">Nahkampfwaffenangriff: +4 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 5 (1W6+2) Stichschaden.</div>
    <div class="action_name">Handarmbrust</div> <div class="action_value">Fernkampfwaffenangriff: +4 auf Treffer, Reichweite 9/36 m, ein Ziel. Treffer: 5 (1W6+2) Stichschaden.</div>

    <p>Herrscher, Adelige, Kaufleute, Gildenmeister und andere reiche Personen setzen Spione ein, um in einer Welt halsabschneiderischer Politik die Oberhand zu gewinnen. Spione sind Meister darin, heimlich Informationen zu sammeln. Loyale Spione würden eher sterben, als Informationen preiszugeben, die sie selbst oder ihre Auftraggeber kompromittieren würden.</p>
</div>



<div class="monster" id="monster-stammeskrieger">
    <h5>Stammeskrieger</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">12 (Fellrüstung)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">11 (2W8+2)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">13 (+1)</div>
        <div class="v">11 (+0)</div>
        <div class="v">12 (+1)</div>
        <div class="v">8 (-1)</div>
        <div class="v">11 (+0)</div>
        <div class="v">8 (-1)</div>
    </div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 10</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/8 (25 EP)</div>
    <hr />
    <div class="trait_name">Rudeltaktik</div> <div class="trait_value">Der Stammeskrieger ist bei Angriffswürfen gegen eine Kreatur im Vorteil, wenn sich mindestens einer seiner Verbündeten, der nicht kampfunfähig ist, im Abstand von bis zu 1,5 Metern von der Kreatur befindet.</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Speer</div> <div class="action_value">Nah- oder Fernkampfwaffenangriff: +3 auf Treffer, Reichweite 1,5 m oder Reichweite 6/18 m, ein Ziel. Treffer: 4 (1W6+1) Stichschaden oder 5 (1W8+1) Stichschaden, wenn beidhändig geführt, um einen Nahkampfangriff auszuführen.</div>

    <p>Stammeskrieger leben jenseits der Zivilisation, meist vom Fischfang und der Jagd. Jeder Stamm handelt nach den Wünschen seines Häuptlings, der der stärkste oder älteste Krieger des Stammes oder ein von den Göttern gesegnetes Stammesmitglied ist.</p>
</div>



<div class="monster" id="monster-veteran">
    <h5>Veteran</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">17 (Schienenpanzer)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">58 (9W8+18)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">16 (+3)</div>
        <div class="v">13 (+1)</div>
        <div class="v">14 (+2)</div>
        <div class="v">10 (+0)</div>
        <div class="v">11 (+0)</div>
        <div class="v">10 (+0)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Athletik +5, Wahrnehmung +2</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 12</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">3 (700 EP)</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Mehrfachangriff</div> <div class="action_value">Der Veteran führt zwei Langschwertangriffe durch. Wenn er ein Kurzschwert gezogen hat, kann er auch einen Kurzschwertangriff ausführen.</div>
    <div class="action_name">Kurzschwert</div> <div class="action_value">Nahkampfwaffenangriff: +5 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 6 (1W6+3) Stichschaden.</div>
    <div class="action_name">Langschwert</div> <div class="action_value">Nahkampfwaffenangriff: +5 auf Treffer, Reichweite 1,5 m, ein Ziel. Treffer: 7 (1W8+3) Hiebschaden oder 8 (1W10+3) Hiebschaden bei zweihändiger Führung.</div>
    <div class="action_name">Schwere Armbrust</div> <div class="action_value">Fernkampfwaffenangriff: +3 auf Treffer, Reichweite 30/120 m, ein Ziel. Treffer: 6 (1W10+1) Stichschaden.</div>

    <p>Veteranen sind professionelle Kämpfer, die gegen Bezahlung zu den Waffen greifen - oder um etwas zu schützen, woran sie glauben oder das sie schätzen. Oft sind sie Soldaten, die nach langer Zeit aus dem Dienst ausgeschieden sind, oder Krieger, die immer nur sich selbst gedient haben.</p>
</div>



<div class="monster" id="monster-wache">
    <h5>Wache</h5>
    <div class="type">Mittelgroßer Humanoide (jedes Volk)</div>, <div class="alignment">jede Gesinnung</div>
    <div class="stat_name">Rüstungsklasse</div> <div class="stat_value">16 (Kettenhemd, Schild)</div>
    <div class="stat_name">Trefferpunkte</div> <div class="stat_value">11 (2W8+2)</div>
    <div class="stat_name">Bewegungsrate</div> <div class="stat_value">9 m</div>
    <div class="attributes">
        <div class="a">STR</div>
        <div class="a">GES</div>
        <div class="a">KON</div>
        <div class="a">INT</div>
        <div class="a">WEI</div>
        <div class="a">CHA</div>
        <div class="v">13 (+1)</div>
        <div class="v">12 (+1)</div>
        <div class="v">12 (+1)</div>
        <div class="v">10 (+0)</div>
        <div class="v">11 (+0)</div>
        <div class="v">10 (+0)</div>
    </div>
    <div class="stat_name">Fertigkeiten</div> <div class="stat_value">Wahrnehmung +2</div>
    <div class="stat_name">Sinne</div> <div class="stat_value">Passive Wahrnehmung 12</div>
    <div class="stat_name">Sprachen</div> <div class="stat_value">Eine beliebige Sprache (normalerweise Gemeinsprache)</div>
    <div class="stat_name">Herausforderungsgrad</div> <div class="stat_value">1/8 (25 EP)</div>
    <hr />
    <h4>Aktionen</h4>
    <div class="action_name">Speer</div> <div class="action_value">Nah- oder Fernkampfwaffenangriff: +3 auf Treffer, Reichweite 1,5 m oder Reichweite 6/18 m, ein Ziel. Treffer: 4 (1W6+1) Stichschaden oder 5 (1W8+1) Stichschaden, wenn beidhändig geführt, um einen Nahkampfangriff auszuführen.</div>

    <p>Wachen können Stadtwachen, Zitadellen- oder Festungswächter sowie Leibwachen von Kaufleuten und Adeligen sein.</p>
</div>

</div>