<h3 id="gifte">Gifte</h3>
<p>Aufgrund ihrer heimtückischen und tödlichen Art sind Gifte in den meisten Gesellschaften verboten, jedoch sind sie ein beliebtes Werkzeug für Assassinen, Drow und andere böse Kreaturen.</p>
<p>Gifte wirken auf die folgenden vier Arten.</p>
<p><span class="trait-name">Kontakt:</span> Kontaktgift kann auf Gegenstände aufgetragen werden und behält seine Wirksamkeit, bis es berührt oder abgewaschen wird. Eine Kreatur, die Kontaktgift mit bloßer Haut berührt, leidet unter seinen Effekten.</p>
<p><span class="trait-name">Einnahme:</span> Eine Kreatur muss die gesamte Dosis dieses Gifts zu sich nehmen, um unter den Effekten zu leiden. Die Dosis kann über Nahrung oder Flüssigkeit aufgenommen werden. Du kannst entscheiden, ob eine geringere Dosis einen verringerten Effekt hat, so dass die Kreatur beim Rettungswurf im Vorteil ist oder das Gift bei einem gescheiterten Rettungswurf nur die Hälfte des Schadens verursacht.</p>
<p><span class="trait-name">Einatmen:</span> Bei diesen Giften handelt es sich um Pulver oder Gase, die beim Einatmen wirken. Wird das Pulver zerstäubt oder das Gas freigesetzt, erleiden alle Kreaturen in einem Würfel mit 1,5 Metern Kantenlänge den Effekt Die dadurch entstandene Wolke löst sich kurz darauf auf. Den Atem anzuhalten hilft nicht gegen diese Gifte, da sie auf die Nasenschleimhaut, die Tränenkanäle und andere Körperteile wirken.</p>
<p><span class="trait-name">Verletzung:</span> Verletzungsgift kann auf Waffen, Geschosse, Fallenkomponenten und andere Gegenstände angewendet werden, die Hieb- oder Stichschaden verursachen. Das Gift behält seine Wirksamkeit, bis es durch eine Wunde übertragen oder abgewaschen wird. Eine Kreatur, die von einem Gegenstand Hieb- oder Stichschaden erhält, der mit diesem Gift bedeckt ist, erleidet seinen Effekt.</p>

<h5>Gifte</h5>
<table id="table-gifte">
<tr>
    <th>Gegenstand</th>
    <th>Typ</th>
    <th>Preis pro Dosis</th>
</tr>
<tr><td>Assassinenblut</td><td>Einnahme</td><td>150 GM</td></tr>
<tr><td>Ätheressenz</td><td>Einatmen</td><td>300 GM</td></tr>
<tr><td>Blasse Tinktur</td><td>Einnahme</td><td>250 GM</td></tr>
<tr><td>Bosheit</td><td>Einatmen</td><td>250 GM</td></tr>
<tr><td>Drow-Gift</td><td>Verletzung</td><td>200 GM</td></tr>
<tr><td>Erstarrung</td><td>Einnahme</td><td>600 GM</td></tr>
<tr><td>Kriecherschleim</td><td>Kontakt</td><td>200 GM</td></tr>
<tr><td>Mitternachtstränen</td><td>Einnahme</td><td>1.500 GM</td></tr>
<tr><td>Purpurwurmgift</td><td>Verletzung</td><td>2.000 GM</td></tr>
<tr><td>Schlangengift</td><td>Verletzung</td><td>200 GM</td></tr>
<tr><td>Taggit-Öl</td><td>Kontakt</td><td>400 GM</td></tr>
<tr><td>Verbrannte Othurdämpfe</td><td>Einatmen</td><td>500 GM</td></tr>
<tr><td>Wahrheitsserum</td><td>Einnahme</td><td>150 GM</td></tr>
<tr><td>Wyvern-Gift</td><td>Verletzung</td><td>1.200 GM</td></tr>
</table>
<h4>Beispielgifte</h4>
<p>Jede Art von Gift hat ihre eigenen, schwächenden Eigenschaften.</p>
<p><span class="trait-name">Assassinenblut (Einnahme):</span> Eine Kreatur, die dieses Gift einnimmt, muss einen SG-10-Konstitutionsrettungswurf ausführen. Scheitert der Wurf, erleidet sie 6 (1W12) Giftschaden und ist 24 Stunden lang vergiftet Bei einem erfolgreichen Rettungswurf erleidet die Kreatur halb so viel Schaden und ist nicht vergiftet.</p>
<p><span class="trait-name">Ätheressenz (Einatmen):</span> Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-15-Konstitutionsrettungswurf bestehen, oder sie ist acht Stunden lang vergiftet. Die vergiftete Kreatur ist bewusstlos. Die Kreatur erwacht, wenn sie Schaden erleidet oder von einer anderen Kreatur als Aktion wachgerüttelt wird.</p>
<p><span class="trait-name">Blasse Tinktur (Einnahme):</span> Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-16-Konstitutionsrettungswurf bestehen, oder sie erleidet 3 (1W6) Giftschaden und ist vergiftet. Die vergiftete Kreatur muss den Rettungswurf alle 24 Stunden wiederholen. Scheitert der Wurf, erleidet sie 3 (1W6) Giftschaden. Bis die Wirkung des Gifts nachlässt, kann der von ihm verursachte Schaden auf keine Art geheilt werden. Nach sieben erfolgreichen Rettungswürfen endet der Effekt und die Kreatur kann normal geheilt werden.</p>
<p><span class="trait-name">Bosheit (Einatmen):</span> Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-15-Konstitutionsret-tungswurf bestehen, oder sie ist eine Stunde lang vergiftet. Die vergiftete Kreatur ist blind.</p>
<p><span class="trait-name">Drow-Gift (Verletzung):</span> Dieses Gift wird normalerweise von den Drow an einem Ort hergestellt, der fernab von jeglichem Sonnenlicht liegt. Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-13-Konstitutionsrettungswurf bestehen, oder sie ist eine Stunde lang vergiftet. Wenn der Rettungswurf um mindestens 5 scheitert, ist das Ziel außerdem bewusstlos, solange es auf diese Art vergiftet ist. Die Kreatur erwacht, wenn sie Schaden erleidet oder von einer anderen Kreatur als Aktion wachgerüttelt wird.</p>
<p><span class="trait-name">Erstarrung (Einnahme):</span> Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-15-Konstitutions-rettungswurf bestehen, oder sie ist 4W6 Stunden lang vergiftet Die vergiftete Kreatur ist kampfunfähig.</p>
<p><span class="trait-name">Kriecherschleim (Kontakt):</span> Dieses Gift muss von einem toten oder kampfunfähigen Kriecher entnommen werden. Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-13-Konstitutions-rettungswurf bestehen, oder sie ist eine Minute lang vergiftet. Die vergiftete Kreatur ist gelähmt. Die Kreatur kann den Rettungswurf am Ende jedes ihrer Züge wiederholen und den Effekt bei einem Erfolg beenden.</p>
<p><span class="trait-name">Mitternachtstränen (Einnahme):</span> Eine Kreatur, die dieses Gift einnimmt, erleidet bis Mitternacht keine Effekte. Wird das Gift bis dahin nicht neutralisiert, muss die Kreatur einen SG-17-Konstitutionsrettungswurf ausführen. Scheitert der Wurf, erleidet sie 31 (9W6) Giftschaden, anderenfalls die Hälfte.</p>
<p><span class="trait-name">Purpurwurmgift (Verletzung):</span> Dieses Gift muss einem toten oder kampfunfähigen Purpurwurm entnommen werden. Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-19-Konstitutionsrettungswurf ausführen. Scheitert der Wurf, erleidet sie 42 (12W6) Giftschaden, anderenfalls die Hälfte.</p>
<p><span class="trait-name">Schlangengift (Verletzung):</span> Dieses Gift muss einer toten oder kampfunfähigen Riesengiftschlange entnommen werden. Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-ll-Konstitutions-rettungswurf ausführen. Scheitert der Wurf, erleidet sie 10 (3W6) Giftschaden, anderenfalls die Hälfte.</p>
<p><span class="trait-name">Taggit-Öl (Kontakt):</span> Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-13-Konstitutions-rettungswurf bestehen, oder sie ist 24 Stunden lang vergiftet. Die vergiftete Kreatur ist bewusstlos. Sie wacht auf, wenn sie Schaden erleidet.</p>
<p><span class="trait-name">Verbrannte Othurdämpfe (Einatmen):</span> Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-13-Konstitutionsrettungswurf bestehen, oder sie erleidet 10 (3W6) Giftschaden. Sie muss den Rettungswurf zu Beginn jedes ihrer Züge wiederholen. Bei jedem aufeinanderfolgenden gescheiterten Rettungswurf erleidet die Kreatur 3 (1W6) Giftschaden. Nach drei erfolgreichen Rettungswürfen endet das Gift.</p>
<p><span class="trait-name">Wahrheitsserum (Einnahme):</span> Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-11-Konstitutionsrettungswurf bestehen, oder sie ist eine Stunde lang vergiftet. Die vergiftete Kreatur kann nicht wissentlich lügen, als stünde sie unter dem Effekt des Zaubers <a class="spell" href="#spell-zone-der-wahrheit">Zone der Wahrheit</a>.</p>
<p><span class="trait-name">Wyvern-Gift (Verletzung):</span> Dieses Gift muss einem toten oder kampfunfähigen Wyvern entnommen werden. Eine Kreatur, die diesem Gift ausgesetzt ist, muss einen SG-15-Konstitutionsrettungswurf ausführen. Scheitert der Wurf, erleidet sie 24 (7W6) Giftschaden, anderenfalls die Hälfte.</p>
