body {
    hyphens: auto;
}
h3 {
    color:white;
    margin-top:2em !important;
}
h4 {
    background-color: var(--d3-red);
    color:white;
    padding:1rem;
    margin-bottom:1.5rem;
}
h5 {
    margin-top: 2rem;
}
h6 {
    font-weight:bold;
    margin-top: 2.5rem;
}

.code {
    color:magenta;
}
.code-json {
    margin-left: 1rem;
    margin-right: 1rem;
    padding:0.5rem;
    color:magenta;
    background-color: #eee;
}
.nav-highlight {
    background-color:unset;
}
