:root {
  --d3-red: #ee3333;
  --d3-brightred: #e50712;
  --d3-black: #303030;
  --d3-white: #fff;
  --d3-setoff-bg: #eee;
  --d3-text: #303030;
  --d3-text-contrast: #fff;
  --openrpg-de-primary: rgba(23, 31, 105, 1);
}

#d20 {
    background-image:url(../img/dice-twenty-faces-twenty.svg);
    background-size:cover;
    opacity:0.07;
    position:fixed;
    top:-100px;
    left:-110px;
    height:400px;
    width:400px;
    z-index:9;
    transform:rotate(12deg);
}

#computing {
    background-image:url(../img/computing.svg);
    background-size:cover;
    opacity:0.07;
    position:fixed;
    top:0px;
    left:-20px;
    height:300px;
    width:300px;
    z-index:9;
    transform:rotate(12deg);
}

@media screen {
    body {
        background: url(https://www.dnddeutsch.de/wp-content/uploads/2019/10/footer_lodyas.png) !important;
    }
}

#page {
    margin-left:auto;
    margin-right:auto;
    max-width:92ch;
    background-color:var(--d3-white);
    box-shadow: 0 0 25px 2px black;
    z-index:10;
}

#content {
    margin-left:auto;
    margin-right:auto;
    max-width:80ch;
    font-family: Gudea, sans-serif;
    background-color:var(--d3-white);
    color:var(--d3-text);
    padding-bottom:4em;
    padding-top:3em;
    margin-top:5em;
    z-index:11;
}

@media screen and (max-width: 1024px) {
    #page, #content {
        max-width:unset;
        width:100%;
        margin-left: unset;
        margin-right: unset;
    }
}

h1 {
    text-align:center;
    hyphens: auto;
}

h2 {
    background-color:var(--d3-red);
    color:var(--d3-white);
    padding:0.5em 1em;
    margin-top:5em;
    margin-bottom:2em;
    font-weight: bold;
    hyphens: auto;
}
h2+h2 {
    margin-top:-1em;
}
h3 {
    background-color:var(--d3-black);
    color:var(--d3-white);
    padding:0.5em 1em;
    font-weight: bold;
    margin-top:3em;
    margin-bottom:2em;
}
h4 {
    margin-top:2em;
    margin-bottom:1em;
    border-bottom: 4px solid var(--d3-red);
    font-size:1.2em;
    font-weight: bold;
}
h5 {
    margin-top:2em;
    margin-bottom:1em;
    border-bottom: 2px solid var(--d3-black);
    font-size:1em;
    font-weight: bold;
}

img {
    vertical-align:middle;
}

.trait-name {
    font-style: italic;
    font-weight: bold;
}
.feature-name {
    font-weight: bold;
}
.nameref {
    font-style: italic;
}
table:not(.noborder), table {
    border-spacing:0;
    margin-bottom:2em;
    margin-top:1em;
}
table:not(.noborder) td, table:not(.noborder) th {
    border-left:1px solid silver;
    border-bottom:1px solid silver;
    margin:0;
    padding:6px;
}
table:not(.noborder) tr:first-child th {
    border-top:1px solid silver;
}
table:not(.noborder) td:last-child, table:not(.noborder) th:last-child {
    border-right:1px solid silver;
}
table:not(.noborder) th {
    background-color:var(--d3-setoff-bg);
}

.boxed {
    background-color:var(--d3-setoff-bg);
    border:1ps solid var(--d3-black);
    padding:1em;
    margin-bottom:1em;
}
.boxed h5 {
    margin-top:0;
}

div.monster, div.spell, div.magicitem {
    border: 4px solid var(--d3-red);
    padding:1em;
    line-height:1.5em;
    margin-bottom:3em;
}
.monster div {
    display:inline;
}
.monster hr {
    border:none;
}
div.monster h5, div.spell h5, div.magicitem h5 {
    border-bottom: none;
    font-size:1.25em;
    color:var(--d3-red);
    margin-bottom:0.25;
    margin-top:0;
    font-weight:bold;
    cursor:pointer;
}
.monster .type {
    font-style:italic;
}
.monster .alignment {
    font-style:italic;
}
.monster .alignment::after, .monster .stat_value::after, .monster .attributes::after, .monster .trait_value::after, .monster .action_value::after, .monster .legendary_action_value::after, .monster .prepared_spell_list::after, .monster .innate_spell_list::after {
    content: "\a";
    white-space: pre;
}
.monster .trait_name::after, .monster .action_name::after, .monster .legendary_action_name::after, .monster .prepared_spell_level::after, .monster .innate_spell_frequency::after {
    content: ":";
}
.monster .prepared_spell_level, .monster .innate_spell_frequency {
    padding-left:1.75em;
}

.monster .stat_name {
    font-weight:bold;
}

.monster .trait_name, .monster .prepared_spell_level, .monster .innate_spell_frequency {
    font-weight:bold;
    font-style:italic;
}

.monster .action_name, .monster .legendary_action_name {
    font-weight:bold;
    font-style:italic;
}

.monster .attributes {
    display:flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid var(--d3-black);
    border-bottom: 1px solid var(--d3-black);
}
.monster .attributes .a {
    flex:1;
    min-width:15%;
    font-weight:bold;
    text-align:center;
}
.monster .attributes .v {
    flex:1;
    min-width:15%;
    text-align:center;
}

.sidebar-toggle {
    position:fixed;
    top:50px;
    right:10px;
    width:20px;
    text-align:left;
    transition-duration: 300ms;
    transition-property: width;
    cursor:pointer;
}
.sidebar-toggle:hover {
    width:40px;
}

nav {
    z-index:100;
}

nav a {
    color:var(--d3-white) !important;
}
nav a.dropdown-item {
    color:var(--d3-black) !important;
}

/*--------------------------------------------------------------
# - Footer
--------------------------------------------------------------*/
.footer-wrap {
	background: var(--d3-black);
}

.site-footer .site-info {
	padding: 3em;
	color: var(--d3-text-contrast);
}

.site-footer a:link,
.site-footer a:visited {
	color: var(--d3-text-contrast);
	text-decoration: underline;
}

.site-footer a:hover,
.site-footer a:active {
	text-decoration: none;
}

#footer.d3 {
    position:relative;
}
#footer.d3 #footer-text {
    padding-top:100px;
    margin-top:5%;
}
#footer.d3:before {
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    pointer-events:none;
    background-position: center top 30px;
    background-repeat: no-repeat;
    background-size: auto 70px;
    background-image:url(https://www.dnddeutsch.de/wp-content/uploads/2023/01/d3_grey.png);
    opacity:0.4;
}

.trennlinie {
    width:100%;
    height: 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(https://www.dnddeutsch.de/wp-content/uploads/2020/04/trennlinie-weiss.png);
    opacity:0.12;
    cursor:unset;
}

.centered {
    text-align:center;
}

.modal-body h5 {
    margin-top:0;
    font-weight:bold;
    font-size:1.5em;
}

.spinner.w20 {
    margin-left:auto;
    margin-right:auto;
    width:200px;
}


.spell .school {
    font-style:italic;
}
.spell .time {
    margin-top:1em;
}
.spell .duration {
    margin-bottom:1em;
}

#popup div.monster, #popup div.spell, #popup div.magicitem {
    border: none;
    padding-top:0;
    padding-bottom:0;
}

#popup h5 {
    cursor:unset;
}

.submenumarker {
    right: 0.5em;
    position: absolute;
    top: 0.6em;
}
@media screen and (max-width: 1200px) {
    .submenumarker {
        display:none;
    }
}

div.monster h5.variante {
    border-top: 2px dashed var(--d3-black);
    margin-top:2em;
    padding-top:1em;
}

.monster p:first-of-type {
    border-top: 2px dashed var(--d3-black);
    margin-top:2em;
    padding-top:2em;
}

/* -------------------------------------------------------------------- */
/* SCROLLBARS                                                           */
/* -------------------------------------------------------------------- */

* {
  scrollbar-width: normal;
  scrollbar-color: var(--d3-red) var(--bs-light);
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--bs-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--d3-red);
  border: 4px solid var(--bs-light);
}

.search-highlight {
    background-color:var(--bs-info);
}
.nav-highlight {
    font-weight:bolder;
    background-color:var(--bs-gray-300);
}

.searchresult {
    margin-top:1em;
    margin-bottom:1em;
}
.searchresult:hover {
    background-color:var(--bs-info);
}

#where-am-i {
    position:fixed;
    bottom:1em;
    left: 1em;
    color:var(--d3-white);
    font-weight:bold;
    font-size:130%;
    padding-top:1em;
    padding-left:1em;
    opacity:0.7;
    z-index:1;
}
#where-am-i a {
    color:unset;
    text-decoration:none;
}

h1 .permalink, h2 .permalink, h3 .permalink, h4 .permalink, h5 .permalink, h6 .permalink {
    opacity:0;
    transition-duration: 200ms;
    font-size:60%;
    vertical-align: super;
    color: inherit;
}

h1:hover .permalink, h2:hover .permalink, h3:hover .permalink, h4:hover .permalink, h5:hover .permalink, h6:hover .permalink {
    opacity:1;
}

.permalink-display {
    flex-grow:1;
}



.navbar-brand svg {
    height:40px;
    width:auto;
}
.navbar-brand svg .outline {
    fill:white;
}
.navbar-brand svg .fill {
    fill:var(--primary);
}
.navbar-brand svg .text {
    fill:white;
}
.navbar-brand svg .ruler {
    fill:white;
}
.navbar-brand svg:hover {
    filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 0.8));
}
.navbar-brand svg:hover #Shield .fill {
    filter: drop-shadow(0px 0px 25px rgb(255 255 255 / 0.8));
    opacity:0.7;
}
.navbar-brand svg:hover #Pen {
    transform:rotate(180deg) scaleX(-1);
    transform-origin: center;
}

.open-d3-logo svg {
    margin-left:2em;
    height:40px;
    width:auto;
}
.open-d3-logo .text {
    fill:var(--d3-black);
}
.open-d3-logo .shape {
    fill:white;
}
.open-d3-logo:hover .text {
    fill:white;
}
.open-d3-logo:hover .shape {
    fill:var(--openrpg-de-primary);
}
.open-d3-logo:hover {
    filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 1));
}

footer.openrpg {
    background-color: var(--d3-black);
}
footer.openrpg a:not(.open-d3-logo) {
    color: var(--light);
    border-bottom: 3px solid transparent;
}
footer.openrpg a:not(.open-d3-logo):hover {
    text-decoration:none;
    color: var(--light);
    border-color: var(--light);
}
footer.openrpg .open-d3-logo svg {
    margin-left:0.5em;
}