<h3 id="drachenbluetige">Drachenblütige</h3>
<h4>Merkmale der Drachenblütigen</h4>
<p>Deine drakonische Herkunft manifestiert sich in einer Vielzahl von Merkmalen, die du mit anderen Drachenblütigen teilst.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Stärkewert steigt um 2 und dein Charismawert um 1.</p>
<p><span class="trait-name">Alter:</span> Junge Drachenblütige wachsen schnell. Wenige Stunden nach dem Schlüpfen können sie bereits laufen, mit drei Jahren sehen sie aus wie ein zehnjähriges menschliches Kind, und sie gelten mit etwa 15 als erwachsen. Sie werden um die 80 Jahre alt.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt neun Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Drachenblütige neigen zu Extremen und treffen im kosmischen Krieg zwischen Gut und Böse eine bewusste Wahl für die eine oder andere Seite. Die meisten Drachenblütigen sind gut, aber jene, die sich auf die Seite des Bösen stellen, können schreckliche Übeltäter sein.</p>
<p><span class="trait-name">Größe:</span> Drachenblütige sind mit ihren über 1,8 Metern und etwa 125 Kilogramm weit größer und schwerer als Menschen. Deine Größenkategorie ist mittelgroß.</p>
<h4>Drakonische Abstammung</h4>
<table id="table-drakonische-abstammung">
<tr>
    <th>Drache</th>
    <th>Schadensart</th>
    <th>Odemwaffe</th>
</tr>
<tr><td>Blau</td><td>Blitz</td><td>1,5 m x 9 m, Linie (Ges.-RW)</td></tr>
<tr><td>Bronze</td><td>Blitz</td><td>1,5 m x 9 m, Linie (Ges.-RW)</td></tr>
<tr><td>Gold</td><td>Feuer</td><td>4,5 m, Kegel (Ges.-RW)</td></tr>
<tr><td>Grün</td><td>Gift</td><td>4,5 m, Kegel (Kon.-RW)</td></tr>
<tr><td>Kupfer</td><td>Säure</td><td>1,5 m x 9 m, Linie (Ges.-RW)</td></tr>
<tr><td>Messing</td><td>Feuer</td><td>1,5 m x 9 m, Linie (Ges.-RW)</td></tr>
<tr><td>Rot</td><td>Feuer</td><td>4,5 m, Kegel (Ges.-RW)</td></tr>
<tr><td>Schwarz</td><td>Säure</td><td>1,5 m x 9 m, Linie (Ges.-RW)</td></tr>
<tr><td>Silber</td><td>Kälte</td><td>4,5 m, Kegel (Kon.-RW)</td></tr>
<tr><td>Weiß</td><td>Kälte</td><td>4,5 m, Kegel (Kon.-RW)</td></tr>
</table>
<p><span class="trait-name">Drakonische Abstammung:</span> Deine Vorfahren waren Drachen. Wähle eine Drachenart aus der Tabelle „Drakonische Abstammung&quot; aus. Deine Odemwaffe und deine Schadensresistenz werden von der ausgewählten Drachenart bestimmt.</p>
<p><span class="trait-name">Odemwaffe:</span> Du kannst eine Aktion verwenden, um zerstörerische Energie auszuatmen. Deine drakonische Abstammung bestimmt die Größe, Form und Schadensart der Odemwaffe.</p>
<p>Wenn du deine Odemwaffe verwendest, muss jede Kreatur im Wirkungsbereich einen Rettungswurf ausführen, dessen Art von deiner drakonischen Abstammung bestimmt wird. Der Rettungswurf-SG für diesen Wurf ist 8 + dein Konstitutionsmodifikator + dein Übungsbonus. Scheitert der Wurf, erleidet eine Kreatur 2W6 Schaden, anderenfalls die Hälfte.</p>
<p>Der Schaden steigt auf der 6. Stufe auf 3W6, auf der 11. Stufe auf 4W6 und auf der 16. Stufe auf 5W6.</p>
<p>Nach dem Einsatz deiner Odemwaffe kannst du sie erst nach einer kurzen oder langen Rast erneut verwenden.</p>
<p><span class="trait-name">Schadensresistenz:</span> Du bist gegen die Schadensart resistent, die mit deiner drakonischen Abstammung assoziiert ist.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl Drakonisch als auch die Gemeinsprache sprechen, lesen und schreiben. Drakonisch gilt als eine der ältesten Sprachen und wird oft beim Studium der Magie verwendet.</p>
<p>Die Sprache klingt für die meisten anderen Kreaturen harsch, da sie zahlreiche harte Konsonanten und Zischlaute enthält.</p>
