<h3 id="elf">Elf</h3>
<h4>Merkmale der Elfen</h4>
<p>Dein Elfencharakter verfügt über eine Vielzahl natürlicher Fähigkeiten, die auf Tausenden von Jahren elfischer Kultur beruhen.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Geschicklichkeitswert steigt um 2.</p>
<p><span class="trait-name">Alter:</span> Obwohl Elfen die körperliche Reife etwa im gleichen Alter wie Menschen erlangen, übersteigt das elfische Verständnis von Erwachsensein rein physische Aspekte und schließt Lebenserfahrung mit ein. Ein Elf erklärt sich typischerweise mit etwa 100 Jahren als erwachsen, wählt einen Erwachsenennamen und kann bis zu 750 Jahre alt werden.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt neun Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Da Elfen freiheitsliebend sind und großen Wert auf Vielfalt und Selbstverwirklichung legen, tendieren sie zu den sanfteren Aspekten des Chaos. Sie wertschätzen und verteidigen die Freiheit anderer wie ihre eigene und sind in den meisten Fällen von guter Gesinnung.</p>
<p><span class="trait-name">Größe:</span> Elfen sind zwischen 1,5 und 1,8 Meter groß und eher schlank gebaut Deine Größenkategorie ist mittelgroß.</p>
<p><span class="trait-name">Dunkelsicht:</span> Da du an zwielichtige Wälder und den Nachthimmel gewöhnt bist, besitzt du sowohl in Dunkelheit als auch in dämmrigem Licht überlegene Sicht. Im Radius von 18 Metern kannst du in dämmrigem Licht wie in hellem Licht sehen, bei Dunkelheit wie in dämmrigem Licht. Allerdings kannst du im Dunkeln keine Farben, sondern nur Graustufen erkennen.</p>
<p><span class="trait-name">Scharfe Sinne:</span> Du bist in der Fertigkeit Wahrnehmung geübt.</p>
<p><span class="trait-name">Feenblut:</span> Du bist bei Rettungswürfen gegen Bezaubert im Vorteil und gegen Schlafzauber immun.</p>
<p><span class="trait-name">Trance:</span> Elfen müssen nicht schlafen. Stattdessen verweilen sie täglich für vier Stunden in tiefer Meditation in einem halbwachen Zustand. (Das Wort der Gemeinsprache für eine derartige Meditation ist „Trance&quot;.) Während du meditierst, kannst du nach Belieben träumen, was einer mentalen Übung gleichkommt, die über Jahre zum Reflex wurde. Nachdem du dich auf diese Weise ausgeruht hast, erhältst du die gleichen Vorzüge wie ein Mensch, der acht Stunden geschlafen hat.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl Elfisch als auch die Gemeinsprache sprechen, lesen und schreiben. Elfisch ist eine fließende Sprache mit feinen Betonungen und einer komplizierten Grammatik. Die Literatur der Elfen ist reichhaltig und vielschichtig, ihre Lieder und Gedichte sind auch bei anderen Völkern bekannt Viele Barden lernen diese Sprache, damit sie ihrem Repertoire um elfische Balladen ergänzen können.</p>
<h4>Hochelfen</h4>
<p>Als Hochelf verfügst du über einen scharfen Verstand und hast zumindest die Grundlagen der Magie bereits gemeistert. In vielen Fantasy-Spielwelten gibt es zwei Arten von Hochelfen. Die eine Art ist hochnäsig und einsiedlerisch und sieht sich Nichtelfen und sogar anderen Elfen gegenüber als überlegen. Die zweite Art ist verbreiteter und freundlicher, man trifft sie oft unter Menschen und anderen Völkern an.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Intelligenzwert steigt um 1.</p>
<p><span class="trait-name">Elfische Waffenvertrautheit:</span> Du bist im Umgang mit dem Kurzschwert, Langschwert, Kurzbogen und Langbogen geübt.</p>
<p><span class="trait-name">Zaubertrick:</span> Du beherrschst einen Zaubertrick deiner Wahl aus der Zauberliste des Magiers. Dein Attribut zum Zauberwirken ist dabei deine Intelligenz.</p>
<p><span class="trait-name">Zusätzliche Sprache:</span> Du kannst eine zusätzliche Sprache deiner Wahl sprechen, lesen und schreiben.</p>
