<h3 id="gnom">Gnom</h3>
<h4>Merkmale der Gnome</h4>
<p>Dein Gnomencharakter hat bestimmte Merkmale mit allen anderen Gnomen gemein.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Intelligenzwert steigt um 2.</p>
<p><span class="trait-name">Alter:</span> Gnome entwickeln sich ebenso schnell wie Menschen und erreichen mit etwa 40 Jahren das Erwachsenenalter. Sie können 350 bis fast 500 Jahre alt werden.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt 7,5 Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Gnome sind meist guter Gesinnung. Jene, die eher zu rechtschaffen tendieren, werden Weise, Ingenieure, Forscher, Gelehrte, Ermittler oder Erfinder. Diejenigen, die zum Chaos neigen, leben oft als Minnesänger, Gauner, Wanderer oder fantasievolle Juweliere. Gnome sind gutherzig, und selbst die Gauner unter ihnen verhalten sich eher verspielt als bösartig.</p>
<p><span class="trait-name">Größe:</span> Gnome sind zwischen 90 Zentimeter und 1,2 Meter groß und wiegen um die 20 Kilogramm. Deine Größenkategorie ist klein.</p>
<p><span class="trait-name">Dunkelsicht:</span> Das Leben unter der Erde hat dazu geführt, dass du sowohl in Dunkelheit als auch in dämmrigem Licht eine überlegene Sicht hast. Im Radius von 18 Metern kannst du in dämmrigem Licht wie in hellem Licht sehen, bei Dunkelheit wie in dämmrigem Licht. Allerdings kannst du im Dunkeln keine Farben, sondern nur Graustufen erkennen.</p>
<p><span class="trait-name">Gnomische Gerissenheit:</span> Du bist bei Intelligenz-, Weisheits- und Charismarettungswürfen im Vorteil.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl die Gemeinsprache als auch Gnomisch sprechen, lesen und schreiben. Die gnomische Sprache bedient sich der zwergischen Schrift und ist bekannt für ihre technischen Abhandlungen und Wissenskataloge über die Natur.</p>
<h4>Felsengnom</h4>
<p>Als Felsengnom besitzt du einen natürlichen Einfallsreichtum und eine Zähigkeit, die die anderer Gnome übertrifft.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Konstitutionswert steigt um 1.</p>
<p><span class="trait-name">Artefaktkunde:</span> Wann immer du einen Intelligenzwurf (Geschichte) im Zusammenhang mit magischen Gegenständen, alchemistischen Objekten oder technischen Gerätschaften ausführst, darfst du den doppelten, statt den einfachen Übungsbonus hinzuaddieren.</p>
<p><span class="trait-name">Tüftler:</span> Du bist im Umgang mit Handwerkszeug (Tüftlerwerkzeug) geübt. Mit diesem Werkzeug kannst du eine Stunde und Material im Wert von 10 GM nutzen, um ein winziges Uhrwerkgerät (RK 5, 1 TP) zu bauen. Dieses Gerät funktioniert nach 24 Stunden nicht mehr - es sei denn, du verbringst eine Stunde damit, es funktionsfähig zu halten. Du kannst auch eine Aktion verwenden, um es zu zerlegen und die bei der Herstellung verwendeten Materialien zurückzubekommen. Du kannst bis zu drei derartige aktive Geräte besitzen.</p>
<p>Wenn du ein Gerät herstellst, wähle eine der folgenden Optionen:</p>
<p><span class="nameref">Anzünder:</span> Das Gerät erzeugt eine winzige Flamme, mit der eine Kerze, eine Fackel oder ein Lagerfeuer angezündet werden kann. Das Verwenden des Geräts erfordert eine Aktion.</p>
<p><span class="nameref">Spieluhr:</span> Beim Öffnen spielt diese Spieluhr ein Lied in moderater Lautstärke. Die Spieluhr verstummt, wenn das Lied zu Ende ist oder wenn sie geschlossen wird.</p>
<p><span class="nameref">Uhrwerk-Spielzeug:</span> Dieses Spielzeug kann ein Tier, ein Monster oder eine Person darstellen, beispielsweise einen Frosch, eine Maus, einen Drachen oder einen Soldaten. Wird es auf den Boden gesetzt, bewegt sich das Spielzeug in jedem deiner Züge 1,5 Meter in eine zufällige Richtung. Es macht Geräusche, die der Kreatur entsprechen, die es darstellt.</p>
