<h3 id="halbork">Halbork</h3>
<h4>Merkmale der Halborks</h4>
<p>Dein Halborkcharakter besitzt bestimmte Merkmale, die er seiner orkischen Herkunft verdankt.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Stärkewert steigt um 2 und deine Konstitution um 1.</p>
<p><span class="trait-name">Alter:</span> Halborks entwickeln sich etwas schneller als Menschen und erreichen das Erwachsenenalter mit etwa 14 Jahren. Sie altern merklich schneller und werden selten älter als 75 Jahre.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt neun Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Halborks neigen wie ihre orkischen Vorfahren zum Chaos und fühlen sich nicht besonders zum Guten hingezogen. Jene, die unter Orks aufgewachsen und gewillt sind, unter ihnen zu leben, sind meist böse.</p>
<p><span class="trait-name">Größe:</span> Halborks sind etwas größer und stämmiger als Menschen und werden 1,5 bis weit über 1,8 Meter groß. Deine Größenkategorie ist mittelgroß.</p>
<p><span class="trait-name">Dunkelsicht:</span> Dank deines orkischen Blutes besitzt du sowohl in Dunkelheit als auch in dämmrigem Licht überlegene Sicht. Im Radius von 18 Metern kannst du in dämmrigem Licht wie in hellem Licht sehen, bei Dunkelheit wie in dämmrigem Licht. Allerdings kannst du im Dunkeln keine Farben, sondern nur Graustufen erkennen.</p>
<p><span class="trait-name">Bedrohlich:</span> Du bist in der Fertigkeit Einschüchtern geübt.</p>
<p><span class="trait-name">Unermüdliches Durchhaltevermögen:</span> Wenn deine Trefferpunkte auf 0 sinken, du aber nicht direkt stirbst, behältst du stattdessen noch 1 Trefferpunkt. Du kannst dieses Merkmal erst nach einer langen Rast erneut verwenden.</p>
<p><span class="trait-name">Wilde Angriffe:</span> Wenn du mit einem Nahkampfwaffenangriff einen kritischen Treffer erzielst, kannst du einen der Schadenswürfel der Waffe ein weiteres Mal würfeln und das Ergebnis zum Zusatzschaden des kritischen Treffers addieren.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl die Gemeinsprache als auch Orkisch sprechen, lesen und schreiben. Orkisch ist eine harsche, kratzig klingende Sprache mit harten Konsonanten. Sie besitzt keine eigene Schrift, sondern verwendet zwergische Zeichen.</p>
