<h3 id="halbling">Halbling</h3>
<h4>Merkmale der Halblinge</h4>
<p>Dein Halblingcharakter hat eine Reihe von Merkmalen mit allen anderen Halblingen gemein.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Geschicklichkeitswert steigt um 2.</p>
<p><span class="trait-name">Alter:</span> Ein Halbling erreicht mit 20 Jahren das Erwachsenenalter und lebt bis etwa zur Hälfte seines oder ihres zweiten Lebensjahrhunderts.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt 7,5 Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Die meisten Halblinge sind rechtschaffen gut. Generell sind sie mitfühlend, warmherzig und freundlich und tolerieren keine Form der Unterdrückung. Sie mögen geordnete Verhältnisse und sind traditionell veranlagt. Dabei vertrauen sie auf den Halt ihrer Gemeinschaft und den Komfort des Althergebrachten.</p>
<p><span class="trait-name">Größe:</span> Halblinge sind im Schnitt etwa 90 Zentimeter groß und wiegen dabei um die 20 Kilogramm. Deine Größenkategorie ist klein.</p>
<p><span class="trait-name">Halblingsglück:</span> Würfelst du mit einem W20 bei einem Angriffs-, Attributs- oder Rettungswurf eine 1, darfst du den Wurf wiederholen, musst das zweite Ergebnis aber verwenden.</p>
<p><span class="trait-name">Tapferkeit:</span> Du bist bei Rettungswürfen gegen Verängstigt im Vorteil.</p>
<p><span class="trait-name">Halblingsgewandheit:</span> Du kannst dich durch den Bereich aller anderen Kreaturen bewegen, die einer höheren Größenkategorie angehören.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl die Gemeinsprache als auch Halblingisch sprechen, lesen und schreiben. Die Sprache der Halblinge ist zwar nicht geheim, doch wird sie ungern mit anderen geteilt. Sie schreiben sehr wenig, daher gibt keine umfangreiche Literatur. Die mündliche Überlieferung ist bei ihnen hingegen weit verbreitet. Fast alle Halblinge bedienen sich der Gemeinsprache, um sich mit den Völkern zu unterhalten, in deren Ländern sie wohnen oder durch deren Länder sie reisen.</p>
<h4>Leichtfuß-Halblinge</h4>
<p>Als Leichtfuß-Halbling kannst du dich mühelos verstecken und sogar andere Personen als Deckung verwenden. Du neigst dazu, umgänglich zu sein und gut mit anderen auszukommen.</p>
<p>Leichtfüße sind anfälliger für Fernweh als andere Halblinge und leben oft zusammen mit anderen Völkern oder pflegen einen nomadischen Lebensstil.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Charismawert steigt um 1.</p>
<p><span class="trait-name">Angeborene Verstohlenheit:</span> Du kannst sogar versuchen, dich zu verstecken, wenn du von einer Kreatur verdeckt wirst, die mindestens eine Kategorie größer ist als du.</p>
