<h3 id="halbelf">Halbelf</h3>
<h4>Merkmale der Halbelfen</h4>
<p>Dein Halbelfencharakter hat einige Merkmale mit Elfen gemein, während andere für dieses Volk einzigartig sind.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Charismawert steigt um 2, zwei andere Attributswerte deiner Wahl steigen um 1.</p>
<p><span class="trait-name">Alter:</span> Halbelfen entwickeln sich etwa ebenso schnell wie Menschen und erreichen das Erwachsenenalter mit rund 20 Jahren. Allerdings leben sie viel länger als Menschen und werden oft älter als 180 Jahre.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt neun Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Halbelfen besitzen die chaotische Neigung ihrer elfischen Vorfahren. Sie schätzen sowohl die persönliche Freiheit als auch den kreativen Ausdruck, hegen keine Sympathie für Anführer und legen keinen Wert auf Gefolgsleute. Oft scheren sie sich nicht um Regeln, missachten die Ansprüche anderer und erweisen sich zuweilen als unzuverlässig oder zumindest unberechenbar.</p>
<p><span class="trait-name">Größe:</span> Halbelfen sind mit ihren 1,5 bis 1,8 Metern ungefähr so groß wie Menschen. Deine Größenkategorie ist mittelgroß.</p>
<p><span class="trait-name">Dunkelsicht:</span> Dank deines elfischen Blutes besitzt du sowohl in Dunkelheit als auch in dämmrigem Licht überlegene Sicht. Im Radius von 18 Metern kannst du in dämmrigem Licht wie in hellem Licht sehen, bei Dunkelheit wie in dämmrigem Licht. Allerdings kannst du im Dunkeln keine Farben, sondern nur Graustufen erkennen.</p>
<p><span class="trait-name">Feenblut:</span> Du bist bei Rettungswürfen gegen Bezaubert im Vorteil und gegen Schlafzauber immun.</p>
<p><span class="trait-name">Vielseitigkeit:</span> Du bist in zwei Fertigkeiten deiner Wahl geübt.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl Elfisch und die Gemeinsprache als auch eine zusätzliche Sprache deiner Wahl sprechen, lesen und schreiben.</p>
