<h2 id="voelker">Völker</h2>

<h4>Volksmerkmale</h4>
<p>Die Beschreibung jedes Volkes enthält bestimmte Merkmale, die unter dessen Angehörigen weit verbreitet sind. Folgende Einträge finden sich in den meisten Volksmerkmalen.</p>
<h5>Alter</h5>
<p>Dieser Eintrag gibt an, ab welchem Zeitpunkt ein Angehöriger dieses Volkes als erwachsen angesehen wird, sowie die übliche Lebensspanne. Diese Informationen können dir bei der Entscheidung helfen, wie alt dein Charakter zu Beginn des Spiels sein soll. Du kannst dich für ein beliebiges Alter entscheiden und hast dadurch gleichzeitig eine Erklärung für einige deiner Attributswerte. Spielst du beispielsweise einen jungen oder sehr alten Charakter, könnte das erklären, warum deine Stärke oder Konstitution besonders niedrig ist Andererseits ist ein fortgeschrittenes Alter vielleicht der Grund dafür, dass der Intelligenz- oder Weisheitswert überdurchschnittlich hoch ist.</p>
<h5>Attributswerterhöhung</h5>
<p>Bei jedem Volk werden ein oder mehrere Attributswerte des Charakters erhöht.</p>
<h5>Bewegungsrate</h5>
<p>Deine Bewegungsrate bestimmt, welche Strecke du auf Reisen (siehe „Abenteuer&quot;) und im Kampf (siehe „Kampf&quot;) zurücklegen kannst.</p>
<h5>Gesinnung</h5>
<p>Die meisten Völker neigen zu bestimmten Gesinnungen, die in diesem Eintrag beschrieben sind. Diese sind für den Spielercharakter zwar nicht bindend, doch wenn du dir beispielsweise überlegst, warum dein Zwerg trotz der zum Großteil rechtschaffenen Zwergengesellschaft chaotisch ist, kannst du deinen Charakter besser ausarbeiten.</p>
<h5>Größe</h5>
<p>Die Charaktere der meisten Völker sind mittelgroß, eine Größenkategorie, die Kreaturen zwischen 1,2 und 2,4 Meter Größe umfasst. Nur die Angehörigen weniger Völker sind klein (zwischen 60 Zentimeter und 1,2 Meter groß), weshalb sich einige Regeln des Spiels anders auf sie auswirken. Die entscheidendste Regel ist, dass kleine Charaktere schwere Waffen nur schlecht handhaben können, wie unter „Ausrüstung&quot; beschrieben ist.</p>
<h5>Sprachen</h5>
<p>Aufgrund seiner Volkszugehörigkeit kann dein Charakter bestimmte Sprachen sprechen, lesen und schreiben.</p>
<h5>Volksunterarten</h5>
<p>Einige Völker weisen Unterarten auf. Deren Angehörigen besitzen zusätzlich zu den Merkmalen des Ursprungsvolks auch Merkmale ihrer Unterart. Die Beziehungen zwischen den Unterarten unterscheiden sich stark von Volk zu Volk und von Welt zu Welt.</p>
