<h3 id="mensch">Mensch</h3>
<h4>Merkmale der Menschen</h4>
<p>Es ist schwer, allgemeine Aussagen über Menschen zu treffen, aber dein Menschencharakter besitzt folgende Merkmale.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Jeder deiner Attributswerte steigt um 1.</p>
<p><span class="trait-name">Alter:</span> Menschen erreichen das Erwachsenenalter mit 16 bis 20 Jahren und leben weniger als ein Jahrhundert.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt neun Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Menschen neigen nicht zu einer bestimmten Gesinnung. Unter ihnen finden sich die Besten und die Schlimmsten.</p>
<p><span class="trait-name">Größe:</span> Körperbau und Wuchs der Menschen schwanken stark, sie werden von kaum 1,5 bis weit über 1,8 Meter groß. Unabhängig davon, wo du in dieser Spanne angesiedelt bist, ist deine Größenkategorie mittelgroß.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl die Gemeinsprache als auch eine zusätzliche Sprache deiner Wahl sprechen, lesen und schreiben. Typischerweise lernen Menschen die Sprachen der Völker, mit denen sie am meisten zu tun haben - sogar obskure Dialekte. Sie streuen beim Reden gern Wörter aus anderen Sprachen ein: orkische Flüche, elfische musikalische Ausdrücke, zwergische Militärbegriffe und dergleichen.</p>
