<h3 id="tiefling">Tiefling</h3>
<h4>Merkmale der Tieflinge</h4>
<p>Tieflinge teilen sich aufgrund ihrer infernalischen Abstammung bestimmte Volksmerkmale.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Intelligenzwert steigt um 1 und dein Charismawert um 2.</p>
<p><span class="trait-name">Alter:</span> Tieflinge werden etwa ebenso schnell wie Menschen erwachsen, leben jedoch einige Jahre länger.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt neun Meter.</p>
<p><span class="trait-name">Gesinnung:</span> Tieflinge mögen keine angeborene Neigung zum Bösen besitzen, werden allerdings oftmals böse. Ob böse oder nicht, haben sie dank ihrer unabhängigen Natur häufig eine chaotische Gesinnung.</p>
<p><span class="trait-name">Größe:</span> Tieflinge haben in etwa dieselbe Größe und einen ähnlichen Körperbau wie Menschen. Deine Größenkategorie ist mittelgroß.</p>
<p><span class="trait-name">Dunkelsicht:</span> Deine infernalische Herkunft verschafft dir eine überlegene Sicht sowohl in Dunkelheit als auch in dämmrigem Licht. Im Radius von 18 Metern kannst du in dämmrigem Licht wie in hellem Licht sehen, bei Dunkelheit wie in dämmrigem Licht. Allerdings kannst du im Dunkeln keine Farben, sondern nur Graustufen erkennen.</p>
<p><span class="trait-name">Höllische Resistenz:</span> Du bist gegen Feuerschaden resistent.</p>
<p><span class="trait-name">Infernalisches Erbe:</span> Du kennst den Zaubertrick <a class="spell" href="#spell-thaumaturgie">Thaumaturgie</a>. Ab der 3. Stufe kannst du dank dieses Merkmals einmal am Tag <a class="spell" href="#spell-hoellischer-tadel">Höllischer Tadel</a> wirken, einen Zauber des 2. Grades. Er steht dir erst nach einer langen Rast wieder zur Verfügung. Ab der 5. Stufe kannst du dank dieses Merkmals einmal am Tag den Zauber <a class="spell" href="#spell-dunkelheit">Dunkelheit</a> wirken. Er steht dir erst nach einer langen Rast wieder zur Verfügung. Dein Attribut zum Zauberwirken ist dabei dein Charisma.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl die Gemeinsprache als auch Infernalisch sprechen, lesen und schreiben.</p>
