<h3 id="zwerg">Zwerg</h3>
<h4>Merkmale der Zwerge</h4>
<p>Dein Zwergencharakter besitzt eine Vielzahl angeborener Fähigkeiten, die Teil seiner zwergischen Abstammung sind.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Konstitutionswert steigt um 2.</p>
<p><span class="trait-name">Alter:</span> Zwerge werden im gleichen Tempo wie Menschen erwachsen, gelten jedoch als jung, bis sie 50 Jahre alt sind. Sie erreichen im Durchschnitt ein Alter von 350 Jahren.</p>
<p><span class="trait-name">Bewegungsrate:</span> Deine Grundbewegungsrate beträgt 7,5 Meter. Schwere Rüstung beeinträchtigt deine Bewegungsrate nicht.</p>
<p><span class="trait-name">Gesinnung:</span> Die meisten Zwerge sind rechtschaffen, da sie fest an die Vorteile einer gut durchstrukturierten Gesellschaft glauben. Sie neigen ferner zu einer guten Gesinnung mit starkem Sinn für Gerechtigkeit und der Überzeugung, dass eine gerechte Ordnung jedem zugutekommen sollte.</p>
<p><span class="trait-name">Größe:</span> Zwerge sind 1,2 bis 1,5 Meter groß und wiegen durchschnittlich 75 Kilogramm. Deine Größenkategorie ist mittelgroß.</p>
<p><span class="trait-name">Dunkelsicht:</span> Das Leben unter der Erde hat dazu geführt, dass du sowohl in Dunkelheit als auch in dämmrigem Licht eine überlegene Sicht hast. Im Radius von 18 Metern kannst du in dämmrigem Licht wie in hellem Licht sehen, bei Dunkelheit wie in dämmrigem Licht. Allerdings kannst du im Dunkeln keine Farben, sondern nur Graustufen erkennen.</p>
<p><span class="trait-name">Zwergische Unverwüstlichkeit:</span> Du bist bei Rettungswürfen gegen Vergiftet im Vorteil und gegen Giftschaden resistent.</p>
<p><span class="trait-name">Zwergisches Kampftraining:</span> Du bist im Umgang mit Beilen, Kriegshämmern, leichten Hämmern und Streitäxten geübt.</p>
<p><span class="trait-name">Handwerkliches Geschick:</span> Du bist mit dem Handwerkszeug eines der folgenden Berufe nach deiner Wahl geübt: Braumeister, Schmied oder Steinmetz.</p>
<p><span class="trait-name">Steingespür:</span> Wenn du einen Intelligenzwurf (Geschichte) ausführst, der mit der Herkunft von Steinarbeiten zu tun hat, giltst du als in der Fertigkeit geübt und darfst deinen doppelten Übungsbonus auf den Wurf addieren anstatt nur den einfachen.</p>
<p><span class="trait-name">Sprachen:</span> Du kannst sowohl die Gemeinsprache als auch Zwergisch sprechen, lesen und schreiben. Zwergisch ist voller harter Konsonanten und Kehllaute. Diese Merkmale finden sich auch im Akzent der Zwerge in anderen Sprachen wieder.</p>
<h4>Hügelzwerg</h4>
<p>Als Hügelzwerg besitzt du scharfe Sinne, eine gute Intuition und bist sehr widerstandsfähig.</p>
<p><span class="trait-name">Attributswerterhöhung:</span> Dein Weisheitswert steigt um 1.</p>
<p><span class="trait-name">Zwergische Zähigkeit:</span> Dein Trefferpunktemaximum steigt um 1 und bei jedem Stufenaufstieg um 1 weiteren Punkt.</p>
