<h2 id="nach-der-1-stufe">Nach der 1. Stufe</h2>
<p>Durch das Erleben von Abenteuern und das Meistern von Herausforderungen gewinnt dein Charakter an Erfahrung in Form von Erfahrungspunkten. Erreicht ein Charakter eine bestimmte Gesamtzahl an Erfahrungspunkten, verbessern sich seine Fähigkeiten. Dieser Fortschritt wird als <span class="feature-name">Stufenaufstieg </span>bezeichnet</p>
<p>Wenn dein Charakter eine Stufe aufsteigt, verleiht ihm seine Klasse oft zusätzliche Merkmale, wie in der Klassenbeschreibung angegeben. Einige dieser Merkmale erlauben dir, deine Attributswerte zu steigern, indem du entweder zwei Werte um 1 Punkt oder einen Wert um 2 Punkte erhöhst. Kein Attribut darf einen Wert von 20 übersteigen. Außerdem erhöht sich der Übungsbonus jedes Charakters mit bestimmten Stufen.</p>
<p>Bei jedem Stufenaufstieg erhältst du einen zusätzlichen Trefferwürfel. Würfle mit dem Trefferwürfel, füge dem Ergebnis deinen Konstitutionsmodifikator hinzu und addiere die Summe zu deinem Trefferpunktemaximum. Alternativ kannst du den festen Klassenwert in deinem Klasseneintrag verwenden, der das durchschnittliche Würfelergebnis (aufgerundet) ist.</p>
<p>Wenn sich dein Konstitutionsmodifikator um 1 erhöht, so steigt dein Trefferpunktemaximum für jede erreichte Stufe um 1. Beispiel: Dein Kämpfer der 7. Stufe hat einen Konstitutionswert von 17. Wenn er die 8. Stufe erreicht, steigt sein Konstitutionswert von 17 auf 18, wodurch sein Konstitutionsmodifikator von +3 auf +4 steigt. Sein Trefferpunktemaximum steigt dadurch um 8 Punkte.</p>
<p>In der Charakteraufstiegstabelle ist aufgeführt, wie viele EP für Stufenaufstiege für die Stufen 1 bis 20 erforderlich sind und welcher Übungsbonus auf einer bestimmten Stufe für den Charakter gilt. In der Klassenbeschreibung deines Charakters erfährst du, welche anderen Verbesserungen du mit den jeweiligen Stufen erhältst.</p>
<h5>Charakterentwicklung</h5>
<table id="table-charakterentwicklung">
<tr>
<th>Erfahrungspunkte</th>
<th>Stufe</th>
<th>Übungsbonus</th>
</tr>
<tr><td>0</td><td>1</td><td>+2</td></tr>
<tr><td>300</td><td>2</td><td>+2</td></tr>
<tr><td>900</td><td>3</td><td>+2</td></tr>
<tr><td>2.700</td><td>4</td><td>+2</td></tr>
<tr><td>6.500</td><td>5</td><td>+3</td></tr>
<tr><td>14.000</td><td>6</td><td>+3</td></tr>
<tr><td>23.000</td><td>7</td><td>+3</td></tr>
<tr><td>34.000</td><td>8</td><td>+3</td></tr>
<tr><td>48.000</td><td>9</td><td>+4</td></tr>
<tr><td>64.000</td><td>10</td><td>+4</td></tr>
<tr><td>85.000</td><td>11</td><td>+4</td></tr>
<tr><td>100.000</td><td>12</td><td>+4</td></tr>
<tr><td>120.000</td><td>13</td><td>+5</td></tr>
<tr><td>140.000</td><td>14</td><td>+5</td></tr>
<tr><td>165.000</td><td>15</td><td>+5</td></tr>
<tr><td>195.000</td><td>16</td><td>+5</td></tr>
<tr><td>225.000</td><td>17</td><td>+6</td></tr>
<tr><td>265.000</td><td>18</td><td>+6</td></tr>
<tr><td>305.000</td><td>19</td><td>+6</td></tr>
<tr><td>355.000</td><td>20</td><td>+6</td></tr>
</table>
<h3 id="klassenkombinationen">Klassenkombinationen</h3>
<p>Klassenkombinationen erlauben dir, Stufen in mehreren Klassen zu erlangen. Auf diese Weise kannst du die Fähigkeiten dieser Klassen verbinden, um ein Charakterkonzept zu verwirklichen, das sich möglicherweise nicht in einer der Standardklassen widerspiegelt.</p>
<p>Mit dieser Regel hast du die Möglichkeit, bei jedem Stufenaufstieg eine Stufe in einer neuen Klasse, anstatt in deiner aktuellen Klasse aufzusteigen. Die Stufen all deiner Klassen werden addiert, um deine Charakterstufe zu bestimmen. Wenn du beispielsweise drei Stufen als Magier und zwei Stufen als Kämpfer besitzt, ist deine Charakterstufe 5.</p>
<p>Während du Stufen aufsteigst, bleibst du vielleicht vorrangig ein Mitglied deiner ursprünglichen Klasse, mit nur wenigen Stufen in einer anderen. Vielleicht möchtest du deinen Kurs aber auch vollständig ändern, ohne auf deine einst gewählte Klasse zurückzublicken. Du kannst sogar in einer dritten oder vierten Klasse aufsteigen. Verglichen mit einem Charakter derselben Stufe mit nur einer Klasse gibst du dabei Spezialisierung zugunsten von Vielseitigkeit auf.</p>
<h4>Voraussetzungen</h4>
<p>Um dich für eine neue Klasse zu qualifizieren, musst du die Voraussetzungen bei den Attributswerten für deine aktuelle und deine neue Klasse erfüllen, wie in der Tabelle „Klassenkombinationen: Voraussetzungen“ angegeben. Beispielsweise muss ein Barbar, der eine Stufe als Druide aufsteigen möchte, sowohl einen Stärke- als auch einen Weisheitswert von mindestens 13 besitzen. Ohne die Ausbildung der Anfangsklasse musst du in deiner neuen Klasse schnell lernen und über eine natürliche Begabung verfügen, die sich in überdurchschnittlichen Attributswerten widerspiegelt.</p>
<h5>Klassenkombinationen: Voraussetzungen</h5>
<table id="table-klassenkombinationen-voraussetzungen">
<tr>
<th>Klasse</th>
<th>Minimaler Attributswert</th>
</tr>
<tr><td>Barbar</td><td>Stärke: 13</td></tr>
<tr><td>Barde</td><td>Charisma: 13</td></tr>
<tr><td>Druide</td><td>Weisheit: 13</td></tr>
<tr><td>Hexenmeister</td><td>Charisma: 13</td></tr>
<tr><td>Kämpfer</td><td>Geschicklichkeit: 13 oder Stärke: 13</td></tr>
<tr><td>Kleriker</td><td>Weisheit: 13</td></tr>
<tr><td>Magier</td><td>Intelligenz: 13</td></tr>
<tr><td>Mönch</td><td>Geschicklichkeit: 13 und Weisheit: 13</td></tr>
<tr><td>Paladin</td><td>Charisma: 13 und Stärke: 13</td></tr>
<tr><td>Schurke</td><td>Geschicklichkeit: 13</td></tr>
<tr><td>Waldläufer</td><td>Geschicklichkeit: 13 und Weisheit: 13</td></tr>
<tr><td>Zauberer</td><td>Charisma: 13</td></tr>
</table>
<h4>Erfahrungspunkte</h4>
<p>Die benötigten Erfahrungspunkte für einen Stufenaufstieg basieren immer auf deiner gesamten Charakterstufe, wie in der Charakteraufstiegstabelle angegeben, nicht auf der Stufe einer einzelnen Klasse. Wenn du also ein Kleriker 6/Kämpfer 1 bist, musst du genügend EP erhalten, um zur 8. Stufe aufsteigen zu können, bevor du eine 2. Stufe als Kämpfer oder eine 7. Stufe als Kleriker erhältst.</p>
<h4>Trefferpunkte und Trefferwürfel</h4>
<p>Du erhältst die Trefferpunkte deiner neuen Klasse, so wie es für Stufen über die 1. hinaus angegeben ist. Du erhältst die Trefferpunkte der 1. Stufe für eine Klasse nur, wenn auch deine Charakterstufe 1 ist</p>
<p>Addiere die Trefferwürfel, die du von all deinen Klassen erhältst, um deine gesamten Trefferwürfel zu ermitteln. Handelt es sich um dieselbe Art von Trefferwürfeln, kannst du sie einfach Zusammenlegen. Zum Beispiel besitzen sowohl der Kämpfer als auch der Paladin einen W10 als Trefferwürfel. Wenn du also ein Paladin 5/Kämpfer 5 bist, stehen dir 10W10 zur Verfügung. Verleihen dir deine Klassen unterschiedliche Arten von Trefferwürfeln, solltest du sie separat notieren. Als Paladin 5/Kleriker 5 hast du beispielsweise 5W10 Trefferwürfel und 5W8 Trefferwürfel.</p>
<h4>Übungsbonus</h4>
<p>Dein Übungsbonus basiert immer auf deiner gesamten Charakterstufe, wie in der Charakteraufstiegstabelle angegeben, nicht auf der Stufe einer einzelnen Klasse. Wenn du beispielsweise ein Kämpfer 3/Schurke 2 bist, erhältst du den Übungsbonus eines Charakters der 5. Stufe, der +3 beträgt</p>
<h4>Übung</h4>
<p>Erreichst du die 1. Stufe in einer Klasse, die nicht deine Anfangsklasse ist, bist du nur in einigen Bereichen der neuen Klasse geübt, wie in der Tabelle „Übung für Klassenkombinationen&quot; angegeben.</p>
<h5>Übung für Klassenkombinationen</h5>
<table id="table-uebung-fuer-klassenkombinationen">
<tr><th>Klasse</th>
<th>Erhaltene Übung</th></tr>
<tr><td>Barbar</td><td>Einfache Waffen, Kriegswaffen, Schilde</td></tr>
<tr><td>Barde</td><td>Leichte Rüstung, eine Fertigkeit deiner Wahl, ein Musikinstrument deiner Wahl</td></tr>
<tr><td>Druide</td><td>Leichte und mittelschwere Rüstung, Schilde (Druiden tragen keine Rüstung oder Schilde aus Metall)</td></tr>
<tr><td>Hexenmeister</td><td>Leichte Rüstung, einfache Waffen</td></tr>
<tr><td>Kämpfer</td><td>Leichte und mittelschwere Rüstung, Schilde, einfache Waffen, Kriegswaffen</td></tr>
<tr><td>Kleriker</td><td>Leichte und mittelschwere Rüstung, Schilde</td></tr>
<tr><td>Magier</td><td>-</td></tr>
<tr><td>Mönch</td><td>Einfache Waffen, Kurzschwerter</td></tr>
<tr><td>Paladin</td><td>Leichte und mittelschwere Rüstung, Schilde, einfache Waffen, Kriegswaffen</td></tr>
<tr><td>Schurke</td><td>Leichte Rüstung, eine Fertigkeit aus der Liste dieser Klasse, Diebeswerkzeug</td></tr>
<tr><td>Waldläufer</td><td>Leichte und mittelschwere Rüstung, Schilde, einfache Waffen, Kriegswaffen, eine Fertigkeit aus der Liste dieser Klasse</td></tr>
<tr><td>Zauberer</td><td>-</td></tr>
</table>
<h4>Klassenmerkmale</h4>
<p>Steigst du in einer Klasse eine neue Stufe auf, erhältst du deren Merkmale für die jeweilige Stufe. Die Anfangsausrüstung der Klasse bekommst du allerdings nicht und folgende Merkmale haben bei Klassenkombinationen zusätzliche Regeln: Göttliche Macht fokussieren, Zusätzlicher Angriff, Ungerüstete Verteidigung und Zauberwirken.</p>
<h5>Göttliche Macht fokussieren</h5>
<p>Verfügst du bereits über das Merkmal Göttliche Macht fokussieren, wenn du eine Stufe in einer anderen Klasse aufsteigst, die dir ebenfalls dieses Merkmal verleiht, erhältst du zwar die Effekte von Göttliche Macht fokussieren dieser Klasse, aber keine zusätzlichen Anwendungen. Zusätzliche Anwendungen erhältst du nur, wenn du eine Klassenstufe erreichst, die dies ausdrücklich besagt. Bist du beispielsweise ein Kleriker 6/Paladin 4, kannst du aufgrund deiner Stufe als Kleriker Göttliche Macht fokussieren zwischen den Rasten zweimal einsetzen. Wenn du dieses Merkmal nutzt, kannst du einen beliebigen Effekt von Göttliche Macht fokussieren wählen, den dir deine beiden Klassen gewähren.</p>
<h5>Ungerüstete Verteidigung</h5>
<p>Wenn du bereits über das Merkmal Ungerüstete Verteidigung verfügst, kannst du es nicht erneut von einer anderen Klasse erhalten.</p>
<h5>Zusätzlicher Angriff</h5>
<p>Erhältst du das Klassenmerkmal Zusätzlicher Angriff von mehr als einer Klasse, addieren sich die Merkmale nicht Du kannst mit diesem Merkmal nicht mehr als zwei Angriffe ausführen, außer dies wird ausdrücklich angegeben (wie es beim Zusätzlichen Angriff des Kämpfers der Fall ist). Gleichermaßen bekommst du als Hexenmeister durch die schauerliche Anrufung Dürstende Klinge keinen weiteren Angriff, wenn du außerdem Zusätzlichen Angriff besitzt.</p>
<h5>Zauberwirken</h5>
<p>Deine Fähigkeit, Zauber zu wirken, hängt teilweise von den kombinierten Stufen all deiner zauberwirkenden Klassen ab und teilweise von deren einzelnen Stufen. Sobald du das Merkmal Zauberwirken von mehr als einer Klasse erlangst, wendest du die unten aufgeführten Regeln an. Wenn du das Merkmal Zauberwirken in deiner Klassenkombination von nur einer einzigen Klasse erhältst, verwende die Regeln dieser Klasse.</p>
<p><span class="trait-name">Bekannte und vorbereitete Zauber:</span> Du bestimmst, welche Zaubersprüche dir bekannt sind, und kannst sie für jede Klasse individuell vorbereiten, als ob du nur ein Mitglied dieser einen Klasse wärst. Bist du beispielweise ein Waldläufer 4/Magier 3, sind dir drei Waldläuferzauber des 1. Grades bekannt Dies basiert auf deinen Stufen der Waldläuferklasse. Als Magier der 3. Stufe sind dir drei Magier-Zaubertricks bekannt und dein Zauberbuch enthält zehn Magierzauber, von denen zwei Zauber des 2. Grades sein können (die beiden, die du als Magier der 3. Stufe erhalten hast). Wenn deine Intelligenz 16 beträgt, kannst du sechs Magierzauber aus deinem Zauberbuch vorbereiten.</p>
<p>Jeder dir bekannte und vorbereitete Zauber ist mit einer deiner Klassen assoziiert und du verwendest jeweils das Attribut zum Zauberwirken dieser Klasse. Gleichermaßen kann ein Zauberfokus wie beispielsweise ein heiliges Symbol nur für die Zauber der Klasse verwendet werden, die mit diesem Fokus assoziiert ist.</p>
<p><span class="trait-name">Zauberplätze:</span> Du bestimmst deine verfügbaren Zauberplätze, indem du alle Stufen in den Klassen Barde, Druide, Kleriker, Magier und Zauberer, sowie die Hälfte deiner Stufen (abgerundet) in den Klassen Paladin und Waldläufer addierst. Mit dieser Summe bestimmst du deine Zauberplätze anhand der Tabelle „Klassenkombinationen für Zauberwirker&quot;.</p>
<p>Wenn du über mehr als eine zauberwirkende Klasse verfügst, gewährt dir diese Tabelle möglicherweise Zauberplätze eines höheren Grades als die Zauber, die dir bekannt sind oder die du vorbereiten kannst. Du kannst diese Zauberplätze zwar verwenden, aber nur für Zauber eines niedrigeren Grades. Zauber eines niedrigeren Grades - wie <a class="spell" href="#spell-brennende-haende">Brennende Hände</a> die einen verstärkten Effekt haben, wenn sie mit einem Zauberplatz eines höheren Grades gewirkt werden, erhalten den verstärkten Effekt, obwohl du keine Zauber dieses höheren Grades besitzt.</p>
<p>Beispiel: Als zuvor erwähnter Waldläufer 4/Magier 3 zählst du bei der Bestimmung deiner Zauberplätze als Charakter der 5. Stufe. Du hast vier Zauberplätze des 1., drei Zauberplätze des 2. und zwei Zauberplätze des 3. Grades. Dir sind jedoch keine Zauber des 3. Grades bekannt und auch keine Waldläuferzauber des 2. Grades. Du kannst die Zauberplätze dieser Grade nutzen, um die dir bekannten Zauber zu wirken - und möglicherweise ihre Effekte zu verstärken.</p>
<p><span class="trait-name">Paktmagie:</span> Wenn du gleichzeitig zum Klassenmerkmal Zauberwirken auch das Merkmal Paktmagie des Hexenmeisters hast, kannst du die Zauberplätze, die du durch Paktmagie erhältst, auch zum Wirken von Zaubern verwenden, die du durch andere zauberwirkende Klassen erhältst. Zudem kannst du diese Zauberplätze von zauberwirkenden Klassen nutzen, um dir bekannte Hexenmeisterzauber zu wirken.</p>
<h5>Klassenkombinationen für Zauberwirker:</h5>
<h5>Zauberplätze pro Zaubergrad</h5>
<table id="table-klassenkombinationen-fuer-zauberwirker">
<tr><th>Stufe</th>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
<th>5.</th>
<th>6.</th>
<th>7.</th>
<th>8.</th>
<th>9.</th></tr>
<tr><td>1.</td><td>2</td><td></td><td></td><td></td><td>-</td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>3.</td><td>4</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>4.</td><td>4</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>5.</td><td>4</td><td>3</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>6.</td><td>4</td><td>3</td><td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>7.</td><td>4</td><td>3</td><td>3</td><td>1</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>8.</td><td>4</td><td>3</td><td>3</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>9.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>10.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>11.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>12.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>-</td><td>-</td><td>-</td></tr>
<tr><td>13.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>-</td><td>-</td></tr>
<tr><td>14.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>-</td><td>-</td></tr>
<tr><td>15.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>-</td></tr>
<tr><td>16.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>-</td></tr>
<tr><td>17.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>18.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>19.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>20.</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
</table>
<h3 id="gesinnung">Gesinnung</h3>
<p>Eine typische Kreatur in der Spielwelt besitzt eine Gesinnung, die grob ihre moralische und persönliche Einstellung beschreibt. Die Gesinnung ist eine Kombination aus zwei Faktoren: Einer legt die moralische Haltung fest (gut, böse oder neutral) und einer die Einstellung zur Gesellschaft und dem Gesetz (rechtschaffen, chaotisch oder neutral). Daraus ergeben sich neun mögliche Kombinationen für die Gesinnung.</p>
<p>Die folgenden Zusammenfassungen umschreiben das typische Verhalten einer Kreatur mit der jeweiligen Gesinnung. Individuen können jedoch erheblich von diesem typischen Verhalten abweichen und nur wenige sind den Grundsätzen ihrer Gesinnung konsequent treu.</p>
<p><span class="feature-name">Rechtschaffen gute </span>(RG) Kreaturen handeln stets nach dem, was in der Gesellschaft als das Richtige angesehen wird. Golddrachen, Paladine und die meisten Zwerge sind rechtschaffen gut.</p>
<p><span class="feature-name">Neutral gute </span>(NG) Individuen geben ihr Bestes, anderen entsprechend ihrer Bedürfnisse zu helfen. Viele Celestische, einige Wolkenriesen und die meisten Gnome sind neutral gut.</p>
<p><span class="feature-name">Chaotisch gute </span>(CG) Kreaturen handeln nur nach den Vorgaben ihres Gewissens und scheren sich kaum um die Erwartungen anderer. Kupferdrachen, viele Elfen und Einhörner sind chaotisch gut.</p>
<p><span class="feature-name">Rechtschaffen neutrale </span>(RN) Individuen halten sich an das Gesetz, an Traditionen und persönliche Werte. Viele Mönche und einige Magier sind rechtschaffen neutral.</p>
<p><span class="feature-name">Neutral </span>(N) ist die Gesinnung derer, die frei von moralischen Fragen durch das Leben gehen und keine Partei ergreifen. Sie tun stets das, was sie gerade für das Beste halten. Echsenmenschen, die meisten Druiden und viele Menschen sind neutral.</p>
<p><span class="feature-name">Chaotisch neutrale </span>(CN) Kreaturen folgen ihren Launen und stellen ihre persönliche Freiheit über alles andere. Viele Barbaren und Schurken sowie einige Barden sind chaotisch neutral.</p>
<p><span class="feature-name">Rechtschaffen böse </span>(RB) Individuen nehmen sich methodisch alles, was sie wollen, bleiben dabei jedoch im Rahmen von Traditionen, Loyalität und dem Gesetz. Teufel, blaue Drachen und Hobgoblins sind rechtschaffen böse.</p>
<p><span class="feature-name">Neutral böse </span>(NB) ist die Gesinnung derer, die tun, womit auch immer sie durchkommen - ohne Mitleid oder Gewissensbisse. Viele Drow, einige Wolkenriesen und Goblins sind neutral böse.</p>
<p><span class="feature-name">Chaotisch böse </span>(CB) Kreaturen handeln mit brutaler Gewalt, die von ihrer Gier, ihrem Hass und ihrem Blutdurst befeuert wird. Dämonen, rote Drachen und Orks sind chaotisch böse.</p>
<h5>Gesinnung im Multiversum</h5>
<p>Für viele denkende Kreaturen stellt die Gesinnung eine moralische Entscheidung dar. Menschen, Zwerge, Elfen und andere humanoide Völker können wählen, dem Weg des Guten oder des Bösen zu folgen, rechtschaffen oder chaotisch zu sein. Legenden zufolge gaben die gut gesinnten Götter, die diese Völker erschaffen haben, ihnen den freien Willen, ihre Moral selbst zu wählen. Sie wussten, dass das Gute ohne freien Willen Sklaverei ist.</p>
<p>Die bösen Gottheiten erschufen die anderen Völker jedoch, um ihnen zu dienen. Diese Völker haben von Natur aus starke Tendenzen, die der Natur ihrer Götter entsprechen. Die meisten Orks teilen das gewalttätige, wilde Wesen der Orkgötter und neigen daher zum Bösen. Selbst wenn ein Ork eine gute Gesinnung wählt, kämpft er sein Leben lang gegen seine Veranlagung an. (Selbst Halborks spüren den verweilenden Einfluss des Orkgottes.)</p>
<p>Die Gesinnung ist ein wichtiger Teil der Natur von Celestischen und Unholden. Ein Teufel entscheidet sich nicht dafür, rechtschaffen böse zu sein, noch neigt er dazu. Vielmehr ist seine Essenz rechtschaffen böse. Würde er aufhören, rechtschaffen böse zu sein, wäre er kein Teufel mehr.</p>
<p>Die meisten Kreaturen, denen es an rationalem Vorstellungsvermögen fehlt, besitzen keine Gesinnung. Sie werden als <span class="feature-name">gesinnungslos </span>bezeichnet. Solchen Kreaturen ist es nicht möglich, moralische oder ethische Entscheidungen zu treffen. Sie handeln nach ihren tierischen Trieben. Haie sind beispielsweise wilde Raubtiere, deshalb sind sie jedoch nicht böse. Sie besitzen keine Gesinnung.</p>
<h3 id="sprachen">Sprachen</h3>
<p>Die Volkszugehörigkeit legt fest, welche Sprachen dein Charakter standardmäßig beherrscht. Dein Hintergrund verschafft dir möglicherweise Zugang zu einer oder mehreren zusätzlichen Sprachen deiner Wahl. Trage diese Sprachen auf deinem Charakterbogen ein.</p>
<p>Wähle deine Sprachen aus der Tabelle „Standardsprachen&quot; aus oder wähle eine, die in deiner Kampagne üblich ist. Mit der Erlaubnis deines SL kannst du stattdessen eine Sprache aus der Tabelle „Exotische Sprachen&quot; oder eine Geheimsprache wie Druidisch oder Diebessprache wählen.</p>
<p>Bei einigen dieser Sprachen handelt es sich um Sprachfamilien mit vielen Dialekten. Die Sprache Urtümlich umfasst beispielsweise Aural-, Aqual-, Ignal- und Terral-Varianten, eine für jede Elementarebene. Kreaturen, die verschiedene Dialekte derselben Sprache sprechen, können sich miteinander unterhalten.</p>
<h5>Standardsprachen</h5>
<table id="table-standardsprachen">
<tr>
    <th>Sprache</th>
    <th>Übliche Sprecher</th>
    <th>Schrift</th>
</tr>
<tr><td>Elfisch</td><td>Elfen</td><td>Elfisch</td></tr>
<tr><td>Gemeinsprache</td><td>Menschen</td><td>Gemeinsprache</td></tr>
<tr><td>Gnomisch</td><td>Gnome</td><td>Zwergisch</td></tr>
<tr><td>Goblinisch</td><td>Goblinoide</td><td>Zwergisch</td></tr>
<tr><td>Halblingisch</td><td>Halblinge</td><td>Gemeinsprache</td></tr>
<tr><td>Orkisch</td><td>Orks</td><td>Zwergisch</td></tr>
<tr><td>Riesisch</td><td>Oger, Riesen</td><td>Zwergisch</td></tr>
<tr><td>Zwergisch</td><td>Zwerge</td><td>Zwergisch</td></tr>
</table>

<h5>Exotische Sprachen</h5>
<table id="table-exotische-sprachen">
<tr><th>Sprache</th>
<th>Übliche Sprecher</th>
<th>Schrift</th></tr>
<tr><td>Abyssisch</td><td>Dämonen</td><td>Infernalisch</td></tr>
<tr><td>Celestisch</td><td>Celestische</td><td>Celestisch</td></tr>
<tr><td>Drakonisch</td><td>Drachen, Drachenblütige</td><td>Drakonisch</td></tr>
<tr><td>Gemeinsprache der Unterreiche</td><td>Unterwelthändler</td><td>Elfisch</td></tr>
<tr><td>Infernalisch</td><td>Teufel</td><td>Infernalisch</td></tr>
<tr><td>Sylvanisch</td><td>Feenwesen</td><td>Elfisch</td></tr>
<tr><td>Tiefensprache</td><td>Abolethen, Mantler</td><td>-</td></tr>
<tr><td>Urtümlich</td><td>Elementare</td><td>Zwergisch</td></tr>
</table>
<h3 id="inspiration">Inspiration</h3>
<p>Inspiration ist eine Regel, mit der dich dein SL dafür belohnen kann, dass du deinen Charakter so spielst, wie es seinen Persönlichkeitsmerkmalen, seinen Idealen, seiner Bindung und seinem Makel entspricht. Mit Inspiration kannst du beispielsweise dein Persönlichkeitsmerkmal Mitgefühl für die Unterdrückten nutzen, um dir einen Vorteil bei den Verhandlungen mit dem Bettlerprinzen verschaffen. Oder du kannst deine Bindung zur Verteidigung deiner Heimatstadt nutzen, um die Auswirkungen eines auf dich gewirkten Zaubers zu ignorieren.</p>
<h4>Inspiration erhalten</h4>
<p>Dein SL kann dir aus verschiedenen Gründen Inspiration gewähren. Normalerweise geschieht das, wenn du entsprechend deiner Persönlichkeitsmerkmale spielst, den Nachteilen eines Makels oder einer Bindung erliegst, und deinen Charakter überzeugend darstellst Dein SL wird dir erklären, wie du im Spiel Inspiration erhalten kannst.</p>
<p>Du verfügst entweder über Inspiration oder nicht. Du kannst sie nicht horten, um sie später mehrmals einzusetzen.</p>
<h4>Inspiration einsetzen</h4>
<p>Wenn du über Inspiration verfügst, kannst du sie bei einem Angriffs-, Rettungs- oder Attributswurf verbrauchen. Wenn du deine Inspiration ausgibst, bist du bei diesem Wurf im Vorteil.</p>
<p>Zudem kannst du mit Inspiration andere Spieler für gutes Rollenspiel, eine kluge Idee oder einfach für eine spannende Aktion belohnen. Wenn ein anderer Spielercharakter auf wirklich unterhaltsame und interessante Weise zur Geschichte beiträgt, kannst du deine Inspiration verwenden, um diesem Charakter Inspiration zu verleihen.</p>
<h3 id="hintergruende">Hintergründe</h3>
<p>Jede Geschichte hat einen Anfang. Der Hintergrund deines Charakters gibt Aufschluss über seine Herkunft, seinen Platz in der Welt und wie er ein Abenteurer wurde. Dein Kämpfer war vielleicht ein mutiger Ritter oder ein verbitterterer Soldat. Dein Magier könnte ein Weiser oder ein Künstler gewesen sein. Und dein Schurke hat sich vielleicht als Gildendieb durchgeschlagen oder als Hofnarr ein Publikum bezaubert.</p>
<p>Der Hintergrund gibt dir wichtige Anhaltspunkte zur Geschichte deines Charakters und sagt viel über dessen Identität aus. Die wichtigste Frage, die du dir zum Hintergrund stellen solltest, ist: Was hat sich verändert? Warum hast du dein bisheriges Leben aufgegeben und bist auf Abenteuersuche gegangen? Woher hast du das Geld, um deine Anfangsausrüstung zu kaufen? Oder, wenn du aus wohlhabenden Verhältnissen stammst: Warum hast du nicht <em>mehr</em> Geld? Wie hast du die Fertigkeiten deiner Klasse erlernt? Was unterscheidet dich von anderen Personen mit deinem Hintergrund?</p>
<p>Der hier dargestellte Beispielhintergrund bietet sowohl konkrete Vorzüge - Merkmale, Übung und Sprachen - als auch Vorschläge für das Rollenspiel.</p>
<h5>Übung</h5>
<p>Jeder Hintergrund verleiht deinem Charakter Übung in zwei Fertigkeiten (siehe „Attributswerte verwenden&quot;).</p>
<p>Außerdem ist er durch die meisten Hintergründe im Umgang mit mindestens einem Werkzeug geübt (siehe .Ausrüstung&quot;).</p>
<p>Wenn ein Charakter dieselbe Übung aus zwei verschiedenen Quellen erlangen würde, darfst du eine andere Übung der gleichen Art (Fertigkeit oder Werkzeug) auswählen.</p>
<h5>Sprachen</h5>
<p>Einige Hintergründe ermöglichen es Charakteren zudem, zusätzliche Sprachen zu erlernen. Siehe dazu „Sprachen&quot;.</p>
<h5>Ausrüstung</h5>
<p>Jeder Hintergrund stellt eine Anfangsausrüstung zur Verfügung. Wenn du die optionale Regel verwendest, deine Ausrüstung mit Geld zu erwerben, erhältst du die Anfangsausrüstung deines Hintergrunds nicht.</p>
<h5>Empfohlene Merkmale</h5>
<p>Jeder Hintergrund enthält auf ihm basierende persönliche Merkmale. Du kannst sie frei aussuchen, zufällig per Würfel bestimmen oder die Vorschläge als Inspiration für selbsterdachte Merkmale nutzen.</p>
<h5>Einen Hintergrund anpassen</h5>
<p>Du möchtest vielleicht einige Merkmale eines Hintergrunds verändern, damit er besser zu deinem Charakter oder der Kampagnenwelt passt Um einen Hintergrund anzupassen, kannst du ein Merkmal mit einem beliebigen anderen ersetzen, dir zwei beliebige Fertigkeiten und insgesamt zwei Werkzeuge oder Sprachen der Beispielhintergründe aussuchen.</p>
<p>Du kannst entweder die Anfangsausrüstung deines Hintergrunds verwenden oder Ausrüstung mit Geld kaufen, wie im Abschnitt .Ausrüstung&quot; beschrieben. (Wenn du Geld ausgibst, erhältst du nicht noch zusätzlich die empfohlene Ausrüstung für deine Klasse.) Zum Schluss wählst du noch zwei Persönlichkeitsmerkmale, ein Ideal, eine Bindung und einen Makel. Wenn du kein Merkmal findest, dass zu deinem bevorzugten Hintergrund passt, erschaffe es gemeinsam mit deinem SL.</p>
<h4>Tempeldiener</h4>
<p>Du hast dein Leben im Dienste des Tempels einer bestimmten Gottheit oder eines Pantheons verbracht Du fungierst als Vermittler zwischen dem Heiligen und der Welt der Sterblichen, führst heilige Rituale aus und bringst Opfergaben dar, um Gläubige mit der Präsenz des Göttlichen zu verbinden. Dabei bist du nicht unbedingt ein Kleriker - heilige Rituale sind nicht das Gleiche wie das Fokussieren göttlicher Macht</p>
<p>Wähle eine Gottheit, ein Pantheon oder eine andere göttliche Wesenheit aus der Liste „Fantastischhistorische Pantheons&quot; oder aus einer von deinem Spielleiter angegebenen Liste und arbeite die Details deiner religiösen Dienste mit deinem Spielleiter aus. Warst du ein unbedeutender Tempeldiener, dazu erzogen, die Priester bei ihren heiligen Ritualen zu unterstützen? Oder ein Hohepriester, der plötzlich den Ruf erhielt, seinem Gott auf andere Art zu dienen? Vielleicht warst du der Anführer einer kleinen Sekte außerhalb etablierter Tempelstrukturen oder sogar eines Kults, der einem teuflischen Meister diente, den du jetzt leugnest.</p>
<p><span class="feature-name">Fertigkeiten, in denen du geübt bist:</span> Motiv erkennen, Religion</p>
<p><span class="feature-name">Sprachen: </span>Zwei deiner Wahl</p>
<p><span class="feature-name">Ausrüstung: </span>Heiliges Symbol (dein Geschenk, als du Priester wurdest), Gebetsbuch oder Gebetsmühle, fünf Räucherstäbchen, Priesterrobe, ein Satz gewöhnlicher Kleidung, Beutel mit 15 GM</p>
<h5>Merkmal: Zufluchtsort der Gläubigen</h5>
<p>Als Tempeldiener kannst du die Zeremonien deiner Gottheit ausführen und wirst von denen respektiert, die deinen Glauben teilen. Deine Abenteurergefährten und du könnt an jedem Tempel, Schrein und jeder anderen Stätte deiner Gottheit kostenlose Heilung und Fürsorge erhalten, wobei ihr die Komponenten für Zauber selbst bereitstellen müsst. Wer deine Religion teilt, wird dir und nur dir einen bescheidenen Lebensstil ermöglichen.</p>
<p>Du könntest außerdem mit einem bestimmten Tempel deiner Gottheit oder einem Pantheon verbunden sein und dort auch deinen Wohnsitz haben. Vielleicht ist das der Tempel, in dem du einst gedient oder den du als neues Zuhause gefunden hast In der Nähe deines Tempels kannst du die Priester zur Hilfe rufen, sofern sie dadurch nicht in Gefahr geraten und du dem Tempel weiterhin im Guten verbunden bist</p>
<h5>Empfohlene Merkmale</h5>
<p>Tempeldiener werden durch ihre Erfahrungen in Tempeln oder anderen religiösen Gemeinschaften geprägt. Ihr Studium der Geschichte und der Grundsätze ihres Glaubens sowie ihre Verbindung zu Tempeln, Schreinen oder Hierarchien beeinflussen ihre Persönlichkeit und Ideale. Bei ihren Makeln könnte es sich um versteckte Heuchelei oder ketzerische Ideen handeln, oder um ein Ideal oder eine Bindung, die auf die Spitze getrieben wird.</p>

<table id="tempeldiener-persoenlichkeitsmerkmal">
<tr>
    <th>W8</th>
    <th>Persönlichkeitsmerkmal</th>
</tr>
<tr><td>1</td><td>Ein bestimmter Held meines Glaubens ist mein Vorbild. Auf seine Taten und sein Beispiel beziehe ich mich fortwährend.</td></tr>
<tr><td>2</td><td>Ich finde auch zwischen erbitterten Feinden eine gemeinsame Basis und arbeite stetig auf Frieden hin.</td></tr>
<tr><td>3</td><td>Ich sehe in jedem Ereignis und jeder Handlung ein Vorzeichen. Die Götter sprechen zu uns, wir müssen nur zuhören.</td></tr>
<tr><td>4</td><td>Nichts kann meinen Optimismus erschüttern.</td></tr>
<tr><td>5</td><td>In fast jeder Lebenslage zitiere oder verdrehe ich heilige Texte und Sprichwörter.</td></tr>
<tr><td>6</td><td>Ich bin tolerant oder intolerant gegenüber anderen Religionen und respektiere oder verdamme die Anbetung anderer Götter.</td></tr>
<tr><td>7</td><td>Ich war feine Speisen und Getränke in den gehobenen Kreisen der Priesterschaft gewöhnt. Das harte Leben setzt mir zu.</td></tr>
<tr><td>8</td><td>Ich habe so viel Zeit im Tempel verbracht, dass ich nur wenig praktische Erfahrung im Umgang mit Leuten aus der Außenwelt habe.</td></tr>
</table>

<table id="tempeldiener-ideal">
<tr>
    <th>W6</th>
    <th>Ideal</th>
</tr>
<tr><td>1</td><td>Tradition: Die alten Traditionen von Verehrung und Opfergaben müssen bewahrt und gepflegt werden. (Rechtschaffen)</td></tr>
<tr><td>2</td><td>Wohltätigkeit: Ich versuche stets, den Bedürftigen zu helfen, was es mich auch kosten mag. (Gut)</td></tr>
<tr><td>3</td><td>Wandel: Wir müssen helfen, die Veränderungen zu bewirken, die von den Göttern gewünscht sind. (Chaotisch)</td></tr>
<tr><td>4</td><td>Macht: Ich hoffe, eines Tages an der Spitze der Hierarchie meiner Glaubensgemeinschaft zu stehen. (Rechtschaffen)</td></tr>
<tr><td>5</td><td>Glaube: Ich vertraue darauf, dass meine Gottheit meine Taten lenkt. Ich glaube, dass alles gut werden wird, wenn ich hart arbeite. (Rechtschaffen)</td></tr>
<tr><td>6</td><td>Streben: Ich strebe danach, mich der Gunst meiner Gottheit als würdig zu erweisen, indem ich mich in meinem Handeln nach ihren Lehren richte. (Alle)</td></tr>
</table>

<table id="tempeldiener-bindung">
<tr>
    <th>W6</th>
    <th>Bindung</th>
</tr>
<tr><td>1</td><td>Ich würde mein Leben geben, um ein lang verschollenes Relikt meines Glaubens wiederzubeschaffen.</td></tr>
<tr><td>2</td><td>Eines Tages räche ich mich an der korrupten Tempelhierarchie, die mich als Ketzergebrandmarkt haben.</td></tr>
<tr><td>3</td><td>Ich verdanke mein Leben einem Priester, der mich aufgenommen hat, nachdem meine Eltern gestorben waren.</td></tr>
<tr><td>4</td><td>Was immer ich tue, es soll dem gemeinen Volk nutzen.</td></tr>
<tr><td>5</td><td>Ich würde alles tun, um den Tempel zu beschützen, in dem ich gedient habe.</td></tr>
<tr><td>6</td><td>Ich trachte danach, einen heiligen Text zu bewahren, den meine Feinde als ketzerisch vernichten wollen.</td></tr>
</table>

<table id="tempeldiener-makel">
<tr>
    <th>W6</th>
    <th>Makel</th>
</tr>
<tr><td>1</td><td>Ich urteile streng über andere und noch strenger über mich selbst.</td></tr>
<tr><td>2</td><td>Ich habe zu großes Vertrauen in die Machthaber meiner Tempelhierarchie.</td></tr>
<tr><td>3</td><td>Meine Frömmigkeit lässt mich denen, die sich zu meinem Gott bekennen, manchmal blind vertrauen.</td></tr>
<tr><td>4</td><td>Ich bin engstirnig und verschlossen.</td></tr>
<tr><td>5</td><td>Ich misstraue Fremden und erwarte das Schlimmste von ihnen.</td></tr>
<tr><td>6</td><td>Wenn ich mir ein Ziel setze, bin ich wie besessen davon und vergesse alles andere in meinem Leben.</td></tr>
</table>