<h5>Adamantrüstung</h5>
<h5>Amulett der Ebenen</h5>
<h5>Amulett des Schutzes gegen Ortung und Ausspähung</h5>
<h5>Anhänger der Gesundheit</h5>
<h5>Anhänger der Gesundheit</h5>
<h5>Anhänger der Wundheilung</h5>
<h5>Anhänger des Giftschutzes</h5>
<h5>Apparat der Krabbe</h5>
<h5>Hebel des Apparats der Krabbe</h5>
<h5>Armschienen der Verteidigung</h5>
<h5>Armschienen des Bogenschützen </h5>
<h5>Augen der Bezauberung</h5>
<h5>Augen des Adlers</h5>
<h5>Augen des präzisen Sehens</h5>
<h5>Belebter Schild</h5>
<h5>Berserkeraxt</h5>
<h5>Bohnenbeutel</h5>
<h5>Bösartige Waffe</h5>
<h5>Brosche des Abschirmens</h5>
<h5>Brunnen dervielen Welten</h5>
<h5>Dämonenrüstung</h5>
<h5>Diadem des Versengens</h5>
<h5>Dieb der neun Leben</h5>
<h5>Dimensionsfesseln</h5>
<h5>Dolch des Gifts</h5>
<h5>Drachenschuppenpanzer</h5>
<h5>Drachentöter</h5>
<h5>Dreizack der Fischherrschaft</h5>
<h5>Edelstein der Helligkeit</h5>
<h5>Edelstein des Sehens</h5>
<h5>Effizienter Köcher</h5>
<h5>Eisenbänder des Bindens</h5>
<h5>Eiserne Flasche</h5>
<h5>Elementarer Edelstein</h5>
<h5>Elfenrüstung</h5>
<h5>Elfenumhang</h5>
<h5>Ewiger Leim</h5>
<h5>Faltboot</h5>
<h5>Federfigur</h5>
<h5>Fesselseil</h5>
<h5>Feuerschale der Feuerelementar-Herrschaft</h5>
<h5>Figur der wundersamen Kraft</h5>
<h5>Riesenfliege</h5>
<h5>Flammenzunge</h5>
<h5>Fliegender Teppich</h5>
<h5>Flöte des Rattenfängers</h5>
<h5>Flöte des Unheimlichen</h5>
<h5>Flotte Festung</h5>
<h5>Flugbesen</h5>
<h5>Fraßbeutel</h5>
<h5>Frostbrand</h5>
<h5>Geflügelte Stiefel</h5>
<h5>Geschosse, +1, +2 oder +3</h5>
<h5>Glocke des Öffnens</h5>
<h5>Glücksklinge</h5>
<h5>Gürtel der Riesenstärke</h5>
<h5>Halskette der Anpassung</h5>
<h5>Halskette der Feuerbälle</h5>
<h5>Halskette der Gebetsperlen</h5>
<h5>Hammer des Blitzschlags</h5>
<h5>Handbuch der Golems</h5>
<h5>Handbuch der körperlichen Ertüchtigung</h5>
<h5>Handbuch der körperlichen Gesundheit</h5>
<h5>Handbuch des schnellen Handelns</h5>
<h5>Handschuhe des Geschossfangens </h5>
<h5>Handschuhe des Schwimmens und Kletterns </h5>
<h5>Heiliger Rächer</h5>
<h5>Heiltrank</h5>
<h5>Heiltränke</h5>
<h5>Helm der Pracht</h5>
<h5>Helm der Telepathie</h5>
<h5>Helm der Teleportation </h5>
<h5>Helm des Sprachenverstehens</h5>
<h5>Henkersschwert</h5>
<h5>Horn der Sprengung</h5>
<h5>Horn von Walhalla</h5>
<h5>Hufeisen der Geschwindigkeit</h5>
<h5>Hufeisen des Zephyrs</h5>
<h5>Hut der Verkleidung</h5>
<h5>Ifriti-Flasche</h5>
<h5>lonenstein</h5>
<h5>Karaffe des endlosen Wassers</h5>
<h5>Karten der Illusionen</h5>
<h5>Kerze der Anrufung</h5>
<h5>Kristallkugel</h5>
<h5>Krummsäbel der Geschwindigkeit</h5>
<h5>Laterne der Enttarnung</h5>
<h5>Leitfaden der Führungskraft und der Einflussnahme</h5>
<h5>Leitfaden des klaren Denkens</h5>
<h5>Leitfaden des Verständnisses</h5>
<h5>Liebestrank</h5>
<h5>Mantel des Zauberwiderstands</h5>
<h5>Medaillon der Gedanken</h5>
<h5>Mithralrüstung</h5>
<h5>Nachtbrille</h5>
<h5>Nimmervoller Beutel</h5>
<h5>Öl der Glätte</h5>
<h5>Öl der Körperlosigkeit</h5>
<h5>Öl der Schärfe</h5>
<h5>Panzerhandschuhe der Ogerkraft </h5>
<h5>Perle der Kraft</h5>
<h5>Perle der Macht</h5>
<h5>Pfeil des Tötens</h5>
<h5>Pfeilfangender Schild</h5>
<h5>Praktischer Rucksack</h5>
<h5>Rauchfass der Luftelementar-Herrschaft</h5>
<h5>Rauchflasche</h5>
<h5>Restaurative Salbe</h5>
<h5>Riesentöter</h5>
<h5>Ring der Bewegungsfreiheit</h5>
<h5>Ring der drei Wünsche</h5>
<h5>Ring der Dschinni-Beschwörung</h5>
<h5>Ring der Elementar-Herrschaft</h5>
<h5>Ring der Gedankenabschirmung</h5>
<h5>Ring der Regeneration</h5>
<h5>Ring der Sternschnuppen</h5>
<h5>Ring der Telekinese</h5>
<h5>Ring der Unsichtbarkeit</h5>
<h5>Ring der Wärme</h5>
<h5>Ring des Ausweichens</h5>
<h5>Ring des Federfalls</h5>
<h5>Ring des Röntgenblicks</h5>
<h5>Ring des Schutzes</h5>
<h5>Ring des Schwimmens</h5>
<h5>Ring des Springens</h5>
<h5>Ring des Tierumgangs</h5>
<h5>Ring des Wasserlaufens</h5>
<h5>Ring des Widders</h5>
<h5>Ring des Widerstands</h5>
<h5>Ring des Zauberspeichers</h5>
<h5>Ring des Zauberwendens</h5>
<h5>Ritterrüstung der Körperlosigkeit</h5>
<h5>Robe der Augen</h5>
<h5>Robe der nützlichen Dinge</h5>
<h5>Robe der schillernden Farben</h5>
<h5>Robe der Sterne</h5>
<h5>Robe des Erzmagiers</h5>
<h5>Rüstung der Unverwundbarkeit</h5>
<h5>Rüstung der Verwundbarkeit</h5>
<h5>Rüstung des Widerstands</h5>
<h5>Rüstung, +1, +2 oder +3</h5>
<h5>Schale der Wasserelementar-Herrschaft</h5>
<h5>Schicksalskarten</h5>
<h5>Schild der Geschossanziehung</h5>
<h5>Schild, +1, +2 oder +3</h5>
<h5>Schuhe des Spinnenkletterns</h5>
<h5>Schwert der Schärfe</h5>
<h5>Schwert der Verwundung</h5>
<h5>Schwert des Lebensentzugs</h5>
<h5>Schwurbogen</h5>
<h5>Seelenspiegel</h5>
<h5>Seil des Kletterns</h5>
<h5>Skarabäus des Schutzes</h5>
<h5>Sonnenklinge</h5>
<h5>Sphäre des Nichts</h5>
<h5>Stab der Bezauberung</h5>
<h5>Stab der Heilung</h5>
<h5>Stab der Insektenschwärme</h5>
<h5>Stab der Macht</h5>
<h5>Stab der Python</h5>
<h5>Stab der Verkümmerung</h5>
<h5>Stab der Waldlande</h5>
<h5>Stab des Blitzes und Donners</h5>
<h5>Stab des Feuers</h5>
<h5>Stab des Frosts</h5>
<h5>Stab des Magus</h5>
<h5>Stab des Schlagens</h5>
<h5>Staub der Trockenheit</h5>
<h5>Staub des Niesens und Erstickens</h5>
<h5>Staub des Verschwindens</h5>
<h5>Stein der Erdelementar-Herrschaft</h5>
<h5>Stein des Glücks (Glücksstein)</h5>
<h5>Stiefel der Elfen</h5>
<h5>Stiefel der Geschwindigkeit</h5>
<h5>Stiefel der Winterlande</h5>
<h5>Stiefel des Schreitens und Springens</h5>
<h5>Stiefel des Schwebens</h5>
<h5>Stirnband der Intelligenz</h5>
<h5>Streitkolben des Niederstreckens</h5>
<h5>Streitkolben des Terrors</h5>
<h5>Streitkolben des Zusammenbruchs</h5>
<h5>Talisman des absolut Bösen</h5>
<h5>Talisman des Nichts</h5>
<h5>Talisman des reinen Guten</h5>
<h5>Tanzendes Schwert</h5>
<h5>Tragbares Loch</h5>
<h5>Trank der gasförmigen Gestalt</h5>
<h5>Trank der Geschwindigkeit</h5>
<h5>Trank der Riesenstärke</h5>
<h5>Trank der Tierfreundschaft</h5>
<h5>Trank der Unsichtbarkeit</h5>
<h5>Trank der Verkleinerung</h5>
<h5>Trank der Wasseratmung</h5>
<h5>Trank des Fliegens</h5>
<h5>Trank des Gedankenlesens</h5>
<h5>Trank des Gifts</h5>
<h5>Trank des Heldenmuts</h5>
<h5>Trank des Hellsehens</h5>
<h5>Trank des Kletterns</h5>
<h5>Trank des Wachstums</h5>
<h5>Trank des Widerstands</h5>
<h5>Trickbeutel</h5>
<h5>Grauer Trickbeutel</h5>
<h5>Rostfarbener Trickbeutel</h5>
<h5>Beigefarbener Trickbeutel</h5>
<h5>Umhang der Fledermaus</h5>
<h5>Umhang der Spinnentiere</h5>
<h5>Umhang der Verlagerung</h5>
<h5>Umhang des Mantarochens</h5>
<h5>Umhang des Scharlatans</h5>
<h5>Umhang des Schutzes</h5>
<h5>Unbewegliches Zepter</h5>
<h5>Universelles Lösungsmittel</h5>
<h5>Verteidiger</h5>
<h5>Verzaubertes beschlagenes Leder</h5>
<h5>Waffe, +1, +2 oder +3</h5>
<h5>Windfächer</h5>
<h5>Wunderfarben</h5>
<h5>Würfel der Ebenen</h5>
<h5>Würfel der Kraft</h5>
<h5>Seiten des Würfels der Kraft</h5>
<h5>Wurfspeer des Blitzes</h5>
<h5>Zauberabwehrschild</h5>
<h5>Zauberflügel</h5>
<h5>Zauberschriftrolle</h5>
<h5>Zauberstab der Angst</h5>
<h5>Zauberstab der Bindung</h5>
<h5>Zauberstab der Blitzschläge</h5>
<h5>Zauberstab der Feindeslokalisierung</h5>
<h5>Zauberstab der Feuerbälle</h5>
<h5>Zauberstab der Geheimnisse</h5>
<h5>Zauberstab der Magieerkennung</h5>
<h5>Zauberstab der magischen Geschosse</h5>
<h5>Zauberstab der Paralyse</h5>
<h5>Zauberstab der Verwandlung</h5>
<h5>Zauberstab des Kriegsmagiers, +1, +2 oder +3</h5>
<h5>Zauberstab des Netzes</h5>
<h5>Zauberstab des Wunders</h5>
<h5>Zepter der Absorption</h5>
<h5>Zepter der Herrschaft</h5>
<h5>Zepter der herrschaftlichen Macht</h5>
<h5>Zepter der Sicherheit</h5>
<h5>Zepter der Wachsamkeit</h5>
<h5>Zwergengürtel</h5>
<h5>Zwergische Ritterrüstung</h5>
<h5>Zwergischer Wurfhammer</h5>
<h5>Fähigkeiten</h5>
<h5>Kommunikation</h5>
<h5>Sinne</h5>
<h5>Gesinnung</h5>
<h5>Besonderes Ziel</h5>
<h5>Kugel der Drachen</h5>
