<a class="magicitem" href="#magicitem-adamantruestung">Adamantrüstung</a>
<a class="magicitem" href="#magicitem-amulett-der-ebenen">Amulett der Ebenen</a>
<a class="magicitem" href="#magicitem-amulett-des-schutzes-gegen-ortung-und-ausspaehung">Amulett des Schutzes gegen Ortung und Ausspähung</a>
<a class="magicitem" href="#magicitem-anhaenger-der-gesundheit">Anhänger der Gesundheit</a>
<a class="magicitem" href="#magicitem-anhaenger-der-gesundheit">Anhänger der Gesundheit</a>
<a class="magicitem" href="#magicitem-anhaenger-der-wundheilung">Anhänger der Wundheilung</a>
<a class="magicitem" href="#magicitem-anhaenger-des-giftschutzes">Anhänger des Giftschutzes</a>
<a class="magicitem" href="#magicitem-apparat-der-krabbe">Apparat der Krabbe</a>
<a class="magicitem" href="#magicitem-hebel-des-apparats-der-krabbe">Hebel des Apparats der Krabbe</a>
<a class="magicitem" href="#magicitem-armschienen-der-verteidigung">Armschienen der Verteidigung</a>
<a class="magicitem" href="#magicitem-armschienen-des-bogenschuetzen-">Armschienen des Bogenschützen </a>
<a class="magicitem" href="#magicitem-augen-der-bezauberung">Augen der Bezauberung</a>
<a class="magicitem" href="#magicitem-augen-des-adlers">Augen des Adlers</a>
<a class="magicitem" href="#magicitem-augen-des-praezisen-sehens">Augen des präzisen Sehens</a>
<a class="magicitem" href="#magicitem-belebter-schild">Belebter Schild</a>
<a class="magicitem" href="#magicitem-berserkeraxt">Berserkeraxt</a>
<a class="magicitem" href="#magicitem-bohnenbeutel">Bohnenbeutel</a>
<a class="magicitem" href="#magicitem-boesartige-waffe">Bösartige Waffe</a>
<a class="magicitem" href="#magicitem-brosche-des-abschirmens">Brosche des Abschirmens</a>
<a class="magicitem" href="#magicitem-brunnen-dervielen-welten">Brunnen dervielen Welten</a>
<a class="magicitem" href="#magicitem-daemonenruestung">Dämonenrüstung</a>
<a class="magicitem" href="#magicitem-diadem-des-versengens">Diadem des Versengens</a>
<a class="magicitem" href="#magicitem-dieb-der-neun-leben">Dieb der neun Leben</a>
<a class="magicitem" href="#magicitem-dimensionsfesseln">Dimensionsfesseln</a>
<a class="magicitem" href="#magicitem-dolch-des-gifts">Dolch des Gifts</a>
<a class="magicitem" href="#magicitem-drachenschuppenpanzer">Drachenschuppenpanzer</a>
<a class="magicitem" href="#magicitem-drachentoeter">Drachentöter</a>
<a class="magicitem" href="#magicitem-dreizack-der-fischherrschaft">Dreizack der Fischherrschaft</a>
<a class="magicitem" href="#magicitem-edelstein-der-helligkeit">Edelstein der Helligkeit</a>
<a class="magicitem" href="#magicitem-edelstein-des-sehens">Edelstein des Sehens</a>
<a class="magicitem" href="#magicitem-effizienter-koecher">Effizienter Köcher</a>
<a class="magicitem" href="#magicitem-eisenbaender-des-bindens">Eisenbänder des Bindens</a>
<a class="magicitem" href="#magicitem-eiserne-flasche">Eiserne Flasche</a>
<a class="magicitem" href="#magicitem-elementarer-edelstein">Elementarer Edelstein</a>
<a class="magicitem" href="#magicitem-elfenruestung">Elfenrüstung</a>
<a class="magicitem" href="#magicitem-elfenumhang">Elfenumhang</a>
<a class="magicitem" href="#magicitem-ewiger-leim">Ewiger Leim</a>
<a class="magicitem" href="#magicitem-faltboot">Faltboot</a>
<a class="magicitem" href="#magicitem-federfigur">Federfigur</a>
<a class="magicitem" href="#magicitem-fesselseil">Fesselseil</a>
<a class="magicitem" href="#magicitem-feuerschale-der-feuerelementar-herrschaft">Feuerschale der Feuerelementar-Herrschaft</a>
<a class="magicitem" href="#magicitem-figur-der-wundersamen-kraft">Figur der wundersamen Kraft</a>
<a class="magicitem" href="#magicitem-riesenfliege">Riesenfliege</a>
<a class="magicitem" href="#magicitem-flammenzunge">Flammenzunge</a>
<a class="magicitem" href="#magicitem-fliegender-teppich">Fliegender Teppich</a>
<a class="magicitem" href="#magicitem-floete-des-rattenfaengers">Flöte des Rattenfängers</a>
<a class="magicitem" href="#magicitem-floete-des-unheimlichen">Flöte des Unheimlichen</a>
<a class="magicitem" href="#magicitem-flotte-festung">Flotte Festung</a>
<a class="magicitem" href="#magicitem-flugbesen">Flugbesen</a>
<a class="magicitem" href="#magicitem-frassbeutel">Fraßbeutel</a>
<a class="magicitem" href="#magicitem-frostbrand">Frostbrand</a>
<a class="magicitem" href="#magicitem-gefluegelte-stiefel">Geflügelte Stiefel</a>
<a class="magicitem" href="#magicitem-geschosse">Geschosse, +1, +2 oder +3</a>
<a class="magicitem" href="#magicitem-glocke-des-oeffnens">Glocke des Öffnens</a>
<a class="magicitem" href="#magicitem-gluecksklinge">Glücksklinge</a>
<a class="magicitem" href="#magicitem-guertel-der-riesenstaerke">Gürtel der Riesenstärke</a>
<a class="magicitem" href="#magicitem-halskette-der-anpassung">Halskette der Anpassung</a>
<a class="magicitem" href="#magicitem-halskette-der-feuerbaelle">Halskette der Feuerbälle</a>
<a class="magicitem" href="#magicitem-halskette-der-gebetsperlen">Halskette der Gebetsperlen</a>
<a class="magicitem" href="#magicitem-hammer-des-blitzschlags">Hammer des Blitzschlags</a>
<a class="magicitem" href="#magicitem-handbuch-der-golems">Handbuch der Golems</a>
<a class="magicitem" href="#magicitem-handbuch-der-koerperlichen-ertuechtigung">Handbuch der körperlichen Ertüchtigung</a>
<a class="magicitem" href="#magicitem-handbuch-der-koerperlichen-gesundheit">Handbuch der körperlichen Gesundheit</a>
<a class="magicitem" href="#magicitem-handbuch-des-schnellen-handelns">Handbuch des schnellen Handelns</a>
<a class="magicitem" href="#magicitem-handschuhe-des-geschossfangens-">Handschuhe des Geschossfangens </a>
<a class="magicitem" href="#magicitem-handschuhe-des-schwimmens-und-kletterns-">Handschuhe des Schwimmens und Kletterns </a>
<a class="magicitem" href="#magicitem-heiliger-raecher">Heiliger Rächer</a>
<a class="magicitem" href="#magicitem-heiltrank">Heiltrank</a>
<a class="magicitem" href="#magicitem-heiltraenke">Heiltränke</a>
<a class="magicitem" href="#magicitem-helm-der-pracht">Helm der Pracht</a>
<a class="magicitem" href="#magicitem-helm-der-telepathie">Helm der Telepathie</a>
<a class="magicitem" href="#magicitem-helm-der-teleportation-">Helm der Teleportation </a>
<a class="magicitem" href="#magicitem-helm-des-sprachenverstehens">Helm des Sprachenverstehens</a>
<a class="magicitem" href="#magicitem-henkersschwert">Henkersschwert</a>
<a class="magicitem" href="#magicitem-horn-der-sprengung">Horn der Sprengung</a>
<a class="magicitem" href="#magicitem-horn-von-walhalla">Horn von Walhalla</a>
<a class="magicitem" href="#magicitem-hufeisen-der-geschwindigkeit">Hufeisen der Geschwindigkeit</a>
<a class="magicitem" href="#magicitem-hufeisen-des-zephyrs">Hufeisen des Zephyrs</a>
<a class="magicitem" href="#magicitem-hut-der-verkleidung">Hut der Verkleidung</a>
<a class="magicitem" href="#magicitem-ifriti-flasche">Ifriti-Flasche</a>
<a class="magicitem" href="#magicitem-lonenstein">lonenstein</a>
<a class="magicitem" href="#magicitem-karaffe-des-endlosen-wassers">Karaffe des endlosen Wassers</a>
<a class="magicitem" href="#magicitem-karten-der-illusionen">Karten der Illusionen</a>
<a class="magicitem" href="#magicitem-kerze-der-anrufung">Kerze der Anrufung</a>
<a class="magicitem" href="#magicitem-kristallkugel">Kristallkugel</a>
<a class="magicitem" href="#magicitem-krummsaebel-der-geschwindigkeit">Krummsäbel der Geschwindigkeit</a>
<a class="magicitem" href="#magicitem-laterne-der-enttarnung">Laterne der Enttarnung</a>
<a class="magicitem" href="#magicitem-leitfaden-der-fuehrungskraft-und-der-einflussnahme">Leitfaden der Führungskraft und der Einflussnahme</a>
<a class="magicitem" href="#magicitem-leitfaden-des-klaren-denkens">Leitfaden des klaren Denkens</a>
<a class="magicitem" href="#magicitem-leitfaden-des-verstaendnisses">Leitfaden des Verständnisses</a>
<a class="magicitem" href="#magicitem-liebestrank">Liebestrank</a>
<a class="magicitem" href="#magicitem-mantel-des-zauberwiderstands">Mantel des Zauberwiderstands</a>
<a class="magicitem" href="#magicitem-medaillon-der-gedanken">Medaillon der Gedanken</a>
<a class="magicitem" href="#magicitem-mithralruestung">Mithralrüstung</a>
<a class="magicitem" href="#magicitem-nachtbrille">Nachtbrille</a>
<a class="magicitem" href="#magicitem-nimmervoller-beutel">Nimmervoller Beutel</a>
<a class="magicitem" href="#magicitem-oel-der-glaette">Öl der Glätte</a>
<a class="magicitem" href="#magicitem-oel-der-koerperlosigkeit">Öl der Körperlosigkeit</a>
<a class="magicitem" href="#magicitem-oel-der-schaerfe">Öl der Schärfe</a>
<a class="magicitem" href="#magicitem-panzerhandschuhe-der-ogerkraft-">Panzerhandschuhe der Ogerkraft </a>
<a class="magicitem" href="#magicitem-perle-der-kraft">Perle der Kraft</a>
<a class="magicitem" href="#magicitem-perle-der-macht">Perle der Macht</a>
<a class="magicitem" href="#magicitem-pfeil-des-toetens">Pfeil des Tötens</a>
<a class="magicitem" href="#magicitem-pfeilfangender-schild">Pfeilfangender Schild</a>
<a class="magicitem" href="#magicitem-praktischer-rucksack">Praktischer Rucksack</a>
<a class="magicitem" href="#magicitem-rauchfass-der-luftelementar-herrschaft">Rauchfass der Luftelementar-Herrschaft</a>
<a class="magicitem" href="#magicitem-rauchflasche">Rauchflasche</a>
<a class="magicitem" href="#magicitem-restaurative-salbe">Restaurative Salbe</a>
<a class="magicitem" href="#magicitem-riesentoeter">Riesentöter</a>
<a class="magicitem" href="#magicitem-ring-der-bewegungsfreiheit">Ring der Bewegungsfreiheit</a>
<a class="magicitem" href="#magicitem-ring-der-drei-wuensche">Ring der drei Wünsche</a>
<a class="magicitem" href="#magicitem-ring-der-dschinni-beschwoerung">Ring der Dschinni-Beschwörung</a>
<a class="magicitem" href="#magicitem-ring-der-elementar-herrschaft">Ring der Elementar-Herrschaft</a>
<a class="magicitem" href="#magicitem-ring-der-gedankenabschirmung">Ring der Gedankenabschirmung</a>
<a class="magicitem" href="#magicitem-ring-der-regeneration">Ring der Regeneration</a>
<a class="magicitem" href="#magicitem-ring-der-sternschnuppen">Ring der Sternschnuppen</a>
<a class="magicitem" href="#magicitem-ring-der-telekinese">Ring der Telekinese</a>
<a class="magicitem" href="#magicitem-ring-der-unsichtbarkeit">Ring der Unsichtbarkeit</a>
<a class="magicitem" href="#magicitem-ring-der-waerme">Ring der Wärme</a>
<a class="magicitem" href="#magicitem-ring-des-ausweichens">Ring des Ausweichens</a>
<a class="magicitem" href="#magicitem-ring-des-federfalls">Ring des Federfalls</a>
<a class="magicitem" href="#magicitem-ring-des-roentgenblicks">Ring des Röntgenblicks</a>
<a class="magicitem" href="#magicitem-ring-des-schutzes">Ring des Schutzes</a>
<a class="magicitem" href="#magicitem-ring-des-schwimmens">Ring des Schwimmens</a>
<a class="magicitem" href="#magicitem-ring-des-springens">Ring des Springens</a>
<a class="magicitem" href="#magicitem-ring-des-tierumgangs">Ring des Tierumgangs</a>
<a class="magicitem" href="#magicitem-ring-des-wasserlaufens">Ring des Wasserlaufens</a>
<a class="magicitem" href="#magicitem-ring-des-widders">Ring des Widders</a>
<a class="magicitem" href="#magicitem-ring-des-widerstands">Ring des Widerstands</a>
<a class="magicitem" href="#magicitem-ring-des-zauberspeichers">Ring des Zauberspeichers</a>
<a class="magicitem" href="#magicitem-ring-des-zauberwendens">Ring des Zauberwendens</a>
<a class="magicitem" href="#magicitem-ritterruestung-der-koerperlosigkeit">Ritterrüstung der Körperlosigkeit</a>
<a class="magicitem" href="#magicitem-robe-der-augen">Robe der Augen</a>
<a class="magicitem" href="#magicitem-robe-der-nuetzlichen-dinge">Robe der nützlichen Dinge</a>
<a class="magicitem" href="#magicitem-robe-der-schillernden-farben">Robe der schillernden Farben</a>
<a class="magicitem" href="#magicitem-robe-der-sterne">Robe der Sterne</a>
<a class="magicitem" href="#magicitem-robe-des-erzmagiers">Robe des Erzmagiers</a>
<a class="magicitem" href="#magicitem-ruestung-der-unverwundbarkeit">Rüstung der Unverwundbarkeit</a>
<a class="magicitem" href="#magicitem-ruestung-der-verwundbarkeit">Rüstung der Verwundbarkeit</a>
<a class="magicitem" href="#magicitem-ruestung-des-widerstands">Rüstung des Widerstands</a>
<a class="magicitem" href="#magicitem-ruestung">Rüstung, +1, +2 oder +3</a>
<a class="magicitem" href="#magicitem-schale-der-wasserelementar-herrschaft">Schale der Wasserelementar-Herrschaft</a>
<a class="magicitem" href="#magicitem-schicksalskarten">Schicksalskarten</a>
<a class="magicitem" href="#magicitem-schild-der-geschossanziehung">Schild der Geschossanziehung</a>
<a class="magicitem" href="#magicitem-schild">Schild, +1, +2 oder +3</a>
<a class="magicitem" href="#magicitem-schuhe-des-spinnenkletterns">Schuhe des Spinnenkletterns</a>
<a class="magicitem" href="#magicitem-schwert-der-schaerfe">Schwert der Schärfe</a>
<a class="magicitem" href="#magicitem-schwert-der-verwundung">Schwert der Verwundung</a>
<a class="magicitem" href="#magicitem-schwert-des-lebensentzugs">Schwert des Lebensentzugs</a>
<a class="magicitem" href="#magicitem-schwurbogen">Schwurbogen</a>
<a class="magicitem" href="#magicitem-seelenspiegel">Seelenspiegel</a>
<a class="magicitem" href="#magicitem-seil-des-kletterns">Seil des Kletterns</a>
<a class="magicitem" href="#magicitem-skarabaeus-des-schutzes">Skarabäus des Schutzes</a>
<a class="magicitem" href="#magicitem-sonnenklinge">Sonnenklinge</a>
<a class="magicitem" href="#magicitem-sphaere-des-nichts">Sphäre des Nichts</a>
<a class="magicitem" href="#magicitem-stab-der-bezauberung">Stab der Bezauberung</a>
<a class="magicitem" href="#magicitem-stab-der-heilung">Stab der Heilung</a>
<a class="magicitem" href="#magicitem-stab-der-insektenschwaerme">Stab der Insektenschwärme</a>
<a class="magicitem" href="#magicitem-stab-der-macht">Stab der Macht</a>
<a class="magicitem" href="#magicitem-stab-der-python">Stab der Python</a>
<a class="magicitem" href="#magicitem-stab-der-verkuemmerung">Stab der Verkümmerung</a>
<a class="magicitem" href="#magicitem-stab-der-waldlande">Stab der Waldlande</a>
<a class="magicitem" href="#magicitem-stab-des-blitzes-und-donners">Stab des Blitzes und Donners</a>
<a class="magicitem" href="#magicitem-stab-des-feuers">Stab des Feuers</a>
<a class="magicitem" href="#magicitem-stab-des-frosts">Stab des Frosts</a>
<a class="magicitem" href="#magicitem-stab-des-magus">Stab des Magus</a>
<a class="magicitem" href="#magicitem-stab-des-schlagens">Stab des Schlagens</a>
<a class="magicitem" href="#magicitem-staub-der-trockenheit">Staub der Trockenheit</a>
<a class="magicitem" href="#magicitem-staub-des-niesens-und-erstickens">Staub des Niesens und Erstickens</a>
<a class="magicitem" href="#magicitem-staub-des-verschwindens">Staub des Verschwindens</a>
<a class="magicitem" href="#magicitem-stein-der-erdelementar-herrschaft">Stein der Erdelementar-Herrschaft</a>
<a class="magicitem" href="#magicitem-stein-des-gluecks-gluecksstein">Stein des Glücks (Glücksstein)</a>
<a class="magicitem" href="#magicitem-stiefel-der-elfen">Stiefel der Elfen</a>
<a class="magicitem" href="#magicitem-stiefel-der-geschwindigkeit">Stiefel der Geschwindigkeit</a>
<a class="magicitem" href="#magicitem-stiefel-der-winterlande">Stiefel der Winterlande</a>
<a class="magicitem" href="#magicitem-stiefel-des-schreitens-und-springens">Stiefel des Schreitens und Springens</a>
<a class="magicitem" href="#magicitem-stiefel-des-schwebens">Stiefel des Schwebens</a>
<a class="magicitem" href="#magicitem-stirnband-der-intelligenz">Stirnband der Intelligenz</a>
<a class="magicitem" href="#magicitem-streitkolben-des-niederstreckens">Streitkolben des Niederstreckens</a>
<a class="magicitem" href="#magicitem-streitkolben-des-terrors">Streitkolben des Terrors</a>
<a class="magicitem" href="#magicitem-streitkolben-des-zusammenbruchs">Streitkolben des Zusammenbruchs</a>
<a class="magicitem" href="#magicitem-talisman-des-absolut-boesen">Talisman des absolut Bösen</a>
<a class="magicitem" href="#magicitem-talisman-des-nichts">Talisman des Nichts</a>
<a class="magicitem" href="#magicitem-talisman-des-reinen-guten">Talisman des reinen Guten</a>
<a class="magicitem" href="#magicitem-tanzendes-schwert">Tanzendes Schwert</a>
<a class="magicitem" href="#magicitem-tragbares-loch">Tragbares Loch</a>
<a class="magicitem" href="#magicitem-trank-der-gasfoermigen-gestalt">Trank der gasförmigen Gestalt</a>
<a class="magicitem" href="#magicitem-trank-der-geschwindigkeit">Trank der Geschwindigkeit</a>
<a class="magicitem" href="#magicitem-trank-der-riesenstaerke">Trank der Riesenstärke</a>
<a class="magicitem" href="#magicitem-trank-der-tierfreundschaft">Trank der Tierfreundschaft</a>
<a class="magicitem" href="#magicitem-trank-der-unsichtbarkeit">Trank der Unsichtbarkeit</a>
<a class="magicitem" href="#magicitem-trank-der-verkleinerung">Trank der Verkleinerung</a>
<a class="magicitem" href="#magicitem-trank-der-wasseratmung">Trank der Wasseratmung</a>
<a class="magicitem" href="#magicitem-trank-des-fliegens">Trank des Fliegens</a>
<a class="magicitem" href="#magicitem-trank-des-gedankenlesens">Trank des Gedankenlesens</a>
<a class="magicitem" href="#magicitem-trank-des-gifts">Trank des Gifts</a>
<a class="magicitem" href="#magicitem-trank-des-heldenmuts">Trank des Heldenmuts</a>
<a class="magicitem" href="#magicitem-trank-des-hellsehens">Trank des Hellsehens</a>
<a class="magicitem" href="#magicitem-trank-des-kletterns">Trank des Kletterns</a>
<a class="magicitem" href="#magicitem-trank-des-wachstums">Trank des Wachstums</a>
<a class="magicitem" href="#magicitem-trank-des-widerstands">Trank des Widerstands</a>
<a class="magicitem" href="#magicitem-trickbeutel">Trickbeutel</a>
<a class="magicitem" href="#magicitem-grauer-trickbeutel">Grauer Trickbeutel</a>
<a class="magicitem" href="#magicitem-rostfarbener-trickbeutel">Rostfarbener Trickbeutel</a>
<a class="magicitem" href="#magicitem-beigefarbener-trickbeutel">Beigefarbener Trickbeutel</a>
<a class="magicitem" href="#magicitem-umhang-der-fledermaus">Umhang der Fledermaus</a>
<a class="magicitem" href="#magicitem-umhang-der-spinnentiere">Umhang der Spinnentiere</a>
<a class="magicitem" href="#magicitem-umhang-der-verlagerung">Umhang der Verlagerung</a>
<a class="magicitem" href="#magicitem-umhang-des-mantarochens">Umhang des Mantarochens</a>
<a class="magicitem" href="#magicitem-umhang-des-scharlatans">Umhang des Scharlatans</a>
<a class="magicitem" href="#magicitem-umhang-des-schutzes">Umhang des Schutzes</a>
<a class="magicitem" href="#magicitem-unbewegliches-zepter">Unbewegliches Zepter</a>
<a class="magicitem" href="#magicitem-universelles-loesungsmittel">Universelles Lösungsmittel</a>
<a class="magicitem" href="#magicitem-verteidiger">Verteidiger</a>
<a class="magicitem" href="#magicitem-verzaubertes-beschlagenes-leder">Verzaubertes beschlagenes Leder</a>
<a class="magicitem" href="#magicitem-waffe">Waffe, +1, +2 oder +3</a>
<a class="magicitem" href="#magicitem-windfaecher">Windfächer</a>
<a class="magicitem" href="#magicitem-wunderfarben">Wunderfarben</a>
<a class="magicitem" href="#magicitem-wuerfel-der-ebenen">Würfel der Ebenen</a>
<a class="magicitem" href="#magicitem-wuerfel-der-kraft">Würfel der Kraft</a>
<a class="magicitem" href="#magicitem-seiten-des-wuerfels-der-kraft">Seiten des Würfels der Kraft</a>
<a class="magicitem" href="#magicitem-wurfspeer-des-blitzes">Wurfspeer des Blitzes</a>
<a class="magicitem" href="#magicitem-zauberabwehrschild">Zauberabwehrschild</a>
<a class="magicitem" href="#magicitem-zauberfluegel">Zauberflügel</a>
<a class="magicitem" href="#magicitem-zauberschriftrolle">Zauberschriftrolle</a>
<a class="magicitem" href="#magicitem-zauberstab-der-angst">Zauberstab der Angst</a>
<a class="magicitem" href="#magicitem-zauberstab-der-bindung">Zauberstab der Bindung</a>
<a class="magicitem" href="#magicitem-zauberstab-der-blitzschlaege">Zauberstab der Blitzschläge</a>
<a class="magicitem" href="#magicitem-zauberstab-der-feindeslokalisierung">Zauberstab der Feindeslokalisierung</a>
<a class="magicitem" href="#magicitem-zauberstab-der-feuerbaelle">Zauberstab der Feuerbälle</a>
<a class="magicitem" href="#magicitem-zauberstab-der-geheimnisse">Zauberstab der Geheimnisse</a>
<a class="magicitem" href="#magicitem-zauberstab-der-magieerkennung">Zauberstab der Magieerkennung</a>
<a class="magicitem" href="#magicitem-zauberstab-der-magischen-geschosse">Zauberstab der magischen Geschosse</a>
<a class="magicitem" href="#magicitem-zauberstab-der-paralyse">Zauberstab der Paralyse</a>
<a class="magicitem" href="#magicitem-zauberstab-der-verwandlung">Zauberstab der Verwandlung</a>
<a class="magicitem" href="#magicitem-zauberstab-des-kriegsmagiers">Zauberstab des Kriegsmagiers, +1, +2 oder +3</a>
<a class="magicitem" href="#magicitem-zauberstab-des-netzes">Zauberstab des Netzes</a>
<a class="magicitem" href="#magicitem-zauberstab-des-wunders">Zauberstab des Wunders</a>
<a class="magicitem" href="#magicitem-zepter-der-absorption">Zepter der Absorption</a>
<a class="magicitem" href="#magicitem-zepter-der-herrschaft">Zepter der Herrschaft</a>
<a class="magicitem" href="#magicitem-zepter-der-herrschaftlichen-macht">Zepter der herrschaftlichen Macht</a>
<a class="magicitem" href="#magicitem-zepter-der-sicherheit">Zepter der Sicherheit</a>
<a class="magicitem" href="#magicitem-zepter-der-wachsamkeit">Zepter der Wachsamkeit</a>
<a class="magicitem" href="#magicitem-zwergenguertel">Zwergengürtel</a>
<a class="magicitem" href="#magicitem-zwergische-ritterruestung">Zwergische Ritterrüstung</a>
<a class="magicitem" href="#magicitem-zwergischer-wurfhammer">Zwergischer Wurfhammer</a>
<a class="magicitem" href="#magicitem-faehigkeiten">Fähigkeiten</a>
<a class="magicitem" href="#magicitem-kommunikation">Kommunikation</a>
<a class="magicitem" href="#magicitem-sinne">Sinne</a>
<a class="magicitem" href="#magicitem-gesinnung">Gesinnung</a>
<a class="magicitem" href="#magicitem-besonderes-ziel">Besonderes Ziel</a>
<a class="magicitem" href="#magicitem-kugel-der-drachen">Kugel der Drachen</a>
