<h3>Zauberlisten</h3>

<h4>Zauber des Barden</h4>


<h5>Zaubertricks (0. Grad)</h5>
<p>Ausbessern Botschaft</p>
<p>Einfache Illusion</p>
<p>Gehässiger Spott</p>
<p>Licht</p>
<p>Magierhand</p>
<p>Tanzende Lichter</p>
<p>Taschenspielerei</p>
<p>Zielsicherer Schlag</p>

<h5>1. Grad</h5>
<p>Donnerwoge</p>
<p>Federfall</p>
<p>Feenfeuer</p>
<p>Fürchterlicher Lachanfall</p>
<p>Heilendes Wort</p>
<p>Heldenmut</p>
<p>Identifizieren</p>
<p>Illusionsschrift</p>
<p>Lange Schritte</p>
<p>Lautloses Trugbild</p>
<p>Magie entdecken</p>
<p>Mit Tieren sprechen Person bezaubern</p>
<p>Schlaf</p>
<p>Selbstverkleidung</p>
<p>Sprachen verstehen</p>
<p>Tierfreundschaft</p>
<p>Unsichtbarer Diener</p>
<p>Verderben</p>
<p>Wunden heilen</p>

<h5>2. Grad</h5>
<p>Attribut verbessern</p>
<p>Blindheit/Taubheit</p>
<p>Einflüsterung</p>
<p>Fesseln</p>
<p>Gedanken wahrnehmen</p>
<p>Gefühle besänftigen</p>
<p>Gegenstand aufspüren</p>
<p>Klopfen</p>
<p>Magischer Mund</p>
<p>Metall erhitzen</p>
<p>Person festhalten</p>
<p>Schwache Genesung</p>
<p>Stille</p>
<p>Tierbote</p>
<p>Tiere oder Pflanzen aufspüren<p>
<p>Unsichtbares sehen</p>
<p>Unsichtbarkeit</p>
<p>Zerbersten</p>
<p>Zone der Wahrheit</p>

<h5>3. Grad</h5>
<p>Fluch</p>
<p>Furcht</p>
<p>Glyphe des Schutzes</p>
<p>Hellsehen</p>
<p>Hypnotisches Muster</p>
<p>Mächtiges Trugbild</p>
<p>Magie bannen</p>
<p>Mit Pflanzen sprechen</p>
<p>Mit Toten sprechen</p>
<p>Pflanzenwachstum</p>
<p>Stinkende Wolke</p>
<p>Unauffindbarkeit</p>
<p>Verständigung</p>
<p>Winzige Hütte</p>
<p>Zungen</p>

<h5>4. Grad</h5>
<p>Bewegungsfreiheit </p>
<p>Dimensionstür</p>
<p>Kreatur aufspüren</p>
<p>Mächtige Unsichtbarkeit </p>
<p>Scheingelände</p>
<p>Verwandlung</p>
<p>Verwirrung</p>
<p>Zwang</p>

<h5>5. Grad</h5>
<p>Ablenkung</p>
<p>Äußerlichkeiten</p>
<p>Ausspähung</p>
<p>Bindung der Ebenen</p>
<p>Erinnerung verändern</p>
<p>Erwecken</p>
<p>Geas</p>
<p>Gegenstände beleben</p>
<p>Kreis der Teleportation</p>
<p>Massen-Wunden heilen</p>
<p>Monster festhalten</p>
<p>Person beherrschen</p>
<p>Sagenkunde</p>
<p>Tote erwecken</p>
<p>Traum</p>
<p>Vollständige Genesung</p>

<h5>6. Grad</h5>
<p>Böser Blick</p>
<p>Massen-Einflüsterung</p>
<p>Unwiderstehlicher Tanz</p>
<p>Vorbestimmtes Trugbild</p>
<p>Wächter und Hüter</p>
<p>Wahrer Blick</p>
<p>Weg finden</p>

<h5>7. Grad</h5>
<p>Arkanes Schwert</p>
<p>Arkane Spiegelung</p>
<p>Ätherische Gestalten</p>
<p>Auferstehung</p>
<p>Energiekäfig</p>
<p>Herrliches Herrenhaus</p>
<p>Regeneration</p>
<p>Symbol</p>
<p>Teleportieren</p>
<p>Trugbild projizieren</p>

<h5>8. Grad</h5>
<p>Gedankenleere</p>
<p>Monster beherrschen</p>
<p>Redegewandtheit</p>
<p>Schwachsinn</p>
<p>Wort der Macht: Betäubung</p>

<h5>9. Grad</h5>
<p>Voraussicht</p>
<p>Wahre Verwandlung</p>
<p>Wort der Macht: Tod</p>


<h4>Zauber des Druiden</h4>

<h5>Zaubertricks (0. Grad) </h5>
<p>Ausbessern</p>
<p>Druidenkunst</p>
<p>Flammen erzeugen</p>
<p>Gift versprühen</p>
<p>Göttliche Führung</p>
<p>Shillelagh</p>
<p>Widerstand</p>

<h5>1. Grad</h5>
<p>Donnerwoge</p>
<p>Feenfeuer</p>
<p>Gift und Krankheit entdecken</p>
<p>Gute Beeren</p>
<p>Heilendes Wort</p>
<p>Lange Schritte</p>
<p>Magie entdecken</p>
<p>Mit Tieren sprechen</p>
<p>Nahrung und Wasser reinigen</p>
<p>Nebelwolke</p>
<p>Person bezaubern</p>
<p>Springen</p>
<p>Tierfreundschaft</p>
<p>Verstricken</p>
<p>Wasser erschaffen oder zerstören</p>
<p>Wunden heilen</p>


<h5>2. Grad</h5>
<p>Attribut verbessern</p>
<p>Dornenwuchs</p>
<p>Dunkelsicht</p>
<p>Fallen finden </p>
<p>Flammenklinge </p>
<p>Flammenkugel </p>
<p>Gegenstand aufspüren </p>
<p>Metall erhitzen </p>
<p>Mondstrahl</p>
<p>Person festhalten</p>
<p>Rindenhaut</p>
<p>Schutz vor Gift</p>
<p>Schwache Genesung</p>
<p>Spurloses Gehen</p>
<p>Tierbote</p>
<p>Tiere oder Pflanzen aufspüren</p>
<p>Windstoß</p>

<h5>3. Grad</h5>
<p>Auf Wasser gehen</p>
<p>Blitze herbeirufen</p>
<p>Magie bannen</p>
<p>Mit Pflanzen sprechen</p>
<p>Mit Stein verschmelzen</p>
<p>Pflanzenwachstum</p>
<p>Schneesturm</p>
<p>Schutz vor Energie</p>
<p>Tageslicht</p>
<p>Tiere beschwören</p>
<p>Wasser atmen</p>
<p>Windwall</p>

<h5>4. Grad</h5>

<p>Bewegungsfreiheit</p>
<p>Eissturm</p>
<p>Feuerwand</p>
<p>Kreatur aufspüren</p>
<p>Plage</p>
<p>Rieseninsekt</p>
<p>Scheingelände</p>
<p>Schwache Elementare beschwören</p>
<p>Stein formen</p>
<p>Steinhaut</p>
<p>Tier beherrschen</p>
<p>Verwandlung</p>
<p>Verwirrung</p>
<p>Wasser kontrollieren</p>
<p>Wesen des Waldes beschwören</p>


<h5>5. Grad</h5>
<p>Ansteckung</p>
<p>Ausspähung</p>
<p>Bindung der Ebenen</p>
<p>Einswerden mit der Natur</p>
<p>Elementar beschwören</p>
<p>Erwecken</p>
<p>Geas</p>
<p>Hölzerner Weg</p>
<p>Insektenplage</p>
<p>Massen-Wunden heilen</p>
<p>Schutzhülle gegen Lebendes</p>
<p>Steinwand</p>
<p>Vollständige Genesung</p>
<p>Wiedergeburt</p>

<h5>6. Grad</h5>
<p>Dornenwand</p>
<p>Erde bewegen</p>
<p>Feenwesen beschwören</p>
<p>Heilung</p>
<p>Heldenmahl</p>
<p>Pflanzentor</p>
<p>Sonnenstrahl</p>
<p>Weg finden</p>
<p>Windwandeln</p>

<h5>7. Grad</h5>
<p>Arkane Spiegelung</p>
<p>Ebenenwechsel</p>
<p>Feuersturm</p>
<p>Regeneration</p>
<p>Schwerkraft umkehren</p>

<h5>8. Grad</h5>
<p>Antipathie/Sympathie</p>
<p>Erdbeben</p>
<p>Schwachsinn</p>
<p>Sonnenfeuer</p>
<p>Tierform</p>
<p>Wetterkontrolle</p>

<h5>9. Grad</h5>
<p>Gestaltwandel</p>
<p>Sturm der Vergeltung</p>
<p>Voraussicht</p>
<p>Wahre Auferstehung</p>


<h4>Zauber des Hexenmeisters</h4>

<h5>Zaubertricks (0. Grad)</h5>
<p>Einfache Illusion</p>
<p>Gift versprühen</p>
<p>Kalte Hand</p>
<p>Magierhand</p>
<p>Taschenspielerei</p>
<p>Unheimlicher Strahl</p>
<p>Zielsicherer Schlag</p>

<h5>1. Grad</h5>
<p>Höllischer Tadel</p>
<p>Illusionsschrift</p>
<p>Person bezaubern</p>
<p>Rascher Rückzug</p>
<p>Schutz vor Gut und Böse</p>
<p>Sprachen verstehen</p>
<p>Unsichtbarer Diener</p>

<h5>2. Grad</h5>
<p>Dunkelheit</p>
<p>Einflüsterung</p>
<p>Fesseln</p>
<p>Nebelschritt</p>
<p>Person festhalten</p>
<p>Schwächestrahl</p>
<p>Spiegelbilder</p>
<p>Spinnenklettern</p>
<p>Unsichtbarkeit</p>
<p>Zerbersten</p>

<h5>3. Grad</h5>
<p>Fliegen</p>
<p>Fluch brechen</p>
<p>Furcht</p>
<p>Gasförmige Gestalt</p>
<p>Gegenzauber</p>
<p>Hypnotisches Muster</p>
<p>Mächtiges Trugbild</p>
<p>Magie bannen</p>
<p>Schutzkreis</p>
<p>Vampirgriff</p>
<p>Zungen</p>

<h5>4. Grad</h5>
<p>Dimensionstür</p>
<p>Plage</p>
<p>Scheingelände</p>
<p>Verbannung</p>

<h5>5. Grad</h5>
<p>Ausspähung</p>
<p>Kontakt zu anderen Ebenen</p>
<p>Monster festhalten</p>
<p>Traum</p>

<h5>6. Grad</h5>
<p>Böser Blick</p>
<p>Feenwesen beschwören</p>
<p>Fleisch zu Stein</p>
<p>Massen-Einflüsterung</p>
<p>Todeskreis</p>
<p>Untote erschaffen</p>
<p>Wahrer Blick</p>

<h5>7. Grad</h5>
<p>Ätherische Gestalten</p>
<p>Ebenenwechsel</p>
<p>Energiekäfig</p>
<p>Finger des Todes</p>

<h5>8. Grad</h5>
<p>Halbebene</p>
<p>Monster beherrschen</p>
<p>Redegewandtheit</p>
<p>Schwachsinn</p>
<p>Wort der Macht: Betäubung</p>

<h5>9. Grad</h5>
<p>Astrale Projektion</p>
<p>Einkerkerung</p>
<p>Voraussicht</p>
<p>Wahre Verwandlung</p>
<p>Wort der Macht: Tod</p>


<h4>Zauber des Klerikers</h4>

<h5>Zaubertricks (0. Grad)</h5>
<p>Ausbessern</p>
<p>Göttliche Führung</p>
<p>Heilige Flamme</p>
<p>Licht</p>
<p>Thaumaturgie</p>
<p>Verschonung der Sterbenden</p>
<p>Widerstand</p>

<h5>1. Grad</h5>
<p>Befehl</p>
<p>Gift und Krankheit entdecken</p>
<p>Gutes und Böses entdecken</p>
<p>Heilendes Wort</p>
<p>Heiligtum</p>
<p>Lenkendes Geschoss</p>
<p>Magie entdecken</p>
<p>Nahrung und Wasser reinigen</p>
<p>Schild des Glaubens</p>
<p>Schutz vor Gut und Böse</p>
<p>Segnen</p>
<p>Verderben</p>
<p>Wasser erschaffen oder zerstören</p>
<p>Wunden heilen</p>
<p>Wunden verursachen</p>

<h5>2. Grad</h5>
<p>Attribut verbessern</p>
<p>Beistand</p>
<p>Blindheit/Taubheit</p>
<p>Dauerhafte Flamme</p>
<p>Fallen finden</p>
<p>Gebet der Heilung</p>
<p>Gefühle besänftigen</p>
<p>Gegenstand aufspüren</p>
<p>Person festhalten</p>
<p>Sanfte Ruhe</p>
<p>Schutz vor Gift</p>
<p>Schützendes Band</p>
<p>Schwache Genesung</p>
<p>Stille</p>
<p>Vorahnung</p>
<p>Waffe des Glaubens</p>
<p>Zone der Wahrheit</p>

<h5>3. Grad</h5>
<p>Auf Wasser gehen</p>
<p>Fluch</p>
<p>Fluch brechen</p>
<p>Glyphe des Schutzes</p>
<p>Hellsehen</p>
<p>Leuchtfeuer der Hoffnung</p>
<p>Magie bannen</p>
<p>Massen-Heilendes Wort</p>
<p>Mit Stein verschmelzen</p>
<p>Mit Toten sprechen</p>
<p>Nahrung und Wasser erschaffen</p>
<p>Schutz vor Energie</p>
<p>Schutzkreis</p>
<p>Tageslicht</p>
<p>Tote beleben</p>
<p>Verständigung</p>
<p>Wächtergeister</p>
<p>Wiederbeleben</p>
<p>Zungen</p>

<h5>4. Grad</h5>
<p>Bewegungsfreiheit</p>
<p>Hüter des Glaubens</p>
<p>Kreatur aufspüren</p>
<p>Stein formen</p>
<p>Todesschutz</p>
<p>Verbannung</p>
<p>Wasser kontrollieren</p>
<p>Weissagung</p>

<h5>5. Grad</h5>
<p>Ansteckung</p>
<p>Ausspähung</p>
<p>Bindung der Ebenen</p>
<p>Flammenschlag</p>
<p>Geas</p>
<p>Gutes und Böses bannen</p>
<p>Heiliges Gespräch</p>
<p>Insektenplage</p>
<p>Massen-Wunden heilen</p>
<p>Sagenkunde</p>
<p>Tote erwecken</p>
<p>Vollständige Genesung</p>
<p>Weihen</p>

<h5>6. Grad</h5>
<p>Heilung</p>
<p>Heldenmahl</p>
<p>Klingenbarriere</p>
<p>Leid</p>
<p>Rückruf</p>
<p>Untote erschaffen</p>
<p>Verbündeter aus den Ebenen</p>
<p>Wahrer Blick</p>
<p>Weg finden</p>
<p>Zutritt verwehren</p>

<h5>7. Grad</h5>
<p>Ätherische Gestalten</p>
<p>Auferstehung</p>
<p>Celestisches Wesen beschwören</p>
<p>Ebenenwechsel</p>
<p>Feuersturm</p>
<p>Göttliches Wort</p>
<p>Regeneration</p>
<p>Symbol</p>

<h5>8. Grad</h5>
<p>Antimagisches Feld</p>
<p>Erdbeben</p>
<p>Heilige Aura</p>
<p>Wetterkontrolle</p>

<h5>9. Grad</h5>
<p>Astrale Projektion</p>
<p>Massen-Heilung</p>
<p>Tor</p>
<p>Wahre Auferstehung</p>


<h4>Zauber des Magiers</h4>

<h5>Zaubertricks (0. Grad)</h5>
<p>Ausbessern</p>
<p>Botschaft</p>
<p>Einfache Illusion</p>
<p>Feuerpfeil</p>
<p>Gift versprühen</p>
<p>Kalte Hand</p>
<p>Kältestrahl</p>
<p>Licht</p>
<p>Magierhand</p>
<p>Säurespritzer</p>
<p>Schockgriff</p>
<p>Tanzende Lichter</p>
<p>Taschenspielerei</p>
<p>Zielsicherer Schlag</p>

<h5>1. Grad</h5>
<p>Alarm</p>
<p>Brennende Hände</p>
<p>Donnerwoge</p>
<p>Falsches Leben</p>
<p>Federfall</p>
<p>Fürchterlicher Lachanfall</p>
<p>Identifizieren</p>
<p>Illusionsschrift</p>
<p>Lange Schritte</p>
<p>Lautloses Trugbild</p>
<p>Magie entdecken</p>
<p>Magierrüstung</p>
<p>Magisches Geschoss</p>
<p>Nebelwolke</p>
<p>Person bezaubern</p>
<p>Rascher Rückzug</p>
<p>Schild</p>
<p>Schlaf</p>
<p>Schmieren</p>
<p>Schutz vor Gut und Böse</p>
<p>Schwebende Scheibe</p>
<p>Selbstverkleidung</p>
<p>Sprachen verstehen</p>
<p>Springen</p>
<p>Sprühende Farben</p>
<p>Unsichtbarer Diener</p>
<p>Vertrauten finden</p>

<h5>2. Grad</h5>

<p>Arkanes Schloss</p>
<p>Blindheit/Taubheit</p>
<p>Dauerhafte Flamme</p>
<p>Dunkelheit</p>
<p>Dunkelsicht</p>
<p>Einflüsterung</p>
<p>Flammenkugel</p>
<p>Gedanken wahrnehmen</p>
<p>Gegenstand aufspüren</p>
<p>Gestalt verändern</p>
<p>Klopfen</p>
<p>Magische Aura des Arkanisten</p>
<p>Magische Waffe</p>
<p>Magischer Mund</p>
<p>Nebelschritt</p>
<p>Netz</p>
<p>Person festhalten</p>
<p>Sanfte Ruhe</p>
<p>Säurepfeil</p>
<p>Schwächestrahl</p>
<p>Schweben</p>
<p>Seiltrick</p>
<p>Sengender Strahl</p>
<p>Spiegelbilder</p>
<p>Spinnenklettern</p>
<p>Unsichtbares sehen</p>
<p>Unsichtbarkeit</p>
<p>Vergrößern/Verkleinern</p>
<p>Verschwimmen</p>
<p>Windstoß</p>
<p>Zerbersten</p>

<h5>3. Grad</h5>

<p>Blitz</p>
<p>Feuerball</p>
<p>Fliegen</p>
<p>Flimmern</p>
<p>Fluch</p>
<p>Fluch brechen</p>
<p>Furcht</p>
<p>Gasförmige Gestalt</p>
<p>Gegenzauber</p>
<p>Geisterross</p>
<p>Glyphe des Schutzes</p>
<p>Hast</p>
<p>Hellsehen</p>
<p>Hypnotisches Muster</p>
<p>Mächtiges Trugbild</p>
<p>Magie bannen</p>
<p>Schneesturm</p>
<p>Schutz vor Energie</p>
<p>Schutzkreis</p>
<p>Stinkende Wolke</p>
<p>Tote beleben</p>
<p>Unauffindbarkeit</p>
<p>Vampirgriff</p>
<p>Verlangsamen</p>
<p>Verständigung</p>
<p>Wasser atmen</p>
<p>Winzige Hütte</p>
<p>Zungen</p>

<h5>4. Grad</h5>

<p>Arkanes Auge</p>
<p>Dimensionstür</p>
<p>Eissturm</p>
<p>Feuerschild</p>
<p>Feuerwand</p>
<p>Geheime Truhe</p>
<p>Kreatur aufspüren</p>
<p>Mächtige Unsichtbarkeit</p>
<p>Plage</p>
<p>Privates Heiligtum</p>
<p>Scheingelände</p>
<p>Schwache Elementare beschwören</p>
<p>Schwarze Tentakel</p>
<p>Stein formen</p>
<p>Steinhaut</p>
<p>Tödliches Phantom</p>
<p>Treuer Hund</p>
<p>Unverwüstliche Sphäre</p>
<p>Verarbeitung</p>
<p>Verbannung</p>
<p>Verwandlung</p>
<p>Verwirrung</p>
<p>Wasser kontrollieren</p>

<h5>5. Grad</h5>

<p>Ablenkung</p>
<p>Arkane Hand</p>
<p>Äußerlichkeiten</p>
<p>Ausspähung</p>
<p>Bindung der Ebenen</p>
<p>Elementar beschwören</p>
<p>Energiewand</p>
<p>Erinnerung verändern</p>
<p>Erschaffung</p>
<p>Geas</p>
<p>Gegenstände beleben</p>
<p>Kältekegel</p>
<p>Kontakt zu anderen Ebenen</p>
<p>Kreis der Teleportation</p>
<p>Monster festhalten</p>
<p>Person beherrschen</p>
<p>Sagenkunde</p>
<p>Steinwand</p>
<p>Telekinese</p>
<p>Telepathische Bindung</p>
<p>Todeswolke</p>
<p>Traum</p>
<p>Wände passieren</p>

<h5>6. Grad</h5>

<p>Auflösung</p>
<p>Böser Blick</p>
<p>Eiswand</p>
<p>Erde bewegen</p>
<p>Fleisch zu Stein</p>
<p>Frostsphäre</p>
<p>Kettenblitz</p>
<p>Kugel der Unverwundbarkeit</p>
<p>Magisches Gefäß</p>
<p>Massen-Einflüsterung</p>
<p>Notfall</p>
<p>Sofortige Beschwörung</p>
<p>Sonnenstrahl</p>
<p>Todeskreis</p>
<p>Untote erschaffen</p>
<p>Unwiderstehlicher Tanz</p>
<p>Vorbestimmtes Trugbild</p>
<p>Wächter und Hüter</p>
<p>Wahrer Blick</p>

<h5>7. Grad</h5>

<p>Arkane Spiegelung</p>
<p>Arkanes Schwert</p>
<p>Ätherische Gestalten</p>
<p>Ebenenwechsel</p>
<p>Energiekäfig</p>
<p>Finger des Todes</p>
<p>Herrliches Herrenhaus</p>
<p>Regenbogenspiel</p>
<p>Schwerkraft umkehren</p>
<p>Simulakrum</p>
<p>Spätzündender Feuerball</p>
<p>Symbol</p>
<p>Teleportieren</p>
<p>Trugbild projizieren</p>
<p>Verbergen</p>

<h5>8. Grad</h5>

<p>Antimagisches Feld</p>
<p>Antipathie/Sympathie</p>
<p>Flammende Wolke</p>
<p>Gedankenleere</p>
<p>Halbebene</p>
<p>Irrgarten</p>
<p>Klon</p>
<p>Monster beherrschen</p>
<p>Schwachsinn</p>
<p>Sonnenfeuer</p>
<p>Wetterkontrolle</p>
<p>Wort der Macht: Betäubung</p>

<h5>9. Grad</h5>

<p>Astrale Projektion</p>
<p>Einkerkerung</p>
<p>Gestaltwandel</p>
<p>Meteoritenschwarm</p>
<p>Regenbogenwand</p>
<p>Tor</p>
<p>Unheimliches Schicksal</p>
<p>Voraussicht</p>
<p>Wahre Verwandlung</p>
<p>Wort der Macht: Tod</p>
<p>Wunsch</p>
<p>Zeitstopp</p>


<h4>Zauber des Paladins</h4>

<p>Befehl</p>
<p>Gift und Krankheit entdecken</p>
<p>Göttliche Gunst</p>
<p>Gutes und Böses entdecken</p>
<p>Heldenmut</p>
<p>Magie entdecken</p>
<p>Nahrung und Wasser reinigen</p>
<p>Schild des Glaubens</p>
<p>Schutz vor Gut und Böse</p>
<p>Segnen</p>
<p>Wunden heilen</p>

<h5>2. Grad</h5>

<p>Beistand</p>
<p>Brandmarkendes Niederstrecken</p>
<p>Gegenstand aufspüren</p>
<p>Magische Waffe</p>
<p>Reittier finden</p>
<p>Schutz vor Gift</p>
<p>Schwache Genesung</p>
<p>Zone der Wahrheit</p>

<h5>3. Grad</h5>

<p>Fluch brechen</p>
<p>Magie bannen</p>
<p>Nahrung und Wasser erschaffen</p>
<p>Schutzkreis</p>
<p>Tageslicht</p>
<p>Wiederbeleben</p>

<h5>4. Grad</h5>

<p>Kreatur aufspüren</p>
<p>Todesschutz</p>
<p>Verbannung</p>

<h5>5. Grad</h5>

<p>Geas</p>
<p>Gutes und Böses bannen</p>
<p>Tote erwecken</p>

<h4>Zauber des Waldläufers</h4>

<h5>1. Grad</h5>

<p>Alarm</p>
<p>Tierfreundschaft</p>
<p>Wunden heilen</p>
<p>Magie entdecken</p>
<p>Gift und Krankheit entdecken</p>
<p>Nebelwolke</p>
<p>Gute Beeren</p>
<p>Zeichen des Jägers</p>
<p>Springen</p>
<p>Lange Schritte</p>
<p>Mit Tieren sprechen</p>

<h5>2. Grad</h5>

<p>Dornenwuchs</p>
<p>Dunkelsicht</p>
<p>Fallen finden</p>
<p>Gegenstand aufspüren</p>
<p>Rindenhaut</p>
<p>Schutz vor Gift</p>
<p>Schwache Genesung</p>
<p>Spurloses Gehen</p>
<p>Stille</p>
<p>Tierbote</p>
<p>Tiere oder Pflanzen aufspüren</p>

<h5>3. Grad</h5>

<p>Auf Wasser gehen</p>
<p>Mit Pflanzen sprechen</p>
<p>Pflanzenwachstum</p>
<p>Schutz vor Energie</p>
<p>Tageslicht</p>
<p>Tiere beschwören</p>
<p>Unauffindbarkeit</p>
<p>Wasser atmen</p>
<p>Windwall</p>

<h5>4. Grad</h5>

<p>Bewegungsfreiheit</p>
<p>Kreatur aufspüren</p>
<p>Steinhaut</p>
<p>Wesen des Waldes beschwören</p>

<h5>5. Grad</h5>

<p>Einswerden mit der Natur</p>
<p>Hölzerner Weg</p>

<h4>Zauber des Zauberers</h4>

<h5>Zaubertricks (0. Grad)</h5>

<p>Ausbessern</p>
<p>Botschaft</p>
<p>Einfache Illusion</p>
<p>Feuerpfeil</p>
<p>Gift versprühen</p>
<p>Kalte Hand</p>
<p>Kältestrahl</p>
<p>Licht</p>
<p>Magierhand</p>
<p>Säurespritzer</p>
<p>Schockgriff</p>
<p>Tanzende Lichter</p>
<p>Taschenspielerei</p>
<p>Zielsicherer Schlag</p>

<h5>1. Grad</h5>

<p>Brennende Hände</p>
<p>Donnerwoge</p>
<p>Falsches Leben</p>
<p>Federfall</p>
<p>Lautloses Trugbild</p>
<p>Magie entdecken</p>
<p>Magierrüstung</p>
<p>Magisches Geschoss</p>
<p>Nebelwolke</p>
<p>Person bezaubern</p>
<p>Rascher Rückzug</p>
<p>Schild</p>
<p>Schlaf</p>
<p>Selbstverkleidung</p>
<p>Sprachen verstehen</p>
<p>Springen</p>
<p>Sprühende Farben</p>

<h5>2. Grad</h5>

<p>Attribut verbessern</p>
<p>Blindheit/Taubheit</p>
<p>Dunkelheit</p>
<p>Dunkelsicht</p>
<p>Einflüsterung</p>
<p>Gedanken wahrnehmen</p>
<p>Gestalt verändern</p>
<p>Klopfen</p>
<p>Nebelschritt</p>
<p>Netz</p>
<p>Person festhalten</p>
<p>Schweben</p>
<p>Sengender Strahl</p>
<p>Spiegelbilder</p>
<p>Spinnenklettern</p>
<p>Unsichtbares sehen</p>
<p>Unsichtbarkeit</p>
<p>Vergrößern/Verkleinern</p>
<p>Verschwimmen</p>
<p>Windstoß</p>
<p>Zerbersten</p>

<h5>3. Grad</h5>

<p>Auf Wasser gehen</p>
<p>Blitz</p>
<p>Feuerball</p>
<p>Fliegen</p>
<p>Flimmern</p>
<p>Furcht</p>
<p>Gasförmige Gestalt</p>
<p>Gegenzauber</p>
<p>Hast</p>
<p>Hellsehen</p>
<p>Hypnotisches Muster</p>
<p>Mächtiges Trugbild</p>
<p>Magie bannen</p>
<p>Schneesturm</p>
<p>Schutz vor Energie</p>
<p>Stinkende Wolke</p>
<p>Tageslicht</p>
<p>Verlangsamen</p>
<p>Wasser atmen</p>
<p>Zungen</p>

<h5>4. Grad</h5>

<p>Dimensionstür</p>
<p>Eissturm</p>
<p>Feuerwand</p>
<p>Mächtige Unsichtbarkeit</p>
<p>Plage</p>
<p>Steinhaut</p>
<p>Tier beherrschen</p>
<p>Verbannung</p>
<p>Verwandlung</p>
<p>Verwirrung</p>

<h5>5. Grad</h5>

<p>Äußerlichkeiten</p>
<p>Erschaffung</p>
<p>Gegenstände beleben</p>
<p>Insektenplage</p>
<p>Kältekegel</p>
<p>Kreis der Teleportation</p>
<p>Monster festhalten</p>
<p>Person beherrschen</p>
<p>Steinwand</p>
<p>Telekinese</p>
<p>Todeswolke</p>

<h5>6. Grad</h5>

<p>Auflösung</p>
<p>Böser Blick</p>
<p>Erde bewegen</p>
<p>Kettenblitz</p>
<p>Kugel der Unverwundbarkeit</p>
<p>Massen-Einflüsterung</p>
<p>Sonnenstrahl</p>
<p>Todeskreis</p>
<p>Wahrer Blick</p>

<h5>7. Grad</h5>

<p>Ätherische Gestalten</p>
<p>Ebenenwechsel</p>
<p>Feuersturm</p>
<p>Finger des Todes</p>
<p>Regenbogenspiel</p>
<p>Schwerkraft umkehren</p>
<p>Spätzündender Feuerball</p>
<p>Teleportieren</p>

<h5>8. Grad</h5>

<p>Erdbeben</p>
<p>Flammende Wolke</p>
<p>Monster beherrschen</p>
<p>Sonnenfeuer</p>
<p>Wort der Macht: Betäubung</p>

<h5>9. Grad</h5>

<p>Meteoritenschwarm</p>
<p>Tor</p>
<p>Wort der Macht: Tod</p>
<p>Wunsch</p>
<p>Zeitstopp</p>