<a class="spell" href="#spell-ablenkung">Ablenkung</a>
<a class="spell" href="#spell-aetherische-gestalten">Ätherische Gestalten</a>
<a class="spell" href="#spell-aeusserlichkeiten">Äußerlichkeiten</a>
<a class="spell" href="#spell-alarm">Alarm</a>
<a class="spell" href="#spell-ansteckung">Ansteckung</a>
<a class="spell" href="#spell-antimagisches-feld">Antimagisches Feld</a>
<a class="spell" href="#spell-antipathie-sympathie">Antipathie/Sympathie</a>
<a class="spell" href="#spell-arkane-hand">Arkane Hand</a>
<a class="spell" href="#spell-arkanes-auge">Arkanes Auge</a>
<a class="spell" href="#spell-arkane-spiegelung">Arkane Spiegelung</a>
<a class="spell" href="#spell-arkanes-schloss">Arkanes Schloss</a>
<a class="spell" href="#spell-arkanes-schwert">Arkanes Schwert</a>
<a class="spell" href="#spell-astrale-projektion">Astrale Projektion</a>
<a class="spell" href="#spell-attribut-verbessern">Attribut verbessern</a>
<a class="spell" href="#spell-auferstehung">Auferstehung</a>
<a class="spell" href="#spell-aufloesung">Auflösung</a>
<a class="spell" href="#spell-auf-wasser-gehen">Auf Wasser gehen</a>
<a class="spell" href="#spell-ausbessern">Ausbessern</a>
<a class="spell" href="#spell-ausbessern-botschaft">Ausbessern Botschaft</a>
<a class="spell" href="#spell-ausspaehung">Ausspähung</a>
<a class="spell" href="#spell-befehl">Befehl</a>
<a class="spell" href="#spell-beistand">Beistand</a>
<a class="spell" href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a>
<a class="spell" href="#spell-bindung-der-ebenen">Bindung der Ebenen</a>
<a class="spell" href="#spell-blindheit-taubheit">Blindheit/Taubheit</a>
<a class="spell" href="#spell-blitz">Blitz</a>
<a class="spell" href="#spell-blitze-herbeirufen">Blitze herbeirufen</a>
<a class="spell" href="#spell-boeser-blick">Böser Blick</a>
<a class="spell" href="#spell-botschaft">Botschaft</a>
<a class="spell" href="#spell-brandmarkendes-niederstrecken">Brandmarkendes Niederstrecken</a>
<a class="spell" href="#spell-brennende-haende">Brennende Hände</a>
<a class="spell" href="#spell-celestisches-wesen-beschwoeren">Celestisches Wesen beschwören</a>
<a class="spell" href="#spell-dauerhafte-flamme">Dauerhafte Flamme</a>
<a class="spell" href="#spell-dimensionstuer">Dimensionstür</a>
<a class="spell" href="#spell-donnerwoge">Donnerwoge</a>
<a class="spell" href="#spell-dornenwand">Dornenwand</a>
<a class="spell" href="#spell-dornenwuchs">Dornenwuchs</a>
<a class="spell" href="#spell-druidenkunst">Druidenkunst</a>
<a class="spell" href="#spell-dunkelheit">Dunkelheit</a>
<a class="spell" href="#spell-dunkelsicht">Dunkelsicht</a>
<a class="spell" href="#spell-ebenenwechsel">Ebenenwechsel</a>
<a class="spell" href="#spell-einfache-illusion">Einfache Illusion</a>
<a class="spell" href="#spell-einfluesterung">Einflüsterung</a>
<a class="spell" href="#spell-einkerkerung">Einkerkerung</a>
<a class="spell" href="#spell-einswerden-mit-der-natur">Einswerden mit der Natur</a>
<a class="spell" href="#spell-eissturm">Eissturm</a>
<a class="spell" href="#spell-eiswand">Eiswand</a>
<a class="spell" href="#spell-elementar-beschwoeren">Elementar beschwören</a>
<a class="spell" href="#spell-energiekaefig">Energiekäfig</a>
<a class="spell" href="#spell-energiewand">Energiewand</a>
<a class="spell" href="#spell-erdbeben">Erdbeben</a>
<a class="spell" href="#spell-erde-bewegen">Erde bewegen</a>
<a class="spell" href="#spell-erinnerung-veraendern">Erinnerung verändern</a>
<a class="spell" href="#spell-erschaffung">Erschaffung</a>
<a class="spell" href="#spell-erwecken">Erwecken</a>
<a class="spell" href="#spell-fallen-finden">Fallen finden</a>
<a class="spell" href="#spell-falsches-leben">Falsches Leben</a>
<a class="spell" href="#spell-federfall">Federfall</a>
<a class="spell" href="#spell-feenfeuer">Feenfeuer</a>
<a class="spell" href="#spell-feenwesen-beschwoeren">Feenwesen beschwören</a>
<a class="spell" href="#spell-fesseln">Fesseln</a>
<a class="spell" href="#spell-feuerball">Feuerball</a>
<a class="spell" href="#spell-feuerpfeil">Feuerpfeil</a>
<a class="spell" href="#spell-feuerschild">Feuerschild</a>
<a class="spell" href="#spell-feuersturm">Feuersturm</a>
<a class="spell" href="#spell-feuerwand">Feuerwand</a>
<a class="spell" href="#spell-finger-des-todes">Finger des Todes</a>
<a class="spell" href="#spell-flammende-wolke">Flammende Wolke</a>
<a class="spell" href="#spell-flammen-erzeugen">Flammen erzeugen</a>
<a class="spell" href="#spell-flammenklinge">Flammenklinge</a>
<a class="spell" href="#spell-flammenkugel">Flammenkugel</a>
<a class="spell" href="#spell-flammenschlag">Flammenschlag</a>
<a class="spell" href="#spell-fleisch-zu-stein">Fleisch zu Stein</a>
<a class="spell" href="#spell-fliegen">Fliegen</a>
<a class="spell" href="#spell-flimmern">Flimmern</a>
<a class="spell" href="#spell-fluch-brechen">Fluch brechen</a>
<a class="spell" href="#spell-fluch">Fluch</a>
<a class="spell" href="#spell-frostsphaere">Frostsphäre</a>
<a class="spell" href="#spell-fuerchterlicher-lachanfall">Fürchterlicher Lachanfall</a>
<a class="spell" href="#spell-furcht">Furcht</a>
<a class="spell" href="#spell-gasfoermige-gestalt">Gasförmige Gestalt</a>
<a class="spell" href="#spell-geas">Geas</a>
<a class="spell" href="#spell-gebet-der-heilung">Gebet der Heilung</a>
<a class="spell" href="#spell-gedankenleere">Gedankenleere</a>
<a class="spell" href="#spell-gedanken-wahrnehmen">Gedanken wahrnehmen</a>
<a class="spell" href="#spell-gefuehle-besaenftigen">Gefühle besänftigen</a>
<a class="spell" href="#spell-gegenstaende-beleben">Gegenstände beleben</a>
<a class="spell" href="#spell-gegenstand-aufspueren">Gegenstand aufspüren</a>
<a class="spell" href="#spell-gegenzauber">Gegenzauber</a>
<a class="spell" href="#spell-gehaessiger-spott">Gehässiger Spott</a>
<a class="spell" href="#spell-geheime-truhe">Geheime Truhe</a>
<a class="spell" href="#spell-geisterross">Geisterross</a>
<a class="spell" href="#spell-gestalt-veraendern">Gestalt verändern</a>
<a class="spell" href="#spell-gestaltwandel">Gestaltwandel</a>
<a class="spell" href="#spell-gift-und-krankheit-entdecken">Gift und Krankheit entdecken</a>
<a class="spell" href="#spell-gift-verspruehen">Gift versprühen</a>
<a class="spell" href="#spell-glyphe-des-schutzes">Glyphe des Schutzes</a>
<a class="spell" href="#spell-goettliche-fuehrung">Göttliche Führung</a>
<a class="spell" href="#spell-goettliche-gunst">Göttliche Gunst</a>
<a class="spell" href="#spell-goettliches-wort">Göttliches Wort</a>
<a class="spell" href="#spell-gute-beeren">Gute Beeren</a>
<a class="spell" href="#spell-gutes-und-boeses-bannen">Gutes und Böses bannen</a>
<a class="spell" href="#spell-gutes-und-boeses-entdecken">Gutes und Böses entdecken</a>
<a class="spell" href="#spell-halbebene">Halbebene</a>
<a class="spell" href="#spell-hast">Hast</a>
<a class="spell" href="#spell-heilendes-wort">Heilendes Wort</a>
<a class="spell" href="#spell-heilige-aura">Heilige Aura</a>
<a class="spell" href="#spell-heilige-flamme">Heilige Flamme</a>
<a class="spell" href="#spell-heiliges-gespraech">Heiliges Gespräch</a>
<a class="spell" href="#spell-heiligtum">Heiligtum</a>
<a class="spell" href="#spell-heilung">Heilung</a>
<a class="spell" href="#spell-heldenmahl">Heldenmahl</a>
<a class="spell" href="#spell-heldenmut">Heldenmut</a>
<a class="spell" href="#spell-hellsehen">Hellsehen</a>
<a class="spell" href="#spell-herrliches-herrenhaus">Herrliches Herrenhaus</a>
<a class="spell" href="#spell-hoellischer-tadel">Höllischer Tadel</a>
<a class="spell" href="#spell-hoelzerner-weg">Hölzerner Weg</a>
<a class="spell" href="#spell-hueter-des-glaubens">Hüter des Glaubens</a>
<a class="spell" href="#spell-hypnotisches-muster">Hypnotisches Muster</a>
<a class="spell" href="#spell-identifizieren">Identifizieren</a>
<a class="spell" href="#spell-illusionsschrift">Illusionsschrift</a>
<a class="spell" href="#spell-insektenplage">Insektenplage</a>
<a class="spell" href="#spell-irrgarten">Irrgarten</a>
<a class="spell" href="#spell-kaeltekegel">Kältekegel</a>
<a class="spell" href="#spell-kaeltestrahl">Kältestrahl</a>
<a class="spell" href="#spell-kalte-hand">Kalte Hand</a>
<a class="spell" href="#spell-kettenblitz">Kettenblitz</a>
<a class="spell" href="#spell-klingenbarriere">Klingenbarriere</a>
<a class="spell" href="#spell-klon">Klon</a>
<a class="spell" href="#spell-klopfen">Klopfen</a>
<a class="spell" href="#spell-kontakt-zu-anderen-ebenen">Kontakt zu anderen Ebenen</a>
<a class="spell" href="#spell-kreatur-aufspueren">Kreatur aufspüren</a>
<a class="spell" href="#spell-kreis-der-teleportation">Kreis der Teleportation</a>
<a class="spell" href="#spell-kugel-der-unverwundbarkeit">Kugel der Unverwundbarkeit</a>
<a class="spell" href="#spell-lange-schritte">Lange Schritte</a>
<a class="spell" href="#spell-lautloses-trugbild">Lautloses Trugbild</a>
<a class="spell" href="#spell-leid">Leid</a>
<a class="spell" href="#spell-lenkendes-geschoss">Lenkendes Geschoss</a>
<a class="spell" href="#spell-leuchtfeuer-der-hoffnung">Leuchtfeuer der Hoffnung</a>
<a class="spell" href="#spell-licht">Licht</a>
<a class="spell" href="#spell-maechtiges-trugbild">Mächtiges Trugbild</a>
<a class="spell" href="#spell-maechtige-unsichtbarkeit">Mächtige Unsichtbarkeit</a>
<a class="spell" href="#spell-magie-bannen">Magie bannen</a>
<a class="spell" href="#spell-magie-entdecken">Magie entdecken</a>
<a class="spell" href="#spell-magierhand">Magierhand</a>
<a class="spell" href="#spell-magierruestung">Magierrüstung</a>
<a class="spell" href="#spell-magische-aura-des-arkanisten">Magische Aura des Arkanisten</a>
<a class="spell" href="#spell-magischer-mund">Magischer Mund</a>
<a class="spell" href="#spell-magisches-gefaess">Magisches Gefäß</a>
<a class="spell" href="#spell-magisches-geschoss">Magisches Geschoss</a>
<a class="spell" href="#spell-magische-waffe">Magische Waffe</a>
<a class="spell" href="#spell-massen-einfluesterung">Massen-Einflüsterung</a>
<a class="spell" href="#spell-massen-heilendes-wort">Massen-Heilendes Wort</a>
<a class="spell" href="#spell-massen-heilung">Massen-Heilung</a>
<a class="spell" href="#spell-massen-wunden-heilen">Massen-Wunden heilen</a>
<a class="spell" href="#spell-metall-erhitzen">Metall erhitzen</a>
<a class="spell" href="#spell-meteoritenschwarm">Meteoritenschwarm</a>
<a class="spell" href="#spell-mit-pflanzen-sprechen">Mit Pflanzen sprechen</a>
<a class="spell" href="#spell-mit-stein-verschmelzen">Mit Stein verschmelzen</a>
<a class="spell" href="#spell-mit-tieren-sprechen">Mit Tieren sprechen</a>
<a class="spell" href="#spell-mit-tieren-sprechen-person-bezaubern">Mit Tieren sprechen Person bezaubern</a>
<a class="spell" href="#spell-mit-toten-sprechen">Mit Toten sprechen</a>
<a class="spell" href="#spell-mondstrahl">Mondstrahl</a>
<a class="spell" href="#spell-monster-beherrschen">Monster beherrschen</a>
<a class="spell" href="#spell-monster-festhalten">Monster festhalten</a>
<a class="spell" href="#spell-nahrung-und-wasser-erschaffen">Nahrung und Wasser erschaffen</a>
<a class="spell" href="#spell-nahrung-und-wasser-reinigen">Nahrung und Wasser reinigen</a>
<a class="spell" href="#spell-nebelschritt">Nebelschritt</a>
<a class="spell" href="#spell-nebelwolke">Nebelwolke</a>
<a class="spell" href="#spell-netz">Netz</a>
<a class="spell" href="#spell-notfall">Notfall</a>
<a class="spell" href="#spell-person-beherrschen">Person beherrschen</a>
<a class="spell" href="#spell-person-bezaubern">Person bezaubern</a>
<a class="spell" href="#spell-person-festhalten">Person festhalten</a>
<a class="spell" href="#spell-pflanzentor">Pflanzentor</a>
<a class="spell" href="#spell-pflanzenwachstum">Pflanzenwachstum</a>
<a class="spell" href="#spell-plage">Plage</a>
<a class="spell" href="#spell-privates-heiligtum">Privates Heiligtum</a>
<a class="spell" href="#spell-rascher-rueckzug">Rascher Rückzug</a>
<a class="spell" href="#spell-redegewandtheit">Redegewandtheit</a>
<a class="spell" href="#spell-regenbogenspiel">Regenbogenspiel</a>
<a class="spell" href="#spell-regenbogenwand">Regenbogenwand</a>
<a class="spell" href="#spell-regeneration">Regeneration</a>
<a class="spell" href="#spell-reittier-finden">Reittier finden</a>
<a class="spell" href="#spell-rieseninsekt">Rieseninsekt</a>
<a class="spell" href="#spell-rindenhaut">Rindenhaut</a>
<a class="spell" href="#spell-rueckruf">Rückruf</a>
<a class="spell" href="#spell-saeurepfeil">Säurepfeil</a>
<a class="spell" href="#spell-saeurespritzer">Säurespritzer</a>
<a class="spell" href="#spell-sagenkunde">Sagenkunde</a>
<a class="spell" href="#spell-sanfte-ruhe">Sanfte Ruhe</a>
<a class="spell" href="#spell-scheingelaende">Scheingelände</a>
<a class="spell" href="#spell-schild-des-glaubens">Schild des Glaubens</a>
<a class="spell" href="#spell-schild">Schild</a>
<a class="spell" href="#spell-schlaf">Schlaf</a>
<a class="spell" href="#spell-schmieren">Schmieren</a>
<a class="spell" href="#spell-schneesturm">Schneesturm</a>
<a class="spell" href="#spell-schockgriff">Schockgriff</a>
<a class="spell" href="#spell-schuetzendes-band">Schützendes Band</a>
<a class="spell" href="#spell-schutzhuelle-gegen-lebendes">Schutzhülle gegen Lebendes</a>
<a class="spell" href="#spell-schutzkreis">Schutzkreis</a>
<a class="spell" href="#spell-schutz-vor-energie">Schutz vor Energie</a>
<a class="spell" href="#spell-schutz-vor-gift">Schutz vor Gift</a>
<a class="spell" href="#spell-schutz-vor-gut-und-boese">Schutz vor Gut und Böse</a>
<a class="spell" href="#spell-schwache-elementare-beschwoeren">Schwache Elementare beschwören</a>
<a class="spell" href="#spell-schwache-genesung">Schwache Genesung</a>
<a class="spell" href="#spell-schwachsinn">Schwachsinn</a>
<a class="spell" href="#spell-schwaechestrahl">Schwächestrahl</a>
<a class="spell" href="#spell-schwarze-tentakel">Schwarze Tentakel</a>
<a class="spell" href="#spell-schwebende-scheibe">Schwebende Scheibe</a>
<a class="spell" href="#spell-schweben">Schweben</a>
<a class="spell" href="#spell-schwerkraft-umkehren">Schwerkraft umkehren</a>
<a class="spell" href="#spell-segnen">Segnen</a>
<a class="spell" href="#spell-seiltrick">Seiltrick</a>
<a class="spell" href="#spell-selbstverkleidung">Selbstverkleidung</a>
<a class="spell" href="#spell-sengender-strahl">Sengender Strahl</a>
<a class="spell" href="#spell-shillelagh">Shillelagh</a>
<a class="spell" href="#spell-simulakrum">Simulakrum</a>
<a class="spell" href="#spell-sofortige-beschwoerung">Sofortige Beschwörung</a>
<a class="spell" href="#spell-sonnenfeuer">Sonnenfeuer</a>
<a class="spell" href="#spell-sonnenstrahl">Sonnenstrahl</a>
<a class="spell" href="#spell-spaetzuendender-feuerball">Spätzündender Feuerball</a>
<a class="spell" href="#spell-spiegelbilder">Spiegelbilder</a>
<a class="spell" href="#spell-spinnenklettern">Spinnenklettern</a>
<a class="spell" href="#spell-sprachen-verstehen">Sprachen verstehen</a>
<a class="spell" href="#spell-springen">Springen</a>
<a class="spell" href="#spell-spruehende-farben">Sprühende Farben</a>
<a class="spell" href="#spell-spurloses-gehen">Spurloses Gehen</a>
<a class="spell" href="#spell-stein-formen">Stein formen</a>
<a class="spell" href="#spell-steinhaut">Steinhaut</a>
<a class="spell" href="#spell-steinwand">Steinwand</a>
<a class="spell" href="#spell-stille">Stille</a>
<a class="spell" href="#spell-stinkende-wolke">Stinkende Wolke</a>
<a class="spell" href="#spell-sturm-der-vergeltung">Sturm der Vergeltung</a>
<a class="spell" href="#spell-symbol">Symbol</a>
<a class="spell" href="#spell-tageslicht">Tageslicht</a>
<a class="spell" href="#spell-tanzende-lichter">Tanzende Lichter</a>
<a class="spell" href="#spell-taschenspielerei">Taschenspielerei</a>
<a class="spell" href="#spell-telekinese">Telekinese</a>
<a class="spell" href="#spell-telepathische-bindung">Telepathische Bindung</a>
<a class="spell" href="#spell-teleportieren">Teleportieren</a>
<a class="spell" href="#spell-thaumaturgie">Thaumaturgie</a>
<a class="spell" href="#spell-tier-beherrschen">Tier beherrschen</a>
<a class="spell" href="#spell-tierbote">Tierbote</a>
<a class="spell" href="#spell-tiere-beschwoeren">Tiere beschwören</a>
<a class="spell" href="#spell-tiere-oder-pflanzen-aufspueren">Tiere oder Pflanzen aufspüren</a>
<a class="spell" href="#spell-tierform">Tierform</a>
<a class="spell" href="#spell-tierfreundschaft">Tierfreundschaft</a>
<a class="spell" href="#spell-todeskreis">Todeskreis</a>
<a class="spell" href="#spell-todesschutz">Todesschutz</a>
<a class="spell" href="#spell-todeswolke">Todeswolke</a>
<a class="spell" href="#spell-toedliches-phantom">Tödliches Phantom</a>
<a class="spell" href="#spell-tor">Tor</a>
<a class="spell" href="#spell-tote-beleben">Tote beleben</a>
<a class="spell" href="#spell-tote-erwecken">Tote erwecken</a>
<a class="spell" href="#spell-traum">Traum</a>
<a class="spell" href="#spell-treuer-hund">Treuer Hund</a>
<a class="spell" href="#spell-trugbild-projizieren">Trugbild projizieren</a>
<a class="spell" href="#spell-unauffindbarkeit">Unauffindbarkeit</a>
<a class="spell" href="#spell-unheimlicher-strahl">Unheimlicher Strahl</a>
<a class="spell" href="#spell-unheimlicher-strahl">Schauriger Strahl</a>
<a class="spell" href="#spell-unheimliches-schicksal">Unheimliches Schicksal</a>
<a class="spell" href="#spell-unsichtbarer-diener">Unsichtbarer Diener</a>
<a class="spell" href="#spell-unsichtbares-sehen">Unsichtbares sehen</a>
<a class="spell" href="#spell-unsichtbarkeit">Unsichtbarkeit</a>
<a class="spell" href="#spell-untote-erschaffen">Untote erschaffen</a>
<a class="spell" href="#spell-unverwuestliche-sphaere">Unverwüstliche Sphäre</a>
<a class="spell" href="#spell-unwiderstehlicher-tanz">Unwiderstehlicher Tanz</a>
<a class="spell" href="#spell-vampirgriff">Vampirgriff</a>
<a class="spell" href="#spell-verarbeitung">Verarbeitung</a>
<a class="spell" href="#spell-verbannung">Verbannung</a>
<a class="spell" href="#spell-verbergen">Verbergen</a>
<a class="spell" href="#spell-verbuendeter-aus-den-ebenen">Verbündeter aus den Ebenen</a>
<a class="spell" href="#spell-verderben">Verderben</a>
<a class="spell" href="#spell-vergroessern-verkleinern">Vergrößern/Verkleinern</a>
<a class="spell" href="#spell-verlangsamen">Verlangsamen</a>
<a class="spell" href="#spell-verschonung-der-sterbenden">Verschonung der Sterbenden</a>
<a class="spell" href="#spell-verschwimmen">Verschwimmen</a>
<a class="spell" href="#spell-verstaendigung">Verständigung</a>
<a class="spell" href="#spell-verstricken">Verstricken</a>
<a class="spell" href="#spell-vertrauten-finden">Vertrauten finden</a>
<a class="spell" href="#spell-verwandlung">Verwandlung</a>
<a class="spell" href="#spell-verwirrung">Verwirrung</a>
<a class="spell" href="#spell-vollstaendige-genesung">Vollständige Genesung</a>
<a class="spell" href="#spell-vorahnung">Vorahnung</a>
<a class="spell" href="#spell-voraussicht">Voraussicht</a>
<a class="spell" href="#spell-vorbestimmtes-trugbild">Vorbestimmtes Trugbild</a>
<a class="spell" href="#spell-waechtergeister">Wächtergeister</a>
<a class="spell" href="#spell-waechter-und-hueter">Wächter und Hüter</a>
<a class="spell" href="#spell-waende-passieren">Wände passieren</a>
<a class="spell" href="#spell-waffe-des-glaubens">Waffe des Glaubens</a>
<a class="spell" href="#spell-wahre-auferstehung">Wahre Auferstehung</a>
<a class="spell" href="#spell-wahrer-blick">Wahrer Blick</a>
<a class="spell" href="#spell-wahre-verwandlung">Wahre Verwandlung</a>
<a class="spell" href="#spell-wasser-atmen">Wasser atmen</a>
<a class="spell" href="#spell-wasser-erschaffen-oder-zerstoeren">Wasser erschaffen oder zerstören</a>
<a class="spell" href="#spell-wasser-kontrollieren">Wasser kontrollieren</a>
<a class="spell" href="#spell-weg-finden">Weg finden</a>
<a class="spell" href="#spell-weihen">Weihen</a>
<a class="spell" href="#spell-weissagung">Weissagung</a>
<a class="spell" href="#spell-wesen-des-waldes-beschwoeren">Wesen des Waldes beschwören</a>
<a class="spell" href="#spell-wetterkontrolle">Wetterkontrolle</a>
<a class="spell" href="#spell-widerstand">Widerstand</a>
<a class="spell" href="#spell-wiederbeleben">Wiederbeleben</a>
<a class="spell" href="#spell-wiedergeburt">Wiedergeburt</a>
<a class="spell" href="#spell-windstoss">Windstoß</a>
<a class="spell" href="#spell-windwall">Windwall</a>
<a class="spell" href="#spell-windwandeln">Windwandeln</a>
<a class="spell" href="#spell-winzige-huette">Winzige Hütte</a>
<a class="spell" href="#spell-wort-der-macht-betaeubung">Wort der Macht: Betäubung</a>
<a class="spell" href="#spell-wort-der-macht-tod">Wort der Macht: Tod</a>
<a class="spell" href="#spell-wunden-heilen">Wunden heilen</a>
<a class="spell" href="#spell-wunden-verursachen">Wunden verursachen</a>
<a class="spell" href="#spell-wunsch">Wunsch</a>
<a class="spell" href="#spell-zeichen-des-jaegers">Zeichen des Jägers</a>
<a class="spell" href="#spell-zeitstopp">Zeitstopp</a>
<a class="spell" href="#spell-zerbersten">Zerbersten</a>
<a class="spell" href="#spell-zielsicherer-schlag">Zielsicherer Schlag</a>
<a class="spell" href="#spell-zone-der-wahrheit">Zone der Wahrheit</a>
<a class="spell" href="#spell-zungen">Zungen</a>
<a class="spell" href="#spell-zutritt-verwehren">Zutritt verwehren</a>
<a class="spell" href="#spell-zwang">Zwang</a>
