<h2 id="class-barbar">Barbar</h2>

<h3 id="klassenmerkmale-barbar">Klassenmerkmale</h3>
<p>Als Barbar erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W12 pro Barbarenstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>12 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W12 (oder?) + Konstitutionsmodifikator pro Barbarenstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Leichte und mittelschwere Rüstung, Schilde</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen, Kriegswaffen</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Stärke, Konstitution</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Athletik, Einschüchtern, Mit Tieren umgehen, Naturkunde, Überlebenskunst und Wahrnehmung</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul><li> (a) eine Zweihandaxt oder (b) eine beliebige Nahkampf-Kriegswaffe</li>
<li> (a) zwei Beile oder (b) eine beliebige einfache Waffe</li>
<li> Eine Entdeckerausrüstung und vier Wurfspeere</li></ul>
<h5>Barbar</h5>
<table id="table-barbar">
<tr>
    <th>Stufe</th>
    <th>Übungsbonus</th>
    <th>Merkmale</th>
    <th>Kampfrausch-Anzahl</th>
    <th>Kampfrausch-Schaden</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Kampfrausch, Ungerüstete Verteidigung</td><td>2</td><td>+2</td></tr>
<tr><td>2.</td><td>+2</td><td>Rücksichtsloser Angriff, Gefahrengespür</td><td>2</td><td>+2</td></tr>
<tr><td>3.</td><td>+2</td><td>Urtümlicher Pfad</td><td>3</td><td>+2</td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td><td>3</td><td>+2</td></tr>
<tr><td>5.</td><td>+3</td><td>Zusätzlicher Angriff, Schnelle Bewegung</td><td>3</td><td>+2</td></tr>
<tr><td>6.</td><td>+3</td><td>Merkmal: Pfad</td><td>4</td><td>+2</td></tr>
<tr><td>7.</td><td>+3</td><td>Wilder Instinkt</td><td>4</td><td>+2</td></tr>
<tr>
<td>8</td>
<td>+3</td>
<td>Attributswerterhöhung</td>
<td>4</td>
<td>+2</td>
</tr>
<tr><td>9.</td><td>+4</td><td>Brutaler kritischer Treffer (1 Würfel)</td><td>4</td><td>+3</td></tr>
<tr><td>10.</td><td>+4</td><td>Merkmal: Pfad</td><td>4</td><td>+3</td></tr>
<tr><td>11.</td><td>+4</td><td>Unerbittlicher Kampfrausch</td><td>4</td><td>+3</td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>5</td><td>+3</td></tr>
<tr><td>13.</td><td>+5</td><td>Brutaler kritischer Treffer (2 Würfel)</td><td>5</td><td>+3</td></tr>
<tr><td>14.</td><td>+5</td><td>Merkmal: Pfad</td><td>5</td><td>+3</td></tr>
<tr><td>15.</td><td>+5</td><td>Anhaltender Kampfrausch</td><td>5</td><td>+3</td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>5</td><td>+4</td></tr>
<tr><td>17.</td><td>+6</td><td>Brutaler kritischer Treffer (3 Würfel)</td><td>6</td><td>+4</td></tr>
<tr><td>18.</td><td>+6</td><td>Unbändige Stärke</td><td>6</td><td>+4</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>6</td><td>+4</td></tr>
<tr><td>20.</td><td>+6</td><td>Meister der Wildnis</td><td>Unbegrenzt</td><td>+4</td></tr>
</table>

<h4>Kampfrausch</h4>
<p>Du kämpfst mit urtümlicher Wildheit. Als Bonusaktion kannst du dich in deinem Zug in einen Kampfrausch versetzen.</p>
<p>Im Kampfrausch erhältst du die folgenden Vorteile, solange du keine schwere Rüstung trägst:</p>
<ul><li> Du bist bei Stärkewürfen und -rettungswürfen im Vorteil.</li>
<li> Bei einem Nahkampfwaffenangriff, der Stärke verwendet, erhältst du einen Bonus auf den Schadenswurf, der in der Spalte „Kampfrausch-Schaden&quot; der Barbarentabelle angezeigt wird.</li>
<li> Du bist gegen Hieb-, Stich- und Wuchtschaden resistent.</li></ul>
<p>Falls du Zauber wirken kannst, ist dies während des Kampfrauschs ebenso unmöglich wie die Konzentration auf einen Zauber.</p>
<p>Dein Kampfrausch dauert eine Minute. Er endet vorzeitig, wenn du bewusstlos geschlagen wirst oder wenn dein Zug endet und du seit deinem letzten Zug keine feindliche Kreatur angegriffen oder Schaden erlitten hast. Zudem kannst du den Kampfrausch als Bonusaktion in deinem Zug selbst beenden.</p>
<p>Bist du so viele Male in den Kampfrausch verfallen, wie es für deine Barbarenstufe in der Tabelle angegeben ist, kannst du diese Fähigkeit erst nach einer langen Rast erneut einsetzen.</p>
<h4>Ungerüstete Verteidigung</h4>
<p>Solange du keine Rüstung trägst, entspricht deine Rüstungsklasse 10 + dein Geschicklichkeitsmodifikator + dein Konstitutionsmodifikator. Von diesem Vorzug profitierst du auch, wenn du einen Schild verwendest</p>
<h4>Rücksichtsloser Angriff</h4>
<p>Ab der 2. Stufe kannst du deine Verteidigung völlig außer Acht lassen und mit wilder Entschlossenheit angreifen. Beim ersten Angriff in deinem Zug kannst du dich dazu entscheiden, einen Rücksichtslosen Angriff auszuführen. Dadurch bist du in diesem Zug bei Angriffswürfen mit Nahkampfwaffen, die Stärke verwenden, im Vorteil. Allerdings sind Angriffswürfe gegen dich bis zu deinem nächsten Zug ebenfalls im Vorteil.</p>
<h4>Gefahrengespür</h4>
<p>Ab der 2. Stufe bekommst du einen untrüglichen Sinn dafür, ob die Dinge in deiner Nähe so sind, wie sie sein sollten, sodass du Gefahren besser ausweichen kannst.</p>
<p>Du bist bei Geschicklichkeitsrettungswürfen gegen Effekte wie Fallen oder Zauber, die du sehen kannst, im Vorteil. Um diesen Vorteil zu erhalten, darfst du nicht blind, taub oder kampfunfähig sein.</p>
<h4>Urtümlicher Pfad</h4>
<p>Auf der 3. Stufe entscheidest du dich für einen Pfad, der die Natur deines Kampfrauschs bestimmt. Wähle den Pfad des Berserkers, der am Ende der Klassenbeschreibung näher erläutert werden. Deine Wahl gewährt dir ab der 3. sowie ab der 6., 10. und 14. Stufe weitere Merkmale.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Zusätzlicher Angriff</h4>
<p>Ab der 5. Stufe kannst du zweimal statt nur einmal angreifen, wenn du in deinem Zug eine Angriffsaktion ausführst.</p>
<h4>Schnelle Bewegung</h4>
<p>Ab der 5. Stufe erhöht sich deine Geschwindigkeit um drei Meter, wenn du keine schwere Rüstung trägst.</p>
<h4>Wilder Instinkt</h4>
<p>Ab der 7. Stufe sind deine Instinkte derart geschärft, dass du bei Initiativewürfen im Vorteil bist.</p>
<p>Solltest du bei Kampfbeginn überrascht und nicht kampfunfähig sein, kannst du in deinem Zug normal agieren, jedoch nur, wenn du in den Kampfrausch fällst, bevor du irgendetwas anderes tust.</p>
<h4>Brutaler kritischer Treffer</h4>
<p>Ab der 9. Stufe kannst du einen zusätzlichen Schadenswürfel der Waffe verwenden, um den zusätzlichen Schaden für einen kritischen Treffer bei einem Nahkampfangriff zu bestimmen.</p>
<p>Auf der 13. und 17. Stufe erhöht sich die Anzahl auf zwei beziehungsweise drei Schadenswürfel der Waffe.</p>
<h4>Unerbittlicher Kampfrausch</h4>
<p>Ab der 11. Stufe bist du in der Lage, trotz schwerer Verletzungen weiterzukämpfen. Wenn deine Trefferpunkte auf 0 sinken, während du im Kampfrausch bist, stirbst du nicht sofort, sondern führst einen SG-10-Konstitutionsrettungswurf aus. Bei einem Erfolg fällst du stattdessen auf 1 Trefferpunkt Jedes Mal, wenn du dieses Merkmal nutzt, steigt der SG um 5. Nach einer kurzen oder langen Rast sinkt der SG wieder auf 10.</p>
<h4>Anhaltender Kampfrausch</h4>
<p>Ab der 15. Stufe ist dein Kampfrausch so wild, dass er nur vorzeitig endet, wenn du bewusstlos wirst oder ihn selbst beendest.</p>
<h4>Unbändige Stärke</h4>
<p>Sollte ab der 18. Stufe das Gesamtergebnis deines Stärkewurfs unter deinem Stärkewert liegen, kannst du stattdessen deinen Attributswert als Gesamtergebnis nehmen.</p>
<h4>Meister der Wildnis</h4>
<p>Ab der 20. Stufe verkörperst du die Macht der Wildnis. Dein Stärke- und dein Konstitutionswert steigen um 4. Das Maximum für diese Attribute beträgt jetzt 24.</p>

<h4>Pfad des Berserkers</h4>

<p>Für einige Barbaren ist der Kampfrausch ein Mittel zum Zweck - und der Zweck heißt rohe Gewalt.</p>
<p>Der Pfad des Berserkers ist ein Pfad der ungezügelten Wut, der mit Blut getränkt ist. Sobald du in den Kampfrausch verfällst, genießt du das Chaos der Schlacht derart, dass du deine Gesundheit und dein Wohlergehen völlig außer Acht lässt.</p>
<h5>Raserei</h5>
<p>Wenn du auf der 3. Stufe diesen Pfad wählst, kannst du in Raserei verfallen, sobald du deinen Kampfrausch entfesselst. In diesem Fall kannst du für die Dauer deines Kampfrauschs am Ende jedes Zugs außer dem ersten einen Nahkampfwaffenangriff als Bonusaktion ausführen. Endet der Kampfrausch, erhältst du eine Stufe Erschöpfung (wie in Anhang PH-A beschrieben).</p>
<h5>Geistloser Kampfrausch</h5>
<p>Ab der 6. Stufe kannst du im Kampfrausch nicht länger bezaubert oder verängstigt werden. Bist du bei Eintritt in den Kampfrausch bezaubert oder verängstigt, wird die Wirkung für die Dauer des Kampfrauschs ausgesetzt.</p>
<h5>Einschüchternde Präsenz</h5>
<p>Ab der 10. Stufe kannst du eine Aktion verwenden, um jemanden mit deiner bedrohlichen Präsenz zu verängstigen. Bestimme dazu eine Kreatur im Abstand von bis zu neun Metern von dir, die du sehen kannst. Kann dich die Kreatur sehen oder hören, muss sie einen Weisheitsrettungswurf (SG 8 + dein Übungsbonus + dein Charismamodifikator) bestehen, ansonsten ist sie bis zum Beginn deines nächsten Zugs verängstigt. In den darauffolgenden Zügen kannst du deine Aktion verwenden, um die Dauer der Wirkung auf die verängstigte Kreatur bis zum Ende deines nächsten Zugs zu verlängern. Die Wirkung endet, wenn die Kreatur ihren Zug außerhalb deiner Sicht oder mehr als 18 Meter von dir entfernt beendet.</p>
<p>Bei einem erfolgreichen Rettungswurf der Kreatur kannst du dieses Merkmal innerhalb der nächsten 24 Stunden nicht erneut gegen sie einsetzen.</p>
<h5>Vergeltung</h5>
<p>Wenn du ab der 14. Stufe Schaden durch eine Kreatur im Abstand von bis zu 1,5 Metern von dir erleidest, kannst du deine Reaktion verwenden, um einen Nahkampfwaffenangriff gegen diese Kreatur auszuführen.</p>
