<h2 id="class-barde">Barde</h2>

<h3 id="klassenmerkmale-barde">Klassenmerkmale</h3>
<p>Als Barde erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W8 pro Bardenstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>8 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W8 (oder 5) + Konstitutionsmodifikator pro Bardenstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Leichte Rüstung</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen, Handarmbrüste, Langschwerter, Rapiere, Kurzschwerter</p>
<p><span class="feature-name">Werkzeuge: </span>Drei Musikinstrumente deiner Wahl</p>
<p><span class="feature-name">Rettungswürfe: </span>Geschicklichkeit, Charisma</p>
<p><span class="feature-name">Fertigkeiten: </span>Drei beliebige deiner Wahl</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul><li> (a) ein Rapier, (b) ein Langschwert oder (c) eine beliebige einfache Waffe</li>
<li> (a) eine Diplomatenausrüstung oder (b) eine Unterhaltungskünstler-Ausrüstung</li>
<li> (a) eine Laute oder (b) ein beliebiges anderes Musikinstrument</li>
<li> Lederrüstung und ein Dolch</li></ul>
<h5>Barde</h5>
<table id="table-barde">
<tr>
<th rowspan="2">Stufe</th>
<th rowspan="2">Übungsbonus</th>
<th rowspan="2">Merkmale</th>
<th rowspan="2">Bekannte Zaubertricks</th>
<th rowspan="2">Bekannte Zauber</th>
<th colspan="9">Zauberplätze pro Zaubergrad</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
<th>5.</th>
<th>6.</th>
<th>7.</th>
<th>8.</th>
<th>9.</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Zauberwirken, Bardische Inspiration (W6)</td><td>2</td><td>4</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>Alleskönner, Lied der Erholung (W6)</td><td>2</td><td>5</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>3.</td><td>+2</td><td>Bardenschule, Expertise</td><td>2</td><td>6</td><td>4</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td><td>3</td><td>7</td><td>4</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>5.</td><td>+3</td><td>Bardische Inspiration (W8), Quelle der Inspiration</td><td>3</td><td>8</td><td>4</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>6.</td><td>+3</td><td>Bannlied, Merkmal: Bardenschule</td><td>3</td><td>9</td><td>4</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>7.</td><td>+3</td><td></td><td>3</td><td>10</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8.</td><td>+3</td><td>Attributswerterhöhung</td><td>3</td><td>11</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>9.</td><td>+4</td><td>Lied der Erholung (W8)</td><td>3</td><td>12</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td></tr>
<tr><td>10.</td><td>+4</td><td>Bardische Inspiration (W10), Expertise, Magische Geheimnisse</td><td>4</td><td>14</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td></tr>
<tr><td>11.</td><td>+4</td><td></td><td>4</td><td>15</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>4</td><td>15</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>13.</td><td>+5</td><td>Lied der Erholung (W10)</td><td>4</td><td>16</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>14.</td><td>+5</td><td>Magische Geheimnisse, Merkmal: Bardenschule</td><td>4</td><td>18</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>15.</td><td>+5</td><td>Bardische Inspiration (W12)</td><td>4</td><td>19</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>4</td><td>19</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>17.</td><td>+6</td><td>Lied der Erholung (W12)</td><td>4</td><td>20</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>18.</td><td>+6</td><td>Magische Geheimnisse</td><td>4</td><td>22</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>4</td><td>22</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>20.</td><td>+6</td><td>Überlegene Inspiration</td><td>4</td><td>22</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
</table>
<h4>Zauberwirken</h4>
<p>Du hast gelernt, das Gewebe der Realität im Einklang mit deinen Wünschen und deiner Musik zu entwirren und zu formen. Deine Zauber sind Teil eines gewaltigen Repertoires und du kannst deine Magie auf unterschiedliche Situationen abstimmen.</p>
<h5>Zaubertricks</h5>
<p>Du beherrschst zwei Zaubertricks deiner Wahl aus der Zauberliste des Barden. Weitere Barden-Zaubertricks deiner Wahl erlernst du auf höheren Stufen (siehe Spalte „Bekannte Zaubertricks&quot; in der Bardentabelle).</p>
<h5>Zauberplätze</h5>
<p>In der Bardentabelle siehst du, wie viele Zauberplätze dir für Zauber des 1. Grades und höherer Grade zur Verfügung stehen. Um einen dieser Zauber zu wirken, musst du einen Platz des gleichen oder höheren Grades verbrauchen. Verbrauchte Zauberplätze werden nach einer langen Rast wiederhergestellt.</p>
<p>Wenn du beispielsweise den Zauber <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a> (1. Grad) kennst und einen Zauberplatz des 1. und 2. Grades zur Verfügung hast, kannst du <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a> in einem der beiden Grade wirken.</p>
<h5>Bekannte Zauber des 1. Grades und höher</h5>
<p>Du beherrschst vier Zauber des 1. Grades deiner Wahl aus der Zauberliste des Barden.</p>
<p>Die Spalte „Bekannte Zauber&quot; in der Bardentabelle gibt an, wann du weitere Bardenzauber lernen kannst. Der Grad dieser Zauber muss dem der verfügbaren Zauberplätze entsprechen (siehe Tabelle). Erreichst du in dieser Klasse beispielsweise die 3. Stufe, kannst du einen neuen Zauber des 1. oder 2. Grades erlernen.</p>
<p>Wenn du mit dieser Klasse eine Stufe aufsteigst, kannst du zudem einen der bekannten Bardenzauber durch einen anderen aus der Liste ersetzen, dessen Grad einem deiner verfügbaren Zauberplätze entsprechen muss.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut zum Wirken der Bardenzauber ist Charisma. Deine Magie kommt direkt aus deinem Herzen und aus deiner Seele, die du in deine Musik oder Worte einfließen lässt. Wenn sich ein Bardenzauber auf das zum Wirken nötige Attribut bezieht, verwendest du deinen Charismawert. Außerdem verwendest du deinen Charismamodifikator beim Festlegen des Rettungswurf-SG für gewirkte Bardenzauber und bei Angriffswürfen damit.</p>
<p><span class="feature-name">Zauberrettungswurf-SG = </span>8 + dein Übungsbonus + dein Charismamodifikator</p>
<p><span class="feature-name">Angriffszauber-Modifikator = </span>dein Übungsbonus + dein Charismamodifikator</p>
<h5>Rituale wirken</h5>
<p>Du kannst bekannte Bardenzauber auch als Ritual wirken, falls sie als solche gekennzeichnet sind.</p>
<h5>Zauberfokus</h5>
<p>Du kannst ein Musikinstrument (siehe „Ausrüstung&quot;) als Zauberfokus für deine Bardenzauber verwenden.</p>
<h4>Bardische Inspiration</h4>
<p>Du kannst andere durch bewegende Worte oder Musik inspirieren. Als Bonusaktion kannst du in deinem Zug im Abstand von bis zu 18 Metern von dir eine Kreatur außer dir selbst bestimmen, die dich hören kann. Diese Kreatur erhält einen bardischen Inspirationswürfel, einen W6.</p>
<p>Einmal innerhalb der nächsten zehn Minuten kann die Kreatur diesen Würfel nutzen und das Ergebnis zu einem Attributs-, Angriffs- oder Rettungswurf addieren. Sie kann auch nach diesem Wurf entscheiden, ob sie den bardischen Inspirationswürfel einsetzen möchte, muss das jedoch tun, bevor der SL angibt, ob der Wurf erfolgreich war. Der bardische Inspirationswürfel geht danach verloren. Eine Kreatur darf immer nur über einen Inspirationswürfel verfügen.</p>
<p>Du kannst dieses Merkmal so oft einsetzen, wie es der Höhe deines Charismamodifikators entspricht (mindestens einmal). Nach einer langen Rast erhältst du alle verbrauchten Anwendungen zurück.</p>
<p>Der bardische Inspirationswürfel verändert sich, sobald du bestimmte Stufen in dieser Klasse erreichst. Der Würfel wird auf der 5. Stufe zu einem W8, auf der 10. Stufe zu einem W10 und auf der 15. Stufe zu einem W12.</p>
<h4>Alleskönner</h4>
<p>Ab der 2. Stufe kannst du deinen halben Übungsbonus (abgerundet) auf jeden Attributswurf addieren, der nicht bereits durch deinen Übungsbonus verbessert wird.</p>
<h4>Lied der Erholung</h4>
<p>Ab der 2. Stufe kannst du während einer kurzen Rast mit sanfter Musik oder Erzählungen den Heilungsprozess deiner verwundeten Verbündeten beschleunigen. Wenn du oder eine verbündete Kreatur, die dich hören kann, durch das Verwenden von Trefferwürfeln zum Ende einer kurzen Rast Trefferpunkte zurückerhält, erhält jede Kreatur 1W6 zusätzliche Trefferpunkte zurück.</p>
<p>Die zusätzlichen Trefferpunkte erhöhen sich, wenn du bestimmte Stufen in dieser Klasse erreichst: auf der 9. Stufe auf 1W8, auf der 13. Stufe auf 1W10 und auf der 17. Stufe auf 1W12.</p>
<h4>Bardenschule</h4>
<p>Auf der 3. Stufe wirst du in die fortgeschrittenen Techniken einer Bardenschule deiner Wahl wie der Schule des Wissens eingeweiht. Deine Wahl gewährt dir ab der 3. sowie ab der 6. und 14. Stufe weitere Merkmale.</p>
<h4>Expertise</h4>
<p>Auf der 3. Stufe wählst du zwei deiner Fertigkeiten aus, in denen du geübt bist. Dein Übungsbonus wird bei allen Attributswürfen verdoppelt, bei denen diese Fertigkeiten zur Anwendung kommen.</p>
<p>Auf der 10. Stufe wählst du zwei weitere Fertigkeiten, in denen du geübt bist, die ebenfalls von diesem Vorzug profitieren.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Quelle der Inspiration</h4>
<p>Ab der 5. Stufe erhältst du all deine Anwendungen der Bardischen Inspiration zurück, sobald du eine kurze oder lange Rast beendet hast.</p>
<h4>Bannlied</h4>
<p>Auf der 6. Stufe erlangst du die Fähigkeit, mit Zaubern gewobene Musik und Worte der Macht zu nutzen, um geistesbeeinflussende Effekte abzuwenden. Als Aktion kannst du eine Darbietung geben, die bis zum Ende deines nächsten Zuges andauert. Während dieser Zeit sind deine Verbündeten und du im Abstand von bis zu neun Metern von dir bei Rettungswürfen gegen Bezaubert oder Verängstigt im Vorteil. Eine Kreatur muss dich hören können, damit sie diesen Vorzug nutzen kann. Dies endet vorzeitig, falls du zum Schweigen gebracht oder kampfunfähig wirst. Du kannst sie auch freiwillig beenden, wozu keine Aktion notwendig ist.</p>
<h4>Magische Geheimnisse</h4>
<p>Mit dem Erreichen der 10. Stufe hast du dir ein breites Spektrum an magischem Wissen angeeignet. Wähle zwei Zaubersprüche einer beliebigen Klasse, auch deiner eigenen. Dies kann ein Zauber eines verfügbaren Grades (siehe Aufstiegstabelle des Barden) oder ein Zaubertrick sein.</p>
<p>Die ausgewählten Zaubersprüche gelten als Bardenzauber und werden auf die Anzahl der in der Aufstiegstabelle des Barden angezeigten „Bekannten Zauber&quot; angerechnet.</p>
<p>Auf der 14. Stufe und der 18. Stufe lernst du zwei zusätzliche Zauber aus einer beliebigen Klasse.</p>
<h4>Überlegene Inspiration</h4>
<p>Würfelst du auf der 20. Stufe die Initiative und hast keine Anwendung der Bardischen Inspiration mehr übrig, erhältst du eine Anwendung zurück.</p>
<h4>Schule des Wissens</h4>
<p>Barden der Schule des Wissens verfügen über mannigfaltige Kenntnisse, die sie Zusammentragen -von den Werken Gelehrter bis hin zu Volkssagen. Ob sie in Tavernen Volkslieder singen oder an königlichen Höfen aufwändige Kompositionen aufführen: Diese Barden nutzen ihre Gaben, um das Publikum in ihren Bann zu ziehen. Wenn der Applaus verstummt, stellt das Publikum möglicherweise alles infrage, was es für wahr hielt, vom Glauben an den Priester im hiesigen Tempel bis hin zur Treue zum König.</p>
<p>Die Treue dieser Barden gilt weder einem Monarchen noch den Lehren einer Gottheit, sondern allein der Beschäftigung mit dem Schönen und Wahren. Ein Adeliger, der einen solchen Barden als Herold oder Berater anstellt, weiß, dass dieser sich eher aufrichtig als diplomatisch verhält.</p>
<p>Die Anhänger dieser Schule versammeln sich in Bibliotheken und zuweilen sogar in richtigen Universitäten mit Hör- und Schlafsälen, um ihr Wissen miteinander zu teilen. Außerdem treffen sie sich bei Festen und Staatsakten, wo sie Korruption offenlegen, Lügen aufdecken und sich über wichtigtuerische Autoritätspersonen lustig machen.</p>
<h5>Zusätzliches Wissen</h5>
<p>Mit dem Beitritt zur Schule des Wissens auf der 3. Stufe erhältst du Übung in drei Fertigkeiten deiner Wahl.</p>
<h5>Schneidende Worte</h5>
<p>Auf der 3. Stufe lernst du außerdem, mit Verstand und Schlagfertigkeit für Ablenkung und Verwirrung zu sorgen oder auf anderen Wegen Einfluss und Selbstsicherheit anderer zu schwächen. Führt eine Kreatur, die du sehen kannst, im Abstand von bis zu 18 Metern von dir einen Angriffs-, Attributs- oder Schadenswurf aus, kannst du als Reaktion eine Anwendung deiner bardischen Inspiration verbrauchen. Würfle mit deinem Inspirationswürfel und ziehe das Ergebnis vom Wurf der Kreatur ab. Dies kannst du tun, nachdem die Kreatur gewürfelt hat, jedoch bevor der SL das Ergebnis des Angriffs-, Attributs- oder Schadenswurf bekannt gibt oder bevor der Schaden angewendet wird. Die Kreatur ist immun, wenn sie dich nicht hören kann oder gegen Bezauberung immun ist.</p>
<h5>Zusätzliche magische Geheimnisse</h5>
<p>Auf der 6. Stufe lernst du zwei Zauber deiner Wahl aus einer beliebigen Klasse. Dies kann ein Zauber eines verfügbaren Grades (siehe Aufstiegstabelle des Barden) oder ein Zaubertrick sein. Die ausgewählten Zaubersprüche gelten als Bardenzauber, werden aber nicht auf die maximale Anzahl deiner bekannten Zauber angerechnet.</p>
<h5>Grenzenlose Begabung</h5>
<p>Ab der 14. Stufe kannst du bei einem Attributswurf eine Anwendung deiner bardischen Inspiration verwenden. Wirf einen bardischen Inspirationswürfel und erhöhe deinen Attributswurf um das Ergebnis. Du kannst dich nach deinem Attributswurf dafür entscheiden, musst dies allerdings tun, bevor der SL das Ergebnis bekannt gibt.</p>
