<h2 id="class-druide">Druide</h2>
<h3 id="klassenmerkmale-druide">Klassenmerkmale</h3>
<p>Als Druide erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W8 pro Druidenstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>8 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W8 (oder 5) + Konstitutionsmodifikator pro Druidenstufe nach der 1. Stufe.</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Leichte und mittelschwere Rüstung, Schilde (Druiden tragen keine Rüstungen oder Schilde aus Metall)</p>
<p><span class="feature-name">Waffen: </span>Dolche, Kampfstäbe, Knüppel, Krummsäbel, Schleudern, Sicheln, Speere, Streitkolben, Wurfpfeile und Wurfspeere</p>
<p><span class="feature-name">Werkzeuge: </span>Kräuterkundeausrüstung</p>
<p><span class="feature-name">Rettungswürfe: </span>Intelligenz, Weisheit</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Arkane Kunde, Heilkunde, Mit Tieren umgehen, Motiv erkennen, Naturkunde, Religion, Überlebenskunst und Wahrnehmung</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul>
<li>(a) ein Holzschild oder (b) eine beliebige einfache Waffe</li>
<li>(a) ein Krummsäbel oder (b) eine beliebige Nahkampfwaffe</li>
<li>Lederrüstung, eine Entdeckerausrüstung und ein druidischer Fokus</li>
</ul>

<h5>Druide</h5>
<table id="table-druide">
<tr>
    <th rowspan="2">Stufe</th>
    <th rowspan="2">Übungsbonus</th>
    <th rowspan="2">Merkmale</th>
    <th rowspan="2">Bekannte Zaubertricks</th>
    <th colspan="9">Zauberplätze pro Zaubergrad</th>
</tr>
<tr>
    <th>1.</th>
    <th>2.</th>
    <th>3.</th>
    <th>4.</th>
    <th>5.</th>
    <th>6.</th>
    <th>7.</th>
    <th>8.</th>
    <th>9.</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Druidisch, Zauberwirken</td><td>2</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>Tiergestalt, Druidenzirkel</td><td>2</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>3.</td><td>+2</td><td></td><td>2</td><td>4</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4.</td><td>+2</td><td>Verbesserung: Tiergestalt, Attributswerterhöhung</td><td>3</td><td>4</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>5.</td><td>+3</td><td></td><td>3</td><td>4</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>6.</td><td>+3</td><td>Merkmal: Druidenzirkel</td><td>3</td><td>4</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>7.</td><td>+3</td><td></td><td>3</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8.</td><td>+3</td><td>Verbesserung: Tiergestalt, Attributswerterhöhung</td><td>3</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>9.</td><td>+4</td><td></td><td>3</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td></tr>
<tr><td>10.</td><td>+4</td><td>Merkmal: Druidenzirkel</td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td></tr>
<tr><td>11.</td><td>+4</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>13.</td><td>+5</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>14.</td><td>+5</td><td>Merkmal: Druidenzirkel</td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>15.</td><td>+5</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>17.</td><td>+6</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>18.</td><td>+6</td><td>Zeitloser Körper, In Tiergestalt zaubern</td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>20.</td><td>+6</td><td>Erzdruide</td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
</table>

<h4>Druidisch</h4>
<p>Du beherrscht Druidisch, die Geheimsprache der Druiden. Du kannst die Sprache sprechen und darin versteckte Botschaften hinterlassen. Jeder, der dieser Sprache mächtig ist, findet eine solche Botschaft automatisch. Andere erkennen sie nur, wenn sie einen SG-15-Weisheitswurf (Wahrnehmung) bestehen, können den Inhalt ohne magische Hilfe jedoch nicht entschlüsseln.</p>
<h4>Zauberwirken</h4>
<p>Indem du dich der göttlichen Essenz der Natur bedienst, kannst du Zauber wirken und diese Essenz nach deinem Willen formen.</p>
<h5>Zaubertricks</h5>
<p>Auf der 1. Stufe beherrschst du zwei Zaubertricks deiner Wahl aus der Druidenzauberliste. Weitere Druidenzaubertricks deiner Wahl erlernst du auf höheren Stufen (siehe Spalte „Bekannte Zaubertricks&quot; in der Druidentabelle).</p>
<h5>Zauber vorbereiten und wirken</h5>
<p>In der Druidentabelle siehst du, wie viele Zauberplätze dir für Zauber des 1. Grades und höherer Grade zur Verfügung stehen. Um einen dieser Zauber zu wirken, musst du einen Platz des gleichen oder höheren Grades verbrauchen. Verbrauchte Zauberplätze werden nach einer langen Rast wiederhergestellt.</p>
<p>Du bereitest die Liste der Druidenzauber, die dir zum Wirken zur Verfügung stehen, mithilfe der Druidenzauberliste vor. Wähle dazu eine Anzahl von Druidenzaubern aus, die deinem Weisheitsmodifikator + deiner Druidenstufe entsprechen (mindestens ein Zauber). Der Grad dieser Zauber muss dem der verfügbaren Zauberplätze entsprechen.</p>
<p>Als Druide der 3. Stufe hast du beispielsweise vier Zauberplätze des 1. und zwei des 2. Grades. Bei einem Weisheitswert von 16 kann deine Liste vorbereiteter Zauber sechs Zauber des 1. oder des 2. Grades in beliebiger Kombination enthalten. Wenn du als Zauber des 1. Grades <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a> vorbereitest, kannst du ihn von einem Zauberplatz des 1. oder 2. Grades wirken. Er wird durch das Wirken nicht von deiner Liste vorbereiteter Zauber entfernt.</p>
<p>Du kannst deine Liste der vorbereiteten Zauber nach einer langen Rast ändern. Das Vorbereiten einer neuen Druidenzauberliste erfordert eine gewisse Zeit für Gebet oder Meditation: mindestens eine Minute pro Zaubergrad für jeden Zauber auf der Liste.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut zum Wirken der Druidenzauber ist Weisheit, da du deine Magie aus der Hingabe zur Natur und der Einheit mit ihr schöpfst. Wenn sich ein Druidenzauber auf das zum Wirken nötige Attribut bezieht, verwendest du Weisheit Außerdem verwendest du deinen Weisheitsmodifikator beim Festlegen des Rettungswurf-SG für Druidenzauber, die du wirkst, und für Angriffswürfe damit.</p>
<p>Zauberrettungswurf-SG = 8 + dein Übungsbonus + dein Weisheitsmodifikator</p>
<p>Angriffszauber-Modifikator = dein Übungsbonus + dein Weisheitsmodifikator</p>
<h5>Rituale wirken</h5>
<p>Du kannst einen Druidenzauber als Ritual wirken, wenn der Zauber den Zusatz „Ritual&quot; aufweist und du ihn vorbereitet hast.</p>
<h5>Zauberfokus</h5>
<p>Du kannst einen druidischen Fokus (siehe „Ausrüstung&quot;) als Zauberfokus für deine Druidenzauber verwenden.</p>
<h4>Tiergestalt</h4>
<p>Ab der 2. Stufe kannst du deine Aktion verwenden, um auf magische Weise die Gestalt jedes Tiers anzunehmen, dass du schon einmal gesehen hast. Du kannst dieses Merkmal zweimal einsetzen. Verbrauchte Anwendungen werden nach einer kurzen oder langen Rast wiederhergestellt.</p>
<p>Deine Druidenstufe bestimmt die Art der Tiere, in die du dich verwandeln kannst, wie in der Tabelle „Tiergestalt&quot; angegeben. Ab der 2. Stufe kannst du dich beispielsweise in jedes Tier mit einem Herausforderungsgrad von 1/4 oder niedriger verwandeln, dass weder eine Flug- noch Schwimmbewegungsrate aufweist.</p>

<h5>Tiergestalt</h5>
<table id="table-tiergestalt">
<tr>
<th>Stufe</th>
<th>Max. HG</th>
<th>Einschränkungen</th>
<th>Beispiel</th>
</tr>
<tr><td>2.</td><td>1/4</td><td>Keine Flug- oder Schwimmbewegungsrate</td><td>Wolf</td></tr>
<tr><td>4.</td><td>1/2</td><td>Keine Flugbewegungsrate</td><td>Krokodil</td></tr>
<tr><td>8.</td><td>1</td><td></td><td>Riesenadler</td></tr>
</table>
<p>Du kannst für eine Anzahl von Stunden in Tiergestalt bleiben, die deiner halben Druidenstufe (abgerundet) entspricht Danach verwandelst du dich in deine normale Gestalt zurück, es sei denn, du verbrauchst eine weitere Anwendung dieses Merkmals.</p>
<p>Als Bonusaktion in deinem Zug kannst du dich auch schon früher wieder zurückverwandeln. Du verwandelst dich automatisch zurück, wenn du bewusstlos wirst, auf 0 Trefferpunkte sinkst oder stirbst.</p>
<p>Solange du verwandelt bist, gelten folgende Regeln:</p>

<ul>
<li>Deine Spielwerte werden durch die Werte des gewählten Tiers ersetzt, du behältst jedoch deine Gesinnung, Persönlichkeit und deine Intelligenz-, Weisheits- und Charismawerte. Du bist weiterhin in deinen Fertigkeiten und Rettungswürfen geübt und darüber hinaus in denen der Kreatur. Sollte es zu Überschneidungen kommen und die Kreatur einen höheren Übungsbonus aufweisen, benutzt du diesen statt deinen. Besitzt die Kreatur legendäre Aktionen oder Hortaktionen, kannst du diese nicht verwenden.</li>
<li>Wenn du dich verwandelst, übernimmst du die Trefferpunkte und Trefferwürfel der Kreatur. Nimmst du wieder deine normale Gestalt an., hast du so viele Trefferpunkte wie vor der Verwandlung. Solltest du dich jedoch zurückverwandeln, weil du in Tiergestalt auf 0 Trefferpunkte gesunken bist, wird der überschüssige Schaden auf deine normale Gestalt übertragen. Erleidest du in Tiergestalt beispielsweise 10 Schaden und hast nur noch 1 Trefferpunkt übrig, kehrst du in deine normale Gestalt zurück und erleidest 9 Schaden. Solange der überschüssige Schaden dich in deiner normalen Gestalt nicht auf 0 Trefferpunkte sinken lässt, wirst du nicht bewusstlos.</li>
<li>Du kannst keine Zauber wirken, und deine Fähigkeit, zu sprechen oder Aktionen auszuführen, bei denen die Hände benötigst, ist auf die Fähigkeiten deiner Tiergestalt beschränkt. Die Verwandlung unterbricht nicht deine Konzentration auf einen bereits gewirkten Zauber, und verhindert auch nicht, dass du Aktionen ausführen kannst, die Teil dieses Zaubers sind, wie beispielsweise bei <a class="spell" href="#spell-blitze-herbeirufen">Blitze herbeirufen</a>, wenn du den Zauber bereits gewirkt hast.</li>
<li>Du behältst alle Vorzüge deiner Klasse, deines Volkes oder anderer Quellen und kannst sie anwenden, falls deine neue Gestalt körperlich dazu in der Lage ist. Allerdings kannst du Spezialsinne wie Dunkelsicht nur nutzen, wenn deine neue Gestalt ebenfalls darüber verfügt.</li>
<li>Du entscheidest, ob deine Ausrüstung an Ort und Stelle zu Boden fällt, mit deiner neuen Gestalt verschmilzt oder von ihr getragen wird. Getragene Ausrüstung kann normal verwendet werden, aber der SL entscheidet abhängig von der Größe und Gestalt der Kreatur, ob sie dieser etwas nutzt. Deine Ausrüstung verändert weder Größe noch Form, um sich an die neue Gestalt anzupassen, und jede Ausrüstung, die in der neuen Gestalt nicht getragen werden kann, muss entweder zu Boden fallen oder damit verschmelzen. Ausrüstung, die mit der Gestalt verschmilzt, kann erst nach Verlassen der Gestalt wieder genutzt werden.</li>
</ul>

<h4>Druidenzirkel</h4>
<p>Auf der 2. Stufe suchst du dir einen Druidenzirkel wie den Zirkel des Landes aus, dem du von nun an angehörst. Deine Wahl gewährt dir auf der 2. sowie auf der 6., 10. und 14. Stufe weitere Merkmale.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Zeitloser Körper</h4>
<p>Ab der 18. Stufe lässt dich die urtümliche Magie, die du wirkst, langsamer altern. Für je zehn Jahre, die vergehen, wird dein Körper ein Jahr älter.</p>
<h4>In Tiergestalt zaubern</h4>
<p>Ab der 18. Stufe kannst du viele deiner Druidenzauber in jeder Tiergestalt wirken, die du annimmst Gesten- und verbale Komponenten eines Druidenzaubers kannst du in Tiergestalt ausführen, jedoch stehen dir keine Materialkomponenten zur Verfügung.</p>
<h4>Erzdruide</h4>
<p>Ab der 20. Stufe kannst du unbegrenzt oft Tiergestalt annehmen.</p>
<p>Darüber hinaus ignorierst du die Gesten- und verbalen Komponenten deiner Druidenzaubers sowie Materialkomponenten, für die keine Kosten angegeben sind und die nicht durch den Zauber verbraucht werden. Du genießt diesen Vorzug sowohl in deiner normalen Gestalt als auch in Tiergestalt.</p>
<h4>Zirkel des Landes</h4>
<p>Der Zirkel des Landes besteht aus Mystikern und Weisen, die uraltes Wissen und Riten durch ihre mündlich überlieferte Tradition erhalten. Diese Druiden treffen sich in heiligen Hainen oder Steinkreisen und teilen auf Druidisch urtümliche Geheimnisse miteinander. Die weisesten Mitglieder des Kreises stehen als Hohepriester Gemeinschaften vor, die den Alten Glauben bewahren, und beraten deren Anführer. Als Mitglied dieses Zirkels wird deine Magie von dem Land beeinflusst, in dem du in die mystischen Rituale deines Zirkels eingeführt wurdest.</p>
<h5>Zusätzlicher Zaubertrick</h5>
<p>Wenn du diesen Zirkel auf der 2. Stufe wählst, lernst du einen zusätzlichen Druidenzaubertrick deiner Wahl.</p>
<h5>Natürliche Erholung</h5>
<p>Ab der 2. Stufe kannst du einen Teil deiner magischen Energie zurückerhalten, indem du meditierst und Zwiesprache mit der Natur hältst. Nach einer kurzen Rast kannst du dir verbrauchte Zauberplätze aussuchen, die du zurückerhältst. Die Zauberplätze dürfen zusammen nur eine Gradzahl besitzen, die höchstens gleich der Hälfte deiner Druidenstufe ist (aufgerundet), und keiner der Zauberplätze darf den 6. Grad oder höher aufweisen. Du kannst dieses Merkmal erst nach einer langen Rast erneut verwenden.</p>
<p>Als Druide der 4. Stufe kannst du beispielsweise bis zu zwei Grade an Zauberplätzen zurückerhalten. Du kannst also entweder zwei Zauberplätze des 1. Grades oder einen Zauberplatz des 2. Grades zurückerhalten.</p>
<h5>Zauber des Zirkels</h5>
<p>Deine mystische Verbindung mit dem Land verleiht dir die Fähigkeit, bestimmte Zaubersprüche zu wirken. Auf der 3., 5., 7. und 9. Stufe erhältst du Zugang zu Zaubern des Zirkels, die mit dem Land verbunden sind, in dem du zum Druiden wurdest. Wähle eine Landschaftsart - Arktis, Berge, Grasland, Küste, Sumpf, Wald oder Wüste - und sieh dir die entsprechende Zauberliste an.</p>
<p>Sobald du Zugang zu einem Zauber des Zirkels hast, ist dieser immer vorbereitet und zählt nicht zur maximalen Zahl der Zauber, die du jeden Tag vorbereiten kannst. Falls der Zauber nicht in der Druidenzauberliste aufgeführt ist, so zählt er für dich dennoch als Druidenzauber.</p>

<h5>Arktis</h5>
<table id="table-arktis">
<tr>
    <th>Druidenstufe</th>
    <th>Zauber des Zirkels</th>
</tr>
<tr><td>3.</td><td><a class="spell" href="#spell-dornenwuchs">Dornenwuchs</a>, <a class="spell" href="#spell-person-festhalten">Person festhalten</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-schneesturm">Schneesturm</a>, <a class="spell" href="#spell-verlangsamen">Verlangsamen</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a>, <a class="spell" href="#spell-eissturm">Eissturm</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-einswerden-mit-der-natur">Einswerden mit der Natur</a>, <a class="spell" href="#spell-kaeltekegel">Kältekegel</a></td></tr>
</table>

<h5>Gebirge</h5>
<table id="table-gebirge">
<tr>
    <th>Druidenstufe</th>
    <th>Zauber des Zirkels</th>
</tr>
<tr><td>3.</td><td><a class="spell" href="#spell-dornenwuchs">Dornenwuchs</a>, <a class="spell" href="#spell-spinnenklettern">Spinnenklettern</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-blitz">Blitz</a>, <a class="spell" href="#spell-mit-stein-verschmelzen">Mit Stein verschmelzen</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-stein-formen">Stein formen</a>, <a class="spell" href="#spell-steinhaut">Steinhaut</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-steinwand">Steinwand</a>, <a class="spell" href="#spell-waende-passieren">Wände passieren</a></td></tr>
</table>

<h5>Grasland</h5>
<table id="table-grasland">
<tr>
    <th>Druidenstufe</th>
    <th>Zauber des Zirkels</th>
</tr>
<tr><td>3.</td><td><a class="spell" href="#spell-spurloses-gehen">Spurloses Gehen</a>, <a class="spell" href="#spell-unsichtbarkeit">Unsichtbarkeit</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-hast">Hast</a>, <a class="spell" href="#spell-tageslicht">Tageslicht</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a>, <a class="spell" href="#spell-weissagung">Weissagung</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-insektenplage">Insektenplage</a>, <a class="spell" href="#spell-traum">Traum</a></td></tr>
</table>

<h5>Küste</h5>
<table id="table-kueste">
<tr>
    <th>Druidenstufe</th>
    <th>Zauber des Zirkels</th>
</tr>
<tr><td>3.</td><td><a class="spell" href="#spell-nebelschritt">Nebelschritt</a>, <a class="spell" href="#spell-spiegelbilder">Spiegelbilder</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-auf-wasser-gehen">Auf Wasser gehen</a>, <a class="spell" href="#spell-wasser-atmen">Wasser atmen</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a>, <a class="spell" href="#spell-wasser-kontrollieren">Wasser kontrollieren</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-ausspaehung">Ausspähung</a>, <a class="spell" href="#spell-elementar-beschwoeren">Elementar beschwören</a></td></tr>
</table>

<h5>Sumpf</h5>
<table id="table-sumpf">
<tr>
    <th>Druidenstufe</th>
    <th>Zauber des Zirkels</th>
</tr>
<tr><td>3.</td><td><a class="spell" href="#spell-dunkelheit">Dunkelheit</a>, <a class="spell" href="#spell-saeurepfeil">Säurepfeil</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-auf-wasser-gehen">Auf Wasser gehen</a>, <a class="spell" href="#spell-stinkende-wolke">Stinkende Wolke</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a>, <a class="spell" href="#spell-kreatur-aufspueren">Kreatur aufspüren</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-ausspaehung">Ausspähung</a>, <a class="spell" href="#spell-insektenplage">Insektenplage</a></td></tr>
</table>

<h5>Wald</h5>
<table id="table-wald">
<tr>
    <th>Druidenstufe</th>
    <th>Zauber des Zirkels</th>
</tr>
<tr><td>3.</td><td><a class="spell" href="#spell-rindenhaut">Rindenhaut</a>, <a class="spell" href="#spell-spinnenklettern">Spinnenklettern</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-blitze-herbeirufen">Blitze herbeirufen</a>, <a class="spell" href="#spell-pflanzenwachstum">Pflanzenwachstum</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a>, <a class="spell" href="#spell-weissagung">Weissagung</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-einswerden-mit-der-natur">Einswerden mit der Natur</a>, <a class="spell" href="#spell-hoelzerner-weg">Hölzerner Weg</a></td></tr>
</table>

<h5>Wüste</h5>
<table id="table-wueste">
<tr>
    <th>Druidenstufe</th>
    <th>Zauber des Zirkels</th>
</tr>
<tr><td>3.</td><td><a class="spell" href="#spell-stille">Stille</a>, <a class="spell" href="#spell-verschwimmen">Verschwimmen</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-nahrung-und-wasser-erschaffen">Nahrung und Wasser erschaffen</a>, <a class="spell" href="#spell-schutz-vor-energie">Schutz vor Energie</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-plage">Plage</a>, <a class="spell" href="#spell-scheingelaende">Scheingelände</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-insektenplage">Insektenplage</a>, <a class="spell" href="#spell-steinwand">Steinwand</a></td></tr>
</table>

<h5>Sicherer Schritt</h5>
<p>Ab der 6. Stufe kostet dich das Durchqueren von nichtmagischem schwierigem Gelände keine zusätzliche Bewegungsrate mehr. Du kannst dich außerdem durch nichtmagische Pflanzen bewegen, ohne von ihnen verlangsamt zu werden oder Schaden zu nehmen, falls sie Dornen, Stacheln oder ähnliche Gefahren aufweisen.</p>
<p>Darüber hinaus bist du bei Rettungswürfen gegen Pflanzen, die magisch erschaffen oder manipuliert wurden, um die Bewegung einzuschränken - wie beispielsweise durch den Zauber <a class="spell" href="#spell-verstricken">Verstricken</a> - im Vorteil.</p>
<h5>Schutz der Natur</h5>
<p>Ab der 10. Stufe kannst du nicht mehr von Feenwesen bezaubert oder verängstigt werden und bist gegen Gift und Krankheiten immun.</p>
<h5>Heiligtum der Natur</h5>
<p>Ab der 14. Stufe spüren natürliche Kreaturen deine Verbindung zur Natur und zögern, dich anzugreifen. Um dich anzugreifen, muss ein Tier oder eine Pflanze einen Weisheitsrettungswurf gegen deinen Druiden-Zauberrettungswurf-SG bestehen. Scheitert der Wurf, muss sich die Kreatur ein anderes Ziel aussuchen oder verfehlt dich automatisch. Bei einem erfolgreichen Rettungswurf ist die Kreatur 24 Stunden lang gegen diesen Effekt immun.</p>
<p>Die Kreatur ist sich schon vor dem Angriff auf dich dieses Effekts bewusst.</p>

<div class="boxed" id="box-heilige-pflanzen-und-holz">
<h5>Heilige Pflanzen und Holz</h5>
<p>Ein Druide sieht bestimmte Pflanzen als heilig an, insbesondere Birke, Eibe, Eiche, Erle, Esche, Haselnuss, Holunder, Mistel, Stechpalme, Vogelbeere, Wacholder und Weide. Druiden nutzen diese Pflanzen häufig als Zauberfokus, indem sie einen Eiben- oder Eichenast oder Mistelzweige bei sich tragen.</p>
<p>Ebenso nutzt ein Druide derartige Hölzer zum Herstellen anderer Gegenstände wie Waffen und Schilde. Eibenholz wird mit Tod und Wiedergeburt in Verbindung gebracht, daher fertigt man oft Waffengriffe für Krummsäbel und Sicheln daraus. Eschen werden mit dem Leben assoziiert und Eichen mit Stärke. Diese Hölzer geben hervorragende Hefte oder ganze Waffen wie Knüppel und Kampfstäbe oder Schilde ab. Erle steht für die Luft und eignet sich gut für Wurfwaffen wie Wurfpfeile oder -speere.</p>
<p>Druiden aus Regionen, in denen die hier beschriebenen Pflanzen nicht wachsen, können entsprechende Alternativen verwenden. Beispielsweise schätzt ein Druide aus einer Wüstenregion vermutlich Yuccas und Kakteen.</p>
</div>

<div class="boxed" id="box-duiden-und-die-goetter">
<h5>Druiden und die Götter</h5>
<p>Einige Druiden verehren die Naturkräfte, aber die meisten beten einen der vielen Naturgötter des Multiversums an (mehr darüber in der Götterliste in Anhang PH-B). Das Anbeten dieser Götter wird oft als weitaus ältere Tradition angesehen als der Glaube der Kleriker und städtisch geprägten Bevölkerung.</p>
</div>