<h2 id="class-hexenmeister">Hexenmeister</h2>
<h3 id="klassenmerkmale-hexenmeister">Klassenmerkmale</h3>
<p>Als Hexenmeister erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W8 pro Hexenmeisterstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>8 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W8 (oder 5) + Konstitutionsmodifikator pro Hexenmeister stufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Leichte Rüstung</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Weisheit, Charisma</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Arkane Kunde, Einschüchtern, Geschichte, Nachforschungen, Naturkunde, Religion und Täuschen</p>

<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul>
<li> (a) eine leichte Armbrust und 20 Bolzen oder (b) eine beliebige einfache Waffe</li>
<li> (a) ein Materialkomponentenbeutel oder (b) ein arkaner Fokus</li>
<li> (a) eine Gelehrtenausrüstung oder (b) eine Gewölbeforscherausrüstung</li>
<li> Eine Lederrüstung, eine beliebige einfache Waffe und zwei Dolche</li>
</ul>

<h5>Hexenmeister</h5>

<table id="table-hexenmeister">
<tr>
<th>Stufe</th>
<th>Übungsbonus</th>
<th>Merkmale</th>
<th>Bekannte Zaubertricks</th>
<th>Bekannte Zauber</th>
<th>Zauberplätze</th>
<th>Grad der Plätze</th>
<th>Bekannte Anrufungen</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Außerweltlicher Schutzherr, Paktmagie</td><td>2</td><td>2</td><td>1</td><td>1.</td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>Schauerliche Anrufungen</td><td>2</td><td>3</td><td>2</td><td>1.</td><td>2</td></tr>
<tr><td>3.</td><td>+2</td><td>Segen des Pakts</td><td>2</td><td>4</td><td>2</td><td>2.</td><td>2</td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td><td>3</td><td>5</td><td>2</td><td>2.</td><td>2</td></tr>
<tr><td>5.</td><td>+3</td><td></td><td>3</td><td>6</td><td>2</td><td>3.</td><td>3</td></tr>
<tr><td>6.</td><td>+3</td><td>Merkmal: Außerweltlicher Schutzherr</td><td>3</td><td>7</td><td>2</td><td>3.</td><td>3</td></tr>
<tr><td>7.</td><td>+3</td><td></td><td>3</td><td>8</td><td>2</td><td>4.</td><td>4</td></tr>
<tr><td>8.</td><td>+3</td><td>Attributswerterhöhung</td><td>3</td><td>9</td><td>2</td><td>4.</td><td>4</td></tr>
<tr><td>9.</td><td>+4</td><td></td><td>3</td><td>10</td><td>2</td><td>5.</td><td>5</td></tr>
<tr><td>10.</td><td>+4</td><td>Merkmal: Außerweltlicher Schutzherr</td><td>4</td><td>10</td><td>2</td><td>5.</td><td>5</td></tr>
<tr><td>11.</td><td>+4</td><td>Mystisches Arkanum (6. Grad)</td><td>4</td><td>11</td><td>3</td><td>5.</td><td>5</td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>4</td><td>11</td><td>3</td><td>5.</td><td>6</td></tr>
<tr><td>13.</td><td>+5</td><td>Mystisches Arkanum (7. Grad)</td><td>4</td><td>12</td><td>3</td><td>5.</td><td>6</td></tr>
<tr><td>14.</td><td>+5</td><td>Merkmal: Außerweltlicher Schutzherr</td><td>4</td><td>12</td><td>3</td><td>5.</td><td>6</td></tr>
<tr><td>15.</td><td>+5</td><td>Mystisches Arkanum (8. Grad)</td><td>4</td><td>13</td><td>3</td><td>5.</td><td>7</td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>4</td><td>13</td><td>3</td><td>5.</td><td>7</td></tr>
<tr><td>17.</td><td>+6</td><td>Mystisches Arkanum (9. Grad)</td><td>4</td><td>14</td><td>4</td><td>5.</td><td>7</td></tr>
<tr><td>18.</td><td>+6</td><td></td><td>4</td><td>14</td><td>4</td><td>5.</td><td>8</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>4</td><td>15</td><td>4</td><td>5.</td><td>8</td></tr>
<tr><td>20.</td><td>+6</td><td>Mystischer Meister</td><td>4</td><td>15</td><td>4</td><td>5.</td><td>8</td></tr>
</table>

<h4>Außerweltlicher Schutzherr</h4>
<p>Auf der 1. Stufe hast du einen Pakt mit einem außerweltlichen Wesen deiner Wahl geschlossen: einer Erzfee, einem Unhold (am Ende dieser Klassenbeschreibung näher erläutert) oder einem Großen Alten. Deine Wahl gewährt dir auf der 1. sowie auf der 6., 10. und 14. Stufe weitere Merkmale.</p>
<h4>Paktmagie</h4>
<p>Deine arkane Forschung und die dir von deinem Schutzherrn verliehene Magie gewähren dir die Fähigkeit, Zauber zu wirken.</p>
<h5>Zaubertricks</h5>
<p>Du beherrschst zwei Zaubertricks deiner Wahl aus der Hexenmeisterzauberliste. Weitere Hexenmeisterzaubertricks deiner Wahl erlernst du auf höheren Stufen (siehe Spalte „Bekannte Zaubertricks&quot; in der Hexenmeistertabelle).</p>
<h5>Zauberplätze</h5>
<p>In der Hexenmeistertabelle siehst du, wie viele Zauberplätze dir zur Verfügung stehen. Dort siehst du auch den Grad dieser Zauberplätze, wobei alle deine Zauberplätze denselben Grad haben. Um einen der Hexenmeisterzauber des 1. Grades oder höher zu wirken, musst du einen Zauberplatz verbrauchen. Verbrauchte Zauberplätze werden nach einer kurzen oder langen Rast wiederhergestellt.</p>
<p>Als Hexenmeister der 5. Stufe hast du beispielsweise zwei Zauberplätze des 3. Grades. Um als Zauber des 1. Grades <a class="spell" href="#spell-donnerwoge">Donnerwoge</a> zu wirken, musst du einen dieser Zauberplätze verbrauchen, und du wirkst ihn im 3. Grad.</p>
<h5>Bekannte Zauber des 1. Grades und höher</h5>
<p>Auf der 1. Stufe beherrschst du zwei Zauber des 1. Grades deiner Wahl aus der Hexenmeisterzauberliste.</p>
<p>Die Spalte „Bekannte Zauber&quot; in der Hexenmeistertabelle gibt an, wann du weitere Zauber des 1. Grades oder höherer Grade lernen kannst. Der Grad des ausgewählten Zaubers darf dabei den in der Tabelle angegebenen Grad für deine Stufe nicht übersteigen. Erreichst du beispielsweise die 6. Stufe, lernst du einen neuen Hexenmeisterzauber des 1., 2. oder 3. Grades.</p>
<p>Wenn du mit dieser Klasse eine Stufe aufsteigst, kannst du zudem einen der bekannten Hexenmeisterzauber durch einen anderen aus der Liste ersetzen, dessen Grad einem deiner verfügbaren Zauberplätze entsprechen muss.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut zum Zauberwirken ist Charisma, und wann immer die Beschreibung eines Zaubers den Begriff „Attribut zum Zauberwirken&quot; enthält, verwendest du deinen Charismawert. Außerdem verwendest du deinen Charismamodifikator beim Festlegen des Rettungswurf-SG für gewirkte Hexenmeisterzauber und bei Angriffswürfen damit.</p>
<p>Zauberrettungswurf-SG = 8 + dein Übungsbonus + dein Charismamodifikator</p>
<p>Angriffszauber-Modifikator = dein Übungsbonus + dein Charismamodifikator</p>
<h5>Zauberfokus</h5>
<p>Du kannst einen arkanen Fokus als Zauberfokus für deine Hexenmeisterzauber verwenden.</p>
<h4>Schauerliche Anrufungen</h4>
<p>Bei deinem Studium des okkulten Wissens bist du auf schauerliche Anrufungen gestoßen, Fragmente verbotener Kenntnisse, die dir dauerhafte magische Fähigkeiten verleihen.</p>
<p>Auf der 2. Stufe erhältst du zwei schauerliche Anrufungen deiner Wahl. Weitere Informationen zu den Anrufungen findest du am Ende der Klassenbeschreibung. Weitere Anrufungen deiner Wahl erlernst du auf höheren Stufen (siehe Spalte „Bekannte Anrufungen&quot; in der Hexenmeistertabelle).</p>
<p>Wenn du mit dieser Klasse eine Stufe aufsteigst, kannst du zudem eine der bekannten Anrufungen durch eine anderen aus der Liste ersetzen, die du auf dieser Stufe lernen kannst.</p>
<h4>Segen des Pakts</h4>
<p>Auf der 3. Stufe erhältst du von deinem außerweltlichen Schutzherrn ein Geschenk für deine treuen Dienste.</p>
<p>Er gewährt dir eines der folgenden Merkmale deiner Wahl:</p>
<h5>Pakt der Kette</h5>
<p>Du lernst den Zauber <a class="spell" href="#spell-vertrauten-finden">Vertrauten finden</a> und kannst ihn als Ritual wirken. Er zählt nicht zur Anzahl der dir bekannten Zauber.</p>
<p>Wenn du den Zauber wirkst, kannst du für deinen Vertrauten eine der normalen oder eine der folgenden besonderen Formen wählen: Feengeist, Pseudodrache, Teufelchen oder Quasit.</p>
<p>Wenn du außerdem in deinem Zug die Angreifen-Aktion ausführst, kannst du auf einen deiner Angriffe verzichten und stattdessen deinen Vertrauten mit seiner Reaktion einen eigenen Angriff ausführen lassen.</p>
<h5>Pakt der Klinge</h5>
<p>Du kannst eine Aktion verwenden, um eine Paktwaffe in deiner leeren Hand erscheinen zu lassen. Die Form dieser Nahkampfwaffe kannst du jedes Mal frei bestimmen. Du bist im Umgang mit der Waffe geübt, solange du sie führst. Diese Waffe zählt als magisch, wenn es um das Überwinden von Resistenzen und Immunitäten gegen nichtmagische Angriffe und nichtmagischen Schaden geht.</p>
<p>Deine Paktwaffe verschwindet, wenn sie mindestens eine Minute lang mehr als 1,5 Meter von dir entfernt ist. Sie verschwindet ebenso, wenn du dieses Merkmal erneut verwendest, wenn du die Waffe auflöst (keine Aktion erforderlich) oder wenn du stirbst.</p>
<p>Du kannst eine gehaltene magische Waffe in deine Paktwaffe verwandeln, indem du ein spezielles Ritual durchführst. Dieses Ritual dauert eine Stunde und kann während einer kurzen Rast durchgeführt werden. Danach kannst du die Waffe in einem extradimensionalen Raum verschwinden und bei jedem Erschaffen deiner Paktwaffe wieder erscheinen lassen. Ein Artefakt oder eine intelligente Waffe kann nicht auf diese Weise beeinflusst werden. Die Waffe ist nicht länger deine Paktwaffe, wenn du stirbst, wenn du das einstündige Ritual mit einer anderen Waffe durchführst oder wenn du ein einstündiges Ritual durchführst, um die Bindung aufzuheben. Die Waffe erscheint vor deinen Füßen, wenn sie sich bei Unterbrechung der Bindung im extradimensionalen Raum befindet.</p>
<h5>Pakt des Buches</h5>
<p>Dein Schutzherr überlässt dir ein Grimoire: das Buch der Schatten. Wenn du dieses Merkmal erhältst, wählst du drei Zaubertricks aus beliebigen Zauberlisten aus (sie müssen nicht aus derselben Liste stammen). Solange du das Buch bei dir trägst, kannst du diese Zaubertricks beliebig oft wirken. Sie zählen nicht zur Anzahl der dir bekannten Zaubertricks. Auch wenn sie nicht auf deiner Hexenmeisterzauberliste stehen, gelten sie für dich doch als Hexenmeisterzauber.</p>
<p>Falls du das Buch der Schatten verlierst, kannst du eine einstündige Zeremonie abhalten, um deinen Schutzherrn um Ersatz zu bitten. Diese Zeremonie kann während einer kurzen oder langen Rast durchgeführt werden und zerstört das vorherige Buch. Das Buch zerfällt zu Asche, wenn du stirbst.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Mystisches Arkanum</h4>
<p>Auf der 11. Stufe vertraut dir dein Schutzherr ein magisches Geheimnis an, das Arkanum genannt wird. Wähle einen Zauber des 6. Grades aus der Hexenmeisterzauberliste als dieses Arkanum.</p>
<p>Du kannst diesen Zauber wirken, ohne einen Zauberplatz zu verbrauchen. Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<p>Auf höheren Stufen erhältst du weitere Hexenmeisterzauber deiner Wahl, die auf diese Weise gewirkt werden können: einen Zauber des 7. Grades auf der 13. Stufe, einen Zauber des 8. Grades auf der 15. Stufe und einen Zauber des 9. Grades auf der 17. Stufe. Verbrauchte Anwendungen stehen dir nach einer langen Rast wieder zur Verfügung.</p>
<h4>Mystischer Meister</h4>
<p>Ab der 20. Stufe bist du dank deines Schutzherrn in der Lage, von deinen inneren Reserven an mystischer Energie zu zehren und so verbrauchte Zauberplätze zurückzuerhalten. Du kannst deinen Schutzherrn eine Minute lang anflehen, um alle verbrauchten Zauberplätze des Merkmals Paktmagie zurückzuerhalten. Hast du mit diesem Merkmal Zauberplätze zurückerhalten, steht es dir erst nach einer langen Rast erneut zur Verfügung.</p>

<h3 id="schauerliche-anrufungen">Schauerliche Anrufungen</h3>
<p>Sind bei einer schauerlichen Anrufung Voraussetzungen aufgeführt, musst du diese erfüllen, um sie zu lernen. Du kannst die Anrufung zu dem Zeitpunkt lernen, an dem du die Voraussetzungen erfüllst. Eine Stufenvoraussetzung bezieht sich auf deine Stufe als Hexenmeister.</p>
<h5>Außerweltlicher Sprung</h5>
<p><span class="nameref">Voraussetzung: 9. Stufe</span></p>
<p>Du kannst <a class="spell" href="#spell-springen">Springen</a> beliebig oft wirken, ohne dafür einen Zauberplatz oder Materialkomponenten verbrauchen zu müssen.</p>
<h5>Aufsteigender Schritt</h5>
<p><span class="nameref">Voraussetzung: 9. Stufe</span></p>
<p>Du kannst <a class="spell" href="#spell-schweben">Schweben</a> beliebig oft auf dich selbst wirken, ohne dafür einen Zauberplatz oder Materialkomponenten verbrauchen zu müssen.</p>
<h5>Auge des Runenwächters</h5>
<p>Du kannst jede Schrift lesen.</p>
<h5>Buch der uralten Geheimnisse</h5>
<p><span class="nameref">Voraussetzung: Merkmal: Pakt des Buches</span></p>
<p>Du kannst jetzt magische Rituale in deinem Buch der Schatten festhalten. Wähle zwei Zauber des 1. Grades mit dem Zusatz „Ritual&quot; aus beliebigen Zauberlisten (sie müssen nicht aus derselben Liste stammen). Diese Zauber erscheinen in deinem Buch und zählen nicht zur Anzahl der dir bekannten Zauber. Mit deinem Buch der Schatten in der Hand kannst du die ausgewählten Zauber als Rituale wirken. Solange du die Zauber nicht auf andere Weise gelernt hast, stehen sie dir ausschließlich als Rituale zur Verfügung. Zudem kannst du bekannte Hexenmeisterzauber als Ritual wirken, falls sie als solche gekennzeichnet sind.</p>
<p>Während deiner Abenteuer kannst du deinem Buch der Schatten weitere Ritualzauber hinzufügen. Findest du einen solchen Zauber, kannst du ihn in dein Buch schreiben, falls sein Grad höchstens deiner halben Hexenmeister stufe entspricht (aufgerundet) und du die entsprechende Zeit dafür verwendest. Pro Zaubergrad dauert die Übertragung zwei Stunden und kostet 50 GM für die dafür benötigten seltenen Tinten.</p>
<h5>Dieb der fünf Schicksale</h5>
<p>Du kannst einmal <a class="spell" href="#spell-verderben">Verderben</a> wirken, indem du einen Hexenmeisterzauberplatz verbrauchst. Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<h5>Dürstende Klinge</h5>
<p><span class="nameref">Voraussetzung: 5. Stufe, Merkmal: Pakt der Klinge</span></p>
<p>Du kannst mit deiner Paktwaffe zweimal anstatt einmal angreifen, wenn du in deinem Zug die Angriffsaktion ausführst.</p>
<h5>Fleischbildhauer</h5>
<p><span class="nameref">Voraussetzung: 7. Stufe</span></p>
<p>Du kannst einmal <a class="spell" href="#spell-verwandlung">Verwandlung</a> wirken, indem du einen Hexenmeisterzauberplatz verbrauchst Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<h5>Fürchterliches Wort</h5>
<p><span class="nameref">Voraussetzung: 7. Stufe</span></p>
<p>Du kannst einmal <a class="spell" href="#spell-verwirrung">Verwirrung</a> wirken, indem du einen Hexenmeisterzauberplatz verbrauchst. Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<h5>Gedankenblick</h5>
<p>Du kannst deine Aktion verwenden, um eine bereitwillige humanoide Kreatur zu berühren und bist zum Ende deines nächsten Zugs ihre Sinne zu nutzen. Solange sich diese Kreatur auf derselben Existenzebene wie du befindet, kannst du in darauffolgenden Zügen deine Aktion verwenden, um die Verbindung aufrechtzuhalten und die Wirkungsdauer bis zum Ende deines nächsten Zugs zu verlängern. Während du die Sinne der anderen Kreatur nutzt, erhältst du alle Vorzüge ihrer Spezialsinne, bist jedoch blind und taub für deine eigene Umgebung.</p>
<h5>Grabesflüstern</h5>
<p><span class="nameref">Voraussetzung: 9. Stufe</span></p>
<p>Du kannst <a class="spell" href="#spell-mit-toten-sprechen">Mit Toten sprechen</a> beliebig oft wirken, ohne dafür einen Zauberplatz verbrauchen zu müssen.</p>
<h5>Hexensicht</h5>
<p><span class="nameref">Voraussetzung: 15. Stufe</span></p>
<p>Du kannst die wahre Gestalt jedes Gestaltwandlers oder jeder Kreatur erkennen, die durch Illusions- oder Verwandlungsmagie verborgen wird, solange sich die Kreatur im Abstand von bis zu neun Metern von dir und in deiner Sichtlinie aufhält.</p>
<h5>Ketten von Carceri</h5>
<p><span class="nameref">Voraussetzung: 15. Stufe, Merkmal: Pakt der Kette</span></p>
<p>Du kannst beliebig oft <a class="spell" href="#spell-monster-festhalten">Monster festhalten</a> auf einen Celestischen, Elementar oder Unhold wirken, ohne dafür einen Zauberplatz oder Materialkomponenten verbrauchen zu müssen. Du kannst diese Anrufung bei derselben Kreatur erst nach einer langen Rast erneut verwenden.</p>
<h5>Lebenstrinker</h5>
<p><span class="nameref">Voraussetzung: 12. Stufe, Merkmal: Pakt der Klinge</span></p>
<p>Wenn du eine Kreatur mit deiner Paktwaffe triffst, erleidet die Kreatur zusätzlichen nekrotischen Schaden in Höhe deines Charismamodifikators (mindestens 1),</p>
<h5>Maske der vielen Gesichter</h5>
<p>Du kannst <a class="spell" href="#spell-selbstverkleidung">Selbstverkleidung</a> beliebig oft wirken, ohne dafür einen Zauberplatz verbrauchen zu müssen.</p>
<h5>Meister der myriaden Formen</h5>
<p><span class="nameref">Voraussetzung: 15. Stufe</span></p>
<p>Du kannst <a class="spell" href="#spell-gestalt-veraendern">Gestalt verändern</a> beliebig oft wirken, ohne dafür einen Zauberplatz verbrauchen zu müssen.</p>
<h5>Mit den Schatten verschmelzen</h5>
<p><span class="nameref">Voraussetzung: 5. Stufe</span></p>
<p>Wenn du dich in einem Gebiet mit dämmrigem Licht oder Dunkelheit aufhältst, kannst du deine Aktion verwenden, um unsichtbar zu werden, bis du dich bewegst oder eine Aktion oder Reaktion verwendest.</p>
<h5>Neblige Visionen</h5>
<p>Du kannst <a class="spell" href="#spell-lautloses-trugbild">Lautloses Trugbild</a> beliebig oft wirken, ohne dafür einen Zauberplatz oder Materialkomponenten verbrauchen zu müssen.</p>
<h5>Qualvoller Strahl</h5>
<p><span class="nameref">Voraussetzung: Zaubertrick</span> <a class="spell" href="#spell-unheimlicher-strahl">Schauriger Strahl</a></p>
<p>Addiere bei einem Treffer mit <a class="spell" href="#spell-unheimlicher-strahl">Schauriger Strahl</a> deinen Charismamodifikator zum Schaden.</p>
<h5>Schattenrüstung</h5>
<p>Du kannst <a class="spell" href="#spell-magierruestung">Magierrüstung</a> beliebig oft auf dich selbst wirken, ohne dafür einen Zauberplatz oder Materialkomponenten verbrauchen zu müssen.</p>
<h5>Stimme des Kettenmeisters</h5>
<p><span class="nameref">Voraussetzung: Merkmal: Pakt der Kette</span></p>
<p>Du kannst telepathisch mit deinem Vertrauten kommunizieren und seine Sinne nutzen, solange ihr euch auf derselben Existenzebene befindet. Während du die Sinne deines Vertrauten nutzt, kannst du zudem mit deiner Stimme durch ihn sprechen, selbst wenn dein Vertrauter des Sprechens normalerweise nicht mächtig ist.</p>
<h5>Teufelssicht</h5>
<p>Du kannst sowohl in magischer als auch nichtmagischer Dunkelheit 36 Meter weit normal sehen.</p>
<h5>Tiersprache</h5>
<p>Du kannst <a class="spell" href="#spell-mit-tieren-sprechen">Mit Tieren sprechen</a> beliebig oft wirken, ohne dafür einen Zauberplatz verbrauchen zu müssen.</p>
<h5>Unheimliche Sicht</h5>
<p>Du kannst beliebig oft <a class="spell" href="#spell-magie-entdecken">Magie entdecken</a> wirken, ohne dafür einen Zauberplatz verbrauchen zu müssen.</p>
<h5>Unheimlicher Speer</h5>
<p><span class="nameref">Voraussetzung: Zaubertrick</span> <a class="spell" href="#spell-unheimlicher-strahl">Schauriger Strahl</a></p>
<p>Die Reichweite von <a class="spell" href="#spell-unheimlicher-strahl">Schauriger Strahl</a> erhöht sich auf 90 Meter.</p>
<h5>Unholde Vitalität</h5>
<p>Du kannst beliebig oft <a class="spell" href="#spell-falsches-leben">Falsches Leben</a> als Zauber des 1. Grades wirken, ohne dafür einen Zauberplatz oder Materialkomponenten verbrauchen zu müssen.</p>
<h5>Untergebene des Chaos</h5>
<p><span class="nameref">Voraussetzung: 9. Stufe</span></p>
<p>Du kannst einmal <a class="spell" href="#spell-elementar-beschwoeren">Elementar beschwören</a> wirken, indem du einen Hexenmeisterzauberplatz verbrauchst. Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<h5>Verführerischer Einfluss</h5>
<p>Du bist in den Fertigkeiten Täuschen und Überzeugen geübt.</p>
<h5>Verhexendes Flüstern</h5>
<p><span class="nameref">Voraussetzung:</span> 7. Stufe</p>
<p>Du kannst einmal <a class="spell" href="#spell-zwang">Zwang</a> wirken, indem du einen Hexenmeisterzauberplatz verbrauchst. Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<h5>Versumpfen lassen</h5>
<p><span class="nameref">Voraussetzung: 5. Stufe</span></p>
<p>Du kannst einmal <a class="spell" href="#spell-verlangsamen">Verlangsamen</a> wirken, indem du einen Hexenmeisterzauberplatz verbrauchst Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<h5>Visionen von fernen Reichen</h5>
<p><span class="nameref">Voraussetzung: 15. Stufe</span></p>
<p>Du kannst <a class="spell" href="#spell-arkanes-auge">Arkanes Auge</a> beliebig oft wirken, ohne dafür einen Zauberplatz verbrauchen zu müssen.</p>
<h5>Zeichen des schlechten Omens</h5>
<p><span class="nameref">Voraussetzung: 5. Stufe</span></p>
<p>Du kannst einmal <a class="spell" href="#spell-fluch">Fluch</a> wirken, indem du einen Hexenmeisterzauberplatz verbrauchst. Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<h5>Zurückdrängender Strahl</h5>
<p><span class="nameref">Voraussetzung: Zaubertrick</span> <a class="spell" href="#spell-unheimlicher-strahl">Schauriger Strahl</a></p>
<p>Wenn du eine Kreatur mit <a class="spell" href="#spell-unheimlicher-strahl">Schauriger Strahl</a> triffst, kannst du sie bis zu drei Meter in gerader Linie von dir wegstoßen.</p>

<h3 id="ausserweltliche-schutzherren">Außerweltliche Schutzherren</h3>
<p>Die Wesen, die als Schutzherren der Hexenmeister in Erscheinung treten, sind mächtige Bewohner anderer Existenzebenen - keine Götter, aber fast gottgleich in ihrer Macht Verschiedene Schutzherren gewähren ihren Hexenmeistern Zugriff auf unterschiedliche Kräfte und Anrufungen und erwarten dafür bedeutende Gefallen.</p>
<p>Einige Schutzherren schließen einen Pakt mit mehreren Hexenmeistern und verteilen ihr mystisches Wissen relativ freizügig oder prahlen mit ihrer Fähigkeit, Sterbliche ihrem Willen zu unterwerfen. Andere Schutzherren geben ihre Macht nur widerwillig weiter und schließen meist nur mit einem Hexenmeister einen Pakt. Hexenmeister, die demselben Schutzherrn dienen, betrachten sich zuweilen als Verbündete, Geschwister oder Rivalen.</p>
<h4>Der Unhold</h4>
<p>Du hast einen Pakt mit einem Unhold aus den unteren Ebenen der Existenz geschlossen, einem Wesen, dessen Ziele böse sind, selbst wenn das nicht für dich gilt. Diese Wesen sehnen sich danach, alles zu verderben oder zu zerstören, dich eingeschlossen. Zu den Unholden, die mächtig genug sind, um einen Pakt zu schließen, gehören Dämonenherrscher wie Demogorgon, Orkus, Fraz'Urb-luu und Baphomet, Erzteufel wie Asmodeus, Dispater, Mephistopheles und Belial, Höllenschlundteufel und Balor, die über große Macht verfügen, und Ultrolothe und andere Herren der Yugolothen.</p>
<h5>Erweiterte Zauberliste</h5>
<p>Der Unhold gewährt dir die Wahl aus einer erweiterten Zauberliste, wenn du einen neuen Hexenmeisterzauber lernst. Die Zauberliste des Hexenmeisters wurde um folgende Zauber erweitert:</p>

<h5>Erweiterte Zauberliste des Unholds</h5>
<table id="table-erweiterte-zauberliste-des-unholds">
<tr>
<th>Zaubergrad</th>
<th>Zauber</th>
</tr>
<tr><td>1.</td><td><a class="spell" href="#spell-befehl">Befehl</a>, <a class="spell" href="#spell-brennende-haende">Brennende Hände</a></td></tr>
<tr><td>2.</td><td><a class="spell" href="#spell-blindheit-taubheit">Blindheit/Taubheit</a>, <a class="spell" href="#spell-sengender-strahl">Sengender Strahl</a></td></tr>
<tr><td>3.</td><td><a class="spell" href="#spell-feuerball">Feuerball</a>, <a class="spell" href="#spell-stinkende-wolke">Stinkende Wolke</a></td></tr>
<tr><td>4.</td><td><a class="spell" href="#spell-feuerschild">Feuerschild</a>, <a class="spell" href="#spell-feuerwand">Feuerwand</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-flammenschlag">Flammenschlag</a>, <a class="spell" href="#spell-weihen">Weihen</a></td></tr>
</table>

<h5>Segen des Dunklen Meisters</h5>
<p>Wenn du ab der 1. Stufe eine feindlich gesinnte Kreatur auf 0 Trefferpunkte reduzierst, erhältst du temporäre Trefferpunkte in Höhe deines Charismamodifikators + deine Hexenmeisterstufe (mindestens 1).</p>
<h5>Schicksal des Dunklen Meisters</h5>
<p>Ab der 6. Stufe kannst du deinen Schutzherrn bitten, das Schicksal zu deinen Gunsten zu ändern. Wenn du einen Attributs- oder Rettungswurf ausführst, kannst du dieses Merkmal verwenden, um dem Wurf einen W10 hinzuzufügen. Du kannst dies tun, nachdem der Wurf ausgeführt wurde, aber bevor die Effekte des Wurfs angewendet werden.</p>
<p>Du kannst dieses Merkmal erst nach einer kurzen oder langen Rast erneut verwenden.</p>
<h5>Widerstandskraft des Unholds</h5>
<p>Ab der 10. Stufe kannst du nach einer kurzen oder langen Rast eine Schadensart festlegen. Du bist gegen diese Schadensart resistent, bis du mit diesem Merkmal eine andere auswählst. Schaden durch magische oder Silberwaffen ignoriert diese Resistenz.</p>
<h5>Schlund des Wahnsinns</h5>
<p>Ab der 14. Stufe kannst du dieses Merkmal nutzen, wenn du eine Kreatur mit einem Angriff triffst, um das Ziel sofort auf die Unteren Ebenen zu befördern. Die Kreatur verschwindet und wird durch eine albtraumhafte Landschaft geschleudert.</p>
<p>Am Ende deines nächsten Zugs erscheint sie wieder an der Stelle, an der sie sich zuvor befand, oder an der nächstgelegenen freien Stelle. Ist das Ziel kein Unhold, erleidet es durch die verstörende Erfahrung 10W10 psychischen Schaden.</p>
<p>Du kannst dieses Merkmal erst nach einer langen Rast erneut verwenden.</p>

<div class="boxed" id="box-dein-segen-des-pakts">
<h5>Dein Segen des Pakts</h5>
<p>Jeder Segen des Pakts gewährt dir eine besondere Kreatur oder einen Gegenstand entsprechend der Natur deines Schutzherrn.</p>
<p><span class="trait-name">Pakt der Kette:</span> Dein Vertrauter ist gerissener als üblich. Die Standardform kann deinen Schutzherrn widerspiegeln, wobei Quasite und Teufelchen an den Unhold gebunden sind.</p>
<p><span class="trait-name">Pakt der Klinge:</span> Wenn du dem Unhold dienst, ist deine Waffe vielleicht eine Axt aus schwarzem Metall und mit einem Flammenmuster verziert.</p>
<p><span class="trait-name">Pakt des Buches:</span> Dein Buch der Schatten könnte ein dicker Foliant sein, den dir der Unhold geschenkt hat - in Dämonenhaut gebunden, mit Eisen beschlagen und mit Beschwörungszaubern sowie verbotenem Wissen über die unheimlichen Regionen des Kosmos.</p>
</div>