<h2 id="class-kaempfer">Kämpfer</h2>
<h3 id="klassenmerkmale-kaempfer">Klassenmerkmale</h3>
<p>Als Kämpfer erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W10 pro Stufe als Kämpfer</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>10 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W10 (oder 6) + Konstitutionsmodifikator pro Kämpferstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Alle Rüstungen, Schilde</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen, Kriegswaffen</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Stärke, Konstitution</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Akrobatik, Athletik, Einschüchtern, Geschichte, Mit Tieren umgehen, Motiv erkennen, Überlebenskunst und Wahrnehmung</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul><li> (a) Kettenpanzer oder (b) Lederrüstung und Langbogen mit 20 Pfeilen</li>
<li> (a) eine Kriegswaffe und ein Schild oder (b) zwei Kriegswaffen</li>
<li> (a) eine leichte Armbrust mit 20 Bolzen oder (b) zwei Beile</li>
<li> (a) eine Gewölbeforscherausrüstung oder (b) eine Entdeckerausrüstung</li></ul>

<h5>Kämpfer</h5>
<table id="table-kaempfer">
<tr>
<th>Stufe</th>
<th>Übungsbonus</th>
<th>Merkmale</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Kampfstil, Durchschnaufen</td></tr>
<tr><td>2.</td><td>+2</td><td>Tatendrang (einmalig)</td></tr>
<tr><td>3.</td><td>+2</td><td>Kampfarchetypen</td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td></tr>
<tr><td>5.</td><td>+3</td><td>Zusätzlicher Angriff</td></tr>
<tr><td>6.</td><td>+3</td><td>Attributswerterhöhung</td></tr>
<tr><td>7.</td><td>+3</td><td>Merkmal: Kampfarchetyp</td></tr>
<tr><td>8.</td><td>+3</td><td>Attributswerterhöhung</td></tr>
<tr><td>9.</td><td>+4</td><td>Unbeugsamkeit (eine Anwendung)</td></tr>
<tr><td>10.</td><td>+4</td><td>Merkmal: Kampfarchetyp</td></tr>
<tr><td>11.</td><td>+4</td><td>Zusätzlicher Angriff (2)</td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td></tr>
<tr><td>13.</td><td>+5</td><td>Unbeugsamkeit (zwei Anwendungen)</td></tr>
<tr><td>14.</td><td>+5</td><td>Attributswerterhöhung</td></tr>
<tr><td>15.</td><td>+5</td><td>Merkmal: Kampfarchetyp</td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td></tr>
<tr><td>17.</td><td>+6</td><td>Tatendrang (zwei Anwendungen), Unbeugsamkeit (drei Anwendungen)</td></tr>
<tr><td>18.</td><td>+6</td><td>Merkmal: Kampfarchetyp</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td></tr>
<tr><td>20.</td><td>+6</td><td>Zusätzlicher Angriff (3)</td></tr>
</table>
<h4>Kampfstil</h4>
<p>Du wählst einen bestimmten Kampfstil als Spezialisierung. Entscheide dich für eine der folgenden Optionen. Du kannst keinen der Kampfstile mehr als einmal wählen, selbst wenn du dir später erneut einen aussuchen darfst.</p>
<h5>Bogenschießen</h5>
<p>Du erhältst einen Bonus von +2 auf alle Angriffswürfe mit Fernkampfwaffen.</p>
<h5>Duellieren</h5>
<p>Kämpfst du mit einer einhändig geführten Nahkampfwaffe und keiner weiteren Waffe in deiner Zweithand, erhältst du einen Bonus von +2 auf die Schadenswürfe mit dieser Waffe.</p>
<h5>Kampf mit großen Waffen</h5>
<p>Wenn du beim Angriff mit einer zweihändigen Nahkampfwaffe beim Schadenswurf eine 1 oder 2 würfelst, darfst du mit dem entsprechenden Würfel erneut würfeln. Das neue Ergebnis gilt, auch wenn es wieder eine 1 oder 2 ist. Die Waffe muss die Waffeneigenschaft zweihändig oder vielseitig besitzen, um dir diesen Vorzug zu gewähren.</p>
<h5>Leibwache</h5>
<p>Führt eine Kreatur einen Angriff auf ein Ziel im Umkreis von bis zu 1,5 Metern von dir aus, das nicht du selbst bist, kannst du deine Reaktion dazu verwenden, dem Angreifer bei seinem Angriffswurf einen Nachteil zu verleihen. Du musst dafür einen Schild tragen.</p>
<h5>Verteidigung</h5>
<p>Solange du eine Rüstung trägst, erhältst du einen Bonus von +1 auf deine RK.</p>
<h5>Zwei-Waffen-Kampf</h5>
<p>Wenn du mit zwei Waffen angreifst, kannst du deinen Attributsmodifikator zum Schaden des zweiten Angriffs addieren.</p>
<h4>Durchschnaufen</h4>
<p>Du hast einen gewissen Vorrat an Ausdauer, den du im Kampf zu deinem Schutz nutzen kannst. Du kannst in deinem Zug eine Bonusaktion verwenden, um Trefferpunkte in Höhe von 1W10 + deine Kämpferstufe zurückzuerhalten. Hast du dieses Merkmal einmal eingesetzt, steht es dir erst wieder nach einer kurzen oder langen Rast zur Verfügung.</p>
<h4>Tatendrang</h4>
<p>Ab der 2. Stufe vermagst du es, dich für einen kurzen Augenblick über deine körperlichen Grenzen hinwegzusetzen. In deinem Zug kannst du neben deiner normalen Aktion und einer möglichen Bonusaktion eine zusätzliche Aktion ausführen.</p>
<p>Hast du dieses Merkmal einmal eingesetzt, steht es dir erst wieder nach einer kurzen oder langen Rast zur Verfügung. Ab der 17. Stufe kannst du dieses Merkmal vor einer Rast zweimal einsetzen, jedoch nur einmal pro Zug.</p>
<h4>Kampfarchetypen</h4>
<p>Auf der 3. Stufe entscheidest du dich für einen Archetypen wie den Champion, der deinen Weg als Kämpfer bestimmt und deine Techniken und Kampfstile beeinflusst. Der gewählte Archetyp verleiht dir auf der 3., 7., 10., 15. und 18. Stufe weitere Merkmale.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 6., 8., 12., 14., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Zusätzlicher Angriff</h4>
<p>Ab der 5. Stufe kannst du zweimal statt nur einmal angreifen, wenn du in deinem Zug eine Angriffsaktion ausführst.</p>
<p>Die Anzahl deiner Angriffe steigt auf der 11. Kämpferstufe auf drei und auf der 20. Kämpferstufe auf vier.</p>
<h4>Unbeugsamkeit</h4>
<p>Ab der 9. Stufe kannst du einen misslungenen Rettungswurf wiederholen. Wenn du das tust, musst du das neue Ergebnis verwenden und kannst dieses Merkmal erst nach einer langen Rast erneut verwenden.</p>
<p>Du kannst dieses Merkmal ab der 13. Stufe zweimal und ab der 17. Stufe dreimal zwischen einer langen Rast verwenden.</p>
<h3 id="kampfarchetypen">Kampfarchetypen</h3>
<p>Unterschiedliche Kämpfer wählen verschiedene Herangehensweisen, um ihre Kampfkunst zu perfektionieren. Der Kampfarchetyp, für den du dich entscheidest, spiegelt deine Herangehensweise wider.</p>
<h4>Champion</h4>
<p>Der archetypische Champion konzentriert sich auf die Entwicklung seiner rohen körperlichen Kraft bis hin zur tödlichen Perfektion. Jene, die diesem Archetyp nacheifern, kombinieren rigoroses Training mit körperlicher Überlegenheit, um vernichtende Schläge auszuführen.</p>
<h5>Verbesserter kritischer Treffer</h5>
<p>Wählst du diesen Archetyp, verursacht deine Waffe ab der 3. Stufe bei einem Würfelergebnis von 19 oder 20 kritische Treffer.</p>
<h5>Bemerkenswerter Athlet</h5>
<p>Ab der 7. Stufe kannst du deinen halben Übungsbonus (abgerundet) auf jeden Stärke-, Geschicklichkeit- oder Konstitutionswurf addieren, der nicht bereits durch deinen Übungsbonus verbessert wird.</p>
<p>Außerdem kannst du aus dem Lauf pro Punkt deines Stärkemodifikators 30 Zentimeter weiter springen als gewöhnlich.</p>
<h5>Weiterer Kampfstil</h5>
<p>Auf der 10. Stufe kannst du eine zweite Option aus der Liste „Kampfstil-Klassenmerkmal&quot; auswählen.</p>
<h5>Überlegener kritischer Treffer</h5>
<p>Ab der 15. Stufe erzielt dein Waffenangriff bei einem Würfelergebnis von 18 bis 20 kritische Treffer.</p>
<h5>Überlebender</h5>
<p>Auf der 18. Stufe erklimmst du den Gipfel körperlicher Zähigkeit im Kampf. Zu Beginn jedes deiner Züge erhältst du Trefferpunkte in Höhe von 5 + dein Konstitutionsmodifikator zurück, falls du nicht mehr als die Hälfte deiner Trefferpunkte besitzt. Solltest du 0 Trefferpunkte haben, erhältst du diesen Vorzug nicht.</p>