<h2 id="class-kleriker">Kleriker</h2>
<h3 id="klassenmerkmale-kleriker">Klassenmerkmale</h3>
<p>Als Kleriker hast du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W8 je Klerikerstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>8 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W8 (oder 5) + Konstitutionsmodifikator pro Klerikerstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Leichte und mittelschwere Rüstung, Schilde</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Weisheit, Charisma</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Geschichte, Heilkunde, Motiv erkennen, Religion und Überzeugen</p>

<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur</p>
<p>Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul>
<li>(a) ein Streitkolben oder (b) ein Kriegshammer (falls im Umgang geübt)</li>
<li>(a) Schuppenpanzer, (b) Lederrüstung oder (c) Kettenpanzer (falls im Umgang geübt)</li>
<li>(a) eine leichte Armbrust und 20 Bolzen oder (b) eine beliebige einfache Waffe</li>
<li>(a) eine Priesterausrüstung oder (b) eine Entdeckerausrüstung</li>
<li>Ein Schild und ein heiliges Symbol</li>
</ul>

<h5>Kleriker</h5>

<table id="table-kleriker">
<tr>
<th rowspan="2">Stufe</th>
<th rowspan="2">Übungsbonus</th>
<th rowspan="2">Merkmale</th>
<th rowspan="2">Bekannte Zaubertricks</th>
<th colspan="9">Zauberplätze pro Zaubergrad</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
<th>5.</th>
<th>6.</th>
<th>7.</th>
<th>8.</th>
<th>9.</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Zauberwirken, Göttliche Domäne</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>Göttliche Macht fokussieren (1/Rast), Merkmal: Göttliche Domäne</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>3.</td><td>+2</td><td></td><td>3</td><td>4</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td><td>4</td><td>4</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>5.</td><td>+3</td><td>Untote zerstören (HG 1/2)</td><td>4</td><td>4</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>6.</td><td>+3</td><td>Göttliche Macht fokussieren (2/Rast), Merkmal: Göttliche Domäne</td><td>4</td><td>4</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>7.</td><td>+3</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8.</td><td>+3</td><td>Attributswerterhöhung, Untote zerstören (HG 1), Merkmal: Göttliche Domäne</td><td>4</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>9.</td><td>+4</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td></tr>
<tr><td>10.</td><td>+4</td><td>Göttliche Intervention</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td></tr>
<tr><td>11.</td><td>+4</td><td>Untote zerstören (HG 2)</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>13.</td><td>+5</td><td></td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>14.</td><td>+5</td><td>Untote zerstören (HG 3)</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>15.</td><td>+5</td><td></td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>17.</td><td>+6</td><td>Untote zerstören (HG 4), Merkmal: Göttliche Domäne</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>18.</td><td>+6</td><td>Göttliche Macht fokussieren (3/Rast)</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>20.</td><td>+6</td><td>Verbesserte Göttliche Intervention</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
</table>

<h4>Zauberwirken</h4>
<p>Als Instrument göttlicher Kräfte kannst du Klerikerzauber wirken.</p>
<h5>Zaubertricks</h5>
<p>Auf der 1. Stufe beherrschst du drei Zaubertricks deiner Wahl aus der Zauberliste des Klerikers. Weitere Klerikerzaubertricks deiner Wahl erlernst du auf höheren Stufen (siehe Spalte „Bekannte Zaubertricks&quot; in der Klerikertabelle).</p>
<h5>Zauber vorbereiten und wirken</h5>
<p>In der Klerikertabelle siehst du, wie viele Zauberplätze dir für Zauber des 1. Grades und höherer Grade zur Verfügung stehen. Um einen dieser Zauber zu wirken, musst du einen Platz des gleichen oder höheren Grades verbrauchen. Verbrauchte Zauberplätze werden nach einer langen Rast wiederhergestellt.</p>
<p>Du bereitest die Liste der Klerikerzauber, die dir zum Wirken zur Verfügung stehen, mithilfe der Klerikerzauberliste vor. Wähle dazu eine Anzahl von Klerikerzaubern aus, die deinem Weisheitsmodifikator + deiner Klerikerstufe entsprechen (mindestens ein Zauber). Der Grad dieser Zauber muss dem der verfügbaren Zauberplätze entsprechen.</p>
<p>Als Kleriker der 3. Stufe hast du beispielsweise vier Zauberplätze des 1. und zwei des 2. Grades. Bei einem Weisheitswert von 16 kann deine Liste vorbereiteter Zauber sechs Zauber des 1. oder des 2. Grades in beliebiger Kombination enthalten. Wenn du als Zauber des 1. Grades <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a> vorbereitest, kannst du ihn von einem Zauberplatz des 1. oder 2. Grades wirken. Er wird durch das Wirken nicht von deiner Liste vorbereiteter Zauber entfernt.</p>
<p>Du kannst deine Liste der vorbereiteten Zauber nach einer langen Rast ändern. Das Vorbereiten einer neuen Klerikerzauberliste erfordert eine gewisse Zeit für Gebet oder Meditation: mindestens eine Minute pro Zaubergrad für jeden Zauber auf der Liste.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut zum Wirken der Klerikerzauber ist Weisheit. Die Macht deiner Zauber speist sich aus deiner Ergebenheit deiner Gottheit gegenüber. Wenn sich ein Klerikerzauber auf das zum Wirken nötige Attribut bezieht, verwendest du Weisheit. Außerdem verwendest du deinen Weisheitsmodifikator beim Festlegen des Rettungswurf-SG für Klerikerzauber, die du wirkst, und für Angriffswürfe damit.</p>
<p>Zauberrettungswurf-SG = 8 + dein Übungsbonus + dein Weisheitsmodifikator</p>
<p>Angriffszauber-Modifikator = dein Übungsbonus + dein Weisheitsmodifikator</p>
<h5>Rituale wirken</h5>
<p>Du kannst einen Klerikerzauber als Ritual wirken, wenn der Zauber den Zusatz „Ritual&quot; aufweist und du ihn vorbereitet hast.</p>
<h5>Zauberfokus</h5>
<p>Du kannst ein heiliges Symbol (siehe „Ausrüstung&quot;) als Zauberfokus für deine Klerikerzauber verwenden.</p>
<h4>Göttliche Domäne</h4>
<p>Such dir eine Domäne aus, die in Verbindung mit deiner Gottheit steht, beispielsweise Leben. Diese Domäne wird am Ende der Klassenbeschreibung detailliert beschrieben, inklusive Beispiele für Götter, die mit ihr verbunden sind. Deine Wahl gewährt dir bereits ab der 1. Stufe Domänenzauber und andere Merkmale. Außerdem erhältst du zusätzliche Möglichkeiten, göttliche Macht zu fokussieren, wenn du dieses Merkmal auf der 2. Stufe erhältst, sowie weitere Vorzüge auf der 6., 8. und 17. Stufe.</p>
<h5>Domänenzauber</h5>
<p>Jede Domäne hat eine Liste von Zaubern: die Domänenzauber, die du auf den Kleriker stufen erhältst, die in der Domänenbeschreibung aufgeführt sind. Erhältst du einen Domänenzauber, so ist dieser stets vorbereitet und wird bei der Anzahl von Zaubern, die du täglich vorbereiten kannst, nicht berücksichtigt Hast du einen Domänenzauber, der nicht in deiner Kleriker-Zauberliste auftaucht, gilt er für dich dennoch als Klerikerzauber.</p>
<h4>Göttliche Macht fokussieren</h4>
<p>Ab der 2. Stufe kannst du göttliche Macht direkt von deiner Gottheit fokussieren und die Energie für magische Effekte nutzen. Du beginnst mit zwei solchen Effekten: Untote vertreiben sowie einem durch deine Domäne bestimmten Effekt. Manche Domänen gewähren dir bei Stufenaufstiegen zusätzliche Effekte, die du in der Domänenbeschreibung findest.</p>
<p>Wenn du deine göttliche Macht fokussierst, wählst du aus, welchen Effekt du erzeugst. Danach kannst du deine göttliche Macht erst nach einer kurzen oder langen Rast wieder fokussieren.</p>
<p>Manche Effekte dieses Merkmals erfordern Rettungswürfe. Wenn du einen solchen Effekt dieser Klasse einsetzt, entspricht der SG deinem Kleriker-Zauberrettungswurf-SG.</p>
<p>Ab der 6. Stufe kannst du zweimal göttliche Macht fokussieren, bevor eine Rast erforderlich wird. Nach einer kurzen oder langen Rast erhältst du verbrauchte Anwendungen zurück.</p>
<h5>Göttliche Macht fokussieren: Untote vertreiben</h5>
<p>Als Aktion zeigst du dein heiliges Symbol und sprichst ein Gebet, um die Untoten zu vertreiben. Jeder Untote im Abstand von bis zu neun Metern von dir, der dich hören oder sehen kann, muss einen Weisheitsrettungswurf ausführen. Scheitert der Rettungswurf, gilt die Kreatur eine Minute lang -oder bis sie Schaden erleidet - als vertrieben.</p>
<p>Eine vertriebene Kreatur muss ihren Zug dafür verwenden, sich so weit wie möglich von dir zu entfernen, und darf dir nicht absichtlich näher als neun Meter kommen. Außerdem kann sie nicht reagieren. Als Aktion kann sie nur spurten oder versuchen, sich von einem Effekt zu befreien, der sie daran hindert, sich zu bewegen. Gibt es keinen Ort, an den sie sich bewegen kann, darf sie die Ausweichaktion einsetzen.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Untote zerstören</h4>
<p>Hast du die 5. Stufe erreicht und misslingt einem Untoten der Rettungswurf gegen dein Merkmal Untote vertreiben, wird er sofort zerstört, sofern sein Herausforderungsgrad einen bestimmten in der Tabelle „Untote zerstören&quot; angegebenen Wert nicht übersteigt.</p>
<h5>Untote zerstören</h5>
<table id="table-untote-zerstoeren">
<tr>
<th>Klerikerstufe</th>
<th>Untote zerstören mit HG ..</th>
</tr>
<tr><td>5.</td><td>1/2 oder niedriger</td></tr>
<tr><td>8.</td><td>1 oder niedriger</td></tr>
<tr><td>11.</td><td>2 oder niedriger</td></tr>
<tr><td>14.</td><td>3 oder niedriger</td></tr>
<tr><td>17.</td><td>4 oder niedriger</td></tr>
</table>
<h4>Göttliche Intervention</h4>
<p>Ab der 10. Stufe kannst du deine Gottheit in großer Not bitten, dir beizustehen.</p>
<p>Um deine Gottheit anzurufen, musst du deine Aktion verwenden. Beschreibe die Hilfe, die du erbittest, und wirf einen Prozentwürfel. Ist dein Ergebnis maximal so hoch wie deine Klerikerstufe, greift deine Gottheit ein. Der SL entscheidet über die Art der Intervention, wobei der Effekt jedes Klerikerzaubers angemessen wäre.</p>
<p>Sollte deine Gottheit eingreifen, kannst du dieses Merkmal die nächsten sieben Tage nicht verwenden. Anderenfalls steht es dir nach einer langen Rast wieder zur Verfügung.</p>
<p>Ab der 20. Stufe gelingt dir die Anrufung der Gottheit automatisch und es ist kein Wurf erforderlich.</p>
<h4>Domäne des Lebens</h4>
<p>Die Domäne des Lebens konzentriert sich auf die pulsierende positive Energie, die alles Lebendige erhält - eine der grundlegendsten Kräfte des Universums. Die Götter des Lebens fördern Vitalität und Gesundheit, indem sie Kranke und Verwundete heilen, für Bedürftige sorgen und die Mächte des Todes und des Untoten zerstören. Nahezu jede Gottheit, die nicht böse ist, kann Einfluss auf diese Domäne beanspruchen, besonders Götter der Landwirtschaft wie Chauntea, Arawai und Demeter, Sonnengötter wie Lathander, Pelor und Re-Horachti, Götter der Heilung oder der Ausdauer wie Ilmater, Mishakal, Apollo und Dian Cecht sowie Götter des Heimes und der Gemeinschaft wie Hestia, Hathor und Boldrei.</p>

<h5>Domänenzauber des Lebens</h5>
<table id="table-domaenenzauber-des-lebens">
<tr>
    <th>Klerikerstufe</th>
    <th>Zauber</th>
</tr>
<tr><td>1.</td><td><a class="spell" href="#spell-segnen">Segnen</a>, <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a></td></tr>
<tr><td>3.</td><td><a class="spell" href="#spell-schwache-genesung">Schwache Genesung</a>, <a class="spell" href="#spell-waffe-des-glaubens">Waffe des Glaubens</a></td></tr>
<tr><td>5.</td><td><a class="spell" href="#spell-leuchtfeuer-der-hoffnung">Leuchtfeuer der Hoffnung</a>, <a class="spell" href="#spell-wiederbeleben">Wiederbeleben</a></td></tr>
<tr><td>7.</td><td><a class="spell" href="#spell-hueter-des-glaubens">Hüter des Glaubens</a>, <a class="spell" href="#spell-todesschutz">Todesschutz</a></td></tr>
<tr><td>9.</td><td><a class="spell" href="#spell-massen-wunden-heilen">Massen-Wunden heilen</a>, <a class="spell" href="#spell-tote-erwecken">Tote erwecken</a></td></tr>
</table>
<h5>Zusätzliche Übung</h5>
<p>Wählst du diese Domäne auf der 1. Stufe, bist du im Umgang mit schwerer Rüstung geübt.</p>
<h5>Jünger des Lebens</h5>
<p>Ab der 1. Stufe werden auch deine Heilzauber effektiver. Wenn du einen Zauber des 1. Grades oder höher wirkst der bei einer Kreatur Trefferpunkte wiederherstellt, erhält die Kreatur zusätzlich Trefferpunkte in Höhe von 2 + Zaubergrad zurück.</p>
<h5>Göttliche Macht fokussieren: Leben erhalten</h5>
<p>Ab der 2. Stufe kannst du durch Göttliche Macht fokussieren auch schwere Verletzungen heilen.</p>
<p>Als Aktion zeigst du dein heiliges Symbol und beschwörst heilende Energie, mit der sich Trefferpunkte in Höhe des Fünffachen deiner Klerikerstufe wiederherstellen lassen. Wähle beliebige Kreaturen im Abstand von bis zu neun Metern von dir aus und teile diese Trefferpunkte unter ihnen auf. Dieses Merkmal kann keine Trefferpunkte über die Hälfte des Trefferpunktemaximums hinaus wiederherstellen. Es wirkt nicht bei Konstrukten und Untoten.</p>
<h5>Gesegneter Heiler</h5>
<p>Ab der 6. Stufe wirken Heilzauber, die du auf andere wirkst, auch auf dich. Wirkst du einen Heilzauber des 1. Grades oder höher auf eine andere Kreatur, erhältst du selbst Trefferpunkte in Höhe von 2 + Zaubergrad zurück.</p>
<h5>Göttlicher Schlag</h5>
<p>Auf der 8. Stufe erhältst du die Fähigkeit, die Hiebe deiner Waffe mit göttlicher Energie aufzuladen. Einmal pro Zug kannst du bei einem erfolgreichen Waffenangriff 1W8 zusätzlichen gleißender Schaden beim Ziel verursachen. Ab der 14. Stufe erhöht sich der zusätzliche Schaden auf 2W8.</p>
<h5>Höchste Heilung</h5>
<p>Hast du die 17. Stufe erreicht und würdest normalerweise mindestens einen Würfel werfen, um mit einem Zauber Trefferpunkte wiederherzustellen, verwendest du stattdessen für jeden Würfel das höchstmögliche Ergebnis. Beispielsweise stellst du bei einer Kreatur 12 statt 2W6 Trefferpunkte wieder her.</p>