<h2 id="class-magier">Magier</h2>
<h3 id="klassenmerkmale-magier">Klassenmerkmale</h3>
<p>Als Magier erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W6 pro Magierstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>6 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W6 (oder 4) + Konstitutionsmodifikator pro Magierstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Keine</p>
<p><span class="feature-name">Waffen: </span>Dolche, Kampfstäbe, leichte Armbrüste, Schleudern, Wurfpfeile</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Intelligenz, Weisheit</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Arkane Kunde, Geschichte, Medizin, Motiv erkennen, Nachforschungen und Religion</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul>
<li>(a) ein Kampfstab oder (b) ein Dolch</li>
<li>(a) ein Materialkomponentenbeutel oder (b) ein arkaner Fokus</li>
<li>(a) eine Gelehrtenausrüstung oder (b) eine Entdeckerausrüstung</li>
<li>Ein Zauberbuch</li>
</ul>

<h5>Magier</h5>

<table id="table-magier">
<tr>
<th rowspan="2">Stufe</th>
<th rowspan="2">Übungsbonus</th>
<th rowspan="2">Merkmale</th>
<th rowspan="2">Bekannte Zaubertricks</th>
<th colspan="9">Zauberplätze pro Zaubergrad</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
<th>5.</th>
<th>6.</th>
<th>7.</th>
<th>8.</th>
<th>9.</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Zauberwirken, Arkane Erholung</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>Arkane Tradition</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>3.</td><td>+2</td><td></td><td>3</td><td>4</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td><td>4</td><td>4</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>5.</td><td>+3</td><td></td><td>4</td><td>4</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>6.</td><td>+3</td><td>Merkmal: Arkane Tradition</td><td>4</td><td>4</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>7.</td><td>+3</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8.</td><td>+3</td><td>Attributswerterhöhung</td><td>4</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>9.</td><td>+4</td><td></td><td>4</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td></tr>
<tr><td>10.</td><td>+4</td><td>Merkmal: Arkane Tradition</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td></tr>
<tr><td>11.</td><td>+4</td><td></td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>13.</td><td>+5</td><td></td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>14.</td><td>+5</td><td>Merkmal: Arkane Tradition</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>15.</td><td>+5</td><td></td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>17.</td><td>+6</td><td></td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>18.</td><td>+6</td><td>Zaubermeisterschaft</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>20.</td><td>+6</td><td>Lieblingszauber</td><td>5</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
</table>

<h4>Zauberwirken</h4>
<p>Als Schüler der arkanen Magie besitzt du ein Zauberbuch mit Sprüchen, die deine arkanen Forschungen widerspiegeln.</p>
<h5>Zaubertricks</h5>
<p>Auf der 1. Stufe beherrschst du drei Zaubertricks deiner Wahl aus der Magierzauberliste. Weitere Magierzaubertricks deiner Wahl erlernst du auf höheren Stufen (siehe Spalte „Bekannte Zaubertricks&quot; in der Magiertabelle).</p>
<h5>Zauberbuch</h5>
<p>Auf der 1. Stufe hast du ein Zauberbuch mit sechs Zaubern des 1. Grades. In diesem hältst du alle dir bekannten Magierzauber fest - außer deinen Zaubertricks, die du nicht vergessen kannst.</p>
<h5>Zauber vorbereiten und wirken</h5>
<p>In der Magiertabelle siehst du, wie viele Zauberplätze dir für Zauber des 1. Grades und höherer Grade zur Verfügung stehen. Um einen dieser Zauber zu wirken, musst du einen Platz des gleichen oder höheren Grades verbrauchen. Verbrauchte Zauberplätze werden nach einer langen Rast wiederhergestellt</p>
<p>Du bereitest die Liste der Magierzauber vor, die dir zur Verfügung stehen. Dazu wählst du eine Anzahl von Magierzaubern aus deinem Zauberbuch, die deinem Intelligenzmodifikator + deiner Magierstufe entspricht (mindestens ein Zauber). Der Grad dieser Zauber muss dem der verfügbaren Zauberplätze entsprechen.</p>
<p>Als Magier der 3. Stufe hast du beispielsweise vier Zauberplätze des 1. und zwei des 2. Grades. Bei einem Intelligenzwert von 16 kann deine Liste vor bereiteter Zauber sechs Zauber des 1. oder des 2. Grades aus deinem Zauberbuch in beliebiger Kombination enthalten. Wenn du als Zauber des 1. Grades <a class="spell" href="#spell-magisches-geschoss">Magisches Geschoss</a> vorbereitest, kannst du ihn mit einem Zauberplatz des 1. oder 2. Grades wirken. Er wird durch das Wirken nicht von deiner Liste vorbereiteter Zauber entfernt.</p>
<p>Du kannst deine Liste der vorbereiteten Zauber nach einer langen Rast ändern. Das Vorbereiten einer neuen Magierzauberliste erfordert eine gewisse Zeit für das Studium deines Zauberbuchs und das Einprägen der Zauberformeln und -gesten: mindestens eine Minute pro Zaubergrad für jeden Zauber.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut, mit dem du deine Magierzauber wirkst, ist deine Intelligenz, da du deine Zauber durch intensives Studium und Auswendiglernen verinnerlichst. Wenn sich ein Magierzauber auf das zum Wirken nötige Attribut bezieht, verwendest du deine Intelligenz. Außerdem verwendest du deinen Intelligenzmodifikator beim Festlegen des Rettungswurf-SG für gewirkte Magierzauber und bei Angriffswürfen damit.</p>
<p>Zauberrettungswurf-SG = 8 + dein Übungsbonus + dein Intelligenzmodifikator</p>
<p>Angriffszauber-Modifikator = dein Übungsbonus + dein Intelligenzmodifikator</p>
<h5>Rituale wirken</h5>
<p>Du kannst einen Magierzauber als Ritual wirken, wenn der Zauber den Zusatz „Ritual&quot; aufweist und du ihn im Zauberbuch hast. Ein Vorbereiten des Zaubers ist nicht erforderlich.</p>
<h5>Zauberfokus</h5>
<p>Du kannst einen arkanen Fokus als Zauberfokus für deine Magierzauber verwenden.</p>
<h5>Zauber des 1. Grades und höher erlernen</h5>
<p>Wenn du als Magier eine Stufe aufsteigst, darfst du zwei neue Magierzauber in dein Zauberbuch eintragen, ohne Zeit und Geld dafür aufzuwenden. Die Zauber müssen einen Grad aufweisen, für den du Zauberplätze entsprechend der Magiertabelle verfügbar hast. Auf deinen Abenteuern findest du vielleicht neue Sprüche, die du deinem Zauberbuch hinzufügen kannst (siehe dazu den Kasten „Dein Zauberbuch&quot;).</p>
<h4>Arkane Erholung</h4>
<p>Durch Studium deines Zauberbuchs hast du gelernt, deine magische Energie teilweise zurückzuerhalten. Einmal täglich kannst du dir nach einer kurzen Rast verbrauchte Zauberplätze aussuchen, die du zurückerhältst Die Zauberplätze dürfen zusammen nur eine Gradzahl besitzen, die höchstens gleich der Hälfte deiner Magierstufe ist (aufgerundet), und keiner der Zauberplätze darf den 6. Grad oder höher aufweisen.</p>
<p>Als Magier der 4. Stufe kannst du beispielsweise bis zu zwei Grade an Zauberplätzen zurückerhalten. Du kannst also entweder zwei Zauberplätze des 1. Grades oder einen Zauberplatz des 2. Grades zurückerhalten.</p>
<h4>Arkane Tradition</h4>
<p>Auf der 2. Stufe wählst du eine arkane Tradition und orientierst dich dabei an einer der acht Schulen wie beispielsweise der Hervorrufungsmagie.</p>
<p>Deine Wahl gewährt dir auf der 2. sowie auf der 6., 10. und 14. Stufe weitere Merkmale.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Zaubermeisterschaft</h4>
<p>Ab der 18. Stufe beherrschst du bestimmte Zauber derart meisterhaft, dass du sie beliebig oft wirken kannst. Wähle einen Magierzauber des 1. Grades und einen 2. Grades aus deinem Zauberbuch. Du kannst diese Zauber im niedrigsten Grad wirken, ohne einen Zauberplatz zu verbrauchen, solange du sie vorbereitet hast. Willst du einen der Zauber in einem höheren Grad wirken, musst du wie üblich einen Zauberplatz verbrauchen.</p>
<p>Durch achtstündiges Studium kannst du einen oder beide dieser Zauber gegen andere Zauber desselben Grades austauschen.</p>
<h4>Lieblingszauber</h4>
<p>Ab der 20. Stufe meisterst du zwei mächtige Zauber und kannst sie mit wenig Aufwand wirken. Wähle zwei Magierzauber des 3. Grades aus deinem Zauberbuch als Lieblingszauber aus. Diese Zauber gelten stets als vorbereitet, zählen jedoch nicht zu deinen vorbereiteten Zaubern, und du kannst jeden davon einmal auf dem 3. Grad wirken, ohne einen Zauberplatz zu verbrauchen. Du kannst dies erst nach einer kurzen oder langen Rast erneut tun.</p>
<p>Willst du einen der Zauber in einem höheren Grad wirken, musst du wie üblich einen Zauberplatz verbrauchen.</p>
<h3 id="arkane-traditionen">Arkane Traditionen</h3>
<p>Das Studium der Zauberkunst ist uralt und reicht bis zu den frühesten Entdeckungen der Magie zurück. Es ist in Fantasy-Spielwelten fest etabliert und gliedert sich in verschiedene Traditionen.</p>
<p>Die meisten arkanen Traditionen im Multiversum sind den acht Schulen der Magie zugeordnet Im Laufe der Zeitalter haben Magier Tausende von Zaubern katalogisiert und in acht als Schulen bezeichnete Kategorien unterteilt. Mancherorts sind diese Traditionen buchstäblich Schulen. Anderswo sind sie eher akademische Abteilungen mit rivalisierenden Fakultäten, die im Wettstreit um Studenten und Gelder stehen. Selbst Magier, die in ihren abgelegenen Türmen Lehrlinge ausbilden, nutzen die Aufteilung der Magie in Schulen als Lehrmittel, da die Zauber jeder Schule eine Beherrschung unterschiedlicher Techniken erfordert.</p>
<h4>Schule der Hervorrufungsmagie</h4>
<p>Deine Studien konzentrieren sich auf Zauber, die mächtige Elementareffekte hervorrufen - wie bittere Kälte, sengende Flammen, grollenden Donner, zuckende Blitze und ätzende Säure. Manche Magier dieser Schule werden in der Armee eingesetzt, um feindliche Truppen schon von Weitem unter Beschuss zu nehmen. Andere nutzen ihre spektakuläre Macht, um die Schwachen zu beschützen, während wiederum andere ihr Glück als Banditen, Abenteurer oder angehende Tyrannen suchen.</p>
<h5>Gelehrter der Hervorrufungsmagie</h5>
<p>Ab der Wahl dieser Schule auf der 2. Stufe sind Geld- und Zeitaufwand für das Übertragen von Hervorrufungszaubern in dein Zauberbuch halbiert.</p>
<h5>Zauber formen</h5>
<p>Ab der 2. Stufe kannst du innerhalb der Effekte deiner Hervorrufungszauber Bereiche relativer Sicherheit erzeugen. Wenn du einen Hervorrufungszauber wirkst, der andere Kreaturen in Sichtweite betrifft, darfst du eine Anzahl dieser Kreaturen bestimmen, die 1 + Zaubergrad entspricht. Die ausgewählten Kreaturen bestehen ihren Rettungswurf gegen deinen Zauber automatisch und erleiden keinen Schaden, wenn sie üblicherweise die Hälfte des Schadens durch ihn erleiden würden.</p>
<h5>Kraftvolle Zaubertricks</h5>
<p>Ab der 6. Stufe wirken deine schadenverursachenden Zaubertricks auch auf die Kreaturen, die der vollen Wucht deines magischen Angriffs ausweichen. Wenn eine Kreatur den Rettungswurf gegen deinen Zaubertrick besteht, erleidet sie trotzdem die Hälfte des Schadens - sofern der Zaubertrick einen solchen verursacht</p>
<h5>Mächtige Hervorrufungsmagie</h5>
<p>Ab der 10. Stufe kannst du deinen Intelligenzmodifikator zu einem Schadenswurf eines beliebigen von dir gewirkten Hervorrufungszaubers addieren.</p>
<h5>Überladen</h5>
<p>Ab der 14. Stufe kannst du die Kraft deiner einfacheren Zauber steigern. Wirkst du einen Magierzauber des 1. bis 5. Grades, der Schaden verursacht, kannst du mit diesem Zauber den maximalen Schaden verursachen.</p>
<p>Setzt du dies zum ersten Mal ein, hat dies keine nachteiligen Effekte. Nutzt du dieses Merkmal vor Ende einer langen Rast erneut, erleidest du 2 W12 nekrotischen Schaden für jeden Grad des Zaubers, unmittelbar nachdem du ihn gewirkt hast. Jedes Mal, wenn du dieses Merkmal vor Ende einer langen Rast erneut verwendest, steigt der nekrotische Schaden um weitere 1W12 pro Zaubergrad. Dieser Schaden ignoriert Resistenzen und Immunitäten.</p>

<div class="boxed" id="box-dein-zauberbuch">
<h5>Dein Zauberbuch</h5>
<p>Die Zaubersprüche, die du bei jedem Stufenaufstieg in dein Zauberbuch einträgst, spiegeln dein Studium des Arkanen und deine neu erlangten Erkenntnisse über die Beschaffenheit des Multiversums wider. Im Lauf deiner Abenteuer kannst du neue Zauber entdecken. Du könntest beispielsweise eine Schriftrolle mit einem Zauber in der Truhe eines bösen Magiers oder in einem staubigen Folianten in einer alten Bibliothek finden.</p>
<p><span class="trait-name">Einen Zauber ins Buch kopieren:</span> Findest du einen Magierzauber des 1. Grades oder höher, kannst du ihn deinem Zauberbuch hinzufügen, sofern du Zauber dieses Grades vorbereiten kannst. Außerdem musst du die zum Entziffern und Kopieren erforderliche Zeit haben.</p>
<p>Beim Kopieren eines Zaubers musst du die Grundform des Zaubers reproduzieren und dann das Notationssystem des Magiers entschlüsseln, der ihn geschrieben hat. Du musst die für den Zauber erforderlichen Laute oder Gesten üben und ihn dann mit deiner eigenen Notation in dein Zauberbuch übernehmen.</p>
<p>Pro Zaubergrad dauert dieser Vorgang zwei Stunden und kostet 50 GM. Die Kosten ergeben sich aus den Materialkomponenten, die du beim Experimentieren mit dem Zauber benötigst, sowie den zum Aufschreiben des Zaubers erforderlichen edlen Tinten. Nachdem du den Zauber erlernt und kopiert hast, kannst du ihn wie üblich vorbereiten.</p>
<p><span class="trait-name">Das Buch ersetzen:</span> Du kannst Zauber aus deinem eigenen Zauberbuch in ein anderes kopieren, wenn du beispielsweise eine Kopie anlegen willst. Dies funktioniert wie das Kopieren eines neuen Zaubers, ist jedoch schneller und einfacher, da du die Zauber und deren Notation bereits kennst. Pro Zaubergrad dauert dieser Vorgang nur eine Stunde und kostet 10 GM.</p>
<p>Wenn dein Zauberbuch verloren geht, kannst du die vorbereiteten Zauber auf dieselbe Weise in ein neues Zauberbuch übertragen. Zum Ausfüllen des restlichen Zauberbuchs musst du wie gewöhnlich neue Zauber finden. Daher bewahren viele Magier eine Kopie ihres Zauberbuchs an einem sicheren Ort auf.</p>
<p><em><strong>Das Erscheinungsbild des Buches:</strong></em> Dein Zauberbuch ist eine einzigartige Zusammenstellung von Zaubern, mit seinen ganz eigenen Verzierungen und Anmerkungen. Es kann ein einfaches Buch mit Ledereinband sein, das dir dein Meister geschenkt hat, ein kunstvoll gebundener Band, den du in einer alten Bibliothek gefunden hast, oder sogar eine lose Sammlung von Notizen, weil du dein vorheriges Zauberbuch verloren hast.</p>
</div>