<h2 id="class-moench">Mönch</h2>
<h3 id="klassenmerkmale-moench">Klassenmerkmale</h3>
<p>Als Mönch erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W8 pro Mönchstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>8 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W8 (oder 5) + Konstitutionsmodifikator pro Mönchstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Keine</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen, Kurzschwerter</p>
<p><span class="feature-name">Werkzeuge: </span>Wähle ein Handwerkszeug oder ein Musikinstrument</p>
<p><span class="feature-name">Rettungswürfe: </span>Stärke, Geschicklichkeit</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Akrobatik, Athletik, Geschichte, Motiv erkennen, Religion und Heimlichkeit</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul>
<li>(a) ein Kurzschwert oder (b) eine beliebige einfache Waffe</li>
<li>(a) eine Gewölbeforscherausrüstung oder (b) eine Entdeckerausrüstung</li>
<li>10 Wurfpfeile</li>
</ul>

<h5>Mönch</h5>
<table id="table-moench">
<tr><th>Stufe</th>
<th>Übungsbonus</th>
<th>Kampfkünste</th>
<th>Ki-Punkte</th>
<th>Ungerüstete Bewegung</th>
<th>Merkmale</th>
</tr>
<tr><td>1.</td><td>+2</td><td>1W4</td><td></td><td></td><td>Ungerüstete Verteidigung, Kampfkünste</td></tr>
<tr><td>2.</td><td>+2</td><td>1W4</td><td>2</td><td>+3 Meter</td><td>Ki, Ungerüstete Bewegung</td></tr>
<tr><td>3.</td><td>+2</td><td>1W4</td><td>3</td><td>+3 Meter</td><td>Klostertradition, Geschosse abwehren</td></tr>
<tr><td>4.</td><td>+2</td><td>1W4</td><td>4</td><td>+3 Meter</td><td>Attributswerterhöhung, Sturz abfedern</td></tr>
<tr><td>5.</td><td>+3</td><td>1W6</td><td>5</td><td>+3 Meter</td><td>Zusätzlicher Angriff, Betäubender Schlag</td></tr>
<tr><td>6.</td><td>+3</td><td>1W6</td><td>6</td><td>+4,5 m</td><td>Ki-Schläge, Merkmal: Klostertradition</td></tr>
<tr><td>7.</td><td>+3</td><td>1W6</td><td>7</td><td>+4,5 m</td><td>Entrinnen, Ruhiger Geist</td></tr>
<tr><td>8.</td><td>+3</td><td>1W6</td><td>8</td><td>+4,5 m</td><td>Attributswerterhöhung</td></tr>
<tr><td>9.</td><td>+4</td><td>1W6</td><td>9</td><td>+4,5 m</td><td>Verbesserte ungerüstete Bewegung</td></tr>
<tr><td>10.</td><td>+4</td><td>1W6</td><td>10</td><td>+6 Meter</td><td>Reinheit des Körpers</td></tr>
<tr><td>11.</td><td>+4</td><td>1W8</td><td>11</td><td>+6 Meter</td><td>Merkmal: Klostertradition</td></tr>
<tr><td>12.</td><td>+4</td><td>1W8</td><td>12</td><td>+6 Meter</td><td>Attributswerterhöhung</td></tr>
<tr><td>13.</td><td>+5</td><td>1W8</td><td>13</td><td>+6 Meter</td><td>Sprache von Sonne und Mond</td></tr>
<tr><td>14.</td><td>+5</td><td>1W8</td><td>14</td><td>+7,5 Meter</td><td>Diamantseele</td></tr>
<tr><td>15.</td><td>+5</td><td>1W8</td><td>15</td><td>+7,5 Meter</td><td>Zeitloser Körper</td></tr>
<tr><td>16.</td><td>+5</td><td>1W8</td><td>16</td><td>+7,5 Meter</td><td>Attributswerterhöhung</td></tr>
<tr><td>17.</td><td>+6</td><td>1W10</td><td>17</td><td>+7,5 Meter</td><td>Merkmal: Klostertradition</td></tr>
<tr><td>18.</td><td>+6</td><td>1W10</td><td>18</td><td>+9 m</td><td>Geist über Körper</td></tr>
<tr><td>19.</td><td>+6</td><td>1W10</td><td>19</td><td>+9 m</td><td>Attributswerterhöhung</td></tr>
<tr><td>20.</td><td>+6</td><td>1W10</td><td>20</td><td>+9 m</td><td>Perfektes Selbst</td></tr>
</table>

<h4>Ungerüstete Verteidigung</h4>
<p>Ab der 1. Stufe entspricht deine Rüstungsklasse 10 + dein Geschicklichkeitsmodifikator + dein Weisheitsmodifikator, solange du weder eine Rüstung noch einen Schild trägst</p>
<h4>Kampfkünste</h4>
<p>Auf der 1. Stufe erlangst du dank deiner Übung in den Kampfkünsten Meisterschaft im waffenlosen Kampf und Umgang mit Mönchwaffen wie Kurzschwertern und allen einfachen Nahkampfwaffen, die nicht als zweihändig oder schwer gekennzeichnet sind.</p>
<p>Du erhältst die folgenden Vorteile, wenn du unbewaffnet bist oder nur Mönchwaffen benutzt und keine Rüstung und keinen Schild trägst:</p>
<ul><li> Du kannst für deine Angriffs- und Schadenswürfe mit waffenlosen Angriffen oder Mönchwaffen Geschicklichkeit anstelle von Stärke verwenden.</li>
<li> Wirf bei waffenlosen Angriffen oder dem Kampf mit einer Mönchwaffe einen W4 anstelle des normalen Schadenswürfels. Dieser Würfel verbessert sich auf höheren Mönchstufen, wie in der „Kampfkünste&quot;-Spalte der Mönchtabelle angegeben.</li>
<li> Setzt du in deinem Zug deine Angriffsaktion mit einem waffenlosen Angriff oder einer Mönchwaffe ein, so kannst du einen waffenlosen Angriff als Bonusaktion ausführen. Bei einer Angriffsaktion mit einem Kampfstab kannst du beispielsweise zusätzlich einen waffenlosen Angriff als Bonusaktion ausführen, vorausgesetzt, du hast in diesem Zug noch keine andere Bonusaktion eingesetzt.</li></ul>
<p>Bestimmte Klöster verwenden spezialisierte Formen von Mönchwaffen. Du kannst zum Beispiel einen Knüppel benutzen, der aus zwei durch eine Kette verbundenen Holzstücken besteht - Nunchaku genannt - oder eine Sichel mit kürzerer, gerader Klinge, auch Kama genannt. Welchen Namen deine Mönchwaffe auch trägt, so verwendest du die entsprechenden Spielwerte der Waffe.</p>
<h4>Ki</h4>
<p>Ab der 2. Stufe erlaubt es dir dein Training, die geheimnisvolle Energie des Ki zu nutzen. Dein Zugriff auf diese Energie wird durch eine bestimmte Anzahl an Ki-Punkten repräsentiert Deine Mönchstufe bestimmt die Anzahl deiner Punkte, die in der „Ki-Punkte&quot;-Spalte der Mönchtabelle aufgeführt sind.</p>
<p>Du kannst diese Punkte für verschiedene Ki-Merkmale einsetzen. Am Anfang kennst du drei solcher Merkmale: Geduldige Verteidigung, Schlaghagel und Windschritt. Auf höheren Stufen dieser Klasse erlangst du weitere Ki-Merkmale hinzu.</p>
<p>Wenn du einen Ki-Punkt verbrauchst, ist er erst nach einer kurzen oder langen Rast wieder verfügbar.</p>
<p>Du musst während dieser Rast mindestens 30 Minuten meditieren, um deine Ki-Punkte zurückzuerhalten.</p>
<p>Einige deiner Ki-Merkmale erfordern, dass das Ziel einen Rettungswurf ausführt, um den Effekten zu widerstehen. Der Rettungswurf-SG wird wie folgt berechnet:</p>
<p>Ki-Rettungswurf-SG = 8 + dein Übungsbonus + dein Weisheitsmodifikator</p>
<h5>Geduldige Verteidigung</h5>
<p>Du kannst in deinem Zug einen Ki-Punkt verbrauchen, um in deinem Zug die Ausweichaktion als Bonusaktion auszuführen.</p>
<h5>Schlaghagel</h5>
<p>Du kannst unmittelbar nach deiner Angriffsaktion in deinem Zug einen Ki-Punkt verbrauchen, um als Bonusaktion zwei waffenlose Angriffe auszuführen.</p>
<h5>Windschritt</h5>
<p>Du kannst einen Ki-Punkt verbrauchen, um in deinem Zug die Rückzug- oder Spurt-Aktion als Bonusaktion auszuführen, und deine Sprungdistanz ist in diesem Zug verdoppelt.</p>
<h4>Ungerüstete Bewegung</h4>
<p>Ab der 2. Stufe steigt deine Bewegungsrate um drei Meter, wenn du weder Rüstung noch Schild trägst. Dieser Bonus erhöht sich, wenn du bestimmten Mönchstufen erreichst, wie in der Mönchtabelle angegeben.</p>
<p>Auf der 9. Stufe erhältst du die Fähigkeit, dich in deinem Zug auf vertikalen Oberflächen oder Flüssigkeiten zu bewegen, ohne zu stürzen.</p>
<h4>Klostertradition</h4>
<p>Ab der 3. Stufe verschreibst du dich einer Klostertradition wie dem Weg der Offenen Hand. Deine Tradition verleiht dir auf der 3., 6., 11. und 17. Stufe weitere Merkmale.</p>
<h4>Geschosse abwehren</h4>
<p>Ab der 3. Stufe kannst du deine Reaktion verwenden, um ein Geschoss abzuwehren oder zu fangen, wenn du mit einem Fernkampfwaffenangriff getroffen wirst. Tust du dies, verringert sich der durch diesen Angriff erlittene Schaden um 1W10 + dein Geschicklichkeitsmodifikator + deine Mönchstufe.</p>
<p>Wenn du den Schaden auf 0 verringerst, fängst du das Geschoss, solange es klein genug ist, dass du es in einer Hand halten kannst, und du eine Hand frei hast. Fängst du das Geschoss auf diese Weise, kannst du einen Ki-Punkt verbrauchen, um als Teil derselben Reaktion einen Fernkampfangriff mit der Waffe oder dem soeben gefangenen Geschoss ausführen. Du bist bei diesem Angriff ungeachtet deiner Übung mit Waffen geübt und das Geschoss zählt bei diesem Angriff als Mönchwaffe, hat eine Grundreichweite von sechs Metern und eine Maximalreichweite von 18 Metern.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Sturz abfedern</h4>
<p>Ab der 4. Stufe kannst du deine Reaktion beim Fallen verwenden, um den Sturzschaden um das Fünffache deiner Mönchstufe zu reduzieren.</p>
<h4>Zusätzlicher Angriff</h4>
<p>Ab der 5. Stufe kannst du zweimal statt nur einmal angreifen, wenn du in deinem Zug eine Angriffsaktion ausführst.</p>
<h4>Betäubender Schlag</h4>
<p>Ab der 5. Stufe kannst du den Fluss des Ki im Körper eines Gegners stören. Wenn du eine andere Kreatur mit einem Nahkampfwaffenangriff triffst, kannst du einen Ki-Punkt verbrauchen und einen betäubenden Schlag ausführen. Das Ziel musst einen Konstitutionsrettungswurfbestehen oder ist bis zum Ende deines nächsten Zugs betäubt.</p>
<h4>Ki-Schläge</h4>
<p>Ab der 6. Stufe zählen deine waffenlosen Angriffe als magisch, wenn es um das Überwinden von Resistenzen und Immunitäten gegen nichtmagische Angriffe und nichtmagischen Schaden geht.</p>
<h4>Entrinnen</h4>
<p>Ab der 7. Stufe kannst du dich dank deiner instinktiven Gewandtheit aus dem Wirkungsbereich bestimmter Effekte wie dem Blitzodem eines blauen Drachen oder dem Zauber <a class="spell" href="#spell-feuerball">Feuerball</a> entfernen. Bist du einem Effekt ausgesetzt, der dir einen Geschicklichkeitsrettungswurf erlaubt, um den Schaden zu halbieren, erleidest du stattdessen bei einem Erfolg gar keinen und bei einem Misserfolg den halben Schaden.</p>
<h4>Ruhiger Geist</h4>
<p>Ab der 7. Stufe kannst du deine Aktion verwenden, um einen auf dich wirkenden Effekt zu beenden, durch den du bezaubert oder verängstigt bist.</p>
<h4>Reinheit des Körpers</h4>
<p>Ab der 10. Stufe beherrschst du das durch deinen Körper fließende Ki derart meisterhaft, dass du gegen Krankheit und Gift immun bist.</p>
<h4>Sprache von Sonne und Mond</h4>
<p>Auf der 13. Stufe lernst du, das Ki in den Gedanken anderer zu berühren und so jede gesprochene Sprache zu verstehen. Überdies versteht auch jede Kreatur, die eine Sprache beherrscht, deine Worte.</p>
<h4>Diamantseele</h4>
<p>Ab der 14. Stufe bist du dank deiner Beherrschung des Ki in allen Rettungswürfen geübt.</p>
<p>Zudem kannst du bei einem misslungenen Rettungswurf einen Ki-Punkt verbrauchen und erneut würfeln, musst das zweite Ergebnis dann jedoch anwenden.</p>
<h4>Zeitloser Körper</h4>
<p>Ab der 15. Stufe schützt dich dein Ki vor den negativen Auswirkungen des Alterns, zusätzlich kannst du nicht mehr magisch gealtert werden. Du kannst allerdings noch immer an Altersschwäche sterben. Außerdem musst du nicht mehr essen und trinken.</p>
<h4>Geist über Körper</h4>
<p>Ab der 18. Stufe kannst du deine Aktion verwenden, um vier Ki-Punkte zu verbrauchen und eine Minute lang unsichtbar zu werden. In dieser Zeit bist du gegen alle Schadensarten außer Energieschaden resistent.</p>
<p>Ferner kannst du acht Ki-Punkte verbrauchen und den Zauber <a class="spell" href="#spell-astrale-projektion">Astrale Projektion</a> wirken, ohne Materialkomponenten zu benötigen. Wenn du dies tust, kannst du keine anderen Kreaturen mitnehmen.</p>
<h4>Perfektes Selbst</h4>
<p>Würfelst du auf der 20. Stufe die Initiative und hast keine Ki-Punkte mehr, erhältst du vier Ki-Punkte zurück.</p>
<h3 id="klostertraditionen">Klostertraditionen</h3>
<p>In den über das ganze Multiversum verteilten Klöstern werden im Allgemeinen drei unterschiedliche Klostertraditionen gelehrt. Die meisten Klöster praktizieren ausschließlich eine Tradition, aber einige ehren auch alle drei und unterweisen jeden Mönch entsprechend seiner Neigungen und Interessen. Alle drei Traditionen stützen sich auf die gleichen grundlegenden Techniken, die sich mit zunehmender Geschicklichkeit des Schülers unterscheiden. Daher entscheidet sich ein Mönch erst auf der 3. Stufe für eine Tradition.</p>
<h4>Weg der Offenen Hand</h4>
<p>Mönche des Weges der Offenen Hand sind die unangefochtenen Meister der Kampfkünste, seien sie bewaffnet oder unbewaffnet Sie lernen Techniken, um ihre Gegner zu Fall zu bringen, manipulieren ihr Ki, um Verletzungen zu heilen, und üben sich in fortgeschrittenen Arten der Meditation, die sie vor Schaden bewahren können.</p>
<h5>Technik der Offenen Hand</h5>
<p>Wenn du auf der 3. Stufe diese Tradition wählst, kannst du das Ki deines Gegners manipulieren, indem du dir dein eigenes zunutze machst. Jedes Mal, wenn du eine Kreatur mit einem der durch dein Merkmal Schlaghagel gewährten Angriffe triffst, kannst du einen der folgenden Effekte wählen:</p>
<ul><li> Das Ziel muss einen Geschicklichkeitsrettungswurf bestehen oder wird umgestoßen.</li>
<li> Das Ziel muss einen Stärkerettungswurf bestehen. Scheitert der Wurf, wird es 4,5 Meter von dir weggestoßen.</li>
<li> Es kann bis zum Ende deines nächsten Zugs keine Reaktionen verwenden.</li></ul>
<h5>Unversehrtheit des Körpers</h5>
<p>Auf der 6. Stufe erhältst du die Fähigkeit, dich selbst zu heilen. Du kannst als Aktion Trefferpunkte in der Höhe des Dreifachen deiner Mönchstufe zurückerhalten. Dieses Merkmal steht dir erst nach einer langen Rast erneut zur Verfügung.</p>
<h5>Innere Ruhe</h5>
<p>Ab der 11. Stufe kannst du dich in eine besondere Meditation vertiefen, die dich mit einer Aura des Friedens umgibt. Am Ende einer langen Rast erhältst du den Effekt des Zaubers <a class="spell" href="#spell-heiligtum">Heiligtum</a>, der bis zum Beginn deiner nächsten langen Rast anhält (der Zauber kann wie gewöhnlich vorzeitig beendet werden). Der Rettungswurf-SG für diesen Zauber ist 8 + dein Weisheitsmodifikator + dein Übungsbonus.</p>
<h5>Vibrierende Handfläche</h5>
<p>Auf der 17. Stufe erhältst du die Fähigkeit, tödliche Vibrationen im Körper eines Gegners auszulösen. Wenn du eine Kreatur mit einem waffenlosen Angriff triffst, kannst du drei Ki-Punkte verbrauchen, um diese nicht spürbaren Vibrationen zu erzeugen, die eine deiner Mönchstufe entsprechende Anzahl von Tagen andauern. Die Vibrationen sind harmlos, solange du keine Aktion verwendest, um sie zu beenden. Dazu müssen sich das Ziel und du auf derselben Existenzebene befinden. Wenn du dies tust, muss das Ziel einen Konstitutionsrettungswurf ausführen. Scheitert der Wurf, wird es auf 0 Trefferpunkt reduziert. Anderenfalls erleidet es 10W10 nekrotischen Schaden.</p>
<p>Du kannst immer nur eine Kreatur gleichzeitig mit dieser Fähigkeit beeinflussen. Es steht dir frei, die Vibrationen harmlos enden zu lassen, indem du keine Aktion dafür verwendest.</p>