<h2 id="class-paladin">Paladin</h2>
<h3 id="klassenmerkmale-paladin">Klassenmerkmale</h3>
<p>Als Paladin erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W10 pro Paladinstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>10 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W10 (oder 6) + Konstitutionsmodifikator pro Paladinstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Alle Rüstungen, Schilde</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen, Kriegswaffen</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Weisheit, Charisma</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Athletik, Einschüchtern, Heilkunde, Motiv erkennen, Religion und Überzeugen</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul>
<li>(a) eine Kriegswaffe und ein Schild oder (b) zwei Kriegswaffen</li>
<li>(a) fünf Wurfspeere oder (b) eine beliebige einfache Nahkampfwaffe</li>
<li>(a) eine Priesterausrüstung oder (b) eine Entdeckerausrüstung</li>
<li>Ein Kettenpanzer und ein heiliges Symbol</li>
</ul>

<h5>Paladin</h5>
<table id="table-paladin">
<tr>
<th rowspan="2">Stufe</th>
<th rowspan="2">Übungsbonus</th>
<th rowspan="2">Merkmale</th>
<th colspan="5">Zauberplätze pro Zaubergrad</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
<th>5.</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Göttliches Gespür, Handauflegen</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>Kampfstil, Zauberwirken, Göttliches Niederstrecken</td><td>2</td><td></td><td></td><td></td><td></td></tr>
<tr><td>3.</td><td>+2</td><td>Göttliche Gesundheit, Heiliger Schwur</td><td>3</td><td></td><td></td><td></td><td></td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td><td>3</td><td></td><td></td><td></td><td></td></tr>
<tr><td>5.</td><td>+3</td><td>Zusätzlicher Angriff</td><td>4</td><td>2</td><td></td><td></td><td></td></tr>
<tr><td>6.</td><td>+3</td><td>Aura des Schutzes</td><td>4</td><td>2</td><td></td><td></td><td></td></tr>
<tr><td>7.</td><td>+3</td><td>Merkmal: Heiliger Schwur</td><td>4</td><td>3</td><td></td><td></td><td></td></tr>
<tr><td>8.</td><td>+3</td><td>Attributswerterhöhung</td><td>4</td><td>3</td><td></td><td></td><td></td></tr>
<tr><td>9.</td><td>+4</td><td></td><td>4</td><td>3</td><td>2</td><td></td><td></td></tr>
<tr><td>10.</td><td>+4</td><td>Aura der Tapferkeit</td><td>4</td><td>3</td><td>2</td><td></td><td></td></tr>
<tr><td>11.</td><td>+4</td><td>Verbessertes Göttliches Niederstrecken</td><td>4</td><td>3</td><td>3</td><td></td><td></td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>4</td><td>3</td><td>3</td><td></td><td></td></tr>
<tr><td>13.</td><td>+5</td><td></td><td>4</td><td>3</td><td>3</td><td>1</td><td></td></tr>
<tr><td>14.</td><td>+5</td><td>Reinigende Berührung</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td></tr>
<tr><td>15.</td><td>+5</td><td>Merkmal: Heiliger Schwur</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td></tr>
<tr><td>17.</td><td>+6</td><td></td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td></tr>
<tr><td>18.</td><td>+6</td><td>Auraverbesserungen</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td></tr>
<tr><td>20.</td><td>+6</td><td>Merkmal: Heiliger Schwur</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td></tr>
</table>

<h4>Göttliches Gespür</h4>
<p>Deine Sinne nehmen die Gegenwart von starkem Bösen wie einen Geruch der Verderbnis wahr, wohingegen das machtvolle Gute in deinen Ohren wie himmlische Musik klingt. Du kannst als Aktion deine Wahrnehmung für derartige Kräfte öffnen. Bis zum Ende deines nächsten Zuges ist dir der Aufenthaltsort aller Celestischen, Unholde und Untoten im Abstand von bis zu 18 Metern von dir bekannt, sofern sie sich nicht in vollständiger Deckung befinden. Du kennst die Art aller Wesen, deren Anwesenheit du spürst (Celestisch, Unhold oder Untoter), aber nicht ihre Identität -beispielsweise, dass es sich um den Vampir Graf Strahd von Zarowitsch handelt. Innerhalb desselben Radius erkennst du auch Orte oder Gegenstände, die geweiht oder entweiht wurden, als würdest du den Zauber <a class="spell" href="#spell-weihen">Weihen</a> wirken.</p>
<p>Du kannst dieses Merkmal so oft einsetzen, wie es deinem Charismamodifikator + 1 entspricht (mindestens einmal). Verbrauchte Anwendungen werden nach einer langen Rast wiederhergestellt.</p>
<h4>Handauflegen</h4>
<p>Deine gesegnete Berührung kann Wunden heilen. Du hast einen Vorrat an Heilkraft, der sich auffüllt, wenn du eine lange Rast einlegst. Mit diesem Vorrat kannst du das Fünffache deiner Paladinstufe an Trefferpunkten wiederherstellen.</p>
<p>Als Aktion kannst du eine Kreatur berühren und Kraft aus diesem Vorrat ziehen, um bei ihr maximal so viele Trefferpunkte wiederherstellen, wie noch in deinem Vorrat vorhanden sind.</p>
<p>Alternativ kannst du auch 5 Trefferpunkte aus deinem Heilungsvorrat verbrauchen, um das Ziel von einer Krankheit zu heilen oder ein auf sie wirkendes Gift zu neutralisieren. Du kannst mit einer einzigen Anwendung von Handauflegen mehrere Krankheiten heilen und mehrere Gifte neutralisieren, musst die entsprechenden Trefferpunkte jedoch einzeln verwenden.</p>
<p>Dieses Merkmal wirkt nicht bei Untoten und Konstrukten.</p>
<h4>Kampfstil</h4>
<p>Auf der 2. Stufe wählst du einen bestimmten Kampfstil als Spezialisierung. Entscheide dich für eine der folgenden Optionen. Du kannst keinen der Kampfstile mehr als einmal wählen, selbst wenn du dir später erneut einen aussuchen darfst.</p>
<h5>Duellieren</h5>
<p>Kämpfst du mit einer einhändig geführten Nahkampfwaffe und keiner weiteren Waffe in deiner Zweithand, erhältst du einen Bonus von +2 auf die Schadenswürfe mit dieser Waffe.</p>
<h5>Kampf mit großen Waffen</h5>
<p>Würfelst du beim Angriff mit einer zweihändigen Nahkampfwaffe beim Schadenswurf eine 1 oder 2, darfst du den Wurf dieses Würfels wiederholen, musst das neue Ergebnis jedoch verwenden.</p>
<p>Die Waffe muss die Waffeneigenschaft zweihändig oder vielseitig besitzen, um dir diesen Vorzug zu gewähren.</p>
<h5>Leibwache</h5>
<p>Führt eine Kreatur einen Angriff auf ein Ziel im Umkreis von bis zu 1,5 Metern von dir aus, das nicht du selbst bist, kannst du deine Reaktion dazu verwenden, dem Angreifer bei seinem Angriffswurf einen Nachteil zu verleihen. Du musst dafür einen Schild tragen.</p>
<h5>Verteidigung</h5>
<p>Solange du eine Rüstung trägst, erhältst du einen Bonus von +1 auf deine RK.</p>
<h4>Zauberwirken</h4>
<p>Auf der 2. Stufe hast du gelernt, durch Meditation und Gebete wie ein Kleriker göttliche Magie zum Wirken von Zaubern zu nutzen.</p>
<h5>Zauber vorbereiten und wirken</h5>
<p>In der Paladintabelle siehst du, wie viele Zauberplätze dir zum Wirken deiner Zauber zur Verfügung stehen. Um einen der Paladinzauber des 1. oder eines höheren Grades zu wirken, musst du einen Platz des gleichen oder eines höheren Grades verbrauchen. Verbrauchte Zauberplätze werden nach einer langen Rast wiederhergestellt.</p>
<p>Du bereitest die Liste der Paladinzauber, die dir zum Wirken zur Verfügung stehen, mithilfe der Paladinzauberliste vor. Wähle dazu eine Anzahl von Paladinzaubern aus, die deinem Charismamodifikator + der Hälfte deiner Paladinstufe entsprechen (mindestens ein Zauber). Der Grad dieser Zauber muss dem der verfügbaren Zauberplätze entsprechen.</p>
<p>Als Paladin der 5. Stufe hast du beispielsweise vier Zauberplätze des 1. und zwei des 2. Grades. Bei einem Charismawert von 14 kann deine Liste vorbereiteter Zauber vier Zauber des 1. oder 2. Grades in beliebiger Kombination enthalten.</p>
<p>Wenn du als Zauber des 1. Grades <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a> vorbereitest, kannst du ihn von einem Zauberplatz des 1. oder 2. Grades wirken. Er wird durch das Wirken nicht von deiner Liste vorbereiteter Zauber entfernt</p>
<p>Du kannst deine Liste der vorbereiteten Zauber nach einer langen Rast ändern. Das Vorbereiten einer neuen Paladinzauberliste erfordert eine gewisse Zeit für Gebet oder Meditation: mindestens eine Minute pro Zaubergrad für jeden Zauber auf der Liste.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut zum Wirken von Paladinzaubern ist Charisma, da deine Macht auf der Kraft deiner Überzeugungen basiert. Wenn sich ein Paladinzauber auf das zum Wirken nötige Attribut bezieht, verwendest du deinen Charismawert. Außerdem verwendest du deinen Charismamodifikator beim Festlegen des Rettungswurf-SG für gewirkte Paladinzauber und bei Angriffswürfen damit.</p>
<p>Zauberrettungswurf-SG = 8 + dein Übungsbonus + dein Charismamodifikator</p>
<p>Angriffszauber-Modifikator = dein Übungsbonus + dein Charismamodifikator</p>
<h5>Zauberfokus</h5>
<p>Du kannst ein heiliges Symbol als Zauberfokus für deine Paladinzauber verwenden.</p>
<h4>Göttliches Niederstrecken</h4>
<p>Triffst du ab der 2. Stufe eine Kreatur mit einem Nahkampfwaffenangriff, kannst du einen Zauberplatz verbrauchen, um dem Ziel zusätzlich zum Waffenschaden gleißenden Schaden zuzufügen. Der zusätzliche Schaden beträgt 2W8 für einen Zauberplatz des 1. Grades plus 1W8 für jeden Zaubergrad über dem 1. bis zu einem Maximum von 5W8. Der Zusatzschaden erhöht sich um 1W8, wenn das Ziel ein Untoter oder ein Unhold ist.</p>
<h4>Göttliche Gesundheit</h4>
<p>Die göttliche Magie, die dich durchströmt, macht dich gegen Krankheiten immun.</p>
<h4>Heiliger Schwur</h4>
<p>Auf der 3. Stufe legst du den Eid ab, der dich als Paladin auf ewig bindet. Bislang warst du in einer Vorbereitungsphase und hattest dich zwar dem Pfad verpflichtet, warst jedoch nicht darauf eingeschworen. Nun entscheidest du dich für einen Schwur, etwa den Schwur der Hingabe.</p>
<p>Deine Wahl verleiht dir auf der 3., 7., 15. und 20. Stufe weitere Merkmale. Dazu gehören die Schwurzauber sowie das Merkmal Göttliche Macht fokussieren.</p>
<h5>Schwurzauber</h5>
<p>Zu jedem Schwur gehört eine Zauberliste. Du erhältst auf den in der Schwurbeschreibung angegebenen Stufen Zugriff auf diese Zauber. Sobald du Zugang zu einem Schwurzauber hast, ist dieser immer vorbereitet und zählt nicht zur maximalen Zahl der Zauber, die du jeden Tag vorbereiten kannst.</p>
<p>Falls der Schwurzauber nicht in der Paladinzauberliste aufgeführt ist, so zählt er für dich dennoch als Paladinzauber.</p>
<h5>Göttliche Macht fokussieren</h5>
<p>Dein Schwur erlaubt es dir, göttliche Macht direkt in magische Effekte zu kanalisieren. Bei jeder von deinem Schwur ermöglichten Option von Göttliche Macht fokussieren ist ihre Anwendungsweise aufgeführt</p>
<p>Wenn du deine göttliche Macht fokussierst, wählst du die genutzte Option aus. Danach kannst du deine göttliche Macht erst nach einer kurzen oder langen Rast wieder fokussieren.</p>
<p>Manche Effekte dieses Merkmals erfordern Rettungswürfe. Wenn du einen solchen Effekt dieser Klasse einsetzt, entspricht der SG deinem Paladin-Zauberrettungswurf-SG.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Zusätzlicher Angriff</h4>
<p>Ab der 5. Stufe kannst du zweimal statt nur einmal angreifen, wenn du in deinem Zug eine Angriffsaktion ausführst.</p>
<h4>Aura des Schutzes</h4>
<p>Ab der 6. Stufe und wenn du oder eine verbündete Kreatur im Abstand von bis zu drei Metern von dir einen Rettungswurf ausführen muss, erhält die Kreatur einen Bonus in Höhe deines Charismamodifikators (mindestens +1) auf den Rettungswurf. Du musst bei Bewusstsein sein, um diesen Bonus zu gewähren.</p>
<p>Ab der 18. Stufe erhöht sich die Reichweite dieser Aura auf neun Meter.</p>
<h4>Aura der Tapferkeit</h4>
<p>Ab der 10. Stufe könnt du und verbündete Kreaturen im Abstand von bis zu drei Metern von dir nicht länger verängstigt werden, solange du bei Bewusstsein bist.</p>
<p>Ab der 18. Stufe erhöht sich die Reichweite dieser Aura auf neun Meter.</p>
<h4>Verbessertes Göttliches Niederstrecken</h4>
<p>Ab der 11. Stufe bist du derart von rechtschaffener Macht durchdrungen, dass deine Nahkampfwaffenangriffe göttliche Kraft in sich bergen. Wenn du eine Kreatur mit einer Nahkampfwaffe triffst, erleidet sie zusätzliche 1W8 gleißenden Schaden. Hast du bei diesem Angriff Göttliches Niederstrecken eingesetzt, fügst du diesen Schaden dem Zusatzschaden deines Göttliches Niederstreckens hinzu.</p>
<h4>Reinigende Berührung</h4>
<p>Ab der 14. Stufe kannst du deine Aktion verwenden, um bei dir oder einer bereitwilligen Kreatur, die du berührst, einen Zauber zu beenden.</p>
<p>Du kannst dieses Merkmal so oft einsetzen, wie es der Höhe deines Charismamodifikators entspricht (mindestens einmal). Verbrauchte Anwendungen werden nach einer langen Rast wiederhergestellt.</p>
<h3 id="heilige-schwuere">Heilige Schwüre</h3>
<p>Ein Paladin hat eine Reihe von Schwüren abgelegt, die ihn der Rechtschaffenheit verpflichten, einem aktiven Pfad der Bekämpfung des Bösen. Der letzte Schwur, der auf der 3. Stufe abgelegt wird, ist der krönende Abschluss der Paladinausbildung. Einige Angehörige dieser Klasse betrachten sich erst als wahre Paladine, wenn sie die 3. Stufe erreicht und diesen Schwur geleistet haben. Für andere ist das Ablegen des Eids eine reine Formalität, die offiziell bestätigt, was sie tief in ihrem Herzen schon immer geglaubt haben.</p>
<h4>Schwur der Hingabe</h4>
<p>Der Schwur der Hingabe bindet einen Paladin an die höchsten Ideale der Gerechtigkeit, der Tugend und der Ordnung. Diese Paladine, die manchmal Kavaliere, weiße Ritter oder heilige Krieger genannt werden, erfüllen die Vorstellung eines Ritters in strahlender Rüstung, der ehrenhaft und selbstlos für Gerechtigkeit und das höhere Wohl eintritt. Sie unterwerfen sich den höchsten Verhaltensregeln, und erwarten dies auch vom Rest der Welt. Viele, die diesen Schwur ausführen, glauben an die Götter von Recht und</p>
<p>Ordnung und betrachten deren Lehren als Maßstab für ihre Hingabe. Sie sehen Engel - die perfekten Diener des Guten - als ihr Vorbild und verzieren ihre Helme oder Wappen mit Engelsflügeln.</p>
<h5>Lehren der Hingabe</h5>
<p>Der genaue Wortlaut und Ablauf des Schwurs der Hingabe variiert, doch folgende Lehren gelten für die eingeschworenen Paladine.</p>
<p><span class="trait-name">Ehrlichkeit:</span> Nicht lügen oder betrügen. Lass deine Worte ein Versprechen sein.</p>
<p><span class="trait-name">Mut:</span> Fürchte dich nie zu handeln, aber lass auch Vorsicht walten.</p>
<p><span class="trait-name">Mitgefühl:</span> Hilf anderen, beschütze die Schwachen und bestrafe jene, die sie bedrohen. Zeige deinen Feinden Gnade, doch gehe dabei weise vor.</p>
<p><span class="trait-name">Ehre:</span> Behandle andere gerecht und lass ihnen deine ehrenhaften Taten ein Beispiel sein. Tu so viel Gutes wie möglich, und verursache so wenig Schaden wie nötig.</p>
<p><span class="trait-name">Pflichtbewusstsein:</span> Übernimm Verantwortung für deine Taten und ihre Konsequenzen, beschütze jene, die dir anvertraut wurden, und gehorche denen, die eine berechtigte Autorität über dich haben.</p>
<h5>Schwurzauber</h5>
<p>Du erhältst Schwurzauber auf den aufgeführten Paladinstufen.</p>

<h5>Schwurzauber der Hingabe</h5>
<table id="table-schwurzauber-der-hingabe">
<tr>
<th>Paladinstufe</th>
<th>Zauber</th>
</tr>
<tr><td>3. </td><td><a class="spell" href="#spell-heiligtum">Heiligtum</a>, <a class="spell" href="#spell-schutz-vor-gut-und-boese">Schutz vor Gut und Böse</a></td></tr>
<tr><td>5. </td><td><a class="spell" href="#spell-schwache-genesung">Schwache Genesung</a>, <a class="spell" href="#spell-zone-der-wahrheit">Zone der Wahrheit</a></td></tr>
<tr><td>9. </td><td><a class="spell" href="#spell-leuchtfeuer-der-hoffnung">Leuchtfeuer der Hoffnung</a>, <a class="spell" href="#spell-magie-bannen">Magie bannen</a></td></tr>
<tr><td>13.</td><td><a class="spell" href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a>, <a class="spell" href="#spell-hueter-des-glaubens">Hüter des Glaubens</a></td></tr>
<tr><td>17.</td><td><a class="spell" href="#spell-flammenschlag">Flammenschlag</a>, <a class="spell" href="#spell-heiliges-gespraech">Heiliges Gespräch</a></td></tr>
</table>

<h5>Göttliche Macht fokussieren</h5>
<p>Wenn du diesen Eid auf der 3. Stufe abgelegt hast, erhältst du die folgenden zwei Arten, göttliche Macht zu fokussieren.</p>
<p><span class="trait-name">Heilige Waffe:</span> Als Aktion kannst du mithilfe von Göttliche Macht fokussieren eine Waffe in deiner Hand mit positiver Energie durchdringen. Eine Minute lang addierst du deinen Charismamodifikator zu Angriffswürfen mit dieser Waffe (mindestens +1). Die Waffe strahlt in einem Radius von sechs Metern helles Licht und in einem Radius von weiteren sechs Metern dämmriges Licht aus. Ist die Waffe nicht bereits magisch, wird sie dies für die Wirkungsdauer.</p>
<p>Du kannst diesen Effekt in deinem Zug als Teil einer beliebigen anderen Aktion beenden. Trägst oder hältst du die Waffe nicht länger oder wirst du bewusstlos, endet der Effekt.</p>
<p><span class="trait-name">Vertreibe die Unheiligen:</span> Als Aktion zeigst du dein heiliges Symbol und sprichst ein Gebet, um Unholde und Untoten zu vertreiben, indem du göttliche Macht fokussierst. Jeder Unhold oder Untote im Abstand von bis zu neun Metern von dir, der dich hören oder sehen kann, muss einen Weisheitsrettungswurf ausführen. Scheitert der Rettungswurf, gilt die Kreatur eine Minute lang -oder bis sie Schaden erleidet - als vertrieben.</p>
<p>Eine vertriebene Kreatur muss ihren Zug dafür verwenden, sich so weit wie möglich von dir zu entfernen, und darf dir nicht absichtlich näher als neun Meter kommen. Außerdem kann sie nicht reagieren. Als Aktion kann sie nur die Spurt-Aktion ausführen oder versuchen, sich von einem Effekt zu befreien, der sie in ihrer Bewegung einschränkt. Gibt es keinen Ort, an den sie sich bewegen kann, darf sie die Ausweichaktion einsetzen.</p>
<h5>Aura der Hingabe</h5>
<p>Ab der 7. Stufe könnt du und verbündete Kreaturen im Abstand von bis zu drei Metern von dir nicht länger bezaubert werden, solange du bei Bewusstsein bist.</p>
<p>Ab der 18. Stufe erhöht sich die Reichweite dieser Aura auf neun Meter.</p>
<h5>Reinheit des Geistes</h5>
<p>Ab der 15. Stufe stehst du dauerhaft unter den Effekten des Zaubers <a class="spell" href="#spell-schutz-vor-gut-und-boese">Schutz vor Gut und Böse</a>.</p>
<h5>Heiliger Nimbus</h5>
<p>Ab der 20. Stufe kannst du als Aktion eine Aura des Sonnenlichts ausstrahlen. Du strahlst eine Minute lang in einem Radius von neun Metern helles Licht und in einem Radius von weiteren neun Metern dämmriges Licht aus.</p>
<p>Wann immer eine feindliche Kreatur ihren Zug im hellen Licht beginnt, erleidet sie 10 Punkte gleißenden Schaden.</p>
<p>Außerdem bist du für die Wirkungsdauer bei Rettungswürfen gegen von Unholden oder Untoten gewirkten Zaubern im Vorteil.</p>
<p>Du kannst dieses Merkmal erst nach einer langen Rast erneut verwenden.</p>

<div class="boxed" id="box-deinen-schwur-brechen">
<h5>Deinen Schwur brechen</h5>
<p>Ein Paladin versucht, sich den höchsten Verhaltensregeln zu unterwerfen, doch selbst der Tugendhafteste kann scheitern. Manchmal erweist sich der rechte Weg als zu fordernd oder eine Situation erzwingt, sich für das kleinere von zwei Übeln zu entscheiden. Zuweilen führen auch Gefühlswallungen dazu, dass ein Paladin seinen Schwur bricht.</p>
<p>Ein Paladin, der ein Gelübde gebrochen hat, ersucht normalerweise einen Kleriker seines Glaubens oder einen anderen Paladin desselben Ordens um Absolution. Als Zeichen der Reue könnte er eine ganze Nacht im Gebet verbringen, fasten oder sich auf andere Weise läutern. Nach einem Glaubensbekenntnis wird dem Paladin vergeben.</p>
<p>Hat ein Paladin seinen Schwur vorsätzlich gebrochen und zeigt keinerlei Reue, erwarten ihn schwerwiegendere Konsequenzen. Nach Ermessen des SL kann ein uneinsichtiger Paladin gezwungen werden, seine Klasse aufzugeben und eine andere anzunehmen.</p>
</div>