<h2 id="class-schurke">Schurke</h2>
<h3 id="klassenmerkmale-schurke">Klassenmerkmale</h3>
<p>Als Schurke erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W8 pro Schurkenstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>8 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W8 (oder 5) + Konstitutionsmodifikator pro Schurkenstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Leichte Rüstung</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen, Handarmbrüste, Langschwerter, Rapiere, Kurzschwerter</p>
<p><span class="feature-name">Werkzeuge: </span>Diebeswerkzeug</p>
<p><span class="feature-name">Rettungswürfe: </span>Geschicklichkeit, Intelligenz</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle vier aus Akrobatik, Athletik, Auftreten, Einschüchtern, Fingerfertigkeit, Heimlichkeit, Motiv erkennen, Nachforschungen, Täuschen, Überzeugen, Wahrnehmung</p>

<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul><li> (a) ein Rapier oder (b) ein Kurzschwert</li>
<li> (a) ein Kurzbogen mit Köcher und 20 Pfeilen oder (b) ein Kurzschwert</li>
<li> (a) eine Einbrecherausrüstung, (b) Gewölbeforscherausrüstung oder (c) eine Entdeckerausrüstung</li>
<li> (a) Lederrüstung, zwei Dolche und Diebeswerkzeug</li></ul>

<h5>Schurke</h5>
<table id="table-schurke">
<tr>
<th>Stufe</th>
<th>Übungsbonus</th>
<th>Hinterhältiger Angriff</th>
<th>Merkmale</th>
</tr>
<tr><td>1.</td><td>+2</td><td>1W6</td><td>Diebessprache, Expertise, Hinterhältiger Angriff</td></tr>
<tr><td>2.</td><td>+2</td><td>1W6</td><td>Raffinierte Aktion</td></tr>
<tr><td>3.</td><td>+2</td><td>2W6</td><td>Schurkenarchetyp</td></tr>
<tr><td>4.</td><td>+2</td><td>2W6</td><td>Attributswerterhöhung</td></tr>
<tr><td>5.</td><td>+3</td><td>3W6</td><td>Unglaubliches Ausweichen</td></tr>
<tr><td>6.</td><td>+3</td><td>3W6</td><td>Expertise</td></tr>
<tr><td>7.</td><td>+3</td><td>4W6</td><td>Entrinnen</td></tr>
<tr><td>8.</td><td>+3</td><td>4W6</td><td>Attributswerterhöhung</td></tr>
<tr><td>9.</td><td>+4</td><td>5W6</td><td>Merkmal: Schurkenarchetyp</td></tr>
<tr><td>10.</td><td>+4</td><td>5W6</td><td>Attributswerterhöhung</td></tr>
<tr><td>11.</td><td>+4</td><td>6W6</td><td>Verlässliches Talent</td></tr>
<tr><td>12.</td><td>+4</td><td>6W6</td><td>Attributswerterhöhung</td></tr>
<tr><td>13.</td><td>+5</td><td>7W6</td><td>Merkmal: Schurkenarchetyp</td></tr>
<tr><td>14.</td><td>+5</td><td>7W6</td><td>Blindgespür</td></tr>
<tr><td>15.</td><td>+5</td><td>8W6</td><td>Entschlüpfender Geist</td></tr>
<tr><td>16.</td><td>+5</td><td>8W6</td><td>Attributswerterhöhung</td></tr>
<tr><td>17.</td><td>+6</td><td>9W6</td><td>Merkmal: Schurkenarchetyp</td></tr>
<tr><td>18.</td><td>+6</td><td>9W6</td><td>Schwer zu fassen</td></tr>
<tr><td>19.</td><td>+6</td><td>10W6</td><td>Attributswerterhöhung</td></tr>
<tr><td>20.</td><td>+6</td><td>10W6</td><td>Glückstreffer</td></tr>
</table>

<h4>Expertise</h4>
<p>Auf der 1. Stufe wählst du zwei deiner Fertigkeiten aus, in denen du geübt bist, oder eine Fertigkeit, in der du geübt bist, und den Umgang mit Diebeswerkzeug. Dein Übungsbonus wird bei allen Attributswürfen verdoppelt, bei denen diese Fertigkeiten zur Anwendung kommen.</p>
<p>Auf der 6. Stufe kannst du zwei weitere geübte Fertigkeiten aussuchen, auf die du den gleichen Vorzug erhältst - auch den Umgang mit Diebeswerkzeug.</p>
<h4>Hinterhältiger Angriff</h4>
<p>Schon ab der 1. Stufe weißt du, wie man einen abgelenkten Gegner ausnutzt, um gezielt zuzuschlagen. Einmal pro Zug kannst du einer Kreatur, die du mit einem Angriff triffst, 1W6 zusätzlichen Schaden zufügen, falls du beim Angriffswurf im Vorteil bist. Der Angriff muss dabei mit einer Waffe mit der Eigenschaft Finesse oder einer Fernkampfwaffe ausgeführt werden.</p>
<p>Du musst beim Angriffswurf nicht im Vorteil sein, wenn sich ein anderer Gegner des Ziels im Abstand von bis zu 1,5 Metern davon befindet, dieser Gegner nicht kampfunfähig ist und du bei dem Angriffswurf nicht im Nachteil bist</p>
<p>Die Höhe des zusätzlichen Schadens steigt auf bestimmten Stufen (siehe Spalte „Hinterhältiger Angriff' der Schurkentabelle).</p>
<h4>Diebessprache</h4>
<p>In deiner Ausbildung zum Schurken hast du die Diebessprache erlernt, eine geheime Mischung aus Dialekt, Kauderwelsch und Codewörtern, mit der du in scheinbar gewöhnlichen Unterhaltungen Botschaften versteckst. Diese Botschaften können nur Kreaturen verstehen, die ebenfalls die Diebessprache beherrschen. Die Übermittlung einer solchen Botschaft dauert viermal länger als in einer normalen Unterhaltung.</p>
<p>Außerdem kennst du geheime Zeichen und Symbole, mit denen kurze, einfache Nachrichten übermittelt werden können - etwa ob ein Stadtteil gefährlich oder das Gebiet einer Diebesgilde ist, ob Beute in der Nähe ist, ob die Einwohner in der Gegend sich leicht übers Ohr hauen lassen oder Dieben auf der Flucht Unterschlupf bieten.</p>
<h4>Raffinierte Aktion</h4>
<p>Ab der 2. Stufe kannst du dich besonders schnell bewegen und rasch handeln. So kannst du in jedem Zug im Kampf eine Bonusaktion ausführen. Diese ist auf die Aktionen Rückzug, Spurt und Verstecken beschränkt.</p>
<h4>Schurkenarchetyp</h4>
<p>Auf der 3. Stufe entscheidest du dich für einen Archetypen wie den Dieb, dem du bei der Ausübung deiner Schurkenfähigkeiten nacheiferst Dein Archetyp gewährt dir ab der 3. sowie ab der 9., 13. und 17. Stufe weitere Merkmale.</p>
<h4>Attributswerterhöhung</h4>
<p>Ab der 4., 8., 10., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Unglaubliches Ausweichen</h4>
<p>Trifft dich ab der 5. Stufe der Angriff einer Kreatur, die du sehen kannst, darfst du mit deiner Reaktion den verursachten Schaden halbieren.</p>
<h4>Entrinnen</h4>
<p>Ab der 7. Stufe kannst du dich dank deiner instinktiven Gewandtheit aus dem Wirkungsbereich bestimmter Effekte wie dem Feuerodem eines roten Drachen oder dem Zauber <a class="spell" href="#spell-eissturm">Eissturm</a> entfernen. Bist du einem Effekt ausgesetzt, der dir einen Geschicklichkeitsrettungswurf erlaubt, um den Schaden zu halbieren, erleidest du stattdessen bei einem Erfolg gar keinen und bei einem Misserfolg den halben Schaden.</p>
<h4>Verlässliches Talent</h4>
<p>Ab der 11. Stufe beherrschst du deine ausgewählten Fertigkeiten schon nahezu perfekt. Wenn du einen Attributswurf ausführst, zu dem du deinen Übungsbonus addieren darfst, behandelst du ein Ergebnis eines W20-Wurfs von 9 oder niedriger als 10.</p>
<h4>Blindgespür</h4>
<p>Ab der 14. Stufe kennst du den Standort jeder versteckten oder unsichtbaren Kreatur im Umkreis von drei Metern um dich, solange du nicht taub bist.</p>
<h4>Entschlüpfender Geist</h4>
<p>Ab der 15. Stufe hast du eine große mentale Stärke entwickelt. Du bist in Weisheitsrettungswürfen geübt.</p>
<h4>Schwer zu fassen</h4>
<p>Ab der 18. Stufe kannst du derart gut ausweichen, dass Angreifer kaum noch die Oberhand gegen dich gewinnen. Solange du nicht kampfunfähig bist, sind Angriffswürfe gegen dich nie im Vorteil.</p>
<h4>Glückstreffer</h4>
<p>Ab der 20. Stufe hast du ein unglaubliches Talent dafür, immer den nötigen Erfolg zu haben. Verfehlt dein Angriff ein Ziel innerhalb der Reichweite, kannst du den misslungenen Wurf in einen Treffer verwandeln. Alternativ kannst du bei einem gescheiterten Attributswurf den W20-Wurf als 20 behandeln.</p>
<p>Du kannst dieses Merkmal erst nach einer kurzen oder langen Rast erneut verwenden.</p>
<h3 id="schurkenarchetypen">Schurkenarchetypen</h3>
<p>Schurken haben viele Merkmale gemein, darunter ihrer Neigung, Fertigkeiten bis zur Perfektion zu trainieren, ihre präzise und tödliche Kampfkunst und ihre unglaublich schnellen Reflexe. Doch verschiedene Schurken nutzen diese Talente auf unterschiedliche Art und Weise, was sich in den Schurkenarchetypen widerspiegelt. Deine Wahl des Archetyps steht für deinen Fokus und nicht unbedingt für einen erwählten Beruf, sondern beschreibt deine bevorzugten Techniken.</p>
<h4>Dieb</h4>
<p>Du verfeinerst deine Fertigkeiten in den Diebeskünsten. Einbrecher, Banditen, Beutelschneider und andere Kriminelle folgen in der Regel diesem Archetyp, doch auch Schurken, die sich als professionelle Schatzsucher, Entdecker, Schnüffler und Grabräuber betätigen, schlagen diese Richtung ein. Außerdem verbesserst du nicht nur deine Beweglichkeit und Heimlichkeit, sondern lernst auch Fertigkeiten, um uralte Ruinen zu erkunden, fremde Sprachen zu lesen und magische Gegenstände zu benutzen, die du normalerweise nicht einsetzen würdest.</p>
<h5>Flinke Finger</h5>
<p>Ab der 3. Stufe kannst du mit deiner Raffinierten Aktion einen Geschicklichkeitswurf (Fingerfertigkeit) ausführen, mit deinen Diebeswerkzeugen Falle entschärfen oder Schlösser knacken oder die Aktion Gegenstand benutzen verwenden.</p>
<h5>Kletteraffe</h5>
<p>Wenn du diesen Archetyp auf der 3. Stufe wählst, kannst du schneller als normal klettern. Klettern kostet dich dann keine zusätzliche Bewegungsrate mehr.</p>
<p>Außerdem kannst du aus dem Lauf pro Punkt deines Geschicklichkeitsmodifikators 30 Zentimeter weiter springen als gewöhnlich.</p>
<h5>Außerordentliches Schleichen</h5>
<p>Ab der 9. Stufe bist du bei Geschicklichkeitswürfen (Heimlichkeit) im Vorteil, wenn du dich in diesem Zug nicht weiter als die halbe Bewegungsrate bewegst.</p>
<h5>Magischen Gegenstand benutzen</h5>
<p>Ab der 13. Stufe hast du genug über das Wesen der Magie gelernt, um beim Gebrauch magischer Gegenstände zu improvisieren, selbst wenn sie gar nicht für dich gedacht sind. Du kannst bei der Verwendung eines magischen Gegenstands alle Voraussetzungen hinsichtlich Klasse, Volk und Stufe ignorieren.</p>
<h5>Die Reflexe des Diebes</h5>
<p>Ab der 17. Stufe bist du geschickt im Legen von Hinterhalten und dem Entrinnen von Gefahren.</p>
<p>In der ersten Runde jedes Kampfes darfst du zwei Züge ausführen. Du machst deinen ersten Zug bei deiner normalen Initiative und den zweiten Zug bei deiner Initiative minus 10. Du kannst dieses Merkmal nur verwenden, wenn du nicht überrascht bist.</p>