<h2 id="class-waldlaeufer">Waldläufer</h2>

<h3 id="klassenmerkmale-waldlaeufer">Klassenmerkmale</h3>
<p>Als Waldläufer erhältst du die folgenden Klassenmerkmale:</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W10 pro Waldläuferstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>10 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W10 (oder 6) + Konstitutionsmodifikator pro Waldläuferstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Leichte und mittelschwere Rüstung, Schilde</p>
<p><span class="feature-name">Waffen: </span>Einfache Waffen, Kriegswaffen</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Stärke, Geschicklichkeit</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle drei aus Athletik, Heimlichkeit, Mit Tieren umgehen, Motiv erkennen, Nachforschungen, Naturkunde, Überlebenskunst und Wahrnehmung</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul>
<li> (a)Schuppenpanzer oder (b) Lederrüstung</li>
<li> (a) zwei Kurzschwerter oder (b) zwei einfache Nahkampfwaffen</li>
<li> (a) eine Gewölbeforscherausrüstung oder (b) eine Entdeckerausrüstung</li>
<li> Ein Langbogen und ein Köcher mit 20 Pfeilen</li>
</ul>

<h5>Waldläufer</h5>

<table id="table-waldlaeufer">
<tr>
<th rowspan="2">Stufe</th>
<th rowspan="2">Übungsbonus</th>
<th rowspan="2">Merkmale</th>
<th rowspan="2">Bekannte Zauber</th>
<th colspan="5">Zauberplätze pro Zaubergrad</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
<th>5.</th>
</tr>
<tr><td>1.</td><td>+2</td><td>Erzfeind, Bevorzugtes Gelände</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>Kampfstil, Zauberwirken</td><td>2</td><td>2</td><td></td><td></td><td></td><td></td></tr>
<tr><td>3.</td><td>+2</td><td>Waldläuferarchetyp, Urtümliche Wahrnehmung</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td></tr>
<tr><td>4.</td><td>+2</td><td>Attributswerterhöhung</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td></tr>
<tr><td>5.</td><td>+3</td><td>Zusätzlicher Angriff</td><td>4</td><td>4</td><td>2</td><td></td><td></td><td></td></tr>
<tr><td>6.</td><td>+3</td><td>Verbesserungen: Erzfeind und Bevorzugtes Gelände</td><td>4</td><td>4</td><td>2</td><td></td><td></td><td></td></tr>
<tr><td>7.</td><td>+3</td><td>Merkmal: Waldläuferarchetyp</td><td>5</td><td>4</td><td>3</td><td></td><td></td><td></td></tr>
<tr><td>8.</td><td>+3</td><td>Attributswerterhöhung, Sicherer Schritt</td><td>5</td><td>4</td><td>3</td><td></td><td></td><td></td></tr>
<tr><td>9.</td><td>+4</td><td></td><td>6</td><td>4</td><td>3</td><td>2</td><td></td><td></td></tr>
<tr><td>10.</td><td>+4</td><td>Verbesserung: Bevorzugtes Gelände, Tarnung</td><td>6</td><td>4</td><td>3</td><td>2</td><td></td><td></td></tr>
<tr><td>11.</td><td>+4</td><td>Merkmal: Waldläuferarchetyp</td><td>7</td><td>4</td><td>3</td><td>3</td><td></td><td></td></tr>
<tr><td>12.</td><td>+4</td><td>Attributswerterhöhung</td><td>7</td><td>4</td><td>3</td><td>3</td><td></td><td></td></tr>
<tr><td>13.</td><td>+5</td><td></td><td>8</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td></tr>
<tr><td>14.</td><td>+5</td><td>Verbesserung: Erzfeind, Verschwinden</td><td>8</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td></tr>
<tr><td>15.</td><td>+5</td><td>Merkmal: Waldläuferarchetyp</td><td>9</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td></tr>
<tr><td>16.</td><td>+5</td><td>Attributswerterhöhung</td><td>9</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td></tr>
<tr><td>17.</td><td>+6</td><td></td><td>10</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td></tr>
<tr><td>18.</td><td>+6</td><td>Wildes Gespür</td><td>10</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td></tr>
<tr><td>19.</td><td>+6</td><td>Attributswerterhöhung</td><td>11</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td></tr>
<tr><td>20.</td><td>+6</td><td>Feindestöter</td><td>11</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td></tr>
</table>

<h4>Erzfeind</h4>
<p>Ab der 1. Stufe hast du beträchtliche Erfahrung im Beobachten, Aufspüren und Jagen eines bestimmten Gegners und sogar bei der Verständigung mit diesem.</p>
<p>Wähle einen Erzfeind: Aberrationen, Celestische, Drachen, Elementare, Feenwesen, Konstrukte, Monstrositäten, Pflanzen, Riesen, Schlicke, Tiere, Unholde oder Untote. Alternativ kannst du auch zwei humanoide Völker wie etwa Gnolle und Orks als Erzfeinde auswählen.</p>
<p>Du bist bei Weisheitswürfen (Überlebenskunst), um deine Erzfeinde aufzuspüren, sowie bei Intelligenzwürfen, um dich an Informationen über sie zu erinnern, im Vorteil.</p>
<p>Wenn du dieses Merkmal erhältst, lernst du zudem eine Sprache deiner Wahl, die von deinen Erzfeinden gesprochen wird, falls es eine solche gibt.</p>
<p>Auf der 6. und 14. Stufe suchst du dir einen weiteren Erzfeind und eine dazugehörige Sprache aus. Dabei sollte deine Wahl die Art der Monster widerspiegeln, denen du bei deinen Abenteuern begegnet bist.</p>
<h4>Bevorzugtes Gelände</h4>
<p>Du bist mit einer bestimmten Art von natürlichem Gelände vertraut und beim Reisen und Überleben in diesen Regionen sehr geschickt. Wähle ein bevorzugtes Gelände: Arktis, Berge, Grasland, Küste, Sumpf, Wald oder Wüste. Führst du einen Intelligenz- oder Weisheitswurf in Verbindung mit deinem bevorzugten Gelände aus, wird dein Übungsbonus verdoppelt, falls du eine Fertigkeit anwendest, in der du geübt bist.</p>
<p>Reist du mindestens eine Stunde durch dein bevorzugtes Gelände, erhältst du die folgenden Vorteile:</p>
<ul><li> Schwieriges Gelände verringert das Reisetempo deiner Gruppe nicht.</li>
<li> Deine Gruppe kann sich nur auf magische Weise verirren.</li>
<li> Selbst wenn du dich während der Reise mit anderen Dingen wie der Navigation, dem Spurenlesen oder der Nahrungssuche beschäftigst, achtest du auf Gefahren.</li>
<li> Wenn du allein reist, kannst du dich in normaler Geschwindigkeit heimlich fortbewegen.</li>
<li> Bei der Nahrungssuche findest du doppelt so viel Nahrung wie sonst.</li>
<li> Beim Spurenlesen findest du auch heraus, wie viele Kreaturen es waren, wie groß sie sind und wann sie dieses Gebiet passiert haben.</li></ul>
<p>Auf der 6. und 10. Stufe kannst du dir ein weiteres bevorzugtes Gelände aussuchen.</p>
<h4>Kampfstil</h4>
<p>Auf der 2. Stufe wählst du einen bestimmten Kampfstil als Spezialisierung. Entscheide dich für eine der folgenden Optionen. Du kannst keinen der Kampfstile mehr als einmal wählen, selbst wenn du dir später erneut einen aussuchen darfst.</p>
<h5>Bogenschießen</h5>
<p>Du erhältst einen Bonus von +2 auf alle Angriffswürfe mit Fernkampfwaffen.</p>
<h5>Duellieren</h5>
<p>Kämpfst du mit einer einhändig geführten Nahkampfwaffe und keiner weiteren Waffe in deiner Zweithand, erhältst du einen Bonus von +2 auf die Schadenswürfe mit dieser Waffe.</p>
<h5>Verteidigung</h5>
<p>Solange du eine Rüstung trägst, erhältst du einen Bonus von +1 auf deine RK.</p>
<h5>Zwei-Waffen-Kampf</h5>
<p>Wenn du mit zwei Waffen angreifst, kannst du deinen Attributsmodifikator zum Schaden des zweiten Angriffs addieren.</p>
<h4>Zauberwirken</h4>
<p>Ab der 2. Stufe hast du gelernt, so wie ein Druide die magische Essenz der Natur zum Wirken von Zaubern zu verwenden.</p>
<h5>Zauberplätze</h5>
<p>In der Waldläufertabelle siehst du, wie viele Zauberplätze dir für Zauber des 1. Grades und höherer Grade zur Verfügung stehen. Um einen dieser Zauber zu wirken, musst du einen Platz des gleichen oder höheren Grades verbrauchen. Verbrauchte Zauberplätze werden nach einer langen Rast wiederhergestellt.</p>
<p>Wenn du beispielsweise den Zauber <a class="spell" href="#spell-tierfreundschaft">Tierfreundschaft</a> (1. Grad) kennst und einen Zauberplatz des 1. und 2. Grades zur Verfügung hast, kannst du <a class="spell" href="#spell-tierfreundschaft">Tierfreundschaft</a> in einem der beiden Grade wirken.</p>
<h5>Bekannte Zauber des 1. Grades und höher</h5>
<p>Du beherrschst zwei Zauber des 1. Grades deiner Wahl aus der Zauberliste des Waldläufers.</p>
<p>Die Spalte „Bekannte Zauber&quot; in der Waldläufertabelle gibt an, wann du weitere Waldläuferzauber lernen kannst. Der Grad dieser Zauber muss dem der verfügbaren Zauberplätze entsprechen. Erreichst du in dieser Klasse beispielsweise die 5. Stufe, kannst du einen neuen Zauber des 1. oder 2. Grades erlernen.</p>
<p>Wenn du mit dieser Klasse eine Stufe aufsteigst, kannst du zudem einen der bekannten Waldläuferzauber durch einen anderen aus der Liste ersetzen, dessen Grad einem deiner verfügbaren Zauberplätze entsprechen muss.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut zum Wirken der Waldläuferzauber ist Weisheit, da du deine Magie aus der Einheit mit der Natur schöpfst. Wenn sich ein Druidenzauber auf das zum Wirken nötige Attribut bezieht, verwendest du Weisheit. Außerdem verwendest du deinen Weisheitsmodifikator beim Festlegen des Rettungswurf-SG für Waldläuferzauber, die du wirkst, und für Angriffswürfe damit.</p>
<p>Zauberrettungswurf-SG = 8 + dein Übungsbonus + dein Weisheitsmodifikator</p>
<p>Angriffszauber-Modifikator = dein Übungsbonus + dein Weisheitsmodifikator</p>
<h4>Waldläuferarchetyp</h4>
<p>Auf der 3. Stufe entscheidest du dich für einen Archetypen wie den Jäger, der deinen Weg als Waldläufer bestimmt. Deine Wahl verleiht dir auf der 3., 7., 11. und 15. Stufe weitere Merkmale.</p>
<h4>Urtümliche Wahrnehmung</h4>
<p>Ab der 3. Stufe kannst du deine Aktion verwenden und einen Waldläuferzauberplatz verbrauchen, um deine Wahrnehmung auf die unmittelbare Umgebung zu konzentrieren. Pro Grad des verbrauchten Zauberplatzes spürst du eine Minute lang, ob sich eine der folgenden Kreaturen im Abstand von bis zu 1,6 Kilometern von dir befindet (oder im Abstand von bis zu 9,5 Kilometern, falls du dich in deinem bevorzugten Gelände aufhältst): Aberrationen, Celestische, Drachen, Elementare, Feenwesen, Unholde und Untote. Durch dieses Merkmal findest du weder den Ort noch die Anzahl der Kreaturen heraus.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Zusätzlicher Angriff</h4>
<p>Ab der 5. Stufe kannst du zweimal statt nur einmal angreifen, wenn du in deinem Zug eine Angriffsaktion ausführst.</p>
<h4>Sicherer Schritt</h4>
<p>Ab der 8. Stufe kostet dich das Durchqueren von nichtmagischem schwierigem Gelände keine zusätzliche Bewegungsrate mehr. Du kannst dich außerdem durch nichtmagische Pflanzen bewegen, ohne von ihnen verlangsamt zu werden oder Schaden zu nehmen, falls sie Dornen, Stacheln oder ähnliche Gefahren aufweisen.</p>
<p>Darüber hinaus bist du bei Rettungswürfen gegen Pflanzen, die magisch erschaffen oder manipuliert wurden, um die Bewegung einzuschränken - etwa durch den Zauber <a class="spell" href="#spell-verstricken">Verstricken</a> - im Vorteil.</p>
<h4>Tarnung</h4>
<p>Ab der 10. Stufe kannst du dir innerhalb von einer Minute Tarnung verschaffen. Du musst frischen Schlamm, Schmutz, Pflanzen, Ruß oder andere natürlich vorkommende Materialien zur Verfügung haben, die zu Tarnungszwecken geeignet sind.</p>
<p>Bist du auf diese Weise getarnt, kannst du dich verstecken, indem du dich gegen eine feste Oberfläche drückst (etwa einen Baum oder eine Mauer), die mindestens so hoch und breit ist wie du selbst. Du erhältst einen Bonus von +10 auf Geschicklichkeitswürfe (Heimlichkeit), solange du dort reglos stehen bleibst. Sobald du dich bewegst oder eine Aktion oder Reaktion verwendest, musst du dich erneut tarnen, um diesen Vorzug zu erhalten.</p>
<h4>Verschwinden</h4>
<p>Ab der 14. Stufe kannst du die Verstecken-Aktion als Bonusaktion in deinem Zug ausführen. Außerdem kannst du nicht länger durch nichtmagische Mittel aufgespürt werden, wenn du nicht absichtlich eine Fährte hinterlässt.</p>
<h4>Wildes Gespür</h4>
<p>Ab der 18. Stufe erhältst du übernatürliche Sinne, die dir im Kampf gegen Kreaturen helfen, die du nicht sehen kannst. Greifst du eine solche Kreatur an, bist du bei deinen Angriffswürfen gegen sie trotz deiner Unfähigkeit, sie zu sehen, nicht im Nachteil.</p>
<p>Du kennst zudem den Standort jeder unsichtbaren Kreatur im Abstand von bis zu neun Metern von dir, solange sie nicht vor dir versteckt ist und du nicht blind oder taub bist.</p>
<h4>Feindestöter</h4>
<p>Ab der 20. Stufe wirst du zu einem beispiellosen Jäger deiner Feinde. Einmal in jedem deiner Züge kannst du deinen Weisheitsmodifikator zu einem Angriffs- oder Schadenswurf gegen einen deiner Erzfeinde addieren. Du kannst vor oder nach dem Wurf entscheiden, ob du dieses Merkmal einsetzt, musst dies jedoch tun, bevor das Ergebnis des Wurfs angewendet wird.</p>
<h3 id="waldlaeuferarchetypen">Waldläuferarchetypen</h3>
<p>Der Jäger entspricht der klassischen Vorstellung eines Waldläufers.</p>
<h4>Jäger</h4>
<p>Wer dem Archetyp des Jägers nacheifert, akzeptiert seinen Platz als Bollwerk zwischen der Zivilisation und den Schrecken der Wildnis. Auf dem Weg des Jägers lernst du besondere Techniken für den Kampf gegen Gefahren, die sich dir in den Weg stellen - von wütenden Ogern und Orkhorden bis hin zu hoch aufragenden Riesen und furchterregenden Drachen.</p>
<h5>Des Jägers Beute</h5>
<p>Mit Erreichen der 3. Stufe erhältst du eines der folgenden Merkmale deiner Wahl.</p>
<p><span class="trait-name">Hordenbrecher:</span> Wenn du einen Waffenangriff ausführst, kannst du einmal in jedem deiner Züge einen weiteren Angriff mit derselben Waffe auf eine andere Kreatur ausführen, die sich im Abstand von bis zu 1,5 Metern vom ersten Ziel und in deiner Waffenreichweite befindet.</p>
<p><span class="trait-name">Kolossschlächter:</span> Deine Hartnäckigkeit kann die mächtigsten Feinde zermürben. Wenn du eine Kreatur mit einem Waffenangriff triffst, die weniger als ihr Trefferpunktemaximum besitzt, erleidet sie zusätzliche 1W8 Schaden. Du kannst diesen zusätzlichen Schaden nur einmal pro Zug verursachen.</p>
<p><span class="trait-name">Riesentöter:</span> Wenn dich eine mindestens große Kreatur, die sich im Abstand von bis zu 1,5 Metern von dir befindet, mit einem Angriffswurf trifft oder verfehlt, kannst du deine Reaktion verwenden, um die Kreatur unmittelbar nach ihrem Angriff anzugreifen, falls du sie sehen kannst.</p>
<h5>Defensive Taktiken</h5>
<p>Mit Erreichen der 7. Stufe erhältst du eines der folgenden Merkmale deiner Wahl.</p>
<p><span class="trait-name">Der Horde entkommen:</span> Gelegenheitsangriffe gegen dich sind im Nachteil.</p>
<p><span class="trait-name">Eiserner Wille:</span> Du bist bei Rettungswürfen gegen Verängstigt im Vorteil.</p>
<p><span class="trait-name">Verteidigung gegen Mehrfachangriffe:</span> Wenn dich eine Kreatur mit einem Angriff trifft, erhältst du für den Rest des Zuges einen Bonus von +4 auf deine RK gegen alle nachfolgenden Angriffe dieser Kreatur.</p>
<h5>Mehrfachangriff</h5>
<p>Mit Erreichen der 11. Stufe erhältst du eines der folgenden Merkmale deiner Wahl.</p>
<p><span class="trait-name">Geschosshagel:</span> Du kannst deine Aktion verwenden, um einen Fernkampfangriff gegen eine beliebige Anzahl von Kreaturen im Abstand von bis zu drei Metern um einen Punkt herum auszuführen, den du sehen kannst und der sich in Waffenreichweite befindet. Du musst wie üblich für jeden Angriff Geschosse verwenden und die Angriffswürfe für jedes Ziel einzeln ausführen.</p>
<p><span class="trait-name">Wirbelwindangriff:</span> Du kannst deine Aktion verwenden, um einen Nahkampfangriff gegen eine beliebige Anzahl von Kreaturen im Abstand von bis zu 1,5 Metern um dich herum auszuführen, und musst für jedes Ziel einen separaten Angriffswurf ausführen.</p>
<h5>Außerordentliche Verteidigung des Jägers </h5>
<p>Mit Erreichen der 15. Stufe erhältst du eines der folgenden Merkmale deiner Wahl.</p>
<p><span class="trait-name">Entrinnen:</span> Bist du einem Effekt wie dem Feuerodem eines roten Drachen oder dem Zauber <a class="spell" href="#spell-blitz">Blitz</a> ausgesetzt, der dir einen Geschicklichkeitsrettungswurf erlaubt, um den Schaden zu halbieren, erleidest du stattdessen bei einem Erfolg gar keinen und bei einem Misserfolg den halben Schaden.</p>
<p><span class="trait-name">Gegen den Strom:</span> Verfehlt dich eine feindlich gesinnte Kreatur mit einem Nahkampfangriff, kannst du deine Reaktion verwenden, um die Kreatur zu zwingen, denselben Angriff gegen eine andere Kreatur deiner Wahl (außer sich selbst) zu wiederholen.</p>
<p><span class="trait-name">Unglaubliches Ausweichen:</span> Trifft dich ein Angreifer, den du sehen kannst, mit einem Angriff, kannst du deine Reaktion verwenden, um den verursachten Schaden zu halbieren.</p>