<h2 id="class-zauberer">Zauberer</h2>
<h3 id="klassenmerkmale-zauberer">Klassenmerkmale</h3>
<p>Als Zauberer erhältst du die folgenden Klassenmerkmale.</p>
<h5>Trefferpunkte</h5>
<p><span class="feature-name">Trefferwürfel: </span>1W6 pro Zaubererstufe</p>
<p><span class="feature-name">Trefferpunkte auf der 1. Stufe: </span>6 + Konstitutionsmodifikator</p>
<p><span class="feature-name">Trefferpunkte auf höheren Stufen: </span>1W6 (oder 4) + Konstitutionsmodifikator pro Zaubererstufe nach der 1. Stufe</p>
<h5>Übung</h5>
<p><span class="feature-name">Rüstungen: </span>Keine</p>
<p><span class="feature-name">Waffen: </span>Dolche, Kampfstab, leichte Armbrüste, Pfeile, Schlingen</p>
<p><span class="feature-name">Werkzeuge: </span>Keine</p>
<p><span class="feature-name">Rettungswürfe: </span>Konstitution, Charisma</p>
<p><span class="feature-name">Fertigkeiten: </span>Wähle zwei aus Arkane Kunde, Einschüchtern, Motiv erkennen, Religion, Täuschen und Überzeugen</p>
<h5>Ausrüstung</h5>
<p>Du beginnst mit folgender Ausrüstung, zuzüglich zur Ausrüstung, die du über deinen Hintergrund erhältst:</p>
<ul><li> (a) eine leichte Armbrust und 20 Bolzen oder (b) eine beliebige einfache Waffe</li>
<li> (a) ein Materialkomponentenbeutel oder (b) ein arkaner Fokus</li>
<li> (a) eine Gewölbeforscherausrüstung oder (b) eine Entdeckerausrüstung</li>
<li> Zwei Dolche</li></ul>
<h5>Zauberer</h5>

<table id="table-zauberer">
<tr>
<th rowspan="2">Stufe</th>
<th rowspan="2">Übungsbonus</th>
<th rowspan="2">Zaubereipunkte</th>
<th rowspan="2">Merkmale</th>
<th rowspan="2">Bekannte Zaubertricks</th>
<th rowspan="2">Bekannte Zauber</th>
<th colspan="9">Zauberplätze pro Zaubergrad</th>
</tr>
<tr>
<th>1.</th>
<th>2.</th>
<th>3.</th>
<th>4.</th>
<th>5.</th>
<th>6.</th>
<th>7.</th>
<th>8.</th>
<th>9.</th>
</tr>
<tr><td>1.</td><td>+2</td><td></td><td>Zauberwirken, Ursprung der Zauberei</td><td>4</td><td>2</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>2.</td><td>+2</td><td>2</td><td>Quelle der Magie</td><td>4</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>3.</td><td>+2</td><td>3</td><td>Metamagie</td><td>4</td><td>4</td><td>4</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>4.</td><td>+2</td><td>4</td><td>Attributswerterhöhung</td><td>5</td><td>5</td><td>4</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>5.</td><td>+3</td><td>5</td><td></td><td>5</td><td>6</td><td>4</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>6.</td><td>+3</td><td>6</td><td>Merkmal: Ursprung der Zauberei</td><td>5</td><td>7</td><td>4</td><td>3</td><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>7.</td><td>+3</td><td>7</td><td></td><td>5</td><td>8</td><td>4</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>8.</td><td>+3</td><td>8</td><td>Attributswerterhöhung</td><td>5</td><td>9</td><td>4</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>9.</td><td>+4</td><td>9</td><td></td><td>5</td><td>10</td><td>4</td><td>3</td><td>3</td><td>3</td><td>1</td><td></td><td></td><td></td><td></td></tr>
<tr><td>10.</td><td>+4</td><td>10</td><td>Metamagie</td><td>6</td><td>11</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td></td><td></td><td></td><td></td></tr>
<tr><td>11.</td><td>+4</td><td>11</td><td></td><td>6</td><td>12</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>12.</td><td>+4</td><td>12</td><td>Attributswerterhöhung</td><td>6</td><td>12</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td></td><td></td><td></td></tr>
<tr><td>13.</td><td>+5</td><td>13</td><td></td><td>6</td><td>13</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>14.</td><td>+5</td><td>14</td><td>Merkmal: Ursprung der Zauberei</td><td>6</td><td>13</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td></td><td></td></tr>
<tr><td>15.</td><td>+5</td><td>15</td><td></td><td>6</td><td>14</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>16.</td><td>+5</td><td>16</td><td>Attributswerterhöhung</td><td>6</td><td>14</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td></td></tr>
<tr><td>17.</td><td>+6</td><td>17</td><td>Metamagie</td><td>6</td><td>15</td><td>4</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>18.</td><td>+6</td><td>18</td><td>Merkmal: Ursprung der Zauberei</td><td>6</td><td>15</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>19.</td><td>+6</td><td>19</td><td>Attributswerterhöhung</td><td>6</td><td>15</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>20.</td><td>+6</td><td>20</td><td>Zaubereiauffrischung</td><td>6</td><td>15</td><td>4</td><td>3</td><td>3</td><td>3</td><td>3</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
</table>
<h4>Zauberwirken</h4>
<p>Ein Ereignis in deiner Vergangenheit oder im Leben deiner Vorfahren hat dich gezeichnet und mit arkaner Zauberkraft erfüllt. Diese Quelle der Magie, welchen Ursprungs sie auch sein mag, speist deine Zauber.</p>
<h5>Zaubertricks</h5>
<p>Auf der 1. Stufe beherrschst du vier Zaubertricks deiner Wahl aus der Zaubererzauberliste. Weitere Zaubererzaubertricks deiner Wahl erlernst du auf höheren Stufen (siehe Spalte „Bekannte Zaubertricks&quot; in der Zauberertabelle).</p>
<h5>Zauberplätze</h5>
<p>In der Zauberertabelle siehst du, wie viele Zauberplätze dir für Zauber des 1. Grades und höherer Grade zur Verfügung stehen. Um einen dieser Zauber zu wirken, musst du einen Platz des gleichen oder höheren Grades verbrauchen. Verbrauchte Zauberplätze werden nach einer langen Rast wiederhergestellt.</p>
<p>Wenn du zum Beispiel als Zauber des 1. Grades <a class="spell" href="#spell-brennende-haende">Brennende Hände</a> kennst und über einen Zauberplatz des 1. Grades und einen des 2. Grades verfügst, kannst du jeden der beiden Plätze nutzen, um den Zauber <a class="spell" href="#spell-brennende-haende">Brennende Hände</a> zu wirken.</p>
<h5>Bekannte Zauber des 1. Grades und höher</h5>
<p>Du beherrschst zwei Zauber des 1. Grades deiner Wahl aus der Zaubererzauberliste.</p>
<p>Die Spalte „Bekannte Zauber&quot; in der Zauberertabelle gibt an, wann du weitere Zauber lernen kannst.</p>
<p>Der Grad dieser Zauber muss dem der verfügbaren Zauberplätze entsprechen. Erreichst du in dieser Klasse beispielsweise die 3. Stufe, kannst du einen neuen Zauber des 1. oder 2. Grades erlernen.</p>
<p>Wenn du mit dieser Klasse eine Stufe aufsteigst, kannst du zudem einen der bekannten Zaubererzauber durch einen anderen aus der Liste ersetzen, dessen Grad einem deiner verfügbaren Zauberplätze entsprechen muss.</p>
<h5>Attribut zum Zauberwirken</h5>
<p>Dein Attribut zum Wirken deiner Zauber ist Charisma, da die Macht deiner Magie auf deiner Fähigkeit beruht, deinen Willen in die Welt zu projizieren. Wenn sich ein Zaubererzauber auf das zum Wirken nötige Attribut bezieht, verwendest du deinen Charismawert. Außerdem verwendest du deinen Charismamodifikator beim Festlegen des Rettungswurf-SG für gewirkte Zaubererzauber und bei Angriffswürfen damit.</p>
<p>Zauberrettungswurf-SG = 8 + dein Übungsbonus + dein Charismamodifikator</p>
<p>Angriffszauber-Modifikator = dein Übungsbonus + dein Charismamodifikator</p>
<h5>Zauberfokus</h5>
<p>Du kannst einen arkanen Fokus als Zauberfokus für deine Zaubererzauber verwenden.</p>
<h4>Ursprung der Zauberei</h4>
<p>Wähle einen Ursprung deiner angeborenen magischen Kraft, etwa die drakonische Blutlinie.</p>
<p>Deine Wahl gewährt dir ab der 1. sowie ab der 6., 14. und 18. Stufe weitere Merkmale.</p>
<h4>Quelle der Magie</h4>
<p>Ab der 2. Stufe kannst du die Quelle der Magie in deinem Inneren anzapfen. Diese Quelle wird durch Zaubereipunkte repräsentiert, die eine Vielzahl magischer Effekte ermöglichen.</p>
<h5>Zaubereipunkte</h5>
<p>Du besitzt zwei Zaubereipunkte und erhältst weitere auf höheren Stufen, wie in der „Zaubereipunkte Spalte der Zauberertabelle angegeben. Du kannst nie mehr Zaubereipunkte besitzen, als für deine Stufe in der Tabelle angegeben ist Verbrauchte Zaubereipunkte stehen dir nach einer langen Rast wieder zur Verfügung.</p>
<h5>Flexibles Zauberwirken</h5>
<p>Du kannst deine Zaubereipunkte verwenden, um zusätzliche Zauberplätze zu erhalten, oder Zauberplätze für zusätzliche Zaubereipunkte aufgeben. Auf höheren Stufen lernst du weitere Methoden, deine Zaubereipunkte einzusetzen.</p>
<p><span class="trait-name">Zauberplätze erschaffen:</span> Du kannst in deinem Zug als Bonusaktion unverbrauchte Zaubereipunkte in einen Zauberplatz umwandeln. In der Tabelle „Zauberplätze erschaffen&quot; sind die Punktekosten auf den jeweiligen Stufen angegeben. Du kannst maximal einen Zauberplatz des 5. Grades erschaffen.</p>
<p>Alle mit diesem Merkmal erschaffenen Zauberplätze verschwinden nach einer langen Rast.</p>

<h5>Zauberplätze erschaffen</h5>
<table id="table-zauberplaetze-erschaffen">
<tr>
<th>Zauberplatzstufe</th>
<th>Zaubereipunktkosten</th>
</tr>
<tr><td>1.</td><td>2</td></tr>
<tr><td>2.</td><td>3</td></tr>
<tr><td>3.</td><td>5</td></tr>
<tr><td>4.</td><td>6</td></tr>
<tr><td>5.</td><td>7</td></tr>
</table>
<p><span class="trait-name">Einen Zauberplatz in Zaubereipunkte umwandeln: </span>Du kannst in deinem Zug als Bonusaktion einen Zauberplatz verbrauchen, um Zaubereipunkte in Höhe des Grades zu erhalten.</p>
<h4>Metamagie</h4>
<p>Mit Erreichen der 3. Stufe erlangst du die Fähigkeit, deine Zauber an deine Bedürfnisse anzupassen. Du erhältst zwei der folgenden Metamagie-Optionen deiner Wahl. Jeweils eine weitere erhältst du auf der 10. und 17. Stufe.</p>
<p>Du kannst nur eine Metamagie-Option auf einen gewirkten Zauber anwenden, sofern in der Beschreibung nichts anderes angegeben ist.</p>
<h5>Bedachter Zauber</h5>
<p>Wenn du einen Zauber wirkst, der andere Kreaturen zu einem Rettungswurf zwingt, kannst du einige dieser Kreaturen vor der vollen Stärke des Zaubers schützen. Verbrauche einen Zaubereipunkt und wähle maximal so viele betroffene Kreaturen, wie es deinem Charismamodifikator entspricht (mindestens eine Kreatur). Eine ausgewählte Kreatur besteht den Rettungswurf gegen diesen Zauber automatisch.</p>
<h5>Beschleunigter Zauber</h5>
<p>Wirkst du einen Zauber mit einem Zeitaufwand von einer Aktion, kannst du zwei Zaubereipunkte verbrauchen, um den Zeitaufwand auf eine Bonusaktion zu verändern.</p>
<h5>Gespiegelter Zauber</h5>
<p>Wenn du einen Zauber wirkst, der nur eine Kreatur und nicht die Reichweite „Selbst&quot; zum Ziel hat, kannst du eine Anzahl von Zaubereipunkten in Höhe des Zaubergrades verbrauchen, um eine zweite Kreatur in Reichweite mit demselben Zauber anzugreifen (einen Zaubereipunkt, wenn es sich um einen Zaubertrick handelt).</p>
<p>Um den Zauber mit dieser Option wirken zu können, darf er auf dem aktuellen Grad nicht mehr als eine Kreatur zum Ziel haben. <a class="spell" href="#spell-magisches-geschoss">Magisches Geschoss</a> und <a class="spell" href="#spell-sengender-strahl">Sengender Strahl</a> sind zum Beispiel nicht geeignet, <a class="spell" href="#spell-kaeltestrahl">Kältestrahl</a> jedoch schon.</p>
<h5>Konzentrierter Zauber</h5>
<p>Wenn du einen Zauber wirkst, der eine Kreatur zu einem Rettungswurf zwingt, um seinen Effekten zu widerstehen, kannst du drei Zaubereipunkte verbrauchen, damit ein Ziel beim ersten Rettungswurf gegen den Zauber im Nachteil ist.</p>
<h5>Mächtiger Zauber</h5>
<p>Wenn du den Schaden eines Zaubers auswürfelst, kannst du einen Zaubereipunkt verbrauchen, um maximal so viele Schadenswürfel neu zu würfeln. wie es deinem Charismamodifikator entspricht (mindestens einen). Du musst das neue Ergebnis verwenden.</p>
<p>Du kannst den mächtigen Zauber sogar dann einsetzen, wenn du beim Wirken des Zaubers eine andere Metamagie-Option verwendet hast.</p>
<h5>Subtiler Zauber</h5>
<p>Beim Wirken eines Zaubers kannst du einen Zaubereipunkt verbrauchen, um ihn ohne Gesten oder verbale Komponenten zu wirken.</p>
<h5>Verlängerter Zauber</h5>
<p>Wenn du einen Zauber mit einer Wirkungsdauer von mindestens einer Minute wirkst, kannst du einen Zaubereipunkt verbrauchen, um die Dauer des Zaubers bis zu einem Maximum von 24 Stunden zu verdoppeln.</p>
<h5>Weitreichender Zauber</h5>
<p>Wenn du einen Zauber mit einer Reichweite von mindestens 1,5 Metern wirkst, kannst du einen Zaubereipunkt verbrauchen, um die Reichweite des Zaubers zu verdoppeln.</p>
<p>Wirkst du einen Zauber mit Berührungsreichweite, kannst du einen Zaubereipunkt verbrauchen, um die Reichweite auf neun Meter zu erhöhen.</p>
<h4>Attributswerterhöhung</h4>
<p>Auf der 4., 8., 12., 16. und 19. Stufe kannst du einen Attributswert deiner Wahl um 2 oder zwei Attributswerte um je 1 steigern. Wie üblich darf auf diese Weise kein Attribut über einen Wert von 20 steigen.</p>
<h4>Zaubereiauffrischung</h4>
<p>Auf der 20. Stufe erhältst du nach jeder kurzen Rast 4 verbrauchte Zaubereipunkte zurück.</p>
<h3 id="ursprung-der-zauberei">Ursprung der Zauberei</h3>
<p>Verschiedene Zauberer begründen ihre Magie auf unterschiedliche Ursprünge, etwa die drakonische Blutlinie.</p>
<h4>Drakonische Blutlinie</h4>
<p>Die dir innewohnende Magie beruht auf drakonischen Ursprüngen, die in dein Blut oder das deiner Vorfahren eingeflossen sind. Häufig führen Zauberer ihre Abstammung auf einen mächtigen Zauberer aus alter Zeit zurück, der einen Handel mit einem Drachen geschlossen hat oder gar behauptete, von einem Drachen abzustammen. Einige dieser Zauberer konnten sich in der Welt gut etablieren, während andere im Verborgenen leben. Jeder könnte auch der Erste einer neuen Blutlinie sein, ob als Resultat eines Pakts oder aus anderen außergewöhnlichen Gründen.</p>
<h5>Drachenvorfahren</h5>
<p>Auf der 1. Stufe wählst du die Art deines drakonischen Vorfahren aus. Der mit jedem Drachen verbundene Schadensart kommt bei Merkmalen zum Tragen, die du später erlernst.</p>

<h5>Drakonische Abstammung</h5>
<table id="table-drakonische-abstammung-schaden">
<tr>
<th>Drache</th>
<th>Schadensart</th>
</tr>
<tr><td>Blau    </td><td>Blitz</td></tr>
<tr><td>Bronze  </td><td>Blitz</td></tr>
<tr><td>Gold    </td><td>Feuer</td></tr>
<tr><td>Grün   </td><td>Gift</td></tr>
<tr><td>Kupfer  </td><td>Säure</td></tr>
<tr><td>Messing </td><td>Feuer</td></tr>
<tr><td>Rot     </td><td>Feuer</td></tr>
<tr><td>Schwarz </td><td>Säure</td></tr>
<tr><td>Silber  </td><td>Kälte</td></tr>
<tr><td>Weiß   </td><td>Kälte</td></tr>
</table>

<p>Du kannst Drakonisch sprechen, lesen und schreiben. Außerdem wird dein Übungsbonus verdoppelt, wenn du bei der Interaktion mit Drachen einen Charismawurf machen musst und dieser auf den Wurf angewendet werden kann.</p>
<h5>Drakonische Widerstandskraft</h5>
<p>Die durch deinen Körper fließende Magie lässt körperliche Merkmale deiner drakonischen Vorfahren hervortreten. Dein Trefferpunktemaximum steigt auf der 1. Stufe um 1 und bei jedem Stufenaufstieg in dieser Klasse um 1 weiteren Punkt.</p>
<p>Darüber hinaus sind Teile deiner Haut mit einer dünnen Schicht drachenartiger Schuppen bedeckt.</p>
<p>Wenn du keine Rüstung trägst, beträgt deine RK13 + dein Geschicklichkeitsmodifikator.</p>
<h5>Elementare Affinität</h5>
<p>Ab der 6. Stufe kannst du deinen Charismamodifikator zu einem Schadenswurf dieses Zaubers hinzuaddieren, wenn du einen Zauber wirkst, der Schaden, der mit deiner drakonischen Abstammung verbundenen Art, verursacht. Zudem kannst du 1 Zaubereipunkt verbrauchen, um eine Stunde lang gegen diese Schadensart resistent zu sein.</p>
<h5>Drachenflügel</h5>
<p>Auf der 14. Stufe erlangst du die Fähigkeit, dir als Bonusaktion in deinem Zug Drachenflügel wachsen zu lassen, die dir eine Flugbewegungsrate entsprechend deiner aktuellen Bewegungsrate ermöglichen. Die Flügel bleiben bestehen, bis du sie als Bonusaktion in deinem Zug wieder verschwinden lässt</p>
<p>Du kannst dir keine Flügel wachsen lassen, wenn du eine Rüstung trägst, die nicht speziell dafür angefertigt wurde. Kleidung, die nicht auf die Flügel angepasst wurde, wird zerstört.</p>
<h5>Drakonische Präsenz</h5>
<p>Ab der 18. Stufe kannst du die grässliche Präsenz deines Drachenvorfahren kanalisieren, um alle um dich herum zu beeindrucken oder zu verängstigen. Als Aktion kannst du fünf Zaubereipunkte verbrauchen, um diese Kraft zu nutzen und in einem Umkreis von 18 Metern um dich eine Aura der Ehrfurcht oder Furcht (deine Wahl) zu erschaffen. Eine Minute lang oder bis du deine Konzentration verlierst (als würdest du dich auf einen Zauber konzentrieren) muss jede feindlich gesinnte Kreatur, die ihren Zug in dieser Aura beginnt, einen Weisheitsrettungswurf bestehen oder sie ist bezaubert (falls du Ehrfurcht gewählt hast) oder verängstigt (bei Furcht), bis die Aura endet. Bei einem erfolgreichen Rettungswurf ist die Kreatur 24 Stunden lang gegen deine Aura immun.</p>