<h3 id="wahnsinn">Wahnsinn</h3>
<p>In einer normalen Kampagne werden die Charaktere nicht durch die erlebten Schrecken und das Blutbad, das sie Tag für Tag anrichten, in den Wahnsinn getrieben. Manchmal kann der Stress des Abenteuerlebens jedoch zu viel werden. Wenn deine Kampagne ein ausgeprägtes Horror-Thema hat, kannst du Wahnsinn verwenden, um dieses Thema zu verstärken und die außerordentlich schreckliche Natur der Bedrohungen hervorzuheben, auf die die Abenteurer treffen.</p>
<h4>Dem Wahnsinn verfallen</h4>
<p>Verschiedene magische Effekte können einen ansonsten gesunden Verstand in den Wahnsinn treiben. Bestimmte Zauber wie <a class="spell" href="#spell-kontakt-zu-anderen-ebenen">Kontakt zu anderen Ebenen</a> und <a class="spell" href="#spell-symbol">Symbol</a> können Wahnsinn verursachen. Du kannst die hier genannten Regeln zum Wahnsinn anstelle der Zaubereffekte dieser Zauber verwenden. Krankheiten, Gifte und andere Ebeneneffekte wie psychischer Wind oder die heulenden Winde aus Pandämonium können Wahnsinn auslösen. Auch einige Artefakte können die Psyche eines Charakters brechen, der sie benutzt oder sich auf sie einstimmt</p>
<p>Um einem Effekt zu widerstehen, der Wahnsinn verursacht, wird meist ein Weisheits- oder Charismarettungswurf benötigt.</p>
<h4>Effekte des Wahnsinns</h4>
<p>Wahnsinn kann kurzfristig, langfristig oder dauerhaft sein. Die meisten relativ banalen Effekte verursachen kurzfristigen Wahnsinn, der nur ein paar Minuten anhält Schrecklichere oder kumulative Effekte können zu langfristigem oder dauerhaftem Wahnsinn führen.</p>
<p>Ein Charakter, der unter <span class="feature-name">kurzfristigem Wahnsinn </span>leidet, erhält 1W10 Minuten lang einen Effekt aus der Tabelle „Kurzfristiger Wahnsinn&quot;.</p>
<p>Ein Charakter, der unter <span class="feature-name">langfristigem Wahnsinn </span>leidet, erhält IWIOxIO Stunden lang einen Effekt aus der Tabelle „Langfristiger Wahnsinn&quot;.</p>
<p>Ein Charakter, der unter <span class="feature-name">dauerhaftem Wahnsinn </span>leidet erhält so lange einen neuen Makel aus der Tabelle „Dauerhafter Wahnsinn&quot;, bis dieser geheilt wird.</p>
<h5>Kurzfristiger Wahnsinn</h5>

<table id="table-kurzfristiger-wahnsinn">
<tr>
    <th>W100</th>
    <th>Effekt (Hält 1W10 Minuten an)</th>
</tr>
<tr><td>1-20</td><td>Der Charakter zieht sich in seinen Geist zurück und ist gelähmt. Der Effekt endet, wenn der Charakter Schaden erleidet.</td></tr>
<tr><td>21-30</td><td>Der Charakter wird kampfunfähig und verbringt die Wirkungsdauer schreiend, lachend oder weinend.</td></tr>
<tr><td>31-40</td><td>Der Charakter wird verängstigt und muss in jeder Runde seine Aktion und seine Bewegungsrate verwenden, um von der Quelle der Furcht zu fliehen.</td></tr>
<tr><td>41-50</td><td>Der Charakter beginnt zu brabbeln und kann weder normal sprechen noch Zauber wirken.</td></tr>
<tr><td>51-60</td><td>Der Charakter muss in jeder Runde seine Aktion verwenden, um die Kreatur anzugreifen, die ihm am nächsten ist.</td></tr>
<tr><td>61-70</td><td>Der Charakter erlebt wilde Halluzinationen und ist bei Attributswürfen im Nachteil.</td></tr>
<tr><td>71-75</td><td>Der Charakter tut alles, was man ihm befiehlt, sofern es nicht offensichtlich selbstzerstörerisch ist.</td></tr>
<tr><td>76-80</td><td>Der Charakter verspürt den überwältigenden Drang, etwas Seltsames wie Erde, Schleim oder Abfall zu essen.</td></tr>
<tr><td>81-90</td><td>Der Charakter ist betäubt.</td></tr>
<tr><td>91-100</td><td>Der Charakter wird bewusstlos.</td></tr>
</table>

<h5>Langfristiger Wahnsinn</h5>
<table id="table-langfristiger-wahnsinn">
<tr>
    <th>W100</th>
    <th>Effekt (Hält 1W10x10 Stunden an)</th>
</tr>
<tr><td>1-10  </td><td>Der Charakter verspürt den Drang, eine bestimmte Aktivität immer und immer wieder zu wiederholen, beispielsweise seine Hände zu waschen, Dinge zu berühren, zu beten oder Münzen zu zählen.</td></tr>
<tr><td>11-20 </td><td>Der Charakter erlebt wilde Halluzinationen und ist bei Attributswürfen im Nachteil.</td></tr>
<tr><td>21-30 </td><td>Der Charakter leidet unter extremer Paranoia. Er ist bei Weisheits- und Charismawürfen im Nachteil.</td></tr>
<tr><td>31-40 </td><td>Der Charakter empfindet etwas (meist die Quelle des Wahnsinns) als abscheulich, als stünde er unter dem Effekt <em>Antipathie</em> des Zaubers <a class="spell" href="#spell-antipathie-sympathie">Antipathie/Sympathie</a>.</td></tr>
<tr><td>41-45 </td><td>Der Charakter erleidet eine Wahnvorstellung. Wähle einen Trank. Der Charakter bildet sich ein, unter dessen Effekt zu stehen.</td></tr>
<tr><td>46-55 </td><td>Der Charakter ist auf einen „Glücksbringer&quot; fixiert, etwa eine Person oder ein Gegenstand. Befindet er sich mehr als neun Meter davon entfernt, ist er bei Angriffs-, Attributs- und Rettungswürfen im Nachteil.</td></tr>
<tr><td>56-65 </td><td>Der Charakter ist blind (25 %) oder taub (75 %).</td></tr>
<tr><td>66-75 </td><td>Der Charakter erlebt unkontrolliertes Zittern oder Ticks, durch die er bei Angriffs-, Attributs- und Rettungswürfen im Nachteil ist, die mit Stärke oder Geschicklichkeit zu tun haben.</td></tr>
<tr><td>76-85 </td><td>Der Charakter leidet an partieller Amnesie. Der Charakter weiß, wer er ist, und behält seine Volks- und Klassenmerkmale, erkennt jedoch keine anderen Personen und erinnert sich an nichts, was vor dem Wahnsinn geschehen ist.</td></tr>
<tr><td>86-90 </td><td>Immer, wenn der Charakter Schaden erleidet, muss er einen SG-15-Weisheitsrettungswurf bestehen, oder er erleidet die Auswirkungen eines gescheiterten Rettungswurfs gegen den Zauber <a class="spell" href="#spell-verwirrung">Verwirrung</a>. Die Verwirrung hält eine Minute lang an.</td></tr>
<tr><td>91-95 </td><td>Der Charakter kann nicht mehr sprechen.</td></tr>
<tr><td>96-100</td><td>Der Charakter wird bewusstlos. Kein Rütteln und kein noch so hoher Schaden kann ihn aufwecken.</td></tr>
</table>

<h5>Dauerhafter Wahnsinn</h5>
<table id="table-dauerhafter-wahnsinn">
<tr>
    <th>W100</th>
    <th>Makel (hält an, bis er geheilt wird)</th>
</tr>
<tr><td>1-15  </td><td>„Betrunken zu sein hält mich bei Verstand.“</td></tr>
<tr><td>16-25 </td><td>„Ich behalte alles, was ich finde.“</td></tr>
<tr><td>26-30 </td><td>„Ich versuche, wie eine andere Person zu werden, die ich kenne. Ich übernehme ihren Kleidungsstil, ihr Verhalten und ihren Namen.“</td></tr>
<tr><td>31-35 </td><td>„Ich muss flunkern, übertreiben oder lügen, um für andere interessant zu sein.“</td></tr>
<tr><td>36-45 </td><td>„Mein Ziel zu erreichen ist das Einzige, was zählt, und dafür ignoriere ich alles andere.“</td></tr>
<tr><td>46-50 </td><td>„Es fällt mir schwer, mich für Dinge zu interessieren, die um mich herum geschehen.“</td></tr>
<tr><td>51-55 </td><td>„Mir gefällt es nicht, wie Personen ständig über mich urteilen.“</td></tr>
<tr><td>56-70 </td><td>„Ich bin die klügste, weiseste, stärkste, schnellste und schönste Person, die ich kenne.“</td></tr>
<tr><td>71-80 </td><td>„Ich bin davon überzeugt, dass ich von mächtigen Feinden gejagt werde. Ihre Agenten sind überall. Ich bin sicher, dass sie mich ständig beobachten.“</td></tr>
<tr><td>81-85 </td><td>„Es gibt nur eine Person, der ich vertrauen kann. Und nur ich kann diesen besonderen Freund sehen.“</td></tr>
<tr><td>86-95 </td><td>„Ich kann nichts ernst nehmen. Je ernster die Situation ist, desto lustiger finde ich sie.“</td></tr>
<tr><td>96-100</td><td>„Ich habe entdeckt, dass ich wirklich gerne Leute umbringe.“</td></tr>
</table>

<h4>Wahnsinn heilen</h4>
<p>Der Zauber <a class="spell" href="#spell-gefuehle-besaenftigen">Gefühle besänftigen</a> kann den Wahnsinn unterdrücken, während der Zauber <a class="spell" href="#spell-schwache-genesung">Schwache Genesung</a> einen Charakter von kurz- oder langfristigem Wahnsinn heilen kann. Je nachdem, woher der Wahnsinn stammt, kann <a class="spell" href="#spell-fluch-brechen">Fluch brechen</a> oder <a class="spell" href="#spell-gutes-und-boeses-bannen">Gutes und Böses bannen</a> ebenfalls effektiv sein. Nur der Zauber <a class="spell" href="#spell-vollstaendige-genesung">Vollständige Genesung</a> oder mächtigere Magie können einen Charakter von dauerhaftem Wahnsinn befreien.</p>