<h2 id="talente">Talente</h2>
<p>Ein Talent repräsentiert eine Expertise, die einem Charakter besondere Fähigkeiten verleiht.</p>
<p>Es verkörpert Ausbildung, Erfahrung und Können, die über die jeweilige Klasse hinausgehen.</p>
<p>Auf bestimmten Stufen gewährt dir deine Klasse das Merkmal Attributswerterhöhung. Mit der Regel für optionale Talente kannst du statt diesem Merkmal ein Talent deiner Wahl erhalten. Du kannst jedes Talent nur einmal erhalten, es sei denn, die Beschreibung des Talents besagt etwas anderes.</p>
<p>Dazu musst du alle Voraussetzungen erfüllen, die für dieses Talent angegeben sind. Wenn du eine Voraussetzung für ein Talent verlierst, kannst du dieses Talent erst wieder nutzen, wenn du die Voraussetzung zurückerhältst. Beispiel: Für das Talent Ringer wird ein Stärkewert von mindestens 13 benötigt. Wenn deine Stärke auf irgendeine Weise unter 13 sinkt - beispielsweise durch einen vernichtenden Fluch - kannst du nicht vom Talent Ringer profitieren, bis deine Stärke wiederhergestellt wurde.</p>
<h4>Ringer</h4>
<p><span class="nameref">Voraussetzung: Mindestens Stärke 13</span></p>
<p>Du hast die nötigen Fertigkeiten entwickelt, um dich im Nahkampf zu behaupten. Du erhältst folgende Vorteile:</p>
<ul><li> Du bist bei Angriffswürfen gegen eine Kreatur, die du gepackt hast, im Vorteil.</li>
<li> Du kannst eine Aktion verwenden, um zu versuchen, eine von dir gepackte Kreatur niederzudrücken. Dazu musst du einen weiteren Ringenwurf ausführen. Bei einem Erfolg sind die Kreatur und du festgesetzt, bis sich das Ziel befreit hat.</li></ul>