<h2 id="ausruestung">Ausrüstung</h2>
<p>Gängige Münzen gibt es in verschiedenen Nennwerten, basierend auf dem relativen Wert des Metalls, aus dem sie gefertigt wurden. Die drei häufigsten Münzen sind die Goldmünze (GM), die Silbermünze (SM), und die Kupfermünze (KM).</p>
<p>Mit einer Goldmünze kann ein Charakter einen Schlafsack, 15 Meter hochwertiges Seil oder eine Ziege kaufen. Ein begabter - aber nicht außergewöhnlicher -Handwerker kann eine Goldmünze pro Tag verdienen. Die Goldmünze zählt als Standardeinheit für den Wert von Reichtümern, obwohl die Münze selbst nicht in großen Mengen im Umlauf ist. Wenn Händler Geschäfte verhandeln, bei denen die Waren oder Dienstleistungen Hunderte oder Tausende Goldmünzen wert sind, werden üblicherweise nicht tatsächlich einzelne Münzen ausgetauscht Stattdessen ist die Goldmünze ein Standardmaß für den Wert, während die eigentliche Zahlung mit Goldbarren, Bürgschaften oder wertvollen Waren erfolgt.</p>
<p>Eine Goldmünze ist zehn Silbermünzen wert. Silbermünzen sind die unter Gemeinen am meisten genutzte Münzart. Eine Silbermünze entspricht dem Wert der Arbeitskraft eines Arbeiters für einen halben Tag, einer Flasche Lampenöl oder einer Nacht Rast in einem schlechten Gasthaus.</p>
<p>Eine Silbermünze ist zehn Kupfermünzen wert. Kupfermünzen sind unter Arbeitern und Bettlern üblich. Eine Kupfermünze entspricht dem Wert einer Kerze, einer Fackel oder einem Stück Kreide.</p>
<p>Außerdem gibt es noch unüblichere Münzen, die aus anderen wertvollen Metallen gefertigt sind und manchmal in Schatzhorten vorkommen. Die Elektrummünze (EM) und die Platinmünze (PM) stammen aus untergegangenen Königreichen und gefallenen Imperien. Sie erregen oft Verdacht oder Misstrauen, wenn sie im Handel eingesetzt werden. Eine Elektrummünze ist fünf Silbermünzen wert, eine Platinmünze ist zehn Goldmünzen wert.</p>
<p>Eine gewöhnliche Münze wiegt etwa zehn Gramm, 50 Münzen wiegen also ein halbes Kilogramm.</p>

<h5>Standardwechselkurse</h5>
<table id="table-standardwechselkurse">
<tr><th>Münze</th>
<th>KM</th>
<th>SM</th>
<th>EM</th>
<th>GM</th>
<th>PM</th></tr>
<tr><td>Kupfer (KM)</td><td>1</td><td>1/10</td><td>1/50</td><td>1/100</td><td>1/1.000</td></tr>
<tr><td>Silber (SM)</td><td>10</td><td>1</td><td>1/5</td><td>1/10</td><td>1/100</td></tr>
<tr><td>Elektrum (EM)</td><td>50</td><td>5</td><td>1</td><td>1/2</td><td>1/20</td></tr>
<tr><td>Gold (GM)</td><td>100</td><td>10</td><td>2</td><td>1</td><td>1/10</td></tr>
<tr><td>Platin (PM)</td><td>1.000</td><td>100</td><td>20</td><td>10</td><td>1</td></tr>
</table>
<h3 id="schaetze-verkaufen">Schätze verkaufen</h3>
<p>In den Gewölben, die du erkundest, sind jede Menge Schätze, Ausrüstungsgegenstände, Waffen, Rüstungen und so weiter zu finden. Normalerweise kannst du Schätze und Requisiten verkaufen, wenn du in eine Stadt oder eine Siedlung zurückkehrst. Du musst dort nur Käufer und Händler finden, die an deiner Beute interessiert sind.</p>
<p><span class="trait-name">Waffen, Rüstungen und andere Ausrüstung: </span>Als allgemeine Regel erzielen unbeschädigte Waffen, Rüstungen und andere Ausrüstungsgegenstände die Hälfte ihres Listenpreises, wenn sie auf dem Markt verkauft werden. Waffen und Rüstungen, die von Monstern benutzt wurden, sind selten in einem ausreichend guten Zustand, um sie zu verkaufen.</p>
<p><span class="trait-name">Magische Gegenstände:</span> Der Verkauf von magischen Gegenständen ist problematisch. Es ist nicht allzu kompliziert, jemanden zu finden, der einen Trank oder eine Schriftrolle kaufen möchte. Andere Gegenstände sind allerdings nur für die reichsten Adeligen erschwinglich. Dementsprechend werden normalerweise keine magischen Gegenstände oder Zauber zum Kauf angeboten - von einigen gewöhnlichen magischen Gegenständen abgesehen. Der Wert von Magie übersteigt den von einfachem Gold um ein Vielfaches und sollte dementsprechend behandelt werden.</p>
<p><span class="trait-name">Edelsteine, Schmuck und Kunstgegenstände: </span>Diese Gegenstände behalten ihren Wert, wenn sie gehandelt werden. Du kannst sie gegen Münzen verkaufen oder bei anderen Geschäften als Währung einsetzen. Bei besonders wertvollen Schätzen kann der SL verlangen, dass du erst einen Käufer in einer größeren Stadt oder größeren Ortschaft ausfindig machst.</p>
<p><span class="trait-name">Waren handeln:</span> In den Grenzgebieten dominiert der Tauschhandel. Handelswaren - Eisenbarren, Säcke voller Salz, Vieh und dergleichen - behalten ebenso wie Edelsteine und Kunstgegenstände ihren vollen Marktwert und können als Währung verwendet werden.</p>
<h3 id="ruestung">Rüstung</h3>
<p>Fantasy-Spielwelten sind ein riesiger Flickenteppich aus vielen verschiedenen Kulturen mit unterschiedlichen technologischen Entwicklungsstufen. Dadurch haben Abenteurer Zugang zu allen möglichen Rüstungsarten. Von Lederrüstungen über Kettenpanzer und teure Ritterrüstungen bis hin zu allen möglichen Mischvarianten ist alles zu finden. Die Tabelle „Rüstungen&quot; fasst die gängigsten Rüstungsarten im Spiel zusammen und unterteilt sie in drei</p>
<p>Kategorien: leichte Rüstung, mittelschwere Rüstung und schwere Rüstung. Viele Krieger ergänzen ihre Rüstung mit einem Schild.</p>
<p>Die Tabelle „Rüstungen&quot; fasst Kosten, Gewicht und andere Eigenschaften der in Fantasy-Spielwelten üblichen Rüstungsarten zusammen.</p>
<p><span class="trait-name">Übung mit Rüstungen:</span> Jeder kann eine Rüstung anlegen oder sich einen Schild an den Arm schnallen. Nur wer im Tragen von Rüstungen geübt ist, weiß jedoch, wie man sie effektiv einsetzt. Deine Klasse vermittelt dir Übung mit bestimmten Arten von Rüstungen. Falls du eine Rüstung trägst, in deren Gebrauch du nicht geübt bist, bist du bei jedem Attributswurf, Rettungswurf oder Angriffswurf, der mit Stärke oder Geschicklichkeit zu tun hat, im Nachteil und du kannst keine Zauber wirken.</p>
<p><span class="trait-name">Rüstungsklasse (RK):</span> Eine Rüstung schützt ihren Träger vor Angriffen. Deine Basis-Rüstungsklasse wird von der getragenen Rüstung (und dem Schild) bestimmt.</p>
<p><span class="trait-name">Schwere Rüstung:</span> Schwerere Rüstung beeinträchtigt den Träger bei schnellen und leisen Bewegungen und schränkt die Bewegungsfreiheit ein. Ist in der Spalte „Stärke&quot; der Tabelle „Rüstungen&quot; „STR 13&quot; oder „STR 15&quot; angegeben, reduziert die Rüstung die Bewegungsrate des Trägers um drei Meter, es sei denn, er besitzt einen mindestens entsprechenden Stärkewert</p>
<p><span class="trait-name">Heimlichkeit:</span> Wenn in der Tabelle „Rüstungen&quot; in der Spalte „Heimlichkeit&quot; das Wort „Nachteil&quot; steht, ist der Träger bei Geschicklichkeitswürfen (Heimlichkeit) im Nachteil.</p>
<p><span class="trait-name">Schilde:</span> Schilde werden aus Holz oder Metall gefertigt und in einer Hand getragen. Wenn du einen Schild trägst, steigt deine Rüstungsklasse um 2. Du kannst nur von jeweils einem Schild profitieren.</p>
<h4>Leichte Rüstung</h4>
<p>Leichte Rüstungen sind aus geschmeidigen und dünnen Materialien gefertigt. Sie sind besonders für wendige Abenteurer geeignet, weil sie etwas Schutz bieten, ohne die Bewegungsfreiheit einzuschränken. Wenn du leichte Rüstung trägst, addiere deinen Geschicklichkeitsmodifikator zur in der Tabelle angegebenen Zahl, um deine Rüstungsklasse zu bestimmen.</p>
<p><span class="trait-name">Gepolstert:</span> Gepolsterte Rüstungen bestehen aus gesteppten Stoff- und Wattelagen.</p>
<p><span class="trait-name">Leder:</span> Die Brustplatte und Schulterstücke dieser Rüstung sind aus Leder gefertigt, das in Öl gekocht wurde, um es zu härten. Der Rest der Rüstung besteht aus weicheren und flexibleren Materialien.</p>
<p><span class="trait-name">Beschlagenes Leder:</span> Beschlagenes Leder besteht aus widerstandsfähigem, aber flexiblem Leder, das mit dicht gesetzten Nieten oder Stiften verstärkt wurde.</p>
<h4>Mittelschwere Rüstung</h4>
<p>Eine mittelschwere Rüstung bietet mehr Schutz als leichte Rüstung, behindert aber die Bewegungsfreiheit mehr. Wenn du mittelschwere Rüstung trägst, addiere deinen Geschicklichkeitsmodifikator (allerdings nur bis zu einem Maximum von +2) zur in der Tabelle angegebenen Zahl, um deine Rüstungsklasse zu bestimmen.</p>
<p><span class="trait-name">Fell:</span> Diese grobe Rüstung besteht aus dicken Fellen und Pelzen. Sie wird häufig von Barbarenstämmen, bösen Humanoiden und anderen Individuen getragen, denen die Werkzeuge und Materialien zur Herstellung besserer Rüstungen fehlen.</p>
<p><span class="trait-name">Kettenhemd:</span> Ein Kettenhemd besteht aus ineinandergreifenden Metallringen und wird zwischen Kleidungs- oder Lederschichten getragen. Diese Rüstung bietet dem Träger einen gewissen Schutz für den Oberkörper, während die äußeren Kleidungsschichten den Klang der aneinanderreibenden Ringe dämpfen.</p>
<p><span class="trait-name">Schuppenpanzer:</span> Diese Rüstung besteht aus einem Mantel und Beinlingen (sowie eventuell aus einem zusätzlichen Rock) aus Leder, die mit überlappenden Metallplatten im Schuppenmuster bedeckt sind. Zum Panzer gehören auch Handschuhe.</p>
<p><span class="trait-name">Brustplatte:</span> Diese Rüstung besteht aus einem maßgefertigten Brustpanzer aus Metall, der mit weichem Leder getragen wird. Arme und Beine des Trägers bleiben zwar relativ ungeschützt, doch diese Rüstung schützt die lebenswichtigen Organe des Trägers, ohne dessen Bewegungsfreiheit allzu sehr einzuschränken.</p>
<p><span class="trait-name">Plattenpanzer:</span> Ein Plattenpanzer besteht aus geformten Metallplatten, die den Großteil des Körpers bedecken. Die Beine werden allerdings nur durch einfache Beinschienen geschützt, die mit Lederriemen befestigt sind.</p>
<h4>Schwere Rüstung</h4>
<p>Von allen Rüstungskategorien bietet schwere Rüstung den besten Schutz. Diese Rüstungen bedecken den gesamten Körper und wurden entwickelt, um eine Vielzahl von Angriffen abzuwehren. Nur geübte Krieger können diese schweren und sperrigen Rüstungen effektiv nutzen.</p>
<p>Trägst du schwere Rüstung, darfst du deinen Geschicklichkeitsmodifikator nicht auf deine Rüstungsklasse anrechnen. Allerdings kannst du auch keine Abzüge bekommen, falls dein Geschicklichkeitsmodifikator negativ ist.</p>
<p><span class="trait-name">Ringpanzer:</span> Diese Rüstung ist eine Lederrüstung, in die schwere Ringe eingenäht wurden. Die Ringe helfen, die Rüstung gegen Schwert- und Axthiebe zu verstärken. Ringpanzer sind weniger effektiv als Kettenpanzer und werden üblicherweise von jenen getragen, die sich keine bessere Rüstung leisten können.</p>
<p><span class="trait-name">Kettenpanzer:</span> Ein Kettenpanzer besteht aus ineinandergreifenden Metallringen und einer Schicht gesteppten Stoffes, die unter der Kettenschicht getragen wird, um Scheuerstellen zu verhindern und Schläge und Hiebe abzufedern. Zum Panzer gehören auch Handschuhe.</p>
<p><span class="trait-name">Schienenpanzer:</span> Diese Rüstung besteht aus schmalen, länglichen Metallstreifen, die auf eine Lederschicht genietet sind und über einer wattierten Kleidungsschicht getragen werden. Ein flexibler Kettenpanzer schützt die Gelenke.</p>
<p><span class="trait-name">Ritterrüstung:</span> Eine Ritterrüstung besteht aus geformten, ineinandergreifenden Metallplatten, die den ganzen Körper bedecken. Zur Ritterrüstung gehören Handschuhe, schwere Lederstiefel, ein Helm mit Visier und eine dicke Wattierung unter der Rüstung. Schnallen und Riemen verteilen das Gewicht über den Körper.</p>
<h4>Rüstungen an- und ablegen</h4>
<p>Wie lange es dauert, eine Rüstung an- und abzulegen, hängt von der Rüstungskategorie ab.</p>
<p><span class="trait-name">Anlegen:</span> Dies ist die Zeit, die zum Anlegen der Rüstung benötigt wird. Du profitierst erst von der RK der Rüstung, nachdem du die notwendige Zeit mit dem vollständigen Anlegen der Rüstung verbracht hast.</p>
<p><span class="trait-name">Ablegen:</span> Dies ist die Zeit, die zum Ablegen der Rüstung benötigt wird. Wenn dir jemand hilft, brauchst du nur halb so lange.</p>
<h5>Rüstung an- und ablegen</h5>
<table id="table-ruestung-an--und-ablegen">
<tr><th>Kategorie</th>
<th>Anlegen</th>
<th>Ablegen</th></tr>
<tr><td>Leichte Rüstung</td><td>1 Minute</td><td>1 Minute</td></tr>
<tr><td>Mittelschwere Rüstung</td><td>5 Minuten</td><td>1 Minute</td></tr>
<tr><td>Schwere Rüstung</td><td>10 Minuten</td><td>5 Minuten</td></tr>
<tr><td>Schild</td><td>1 Aktion</td><td>1 Aktion</td></tr>
</table>
<h5>Rüstung</h5>
<table id="table-ruestung">
<tr><th>Rüstung</th>
<th>Kosten</th>
<th>Rüstungsklasse (RK)</th>
<th>Stärke</th>
<th>Heimlichkeit</th>
<th>Gewicht</th></tr>
<tr><td colspan="6"><span class="nameref">Leichte Rüstung</span></td></tr>
<tr><td>Gepolstert</td><td>5 GM</td><td>11 + GES-Modifikator</td><td>-</td><td>Nachteil</td><td>4 kg</td></tr>
<tr><td>Leder</td><td>10 GM</td><td>11 + GES-Modifikator</td><td>-</td><td>-</td><td>5 kg</td></tr>
<tr><td>Beschlagenes Leder</td><td>45 GM</td><td>12 + GES-Modifikator</td><td>-</td><td>-</td><td>6,5 kg</td></tr>
<tr><td colspan="6"><span class="nameref">Mittelschwere Rüstung</span></td></tr>
<tr><td>Fell</td><td>10 GM</td><td>12 + GES-Modifikator (max. 2)</td><td>-</td><td>-</td><td>6 kg</td></tr>
<tr><td>Kettenhemd</td><td>50 GM</td><td>13 + GES-Modifikator (max. 2)</td><td>-</td><td>-</td><td>10 kg</td></tr>
<tr><td>Schuppenpanzer</td><td>50 GM</td><td>14 + GES-Modifikator (max. 2)</td><td>-</td><td>Nachteil</td><td>22,5 kg</td></tr>
<tr><td>Brustplatte</td><td>400 GM</td><td>14 + GES-Modifikator (max. 2)</td><td>-</td><td>-</td><td>10 kg</td></tr>
<tr><td>Plattenpanzer</td><td>750 GM</td><td>15 + GES-Modifikator (max. 2)</td><td>-</td><td>Nachteil</td><td>20 kg</td></tr>
<tr><td colspan="6"><span class="nameref">Schwere Rüstung</span></td></tr>
<tr><td>Ringpanzer</td><td>30 GM</td><td>14</td><td>-</td><td>Nachteil</td><td>20 kg</td></tr>
<tr><td>Kettenpanzer</td><td>75 GM</td><td>16</td><td>STR 13</td><td>Nachteil</td><td>27,5 kg</td></tr>
<tr><td>Schienenpanzer</td><td>200 GM</td><td>17</td><td>STR 15</td><td>Nachteil</td><td>30 kg</td></tr>
<tr><td>Ritterrüstung</td><td>1.500 GM</td><td>18</td><td>STR 15</td><td>Nachteil</td><td>32,5 kg</td></tr>
<tr><td colspan="6"><a class="spell" href="#spell-schild">Schild</a></td></tr>
<tr><td>Schild</td><td>10 GM</td><td>+2</td><td>-</td><td>-</td><td>3 kg</td></tr>
</table>
<h3 id="waffen">Waffen</h3>
<p>Deine Klasse verleiht dir Übung im Umgang mit bestimmten Waffen, was sowohl den Fokus deiner Klasse widerspiegelt als auch ein Hinweis darauf ist, welche Werkzeuge du wahrscheinlich benutzen wirst. Egal, ob du lieber zum Langschwert oder zum Langbogen greifst: Deine Waffe und dein Geschick im Umgang damit können im Laufe deiner Abenteuer den Unterschied zwischen Leben und Tod ausmachen.</p>
<p>Die Tabelle „Waffen&quot; enthält die gängigsten in Fantasy-Spielwelten verwendeten Waffen, deren Preis und Gewicht, den Schaden, den sie bei einem Treffer zufügen, sowie spezielle Eigenschaften. Jede Waffe wird entweder als Nahkampf- oder Fernkampfwaffe eingestuft. <span class="feature-name">Nahkampfwaffen </span>werden beim Angreifen von Gegnern verwendet, die höchstens 1,5 Meter entfernt sind, mit <span class="feature-name">Fernkampfwaffen </span>kannst du weiter entfernte Ziele angreifen.</p>
<h4>Übung mit Waffen</h4>
<p>Dein Volk, deine Klasse und deine Talente verleihen dir Übung im Umgang mit bestimmten Waffen oder Waffenkategorien. Die beiden Kategorien sind <span class="feature-name">einfache </span>und <span class="feature-name">Kriegswaffen. </span>Die meisten Individuen sind im Umgang mit einfachen Waffen geübt. Zu diesen Waffen gehören Knüppel, Streitkolben und andere Waffen, die häufig von Gemeinen verwendet werden. Kriegswaffen wie Schwerter, Äxte und Stangenwaffen können erst nach einer entsprechenden Ausbildung effektiv eingesetzt werden. Die meisten Krieger verwenden Kriegswaffen, da diese Waffen am besten zu ihrem Kampfstil und ihrer Ausbildung passen.</p>
<p>Wenn du im Umgang mit einer Waffe geübt bist, kannst du deinen Übungsbonus zu jedem Angriffswurf mit dieser Waffe addieren. Wenn du einen Angriffswurf mit einer Waffe ausführst, in deren Umgang du nicht geübt bist, kannst du deinen Übungsbonus nicht zum Angriffswurf addieren.</p>
<h4>Waffeneigenschaften</h4>
<p>Die speziellen Eigenschaften aller Waffen bei deren Einsatz sind in der Tabelle „Waffen&quot; aufgeführt.</p>
<p><span class="trait-name">Besonders:</span> Für eine Waffe mit der Eigenschaft Besonders gelten besondere Regeln zur Nutzung, die in der Waffenbeschreibung erklärt werden (siehe „Besondere Waffen&quot; weiter unten in diesem Abschnitt),</p>
<p><span class="trait-name">Finesse:</span> Wenn du mit einer Waffe mit Finesse angreifst, hast du bei Angriffs- und Schadenswürfen die Wahl zwischen deinem Stärke- oder Geschicklichkeitsmodifikator. Du musst allerdings bei beiden Würfen denselben Modifikator verwenden.</p>
<p><span class="trait-name">Geschosse:</span> Du kannst eine Waffe mit der Geschosse-Eigenschaft nur für einen Fernkampfangriff verwenden, wenn du über entsprechende Geschosse verfügst, um mit der Waffe zu schießen. Jedes Mal, wenn du mit der Waffe angreifst, verbrauchst du Geschosse. Diese aus dem Köcher, Beutel oder anderem Behälter zu ziehen, ist Teil des Angriffs. Zum Laden einer Einhandwaffe muss die andere Hand frei sein. Am Ende des Kampfes kannst du das Schlachtfeld nach der Hälfte der verbrauchten Geschosse absuchen.</p>
<p>Wenn du eine Waffe mit dieser Eigenschaft im Nahkampf verwendest, wird sie wie eine improvisierte Waffe behandelt (siehe „Improvisierte Waffen&quot; weiter unten in diesem Abschnitt). Eine Schleuder muss geladen sein, damit du im Nahkampf Schaden damit verursachen kannst</p>
<p><span class="trait-name">Laden:</span> Da das Laden einer solchen Waffe lange dauert, kannst du mit einer Aktion, Bonusaktion oder Reaktion immer nur ein Geschoss abfeuern, unabhängig davon, wie viele Angriffe dir zur Verfügung stehen.</p>
<p><span class="trait-name">Leicht:</span> Leichte Waffen sind klein und einfach zu handhaben, wodurch sie ideal für den Kampf mit zwei Waffen geeignet sind.</p>
<p><span class="trait-name">Reichweite:</span> Bei einer Waffe, die für einen Fernkampfangriff genutzt werden kann, steht hinter der Eigenschaft Geschosse oder Wurfwaffe eine Reichweite in Klammern. Reichweite umfasst zwei Werte: Der erste ist die Grundreichweite der Waffe in Metern, der zweite die Maximalreichweite. Wenn du ein Ziel außerhalb der Grundreichweite angreifst, bist du beim Angriffswurf im Nachteil. Du kannst keine Ziele außerhalb der Maximalreichweite der Waffe angreifen.</p>
<p><span class="trait-name">Schwer:</span> Kleine Kreaturen sind bei Angriffswürfen mit schweren Waffen im Nachteil. Der Grund ist, dass die Größe und Masse der Waffen ihren effektiven Einsatz erschweren.</p>
<p><span class="trait-name">Vielseitig:</span> Diese Waffen können mit einer oder zwei Händen geführt werden. Der zweite Schadenswert in Klammern in der Beschreibung gilt, wenn die Waffe mit zwei Händen für einen Nahkampfangriff verwendet wird.</p>
<p><span class="trait-name">Weitreichend:</span> Mit dieser Waffe steigt die normale Angriffsreichweite um zusätzliche 1,5 Meter. Dies gilt auch für Gelegenheitsangriffe.</p>
<p><span class="trait-name">Wurfwaffe:</span> Du kannst Waffen mit dieser Eigenschaft werfen, um einen Fernkampfangriff auszuführen. Wenn die Waffe eine Nahkampfwaffe ist, verwendest du denselben Attributsmodifikator für diesen Angriffs- und Schadenswurf wie für einen Nahkampfangriff mit der Waffe. Wirfst du zum Beispiel ein Beil, verwendest du deine Stärke, und wenn du einen Dolch wirfst, kannst du entweder deine Stärke oder deine Geschicklichkeit verwenden, da der Dolch die Finesse-Eigenschaft hat.</p>
<p><span class="trait-name">Zweihändig:</span> Diese Waffen müssen mit zwei Händen geführt werden.</p>
<h5>Besondere Waffen</h5>
<p>Hier werden Waffen mit besonderen Regeln beschrieben.</p>
<p><span class="trait-name">Lanze:</span> Wenn du ein Ziel im Abstand von bis zu 1,5 Metern von dir mit einer Lanze angreifst, bist du im Nachteil. Außerdem muss eine Lanze mit zwei Händen geführt werden, wenn du nicht reitest.</p>
<p><span class="trait-name">Netz:</span> Eine höchstens große Kreatur, die mit einem Netz getroffen wird, ist festgesetzt, bis sie sich befreien kann oder befreit wird. Ein Netz hat keinen Einfluss auf formlose Kreaturen oder riesige beziehungsweise größere Kreaturen. Kreaturen können ihre Aktion verwenden, um einen SG-10-</p>
<p>Stärkewurf auszuführen und sich oder eine andere Kreatur in Reichweite bei einem Erfolg zu befreien. Werden dem Netz 5 Punkte Hiebschaden (RK10) zugefügt, wird die Kreatur ebenfalls befreit, ohne sie zu verletzen. Der Effekt endet und das Netz wird zerstört.</p>
<p>Wenn du eine Aktion, Bonusaktion oder Reaktion verwendest, um mit einem Netz anzugreifen, kannst du nur einen Angriff ausführen, egal, wie viele Angriffe du normalerweise ausführen könntest.</p>
<h5>Improvisierte Waffen</h5>
<p>Manchmal haben die Charaktere ihre Waffen nicht zur Hand, sodass sie improvisieren müssen. Eine improvisierte Waffe ist ein Gegenstand, der mit einer oder zwei Händen geführt werden kann: eine zerbrochene Flasche, ein Tischbein, eine Pfanne, ein Wagenrad oder ein toter Goblin.</p>
<p>Eine improvisierte Waffe ist einer richtigen Waffe häufig sehr ähnlich und kann als solche behandelt werden. Ein Tischbein ähnelt zum Beispiel einem Knüppel. Der SL kann entscheiden, dass ein Charakter, der im Umgang mit einer Waffe geübt ist, einen ähnlichen Gegenstand verwenden und seinen Übungsbonus addieren darf.</p>
<p>Andere Gegenstände verursachen 1W4 Schaden (der SL bestimmt die zum Gegenstand passende Schadensart). Wenn ein Charakter einen Nahkampfangriff mit einer Fernkampfwaffe ausführt oder eine Nahkampfwaffe wirft, die nicht die Eigenschaft „Wurfwaffe&quot; besitzt, verursacht die Waffe ebenfalls 1W4 Schaden. Eine improvisierte Wurfwaffe hat eine Grundreichweite von sechs Metern und eine Maximalreichweite von 18 Metern.</p>
<h5>Versilberte Waffen</h5>
<p>Manche Monster, die gegen nichtmagische Waffen immun oder resistent sind, sind anfällig für versilberte Waffen. Vorsichtige Abenteurer investieren daher einige Münzen, um ihre Waffen versilbern zu lassen. Es kostet 100 GM, eine einzelne Waffe oder zehn Geschosse versilbern zu lassen. Diese Kosten enthalten nicht nur den Preis für das notwendige Silber, sondern auch für die Zeit und Expertise, die erforderlich sind, um eine Waffe zu versilbern, ohne ihre Wirksamkeit zu beeinträchtigen.</p>

<h5>Waffen</h5>
<table id="table-waffen">
<tr><th>Name</th>
<th>Kosten</th>
<th>Schaden</th>
<th>Gewicht</th>
<th>Eigenschaften</th></tr>
<tr><td colspan="5"><span class="nameref">Einfache Nahkampfwaffen</span></td></tr>
<tr><td>Beil</td><td>5 GM</td><td>1W6 Hieb</td><td>1kg</td><td>Leicht, Wurfwaffe (Reichweite 6/18)</td></tr>
<tr><td>Dolch</td><td>2 GM</td><td>1W4 Stich</td><td>0,5 kg</td><td>Finesse, leicht, Wurfwaffe (Reichweite 6/18)</td></tr>
<tr><td>Kampfstab</td><td>2 SM</td><td>1W6 Wucht</td><td>2 kg</td><td>Vielseitig (1W8)</td></tr>
<tr><td>Knüppel</td><td>1SM</td><td>1W4 Wucht</td><td>1 kg</td><td>Leicht</td></tr>
<tr><td>Leichter Hammer</td><td>2 GM</td><td>1W4 Wucht</td><td>1kg</td><td>Leicht, Wurfwaffe (Reichweite 6/18)</td></tr>
<tr><td>Sichel</td><td>1 GM</td><td>1W4 Hieb</td><td>1 kg</td><td>Leicht</td></tr>
<tr><td>Speer</td><td>1 GM</td><td>1W6 Stich</td><td>1,5 kg</td><td>Vielseitig (1W8), Wurfwaffe (Reichweite 6/18)</td></tr>
<tr><td>Streitkolben</td><td>5 GM</td><td>1W6 Wucht</td><td>2 kg</td><td>-</td></tr>
<tr><td>Wurfspeer</td><td>5 SM</td><td>1W6 Stich</td><td>1kg</td><td>Wurfwaffe (Reichweite 9/36)</td></tr>
<tr><td>Zweihandknüppel</td><td>2 SM</td><td>1W8 Wucht</td><td>5 kg</td><td>Zweihändig</td></tr>
<tr><td colspan="5"><span class="nameref">Einfache Fernkampfwaffen</span></td></tr>
<tr><td>Armbrust (leicht)</td><td>25 GM</td><td>1W8 Stich</td><td>2,5 kg</td><td>Geschosse (Reichweite 24/96), laden, zweihändig</td></tr>
<tr><td>Kurzbogen</td><td>25 GM</td><td>1W6 Stich</td><td>1kg</td><td>Geschosse (Reichweite 24/96), zweihändig</td></tr>
<tr><td>Schleuder</td><td>1SM</td><td>1W4 Wucht</td><td>-</td><td>Geschosse (Reichweite 9/36)</td></tr>
<tr><td>Wurfpfeil</td><td>5 KM</td><td>1W4 Stich</td><td>125 g</td><td>Finesse, Wurfwaffe (Reichweite 6/18)</td></tr>
<tr><td colspan="5"><span class="nameref">Nahkampf-Kriegswaffen</span></td></tr>
<tr><td>Dreizack</td><td>5 GM</td><td>1W6 Stich</td><td>2 kg</td><td>Vielseitig (1W8), Wurfwaffe (Reichweite 6/18)</td></tr>
<tr><td>Flegel</td><td>10 GM</td><td>1W8 Wucht</td><td>1 kg</td><td>-</td></tr>
<tr><td>Glefe</td><td>20 GM</td><td>1W10 Hieb</td><td>3 kg</td><td>Schwer, weitreichend, zweihändig</td></tr>
<tr><td>Hellebarde</td><td>20 GM</td><td>1W10 Hieb</td><td>3 kg</td><td>Schwer, weitreichend, zweihändig</td></tr>
<tr><td>Kriegshammer</td><td>15 GM</td><td>1W8 Wucht</td><td>1 kg</td><td>Vielseitig (1W10)</td></tr>
<tr><td>Kriegspicke</td><td>5 GM</td><td>1W8 Stich</td><td>1 kg</td><td>-</td></tr>
<tr><td>Krummsäbel</td><td>25 GM</td><td>1W6 Hieb</td><td>1,5 kg</td><td>Finesse, leicht</td></tr>
<tr><td>Kurzschwert</td><td>10 GM</td><td>1W6 Stich</td><td>1 kg</td><td>Finesse, leicht</td></tr>
<tr><td>Langschwert</td><td>15 GM</td><td>1W8 Hieb</td><td>1,5 kg</td><td>Vielseitig (1W10)</td></tr>
<tr><td>Lanze</td><td>10 GM</td><td>1W12 Stich</td><td>3 kg</td><td>Besonders, weitreichend</td></tr>
<tr><td>Morgenstern</td><td>15 GM</td><td>1W8 Stich</td><td>2 kg</td><td>-</td></tr>
<tr><td>Peitsche</td><td>2 GM</td><td>1W4 Hieb</td><td>1,5 kg</td><td>Finesse, weitreichend</td></tr>
<tr><td>Pike</td><td>5 GM</td><td>1W10 Stich</td><td>9 kg</td><td>Schwer, weitreichend, zweihändig</td></tr>
<tr><td>Rapier</td><td>25 GM</td><td>1W8 Stich</td><td>1 kg</td><td>Finesse</td></tr>
<tr><td>Streitaxt</td><td>10 GM</td><td>1W8 Hieb</td><td>2 kg</td><td>Vielseitig (1W10)</td></tr>
<tr><td>Zweihandaxt</td><td>30 GM</td><td>1W12 Hieb</td><td>3,5 kg</td><td>Schwer, zweihändig</td></tr>
<tr><td>Zweihandhammer</td><td>10 GM</td><td>2W6 Wucht</td><td>5 kg</td><td>Schwer, zweihändig</td></tr>
<tr><td>Zweihandschwert</td><td>50 GM</td><td>2W6 Hieb</td><td>3 kg</td><td>Schwer, zweihändig</td></tr>
<tr><td colspan="5"><span class="nameref">Fernkampf-Kriegswaffen</span></td></tr>
<tr><td>Armbrust (Handarmbrust)</td><td>75 GM</td><td>1W6 Stich</td><td>1,5 kg</td><td>Geschosse (Reichweite 9/36), laden, leicht</td></tr>
<tr><td>Armbrust (schwer)</td><td>50 GM</td><td>1W10 Stich</td><td>9 kg</td><td>Geschosse (Reichweite 30/120), laden, schwer, zweihändig</td></tr>
<tr><td>Blasrohr</td><td>10 GM</td><td>1 Stich</td><td>0,5 kg</td><td>Geschosse (Reichweite 7,5/30), laden</td></tr>
<tr><td>Langbogen</td><td>50 GM</td><td>1W8 Stich</td><td>1 kg</td><td>Geschosse (Reichweite 45/180), schwer, zweihändig</td></tr>
<tr><td>Netz</td><td>1 GM</td><td>-</td><td>1,5 kg</td><td>Besonders, Wurfwaffe (Reichweite 1,5/4,5)</td></tr>
</table>

<h3 id="abenteurerausruestung">Abenteurerausrüstung</h3>
<p>In diesem Abschnitt werden Gegenstände beschrieben, für die Sonderregeln gelten oder besondere Erklärungen erforderlich sind.</p>
<p><span class="trait-name">Alchemistenfeuer:</span> Diese klebrige Flüssigkeit entzündet sich, wenn sie mit Luft in Kontakt kommt. Du kannst als Aktion diese Flasche bis zu sechs Meter weit werfen, wobei sie beim Aufprall zerbricht. Führe einen Fernkampfangriff gegen eine Kreatur oder einen Gegenstand deiner Wahl aus, wobei du das Alchemistenfeuer als improvisierte Waffe einsetzt Bei einem Treffer erleidet das Ziel zu Beginn jedes seiner Züge 1W4 Feuerschaden. Eine Kreatur kann diesen Schaden beenden, indem sie mit einer Aktion einen SG-10-Geschicklichkeitswurf besteht und die Flammen löscht.</p>
<p><span class="trait-name">Angelausrüstung:</span> Diese Ausrüstung besteht aus einer hölzernen Rute, seidener Angelsehne, Schwimmern aus Kork, Stahlhaken, Senkblei, Samtködern und einem engmaschigen Netz.</p>
<p><span class="trait-name">Arkaner Fokus:</span> Ein arkaner Fokus ist ein spezieller Gegenstand - eine Kristallkugel, ein Edelstein, eine Rute, ein besonders gearbeiteter Stab, ein zauberstabartiges Stück Holz oder dergleichen -, der dazu entworfen wurde, die Kraft von arkanen Zaubern zu bündeln. Ein Hexenmeister, Magier oder Zauberer kann einen solchen Gegenstand als Zauberfokus verwenden.</p>
<p><span class="trait-name">Behälter (Armbrustbolzen):</span> In diese hölzerne Kassette passen bis zu 20 Armbrustbolzen.</p>
<p><span class="trait-name">Behälter (Karte oder Schriftrolle):</span> In diesen zylindrischen Lederbehälter passen bis zu zehn zusammengerollte Blätter Papier oder fünf zusammengerollte Pergamentblätter.</p>
<p><span class="trait-name">Beutel:</span> In einen Beutel aus Stoff oder Leder passen beispielsweise bis zu 20 Schleuderkugeln oder 50 Blasrohrpfeile. Ein unterteilter Beutel für Zauberkomponenten ist ein Materialkomponentenbeutel (wird weiter unten in diesem Abschnitt beschrieben).</p>
<p><span class="trait-name">Brechstange:</span> Wenn du eine Brechstange hast, bist du bei Stärkewürfen, bei denen du Hebelwirkung brauchst, im Vorteil.</p>
<p><span class="trait-name">Buch:</span> Ein Buch kann Gedichte, historische Aufzeichnungen, Informationen zu einem bestimmten Themengebiet, Diagramme und Notizen zu gnomischen Erfindungen oder auch jegliche anderen Inhalte enthalten, die in Text- oder Bildform darstellbar sind. Ein Buch, das Zauber enthält, ist ein Zauberbuch (und wird weiter unten in diesem Abschnitt erläutert), <span class="trait-name">Druidischer Fokus:</span> Ein druidischer Fokus kann ein Mistel- oder Stechpalmenzweig, ein Zauberstab oder Zepter aus Eibenholz oder einem anderen speziellen Holz, ein ganz aus einem lebenden Baum gezogener Stab oder auch ein Totemobjekt sein, in das Federn, Fell, Knochen und Zähne von heiligen Tieren eingearbeitet sind. Ein Druide kann einen solchen Gegenstand als Zauberfokus verwenden.</p>
<p><span class="trait-name">Fackel:</span> Eine Fackel brennt eine Stunde lang. Sie spendet im Radius von sechs Metern helles Licht sowie im Radius von weiteren sechs Metern dämmriges Licht. Führst du einen Nahkampfangriff mit einer brennenden Fackel aus und triffst, verursacht sie 1 Feuerschaden.</p>
<p><span class="trait-name">Fernglas:</span> Durch ein Fernglas betrachtete Objekte erscheinen doppelt so groß.</p>
<p><span class="trait-name">Flaschenzug:</span> Ein Flaschenzug besteht aus mehreren Rollen, die mit einem Seil miteinander verbunden sind. An einem Ende des Seils befindet sich ein Haken. Ein Flaschenzug ermöglicht es dir, viermal schwerere Lasten zu heben, als du es ohne Flaschenzug könntest.</p>
<p><span class="trait-name">Gegengift:</span> Wenn eine Kreatur die Flüssigkeit aus dieser Phiole trinkt, ist sie eine Stunde lang bei Rettungswürfen gegen Gift im Vorteil. Untote und Konstrukte können diesen Vorteil nicht erhalten.</p>
<p><span class="trait-name">Gift (einfach):</span> Du kannst das Gift in dieser Phiole verwenden, um eine Hieb- oder Stichwaffe oder bis zu drei einzelne Geschosse zu bestreichen. Das Auftragen des Gifts erfordert eine Aktion. Eine Kreatur, die von der vergifteten Waffe oder dem vergifteten Geschoss getroffen wird, muss einen SG-10-Konstitutionsrettungswurf bestehen, oder sie erleidet 1W4 Giftschaden. Nach dem Auftragen ist das Gift eine Minute lang wirksam, dann trocknet es ein.</p>
<p><span class="trait-name">Handschellen:</span> Diese metallenen Handschellen können eine kleine oder mittelgroße Kreatur fesseln. Ein erfolgreicher SG-20-Geschicklichkeitswurf ist nötig, um sich von den Handschellen zu befreien. Zum gewaltsamen Aufbrechen ist ein erfolgreicher SG-20-Stärkewurf erforderlich. Zu jedem Paar Handschellen wird ein Schlüssel zur Verfügung gestellt. Eine Kreatur ohne Schlüssel, die im Umgang mit Diebeswerkzeug geübt ist, kann dieses Schloss mit einem erfolgreichen SG-15-Geschicklichkeitswurf knacken. Handschellen haben 15 Trefferpunkte.</p>
<p><span class="trait-name">Heilerausrüstung:</span> Diese Ledertasche enthält Bandagen, Salben und Schienen. Die Ausrüstung kann zehnmal verwendet werden. Du kannst als Aktion die Heilerausrüstung einmal verwenden, um eine Kreatur mit 0 Trefferpunkten zu stabilisieren, ohne einen Weisheitswurf (Heilkunde) auszuführen.</p>
<p><span class="trait-name">Heiliges Symbol:</span> Ein heiliges Symbol repräsentiert eine Gottheit oder ein Pantheon. Es kann ein Amulett mit dem Symbol einer Gottheit, ein Schild mit einer kunstvollen Gravur oder einer Intarsie dieses Symbols oder eine Schatulle mit dem Fragment einer heiligen Reliquie sein. Anhang PH-B „Fantasy-historische Pantheons&quot; enthält eine Liste der Symbole, die häufig mit den vielen Göttern des Multiversums in Verbindung gebracht werden. Kleriker und Paladine können ein heiliges Symbol als Zauberfokus verwenden. Dazu müssen sie es in der Hand halten, sichtbar tragen oder an einem Schild anbringen.</p>
<p><span class="trait-name">Heiltrank:</span> Wenn ein Charakter diese magische rote Flüssigkeit in dieser Phiole trinkt, erhält er 2W4+2 Trefferpunkte zurück. Das Trinken oder Verabreichen des Trankes erfordert eine Aktion.</p>
<p><span class="trait-name">Jagdfalle:</span> Wenn du deine Aktion verwendest, um sie aufzustellen, bildet diese Falle einen zahnbewehrten Stahlring, der zuschnappt, wenn eine Kreatur auf eine Druckplatte in der Mitte tritt. Die Falle ist mit einer schweren Kette an einem Fixpunkt wie einem Baum oder einem in den Boden gerammten Pfahl befestigt Eine Kreatur, die auf die Platte tritt, muss einen SG-13-Geschicklichkeitsrettungswurf bestehen, oder sie erleidet 1W4 Stichschaden und kann sich nicht weiter bewegen. Anschließend ist die Bewegung der Kreatur durch die Länge der Kette (üblicherweise einen Meter) begrenzt, bis sie sich aus der Falle befreien kann. Kreaturen können ihre Aktion verwenden, um einen SG-13-Stärkewurf auszuführen und sich oder eine andere Kreatur in Reichweite bei einem Erfolg zu befreien. Jeder gescheiterte Wurf fügt der Kreatur in der Falle 1 Stichschaden zu.</p>
<p><span class="trait-name">Kerze:</span> Eine Kerze spendet eine Stunde lang im Radius von 1,5 Metern helles Licht und im Radius von weiteren 1,5 Metern dämmriges Licht.</p>
<p><span class="trait-name">Kette:</span> Eine Kette hat 10 Trefferpunkte. Eine Kreatur kann sie mit einem erfolgreichen SG-20-Stärkewurf sprengen.</p>
<p><span class="trait-name">Kletterausrüstung:</span> Die Kletterausrüstung besteht aus Kletterhaken, Steigeisen, Kletterhandschuhen und einem Klettergurt. Du kannst als Aktion die Kletterausrüstung verwenden, um dich zu verankern. Wenn du das tust, kannst du vom Verankerungspunkt aus nicht mehr als 7,5 Meter fallen und nicht weiter als 7,5 Meter von diesem Punkt weg klettern, ohne den Anker zu lösen.</p>
<p><span class="trait-name">Köcher:</span> In einen Köcher passen bis zu 20 Pfeile.</p>
<p><span class="trait-name">Krähenfüße:</span> Du kannst als Aktion einen Beutel Krähenfüße auf einer quadratischen Fläche verstreuen, die eine Kantenlänge von bis zu 1,5 Metern hat. Eine Kreatur, die in diesen Bereich gelangt, muss einen SG-15-Geschicklichkeitsrettungswurf bestehen oder kann sich in diesem Zug nicht mehr bewegen und erleidet 1 Stichschaden. Das Erleiden dieses Schadens verringert die Schrittbewegungsrate der Kreatur um drei Meter, bis die Kreatur mindestens 1 Trefferpunkt wiedererlangt. Wenn sich die Kreatur nur mit halber Bewegungsrate durch den Bereich bewegt, muss sie keinen Rettungswurf ausführen.</p>
<p><span class="trait-name">Lampe:</span> Eine Lampe spendet in einem Radius von 4,5 Metern helles Licht und im Radius von weiteren neun Metern dämmriges Licht. Sie brennt mit einer Flasche Öl (0,5 Liter) sechs Stunden lang.</p>
<p><span class="trait-name">Laterne (abdeckbar):</span> Eine abdeckbare Laterne spendet im Radius von neun Metern helles Licht sowie im Radius von weiteren neun Metern dämmriges Licht. Sie brennt mit einer Flasche Öl (0,5 Liter) sechs Stunden lang. Du kannst als Aktion die Haube absenken und so das Licht auf dämmriges Licht in einem Radius von 1,5 Metern reduzieren.</p>
<p><span class="trait-name">Laterne (Blendlaterne):</span> Eine Blendlaterne strahlt in einem Kegel von 18 Metern helles Licht und über weitere 18 Meter dämmriges Licht aus. Sie brennt mit einer Flasche Öl (0,5 Liter) sechs Stunden lang.</p>
<p><span class="trait-name">Lupe:</span> Dieses Vergrößerungsglas ermöglicht es dir, kleine Objekte näher in Augenschein zu nehmen. Es ist außerdem ein guter Ersatz für Feuerstein und Feuerstahl. Zum Entzünden eines Feuers mit einer Lupe benötigst du eine Lichtquelle, die so hell wie die Sonne ist und sich bündeln lässt, Zunder zum Anzünden und etwa fünf Minuten Zeit. Eine Lupe verleiht bei allen Attributswürfen einen Vorteil, die zum Einschätzen oder Untersuchen eines kleinen oder sehr detailreichen Gegenstandes ausgeführt werden.</p>
<p><span class="trait-name">Materialkomponentenbeutel:</span> Ein Materialkomponentenbeutel ist ein kleiner, wasserdichter Ledergürtelbeutel, der alle Materialkomponenten und andere besonderen Gegenstände enthält, die du zum Wirken deiner Zauber benötigst - mit Ausnahme von Komponenten mit spezifischen Kosten (siehe Zauberbeschreibung).</p>
<p><span class="trait-name">Metallkügelchen:</span> Du kannst als Aktion diese Metallkügelchen auf einer quadratischen Fläche verschütten, die eine maximale Kantenlänge von drei Metern hat. Wenn sich eine Kreatur durch diesen Bereich bewegt, muss sie einen SG-10-Geschicklichkeitsrettungswurf bestehen, um nicht hinzufallen. Wenn sich die Kreatur nur mit halber Bewegungsrate durch den Bereich bewegt, muss sie keinen Rettungswurf ausführen.</p>
<p><span class="trait-name">Öl:</span> Öl gibt es meist in Lehmflaschen zu je 0,5 Liter. Du kannst als Aktion das Öl aus dieser Flasche auf eine Kreatur im Abstand von bis zu 1,5 Metern von dir spritzen oder die Flasche bis zu sechs Meter weit werfen, wobei sie beim Aufprall zerbricht. Führe einen Fernkampfangriff gegen eine Kreatur oder ein Ziel deiner Wahl aus, wobei du das Öl als improvisierte Waffe einsetzt. Bei einem Treffer ist das Ziel mit Öl bedeckt. Wenn das Ziel Feuerschaden erleidet, bevor das Öl (nach einer Minute) trocknet, bewirkt das brennende Öl zusätzlich fünf Punkte Feuerschaden. Du kannst auch eine Flasche Öl auf den Boden gießen, um eine Fläche von 1,5 Metern mal 1,5 Metern zu bedecken, sofern die Oberfläche eben ist. Wird es angezündet, brennt das Öl zwei Runden lang und fügt jeder Kreatur, die diesen Bereich betritt oder die ihren Zug in diesem Bereich beendet, 5 Punkte Feuerschaden zu. Eine Kreatur kann diesen Schaden nur einmal pro Zug erleiden.</p>
<p><span class="trait-name">Rammbock (tragbar):</span> Mit einem tragbaren Rammbock kannst du Türen aufbrechen. Dabei erhältst du einen Bonus von +4 auf den Stärkewurf. Ein anderer Charakter kann dir helfen, den Rammbock zu verwenden. Dadurch bist du bei diesem Wurf im Vorteil.</p>
<p><span class="trait-name">Rationen:</span> Rationen bestehen aus getrocknetem Essen, das sich gut für längere Reisen eignet. Sie enthalten beispielsweise getrocknetes Fleisch, Hartzwieback, Nüsse und Trockenobst.</p>
<p><span class="trait-name">Reisegeschirr:</span> Diese Blechdose enthält eine Tasse und einfaches Besteck. Sie besteht aus zwei Hälften, von denen eine als Kochpfanne und die andere als Teller oder flache Schüssel verwendet werden kann.</p>
<p><span class="trait-name">Säure:</span> Du kannst als Aktion den Inhalt dieser Phiole auf eine Kreatur im Abstand von bis zu 1,5 Metern von dir spritzen oder die Phiole bis zu sechs Meter weit werfen, wobei sie beim Aufprall zerbricht. Führe in beiden Fällen einen Fernkampfangriff gegen eine Kreatur oder einen Gegenstand deiner Wahl aus, wobei du die Säure als improvisierte Waffe einsetzt. Bei einem Treffer erleidet das Ziel 2W6 Säureschaden.</p>
<p><span class="trait-name">Schloss:</span> Du erhältst zu diesem Schloss auch einen Schlüssel. Eine Kreatur, die im Umgang mit Diebeswerkzeug geübt ist, kann dieses Schloss mit einem erfolgreichen SG-15-Geschicklichkeitswurf knacken. Dein SL kann entscheiden, dass bessere Schlösser zu höheren Preisen verfügbar sind.</p>
<p><span class="trait-name">Seil:</span> Seile aus Hanf oder Seide haben 2 Trefferpunkte und können mit einem erfolgreichen SG-17-Stärkewurf zerrissen werden.</p>
<p><span class="trait-name">Waage (Kaufmannswaage):</span> Zu einer Waage gehören ein kleiner Waagebalken, Waagschalen und ein Satz Gewichte bis zu einem Kilogramm. Damit kannst du das genaue Gewicht kleiner Gegenstände -etwa von Edelmetall-Rohlingen oder Handelsgütern -bestimmen und ihren Wert besser einschätzen.</p>
<p><span class="trait-name">Weihwasser:</span> Du kannst als Aktion den Inhalt dieser Flasche auf eine Kreatur im Abstand von bis zu 1,5 Metern von dir spritzen oder diese Flasche bis zu sechs Meter weit werfen, wobei sie beim Aufprall zerbricht. Führe dazu einen Fernkampfangriff gegen die Zielkreatur aus, wobei das Weihwasser als improvisierte Waffe gilt. Wenn das Ziel ein Unhold oder Untoter ist, erleidet es 2W6 gleißenden Schaden.</p>
<p>Kleriker und Paladine können Weihwasser herstellen, indem sie ein spezielles Ritual vollziehen. Das dauert eine Stunde, erfordert den Einsatz von Silberpulver im Wert von 25 GM und verbraucht einen Zauberplatz des 1. Grades.</p>
<p><span class="trait-name">Zauberbuch:</span> Ein Zauberbuch ist ein ledergebundener Foliant mit 100 leeren Pergamentseiten für Zauber. Ein unerlässlicher Ausrüstungsgegenstand für Magier.</p>
<p><span class="trait-name">Zelt:</span> Diese einfache Unterkunft aus Leinentuch kann zwei Abenteurer beherbergen.</p>
<p><span class="trait-name">Zunderkästchen:</span> Dieses Kästchen enthält Feuerstein, Feuerstahl und Zunder (üblicherweise ein ölgetränktes Stoffstück), um ein Feuer zu entzünden. Um damit eine Fackel oder etwas anderes mit ausreichend Brennstoff anzuzünden, ist eine Aktion nötig. Das Entzünden jedes anderen Feuers dauert eine Minute.</p>
<h5>Abenteurerausrüstung</h5>
<table id="table-abenteurerausruestung">
<tr><th>Gegenstand</th>
<th>Kosten</th>
<th>Gewicht</th></tr>
<tr><td>Abakus</td><td>2 GM</td><td>1 kg</td></tr>
<tr><td>Alchemistenfeuer (Flasche)</td><td>50 GM</td><td>0,5 kg</td></tr>
<tr><td>Angelausrüstung</td><td>1 GM</td><td>2 kg</td></tr>
<tr><td colspan="3"><span class="nameref">Arkaner Fokus</span></td></tr>
<tr><td>Kristall</td><td>10 GM</td><td>0,5 kg</td></tr>
<tr><td>Kugel</td><td>20 GM</td><td>1,5 kg</td></tr>
<tr><td>Rute</td><td>10 GM</td><td>1 kg</td></tr>
<tr><td>Stab</td><td>5 GM</td><td>2 kg</td></tr>
<tr><td>Zauberstab</td><td>10 GM</td><td>0,5 kg</td></tr>
<tr><td>Behälter (Armbrustbolzen)</td><td>1 GM</td><td>0,5 kg</td></tr>
<tr><td>Behälter (Karte oder Schriftrolle)</td><td>1 GM</td><td>0,5 kg</td></tr>
<tr><td>Beutel</td><td>5 SM</td><td>0,5 kg</td></tr>
<tr><td>Brechstange</td><td>2 GM</td><td>2,5 kg</td></tr>
<tr><td>Buch</td><td>25 GM</td><td>2,5 kg</td></tr>
<tr><td>Decke</td><td>5 SM</td><td>1,5 kg</td></tr>
<tr><td colspan="3"><span class="nameref">Druidischer Fokus</span></td></tr>
<tr><td>Holzstab</td><td>5 GM</td><td>2 kg</td></tr>
<tr><td>Mistelzweig</td><td>1 GM</td><td>-</td></tr>
<tr><td>Totem</td><td>1 GM</td><td>—</td></tr>
<tr><td>Zauberstab aus Eibe</td><td>10 GM</td><td>0,5 kg</td></tr>
<tr><td>Eimer</td><td>5 KM</td><td>1 kg</td></tr>
<tr><td>Eisenstachel (10)</td><td>1 GM</td><td>2,5 kg</td></tr>
<tr><td>Enterhaken</td><td>2 GM</td><td>2 kg</td></tr>
<tr><td>Fackel</td><td>1 KM</td><td>0,5 kg</td></tr>
<tr><td>Fass</td><td>2 GM</td><td>35 kg</td></tr>
<tr><td>Fernglas</td><td>1.000 GM</td><td>0,5 kg</td></tr>
<tr><td>Flasche (Glas)</td><td>2 GM</td><td>1 kg</td></tr>
<tr><td>Flasche oder Krug</td><td>2 KM</td><td>0,5 kg</td></tr>
<tr><td>Flaschenzug</td><td>1 GM</td><td>2,5 kg</td></tr>
<tr><td>Gegengift (Phiole)</td><td>50 GM</td><td>—</td></tr>
<tr><td>Gift (einfach, Phiole)</td><td>100 GM</td><td>—</td></tr>
<tr><td>Glocke</td><td>1 GM</td><td>—</td></tr>
<tr><td>Hammer</td><td>1 GM</td><td>1,5 kg</td></tr>
<tr><td>Hammer (Vorschlaghammer)</td><td>2 GM</td><td>5 kg</td></tr>
<tr><td>Handschellen</td><td>2 GM</td><td>3 kg</td></tr>
<tr><td>Heilerausrüstung</td><td>5 GM</td><td>1,5 kg</td></tr>
<tr><td colspan="3"><span class="nameref">Heiliges Symbol</span></td></tr>
<tr><td>Amulett</td><td>5 GM</td><td>0,5 kg</td></tr>
<tr><td>Emblem</td><td>5 GM</td><td>—</td></tr>
<tr><td>Reliquie</td><td>5 GM</td><td>1 kg</td></tr>
<tr><td>Heiltrank</td><td>50 GM</td><td>0,25 kg</td></tr>
<tr><td>Jagdfalle</td><td>5 GM</td><td>12,5 kg</td></tr>
<tr><td>Kerze</td><td>1 KM</td><td>—</td></tr>
<tr><td>Kette (3 Meter)</td><td>5 GM</td><td>5 kg</td></tr>
<tr><td>Kleidung, fein</td><td>15 GM</td><td>3 kg</td></tr>
<tr><td>Kleidung, für Reise</td><td>2 GM</td><td>2 kg</td></tr>
<tr><td>Kleidung, gewöhnlich</td><td>5 SM</td><td>1,5 kg</td></tr>
<tr><td>Kleidung, Kostüm</td><td>5 GM</td><td>2 kg</td></tr>
<tr><td>Kletterausrüstung</td><td>25 GM</td><td>6 kg</td></tr>
<tr><td>Kletterhaken</td><td>5 KM</td><td>125 g</td></tr>
<tr><td>Köcher</td><td>1 GM</td><td>0,5 kg</td></tr>
<tr><td>Korb</td><td>4 SM</td><td>1 kg</td></tr>
<tr><td>Krähenfüße (Beutel mit 20 Stück)</td><td>1 GM</td><td>1 kg</td></tr>
<tr><td>Kreide (1 Stück)</td><td>1 KM</td><td>—</td></tr>
<tr><td>Krug oder Karaffe</td><td>2 KM</td><td>2 kg</td></tr>
<tr><td>Lampe</td><td>5 SM</td><td>0,5 kg</td></tr>
<tr><td>Laterne (abdeckbar)</td><td>5 GM</td><td>1 kg</td></tr>
<tr><td>Laterne (Blendlaterne)</td><td>10 GM</td><td>1 kg</td></tr>
<tr><td>Leiter (3 Meter)</td><td>1 SM</td><td>12,5 kg</td></tr>
<tr><td>Lupe</td><td>100 GM</td><td>—</td></tr>
<tr><td>Materialkomponentenbeutel</td><td>25 GM</td><td>1 kg</td></tr>
<tr><td>Metallkügelchen (Beutel mit 1.000 Stück)</td><td>1 GM</td><td>1 kg</td></tr>
<tr><td colspan="3"><span class="nameref">Munition</span></td></tr>
<tr><td>Armbrustbolzen (20)</td><td>1 GM</td><td>0,75 kg</td></tr>
<tr><td>Blasrohrpfeile (50)</td><td>1 GM</td><td>0,5 kg</td></tr>
<tr><td>Pfeile (20)</td><td>1 GM</td><td>0,5 kg</td></tr>
<tr><td>Schleuderkugeln (20)</td><td>4 KM</td><td>0,75 kg</td></tr>
<tr><td>Öl (Flasche)</td><td>1 SM</td><td>0,5 kg</td></tr>
<tr><td>Papier (ein Blatt)</td><td>2 SM</td><td>—</td></tr>
<tr><td>Parfüm (Phiole)</td><td>5 GM</td><td>—</td></tr>
<tr><td>Pergament (ein Blatt)</td><td>1 SM</td><td>—</td></tr>
<tr><td>Phiole</td><td>1 GM</td><td>—</td></tr>
<tr><td>Rammbock (tragbar)</td><td>4 GM</td><td>17,5 kg</td></tr>
<tr><td>Rationen (1 Tag)</td><td>5 SM</td><td>1 kg</td></tr>
<tr><td>Reisegeschirr</td><td>2 SM</td><td>0,5 kg</td></tr>
<tr><td>Robe</td><td>1 GM</td><td>2 kg</td></tr>
<tr><td>Rucksack</td><td>2 GM</td><td>2,5 kg</td></tr>
<tr><td>Sack</td><td>1 KM</td><td>0,25 kg</td></tr>
<tr><td>Sanduhr</td><td>25 GM</td><td>0,5 kg</td></tr>
<tr><td>Säure (Phiole)</td><td>25 GM</td><td>0,5 kg</td></tr>
<tr><td>Schaufel</td><td>2 GM</td><td>2,5 kg</td></tr>
<tr><td>Schlafsack</td><td>1 GM</td><td>3,5 kg</td></tr>
<tr><td>Schloss</td><td>10 GM</td><td>0,5 kg</td></tr>
<tr><td>Schreibfeder</td><td>2 KM</td><td>—</td></tr>
<tr><td>Seife</td><td>2 KM</td><td>—</td></tr>
<tr><td>Seil (Hanf, 15 Meter)</td><td>1 GM</td><td>5 kg</td></tr>
<tr><td>Seil, Seide (15 Meter)</td><td>10 GM</td><td>2,5 kg</td></tr>
<tr><td>Siegelring</td><td>5 GM</td><td>—</td></tr>
<tr><td>Siegelwachs</td><td>5 SM</td><td>—</td></tr>
<tr><td>Signalpfeife</td><td>5 KM</td><td>—</td></tr>
<tr><td>Spiegel (Stahl)</td><td>5 GM</td><td>0,25 kg</td></tr>
<tr><td>Spitzhacke</td><td>2 GM</td><td>5 kg</td></tr>
<tr><td>Stange (3 Meter)</td><td>5 KM</td><td>3,5 kg</td></tr>
<tr><td>Tinte (Flasche, 30 ml)</td><td>10 GM</td><td>—</td></tr>
<tr><td>Topf (Eisen)</td><td>2 GM</td><td>5 kg</td></tr>
<tr><td>Truhe</td><td>5 GM</td><td>12,5 kg</td></tr>
<tr><td>Waage (Kaufmannswaage)</td><td>5 GM</td><td>1,5 kg</td></tr>
<tr><td>Wasserschlauch</td><td>2 SM</td><td>2,5 kg (voll)</td></tr>
<tr><td>Weihwasser (Flasche)</td><td>25 GM</td><td>0,5 kg</td></tr>
<tr><td>Wetzstein</td><td>1 KM</td><td>0,5 kg</td></tr>
<tr><td>Zauberbuch</td><td>50 GM</td><td>1,5 kg</td></tr>
<tr><td>Zelt (2 Personen)</td><td>2 GM</td><td>10 kg</td></tr>
<tr><td>Zunderkästchen</td><td>5 SM</td><td>0,5 kg</td></tr>
</table>
<h5>Behälterkapazität</h5>
<table id="table-behaelterkapazitaet">
<tr><th>Behälter</th>
<th>Kapazität</th></tr>
<tr><td>Beutel</td><td>5,6 Liter/3 Kilogramm Ausrüstung</td></tr>
<tr><td>Eimer</td><td>12 Liter Flüssigkeit, 14 Liter Feststoffe</td></tr>
<tr><td>Fass</td><td>160 Liter Flüssigkeit, 132 Liter Feststoffe</td></tr>
<tr><td>Flasche</td><td>1,5 Liter Flüssigkeit</td></tr>
<tr><td>Flasche oder Krug</td><td>0,5 Liter Flüssigkeit</td></tr>
<tr><td>Korb</td><td>56 Liter/20 Kilogramm Ausrüstung</td></tr>
<tr><td>Krug oder Karaffe</td><td>4 Liter Flüssigkeit</td></tr>
<tr><td>Phiole</td><td>120 Milliliter Flüssigkeit</td></tr>
<tr><td>Rucksack*</td><td>28 Liter/15 Kilogramm Ausrüstung</td></tr>
<tr><td>Sack</td><td>28 Liter/15 Kilogramm Ausrüstung</td></tr>
<tr><td>Topf (Eisen)</td><td>4 Liter Flüssigkeit</td></tr>
<tr><td>Truhe</td><td>336 Liter/150 Kilogramm Ausrüstung</td></tr>
<tr><td>Wasserschlauch</td><td>2 Liter Flüssigkeit</td></tr>
</table>
<p>*Du kannst außerdem Gegenstände wie einen Schlafsack oder ein aufgewickeltes Seil außen am Rucksack anbringen.</p>

<div class="boxed" id="box-ausruestunspakete">
<h5>Ausrüstungspakete</h5>
<p>Deine klassenabhängige Anfangsausrüstung stellt dir ein Paket voller nützlicher Ausrüstungsgegenstände für deine Abenteuer zur Verfügung. Der Inhalt dieser Pakete ist hier aufgeführt. Wenn du deine Anfangsausrüstung kaufst, kannst du ein Paket für den entsprechenden Paketpreis kaufen. Das ist gegebenenfalls billiger, als die Gegenstände einzeln zu kaufen.</p>
<p><span class="trait-name">Diplomatenausrüstung (39 GM):</span> Eine Truhe, zwei Behälter für Karten und Schriftrollen, ein Satz feiner Kleidung, eine Flasche mit Tinte, Tintenstift, eine Lampe, zwei Flaschen Öl, fünf Blatt Papier, eine Phiole mit Parfüm, Siegelwachs und Seife.</p>
<p><span class="trait-name">Einbrecherausrüstung (16 GM):</span> Ein Rucksack, ein Beutel mit 1.000 Metallkügelchen, drei Meter Schnur, eine Glocke, fünf Kerzen, eine Brechstange, ein Hammer, zehn Kletterhaken, eine Blendlaterne, zwei Flaschen Öl, fünf Tagesrationen, ein Zunderkästchen und ein Wasserschlauch. Am Rucksack hängt ein 15 Meter langes Hanfseil.</p>
<p><span class="trait-name">Entdeckerausrüstung (10 GM):</span> Ein Rucksack, ein Schlafsack, Reisegeschirr, ein Zunderkästchen, zehn Fackeln, zehn Tagesrationen und einen Wasserschlauch. Am Rucksack hängt ein 15 Meter langes Hanfseil.</p>
<p><span class="trait-name">Gelehrtenausrüstung (40 GM):</span> Ein Rucksack, ein Buch mit Überlieferungen, eine Flasche mit Tinte, ein Tintenstift, zehn Blätter Pergament, ein kleiner Beutel mit Sand und ein kleines Messer.</p>
<p><span class="trait-name">Gewölbeforscherausrüstung (12 GM):</span> Ein Rucksack, eine Brechstange, ein Hammer, zehn Kletterhaken, zehn Fackeln, ein Zunderkästchen, zehn Tagesrationen und ein Wasserschlauch. Am Rucksack hängt ein 15 Meter langes Hanfseil.</p>
<p><span class="trait-name">Priesterausrüstung (19 GM):</span> Ein Rucksack, eine Decke, zehn Kerzen, ein Zunderkästchen, ein Klingelbeutel, zwei Blöcke Weihrauch, ein Räuchergefäß, ein Gewand, zwei Tagesrationen und ein Wasserschlauch.</p>
<p><span class="trait-name">Unterhaltungskünstler-Ausrüstung (40 GM):</span> Ein Rucksack, ein Schlafsack, zwei Verkleidungsausrüstungen, fünf Kerzen, fünf Tagesrationen, ein Wasserschlauch und eine Verkleidungsausrüstung.</p>
</div>

<h3 id="werkzeuge">Werkzeuge</h3>
<p>Werkzeuge ermöglichen es dir, ansonsten unmögliche Aufgaben zu erledigen. Beispielsweise kannst du mit ihnen Gegenstände reparieren, ein Dokument fälschen oder ein Schloss knacken.</p>
<p>Je nach Volk, Klasse, Hintergrund und Talenten bist du im Umgang mit bestimmten Werkzeugen geübt. Wenn du im Umgang mit einem Werkzeug geübt bist, kannst du deinen Übungsbonus zu Attributswürfen mit diesem Werkzeug hinzufügen. Übung mit einem Werkzeug bedeutet, dass ein Charakter allgemeine Kenntnisse im Umgang mit dem Werkzeug hat Daher ist die Verwendung von Werkzeugen nicht an bestimmte Attribute gebunden. Der SL kann beispielsweise einen Geschicklichkeitswurf verlangen, wenn du mit deinen Holzschnitzwerkzeugen feine Details gestalten möchtest, und einen Stärkewurf, wenn du etwas aus besonders hartem Holz schnitzen möchtest</p>
<h5>Werkzeuge</h5>
<table id="table-werkzeuge">
<tr><th>Gegenstand</th>
<th>Kosten</th>
<th>Gewicht</th></tr>
<tr><td>Diebeswerkzeug</td><td>25 GM</td><td>0,5 kg</td></tr>
<tr><td>Fahrzeuge (Land oder Wasser)</td><td>*</td><td>*</td></tr>
<tr><td>Giftpaket</td><td>50 GM</td><td>1 kg</td></tr>
<tr><td colspan="3"><span class="nameref">Handwerkszeug</span></td></tr>
<tr><td>Alchemistenausrüstung</td><td>50 GM</td><td>4 kg</td></tr>
<tr><td>Brauereizubehör</td><td>20 GM</td><td>4,5 kg</td></tr>
<tr><td>Fälscherausrüstung</td><td>15 GM</td><td>2,5 kg</td></tr>
<tr><td>Glasbläserwerkzeuge</td><td>30 GM</td><td>2,5 kg</td></tr>
<tr><td>Holzschnitzwerkzeuge</td><td>1 GM</td><td>2,5 kg</td></tr>
<tr><td>Juwelierwerkzeuge</td><td>25 GM</td><td>1 kg</td></tr>
<tr><td>Kalligrafiewerkzeuge</td><td>10 GM</td><td>2,5 kg</td></tr>
<tr><td>Kartografenwerkzeuge</td><td>15 GM</td><td>3 kg</td></tr>
<tr><td>Kochutensilien</td><td>1 GM</td><td>4 kg</td></tr>
<tr><td>Ledererwerkzeuge</td><td>5 GM</td><td>2,5 kg</td></tr>
<tr><td>Malereizubehör</td><td>10 GM</td><td>2,5 kg</td></tr>
<tr><td>Maurerwerkzeuge</td><td>10 GM</td><td>4 kg</td></tr>
<tr><td>Schmiedewerkzeuge</td><td>20 GM</td><td>4 kg</td></tr>
<tr><td>Schreinerwerkzeuge</td><td>8 GM</td><td>3 kg</td></tr>
<tr><td>Schusterwerkzeuge</td><td>5 GM</td><td>2,5 kg</td></tr>
<tr><td>Töpferwerkzeuge</td><td>10 GM</td><td>1,5 kg</td></tr>
<tr><td>Tüftlerwerkzeuge</td><td>50 GM</td><td>5 kg</td></tr>
<tr><td>Verkleidungsausrüstung</td><td>25 GM</td><td>1,5 kg</td></tr>
<tr><td>Weberwerkzeuge</td><td>1 GM</td><td>2,5 kg</td></tr>
<tr><td>Kräuterkundeausrüstung</td><td>5 GM</td><td>1,5 kg</td></tr>
<tr><td colspan="3"><span class="nameref">Musikinstrument</span></td></tr>
<tr><td>Dudelsack</td><td>30 GM</td><td>3 kg</td></tr>
<tr><td>Flöte</td><td>2 GM</td><td>0,5 kg</td></tr>
<tr><td>Gambe</td><td>30 GM</td><td>0,5 kg</td></tr>
<tr><td>Hackbrett</td><td>25 GM</td><td>5 kg</td></tr>
<tr><td>Horn</td><td>3 GM</td><td>1 kg</td></tr>
<tr><td>Laute</td><td>35 GM</td><td>1 kg</td></tr>
<tr><td>Leier</td><td>30 GM</td><td>1 kg</td></tr>
<tr><td>Panflöte</td><td>12 GM</td><td>1 kg</td></tr>
<tr><td>Schalmei</td><td>2 GM</td><td>0,5 kg</td></tr>
<tr><td>Trommel</td><td>6 GM</td><td>1,5 kg</td></tr>
<tr><td>Navigationswerkzeuge</td><td>25 GM</td><td>1 kg</td></tr>
<tr><td colspan="3"><span class="nameref">Spiel</span></td></tr>
<tr><td>Satz Spielkarten</td><td>5 SM</td><td>-</td></tr>
<tr><td>Satz Würfel</td><td>1SM</td><td>-</td></tr>
<tr><td colspan="3">
<p>*Siehe Abschnitt „Reittiere und Fahrzeuge&quot;</p></td>
</table>
<p><span class="trait-name">Diebeswerkzeug:</span> Dieser Werkzeugsatz enthält eine kleine Feile, einen Satz Dietriche, einen kleinen Spiegel mit Metallgriff, eine schmale Schere und eine Zange. Wenn du im Umgang mit diesem Werkzeug geübt bist, kannst du deinen Übungsbonus zu allen Attributswürfen hinzuaddieren, die du ausführst, um Fallen zu entschärfen oder Schlösser zu öffnen.</p>
<p><span class="trait-name">Fälscherausrüstung:</span> Dieser kleine Kasten enthält verschiedene Papier- und Pergamentsorten, Stifte und Tinten, Siegel und Siegelwachs, Blattgold und -Silber und andere Materialien, die zum überzeugenden Fälschen von Dokumenten notwendig sind. Wenn du im Umgang mit dieser Ausrüstung geübt bist, kannst du deinen Übungsbonus zu allen Attributswürfen addieren, die du zum Fälschen eines Dokuments ausführst.</p>
<p><span class="trait-name">Giftpaket:</span> Das Giftpaket besteht aus Phiolen, Chemikalien und anderen Ausrüstungsgegenständen, die zur Herstellung von Giften benötigt werden. Wenn du im Umgang mit dieser Ausrüstung geübt bist, kannst du deinen Übungsbonus zu allen Attributswürfen addieren, die du zum Herstellen oder Verwenden von Giften ausführst.</p>
<p><span class="trait-name">Handwerkszeug:</span> Zu diesen Spezialwerkzeugen gehören Gegenstände, die zum Ausüben eines Handwerks benötigt werden. Die Tabelle zeigt beispielhaft die häufigsten Werkzeuge für bestimmte Handwerke. Wenn du im Umgang mit Handwerkszeug geübt bist, kannst du bei einem entsprechenden Attributswurf deinen Übungsbonus zum Ergebnis addieren. Jede Art von Handwerkszeug erfordert eigene Übung.</p>
<p><span class="trait-name">Kräuterkundeausrüstung:</span> Diese Ausrüstung enthält eine Pflanzenschere, Mörser und Stößel, Beutel und Phiolen, mit denen Kräuterkundler Arzneien und Tränke herstellen können. Wenn du im Umgang mit dieser Ausrüstung geübt bist, kannst du deinen Übungsbonus zu allen Attributswürfen addieren, die du zum Identifizieren oder Anwenden von Kräutern ausführst. Außerdem musst du Übung mit dieser Ausrüstung haben, um Gegengift und <a class="magicitem" href="#magicitem-heiltraenke">Heiltränke</a> zu mischen.</p>
<p><span class="trait-name">Musikinstrument:</span> Die häufigsten Musikinstrument-Arten sind beispielhaft in der Tabelle angegeben. Wenn du im Umgang mit Musikinstrumenten geübt bist, kannst du deinen Übungsbonus zu Attributswürfen addieren, die du ausführst, um mit dem Instrument Musik zu machen. Ein Barde kann ein Musikinstrument als Zauberfokus verwenden. Jede Art von Musikinstrument erfordert eigene Übung.</p>
<p><span class="trait-name">Navigationswerkzeuge:</span> Diese Instrumente werden zur Navigation auf See verwendet. Wenn du im Umgang mit Navigationswerkzeugen geübt bist, kannst du Schiffskurse berechnen und Seekarten nutzen. Außerdem kannst deinen Übungsbonus zu Attributswürfen hinzufügen, wenn du diese Werkzeuge verwendest, um dich auf See nicht zu verirren.</p>
<p><span class="trait-name">Spiel:</span> Zu einem Spiel gehören verschiede Spielekomponenten wie Würfel und Spielkarten, etwa für Drei-Drachen-Ante. Gängige Beispiele zeigt die Tabelle „Werkzeuge&quot;, es gibt aber noch viele weitere Spiele. Wenn du in einem Spiel geübt bist, kannst du deinen Übungsbonus zum Ergebnis von entsprechenden Attributswürfen addieren. Jedes Spiel erfordert eigene Übung.</p>
<p><span class="trait-name">Verkleidungsausrüstung:</span> Dieser Beutel enthält Schminke, Haarfärbemittel und kleine Requisiten, mit denen du dein Aussehen verändern kannst. Wenn du im Umgang mit dieser Ausrüstung geübt bist, kannst du deinen Übungsbonus zu allen Attributswürfen addieren, die du zum Verkleiden ausführst.</p>
<h3 id="reittiere-und-fahrzeuge">Reittiere und Fahrzeuge</h3>
<p>Ein gutes Reittier ermöglicht es dir, dich schneller durch die Wildnis fortzubewegen. Hauptsächlich trägt es allerdings die Ausrüstung, die dich sonst verlangsamen würde. Die Tabelle „Reittiere und andere Tiere&quot; zeigt die Bewegungsrate und den Traglast-Grundwert jedes Tieres.</p>
<p>Wenn ein Tier eine Kutsche, einen Karren, einen Streitwagen, einen Schlitten oder einen Wagen zieht, kann es einschließlich des Fahrzeugs maximal den fünffachen Grundwert seiner Traglast ziehen. Wenn mehrere Tiere dasselbe Fahrzeug ziehen, wird ihre Traglast addiert.</p>
<p>Reittiere, die hier nicht aufgeführt sind, existieren in Fantasy-Spielwelten, sind aber selten und werden üblicherweise nicht zum Verkauf angeboten. Dazu gehören fliegende Reittiere (Pegasi, Greifen, Pferdegreife und ähnliche Tiere) und auch Wasser-Reittiere</p>
<p>(etwa Riesen-Seepferdchen), Solche Reittiere sind häufig nur erhältlich, indem man ein Ei beschafft und die Kreatur selbst aufzieht, ein Geschäft mit einem mächtigen Wesen abschließt oder mit dem Reittier selbst verhandelt.</p>
<p><span class="trait-name">Rossharnisch:</span> Ein Rossharnisch schützt den Kopf, Hals, Brustbereich und Körper eines Tieres. Jede in der Tabelle „Rüstungen&quot; aufgeführte Art von Rüstung ist als Rossharnisch verfügbar. Die Kosten entsprechen dem vierfachen Preis für Humanoide und das Gewicht ist doppelt so hoch.</p>
<p><span class="trait-name">Sättel:</span> Ein Militärsattel stützt den Reiter und hilft, dich auch im Kampf im Sattel zu halten. Dadurch bist du bei Würfen, die du ausführst, um im Sattel zu bleiben, im Vorteil. Um Wasserreittiere oder fliegende Reittier zu reiten, sind exotische Sättel notwendig.</p>
<p><span class="trait-name">Übung mit Fahrzeugen:</span> Wenn du im Umgang mit einer bestimmten Art Fahrzeug (Land- oder Wasserfahrzeug) geübt bist, kannst du deinen Übungsbonus zu Würfen hinzufügen, die du ausführst, um diese Art von Fahrzeug unter schwierigen Umständen zu steuern.</p>
<p><span class="trait-name">Ruderfahrzeuge:</span> Kiel- und Ruderboote werden auf Seen und Flüssen verwendet Wenn du stromabwärts fährst, füge die Strömungsgeschwindigkeit (üblicherweise fünf Kilometer pro Stunde) zur Bewegungsrate des Fahrzeugs hinzu. Mit diesen Fahrzeugen kannst du nicht gegen starke Strömungen anrudern, aber sie können von Zugtieren vom Ufer aus stromaufwärts gezogen werden. Falls Abenteurer es über Land tragen wollen, wiegt ein Ruderboot 50 Kilogramm.</p>
<h5>Reittiere und andere Tiere</h5>
<table id="table-reittiere-und-andere-tiere">
<tr><th>Gegenstand</th>
<th>Kosten</th>
<th>Bewegungsrate</th>
<th>Traglast</th></tr>
<tr><td>Dogge</td><td>25 GM</td><td>12 Meter</td><td>97,5 kg</td></tr>
<tr><td>Elefant</td><td>200 GM</td><td>12 Meter</td><td>2.000 kg</td></tr>
<tr><td>Esel oder Maultier</td><td>8 GM</td><td>12 Meter</td><td>210 kg</td></tr>
<tr><td>Kamel</td><td>50 GM</td><td>15 m</td><td>240 kg</td></tr>
<tr><td>Pony</td><td>30 GM</td><td>12 Meter</td><td>112,5 kg</td></tr>
<tr><td>Reitpferd</td><td>75 GM</td><td>18 Meter</td><td>240 kg</td></tr>
<tr><td>Streitross</td><td>400 GM</td><td>18 Meter</td><td>270 kg</td></tr>
<tr><td>Zugpferd</td><td>50 GM</td><td>12 Meter</td><td>270 kg</td></tr>
</table>
<h5>Sattel und Zaumzeug, Geschirr und Fuhrwerke</h5>
<table id="table-sattel-und-zaumzeug-geschirr-und-fuhrwerke">
<tr><th>Gegenstand</th>
<th>Kosten</th>
<th>Gewicht</th></tr>
<tr><td>Futter (pro Tag)</td><td>5 KM</td><td>5 kg</td></tr>
<tr><td>Gebiss und Zaumzeug</td><td>2 GM</td><td>0,5 kg</td></tr>
<tr><td>Karren</td><td>15 GM</td><td>100 kg</td></tr>
<tr><td>Kutsche</td><td>100 GM</td><td>300 kg</td></tr>
<tr><td>Rossharnisch</td><td>x4</td><td>x2</td></tr>
<tr><td colspan="3"><span class="nameref">Sattel</span></td></tr>
<tr><td>Exotischer Sattel</td><td>60 GM</td><td>20 kg</td></tr>
<tr><td>Militärsattel</td><td>20 GM</td><td>15 kg</td></tr>
<tr><td>Packsattel</td><td>5 GM</td><td>7,5 kg</td></tr>
<tr><td>Reitsattel</td><td>10 GM</td><td>12,5 kg</td></tr>
<tr><td>Satteltaschen</td><td>4 GM</td><td>4 kg</td></tr>
<tr><td>Schlitten</td><td>20 GM</td><td>150 kg</td></tr>
<tr><td>Stallmiete (pro Tag)</td><td>5 SM</td><td>-</td></tr>
<tr><td>Streitwagen</td><td>250 GM</td><td>50 kg</td></tr>
<tr><td>Wagen</td><td>35 GM</td><td>200 kg</td></tr>
</table>
<h5>Wasserfahrzeuge</h5>
<table id="table-wasserfahrzeuge">
<tr><th>Gegenstand</th>
<th>Kosten</th>
<th>Bewegungsrate</th></tr>
<tr><td>Galeere</td><td>30.000 GM</td><td>6,4 km/h</td></tr>
<tr><td>Kielboot</td><td>3.000 GM</td><td>1,6 km/h</td></tr>
<tr><td>Kriegsschiff</td><td>25.000 GM</td><td>4 km/h</td></tr>
<tr><td>Langschiff</td><td>10.000 GM</td><td>4,8 km/h</td></tr>
<tr><td>Ruderboot</td><td>50 GM</td><td>2,4 km/h</td></tr>
<tr><td>Segelschiff</td><td>10.000 GM</td><td>3,2 km/h</td></tr>
</table>
<h3 id="handelswaren">Handelswaren</h3>
<p>Münzen sind nicht das vorrangige Maß für Reichtum. Vieh, Getreide, Rechte zum Eintreiben von Steuern oder Rechte an Ressourcen wie Bergwerken oder Wäldern sind wichtigere Anhaltspunkte.</p>
<p>Gilden, Adelige und Angehörige des Königshauses regulieren den Handel. Handelskompanien haben das Recht, entlang bestimmter Routen Handel zu treiben, Handelsschiffe zu verschiedenen Häfen zu senden oder bestimmte Güter zu kaufen oder zu verkaufen. Gilden legen die Preise für die Güter und Dienstleistungen unter ihrer Kontrolle fest. Sie bestimmen auch, wer diese Güter und Dienstleistungen anbieten darf. Händler tauschen Handelswaren meist aus, ohne Währungen zu verwenden. Die Tabelle „Handelswaren&quot; zeigt den Wert von häufig getauschten Waren.</p>
<h5>Handelswaren</h5>
<table id="table-handelswaren">
<tr>
<th>Kosten</th>
<th>Güter</th>
</tr>
<tr><td>1KM    </td><td>0,5 kg Weizen</td></tr>
<tr><td>2 KM   </td><td>0,5 kg Mehl oder ein Huhn</td></tr>
<tr><td>5 KM   </td><td>0,5 kg Salz</td></tr>
<tr><td>1SM    </td><td>0,5 kg Eisen oder 1 &#13217; Leinentuch</td></tr>
<tr><td>5 SM   </td><td>0,5 kg Kupfer oder 1 &#13217; Baumwollstoff</td></tr>
<tr><td>1GM    </td><td>0,5 kg Ingwer oder eine Ziege</td></tr>
<tr><td>2 GM   </td><td>0,5 kg Zimt oder Pfeffer oder ein Schaf</td></tr>
<tr><td>3 GM   </td><td>0,5 kg Nelken oder ein Schwein</td></tr>
<tr><td>5 GM   </td><td>0,5 kg Silber oder 1 &#13217; Leinentuch</td></tr>
<tr><td>10 GM  </td><td>1 &#13217; Seide oder eine Kuh</td></tr>
<tr><td>15 GM  </td><td>0,5 kg Safran oder ein Ochse</td></tr>
<tr><td>50 GM  </td><td>0,5 kg Gold</td></tr>
<tr><td>500 GM </td><td>0,5 kg Platin</td></tr>
</table>

<h3 id="ausgaben">Ausgaben</h3>
<p>Wenn Abenteurer nicht in die Tiefen der Erde herabsteigen, Ruinen nach vergessenen Schätzen durchstöbern oder Krieg gegen die herannahende Dunkelheit führen, stehen sie alltäglicheren Herausforderungen gegenüber. Auch in einer fantastischen Welt haben die Einwohner bestimmte Grundbedürfnisse wie eine Unterkunft, Nahrung und Kleidung. All das kostet Geld, doch manche Lebensstile sind teurer als andere.</p>
<h4>Lebensstil-Ausgaben</h4>
<p>Lebensstil-Ausgaben sind eine einfache Methode, die Lebenshaltungskosten in einer Fantasy-Welt abzuschätzen. Die Ausgaben umfassen deine Unterkunft, Essen und Trinken sowie alle weiteren Grundbedürfnisse. Diese Ausgaben enthalten auch die Kosten für die Instandhaltung deiner Ausrüstung. Schließlich musst du bereit sein, wenn das nächste Abenteuer ruft.</p>
<p>Wähle zu Beginn jeder Woche oder jedes Monats (du entscheidest) einen Lebensstil aus der Tabelle .Ausgaben&quot; aus und bezahle den entsprechenden Preis dafür. Die angegebenen Preise sind Tagespreise. Wenn du also die Kosten des ausgewählten Lebensstils für 30 Tage berechnen möchtest, musst du den Listenpreis mit 30 multiplizieren. Je nachdem, wie viel Geld dir zur Verfügung steht, kann sich dein Lebensstil von Zeit zu Zeit ändern. Du kannst aber auch über die gesamte Karriere deines Charakters denselben Lebensstil beibehalten.</p>
<p>Die Wahl deines Lebensstils kann Konsequenzen haben. Ein wohlhabender Lebensstil kann helfen, Kontakte zu den Reichen und Mächtigen aufzubauen, lockt aber unter Umständen auch Diebe an. Umgekehrt ist es zwar unwahrscheinlich, dass ein bescheidener Lebenswandel Kriminelle anlockt, aber du wirst kaum einflussreiche Bekanntschaften machen.</p>
<h5>Lebensstil-Ausgaben</h5>
<table id="table-lebensstil-ausgaben">
<tr><th>Lebensstil</th>
<th>Preis/Tag</th></tr>
<tr><td>Erbärmlich</td><td>-</td></tr>
<tr><td>Ärmlich</td><td>1SM</td></tr>
<tr><td>Schlecht</td><td>2 SM</td></tr>
<tr><td>Einfach</td><td>1 GM</td></tr>
<tr><td>Komfortabel</td><td>2 GM</td></tr>
<tr><td>Wohlhabend</td><td>4 GM</td></tr>
<tr><td>Edel</td><td>Mindestens 10 GM</td></tr>
</table>
<p><span class="trait-name">Erbärmlich:</span> Du lebst unter unwürdigen Bedingungen. Du hast kein Zuhause und schleichst dich nachts in Scheunen, verkriechst dich in alte Kisten und verlässt dich auf die Barmherzigkeit derer, die besser dran sind als du. Ein erbärmlicher Lebensstil birgt reichlich Gefahren. Gewalt, Krankheit und Hunger folgen dir auf Schritt und Tritt Andere erbärmliche Einwohner beneiden dich um deine Rüstung, Waffen und Abenteuerausrüstung - in ihren Augen ein Vermögen. Du wirst von anderen kaum beachtet.</p>
<p><span class="trait-name">Ärmlich:</span> Du wohnst in einem undichten Stall, einer Hütte mit Lehmboden am Dorfrand oder in einer ungezieferverseuchten Herberge im schäbigsten Viertel. Du hast ein Dach über dem Kopf, aber dein Leben ist geprägt von Not, Gewalt, grassierenden Krankheiten, Hunger und Unglück. Du wirst von anderen kaum beachtet und genießt nur wenig rechtlichen Schutz. In den meisten Fällen ist dieser Lebensstil die Folge eines furchtbaren Rückschlags. Die Angehörigen dieser Bevölkerungsschicht können an körperlichen oder geistigen Gebrechen leiden oder verbannt worden sein.</p>
<p><span class="trait-name">Schlecht:</span> Ein schlechter Lebensstil bedeutet, dass du auf die Annehmlichkeiten einer stabilen Gemeinschaft verzichten musst. Die einfache Nahrung und Unterkunft, zerschlissene Kleidung und unvorhersehbaren Umstände führen zu einem hinlänglichen aber wahrscheinlich nicht allzu angenehmen Dasein. Deine Unterkunft könnte ein Zimmer in einer schäbigen Absteige oder der Aufenthaltsraum über einer Taverne sein. Du genießt einen gewissen Schutz durch geltendes Recht, musst dich allerdings dennoch mit Gewalt, Kriminalität und Krankheiten herumschlagen. Die Angehörigen dieser Bevölkerungsschicht sind meist ungelernte Arbeiter, Straßenhändler, Hausierer, Diebe, Söldner und andere ehrlose Typen.</p>
<p><span class="trait-name">Einfach:</span> Ein einfacher Lebensstil hält dich von den Elendsvierteln fern und bedeutet, dass du deine Ausrüstung instand halten kannst. Du wohnst in einem der älteren Ortsteile und mietest ein Zimmer in einer Herberge, einem Gasthaus oder einem Tempel. Du leidest weder Hunger noch Durst und dein Leben ist einfach, aber reinlich. Einfache Leute mit bescheidenen Lebensstilen sind beispielsweise Soldaten mit ihren Familien, Arbeiter, Schüler, Priester, Heckenmagier und so weiter.</p>
<p><span class="trait-name">Komfortabel:</span> Wenn du dich für einen komfortablen Lebensstil entscheidest, kannst du dir bessere Kleidung leisten und deine Ausrüstung ohne Probleme in Stand halten. Du wohnst in einem kleinen Landhaus in einem bürgerlichen Viertel oder ein einem privaten Zimmer in einem feinen Gasthaus. Zu deinen Bekanntschaften gehören Händler, gelernte Handwerker und Offiziere.</p>
<p><span class="trait-name">Wohlhabend:</span> Wenn du dich für einen wohlhabenden Lebensstil entscheidest, genießt du ein luxuriöses Leben. Du hast allerdings nicht unbedingt den sozialen Status des alten Adels. Dein Lebensstandard ist mit dem eines sehr erfolgreichen Händlers, eines begünstigten Dieners der Herrscherfamilie oder eines Eigentümers einiger kleiner Geschäfte vergleichbar. Du wohnst in einer ansehnlichen Unterkunft - in der Regel in einem geräumigen Haus in einem wohlhabenden Ortsteil oder in einer gemütlichen Suite in einem gehobenen Gasthaus. Wahrscheinlich hast du ein paar Bedienstete.</p>
<p><span class="trait-name">Edel:</span> Du lebst in Überfluss und Luxus. Du verkehrst in denselben Kreisen wie die mächtigsten Akteure der Gemeinschaft. Du wohnst in einer exzellenten Unterkunft, etwa in einem Stadthaus im besten Viertel oder im feinsten Gasthaus des Ortes.</p>
<p>Du speist in den besten Restaurants, kaufst deine Kleidung beim besten und modischsten Schneider und hast Bedienstete, die jeden deiner Wünsche erfüllen. Du wirst zu den Gesellschaften der Reichen und Mächtigen eingeladen und verbringst deine Abende mit Politikern, Gildenführern, Hohepriestern und Adeligen. Allerdings musst du auch mit Täuschungen und Verrat aller Art fertig werden. Je reicher du bist, desto wahrscheinlicher ist es, dass du aktiv oder als Schachfigur eines anderen in eine politische Intrige verwickelt wirst.</p>

<div class="boxed" id="box-selbstversorgung">
<h5>Selbstversorgung</h5>
<p>Die hier beschriebenen Ausgaben und Lebensstile setzen voraus, dass du deine Zeit zwischen den Abenteuern in einer Ortschaft verbringst und die Dienstleistungen nutzt, die du dir leisten kannst - du zahlst für Nahrung und Unterkunft und lässt andere gegen Geld dein Schwert schärfen, deine Rüstung reparieren und so weiter. Manche Charaktere verbringen ihre Zeit allerdings lieber fernab von jeder Zivilisation. Sie versorgen sich selbst, indem sie Nahrung sammeln und jagen und ihre Ausrüstung selbst reparieren.</p>
<p>Dieser Lebensstil kostet dich keine Münzen, ist jedoch zeitaufwändig. Wenn du die Zeit zwischen deinen Abenteuern damit verbringst, einen Beruf auszuüben, kannst du dich mit einem schlechten Lebensstil durchschlagen. Wenn du in der Überlebenskunst geübt bist, erlaubt dir das einen komfortablen Lebensstil.</p>
</div>

<h4>Unterkunft und Verpflegung</h4>
<p>Die Tabelle „Unterkunft und Verpflegung&quot; zeigt Preise für einzelne Nahrungsmittel und eine Unterkunft für eine Nacht. Diese Preise sind in deinen Lebensstil-Ausgaben bereits enthalten.</p>
<h5>Unterkunft und Verpflegung</h5>
<table id="table-unterkunft-und-verpflegung">
<tr><th>Gegenstand</th>
<th>Kosten</th></tr>
<tr><td><span class="nameref">Bier</span></td><td></td></tr>
<tr><td>4 Liter</td><td>2 SM</td></tr>
<tr><td>Humpen</td><td>4 KM</td></tr>
<tr><td>Bankett (pro Person)</td><td>10 GM</td></tr>
<tr><td>Brotlaib</td><td>2 KM</td></tr>
<tr><td>Fleisch, Stück</td><td>3 SM</td></tr>
<tr><td><span class="nameref">Gasthof (je Übernachtung)</span></td><td></td></tr>
<tr><td>Ärmlich</td><td>7 KM</td></tr>
<tr><td>Schlecht</td><td>1SM</td></tr>
<tr><td>Einfach</td><td>5 SM</td></tr>
<tr><td>Komfortabel</td><td>8 SM</td></tr>
<tr><td>Wohlhabend</td><td>2 GM</td></tr>
<tr><td>Edel</td><td>4 GM</td></tr>
<tr><td>Käse, Stück</td><td>1SM</td></tr>
<tr><td><span class="nameref">Mahlzeiten (pro Tag)</span></td><td></td></tr>
<tr><td>Ärmlich</td><td>3 KM</td></tr>
<tr><td>Schlecht</td><td>6 KM</td></tr>
<tr><td>Einfach</td><td>3 SM</td></tr>
<tr><td>Komfortabel</td><td>5 SM</td></tr>
<tr><td>Wohlhabend</td><td>8 SM</td></tr>
<tr><td>Edel</td><td>2 GM</td></tr>
<tr><td><span class="nameref">Wein</span></td><td></td></tr>
<tr><td>Fein (Flasche)</td><td>10 GM</td></tr>
<tr><td>Gewöhnlich (Karaffe)</td><td>2 SM</td></tr>
</table>
<h4>Dienstleistungen</h4>
<p>Abenteurer können Nichtspielercharaktere bezahlen, um in allen möglichen Situationen Hilfe zu erhalten oder sich vertreten zu lassen. In den meisten Fällen haben solche Mietlinge nur grundlegende Fertigkeiten. Manche sind Meister ihres Handwerks oder ihrer Kunst, und ganz wenige sind Experten mit besonderen Abenteurer-Fertigkeiten.</p>
<p>Einige der üblichsten Mietlinge werden in der Tabelle „Dienstleistungen&quot; angegeben. Außerdem lässt sich jeder der Einwohner einer typischen Ortschaft oder Stadt als Mietling anheuern, wenn die Abenteurer für eine bestimmte Aufgabe genug bezahlen. Beispielsweise könnte ein Magier einen Zimmermann beauftragen, eine kunstvolle Truhe (und eine Miniatur dieser) für den Zauber <a class="spell" href="#spell-geheime-truhe">Geheime Truhe</a> anzufertigen. Ein Kämpfer könnte einen Schmied bitten, ein besonderes Schwert zu schmieden. Oder ein Barde könnte einen Schneider für erlesene Kleidung bezahlen, um bei einem anstehenden Auftritt vor dem Herzog oder der Herzogin eine gute Figur zu machen.</p>
<p>Andere Mietlinge bieten speziellere oder gefährlichere Dienstleistungen an. Söldner, die bezahlt werden, um mit den Abenteurern gegen eine Armee Hobgoblins in den Kampf zu ziehen, sind ebenso Mietlinge wie Weise, die angeheuert werden, um uraltes oder esoterisches Wissen zu erforschen. Wenn ein Abenteurer irgendwann so hohe Stufen erreicht hat, dass er oder sie eine Festung errichten kann, wird ein ganzer Stab Bediensteter notwendig sein, um diese zu unterhalten: vom Kastellan oder Vogt, der die Verwaltung übernimmt, bis hin zu einfachen Arbeitern, die die Ställe ausmisten. Diese Mietlinge genießen häufig die Vorzüge eines langfristigen Vertrags, zu dessen Lohnpaket auch eine Unterkunft in der Festung gehört Reise in eine große Stadt notwendig, in der es zum Beispiel eine Universität oder einen großen Tempel gibt. Ein entsprechend qualifizierter Zauberwirker verlangt dann unter Umständen eine Gegenleistung für seine Mühen - die Art von Leistung, die nur Abenteurer vollbringen können. Vielleicht braucht der Magier jemanden, der einen seltenen Gegenstand von einem gefährlichen Ort beschafft oder etwas Wichtiges durch die monsterverseuchte Wildnis zu einer weit entfernten Siedlung bringt.</p>
<h5>Dienstleistungen</h5>
<table id="table-dienstleistungen">
<tr><th>Dienstleistung</th>
<th>Preis</th></tr>
<tr><td colspan="2"><span class="nameref">Kutsche</span></td></tr>
<tr><td>In einer Stadt</td><td>1 KM</td></tr>
<tr><td>Zwischen Städten</td><td>3 KM pro 1,6 km</td></tr>
<tr><td>Bote</td><td>2 KM pro 1,6 km</td></tr>
<tr><td colspan="2"><span class="nameref">Mietling</span></td></tr>
<tr><td>Ausgebildet</td><td>2 GM pro Tag</td></tr>
<tr><td>Ungelernt</td><td>2 SM pro Tag</td></tr>
<tr><td>Schiffspassage</td><td>1 SM pro 1,6 km</td></tr>
<tr><td>Straßen- oder Wegzoll</td><td>1 KM</td></tr>
</table>
<p>Jeder, der angeheuert wird, um eine Aufgabe auszuführen, die Übung mit Waffen, Werkzeugen oder Fertigkeiten verlangt, ist ein ausgebildeter Mietling. Dazu gehören beispielsweise Söldner, Handwerker, Schreiber und so weiter. Die aufgelisteten Preise sind Mindestpreise - manche Spezialisten verlangen mehr Geld. Ungelernte Mietlinge werden für einfache Arbeiten angeheuert, die keine speziellen Fertigkeiten verlangen. Zu diesen Mietlingen gehören unter anderem Arbeiter, Gepäckträger, Mägde und ähnliche Arbeitskräfte.</p>
<h4>Zauberwirken-Dienstleistungen</h4>
<p>Wer Zauber wirken kann, ist kein gemeiner Mietling. Es ist nicht unmöglich, jemanden zu finden, der für Geld oder einen Gefallen einen Zauber wirken würde. Solche Dienstleister sind allerdings meist schwer zu finden und es gibt keine gängigen Preise für diese Dienste. Je höher die Stufe des gewünschten Zaubers, desto schwerer ist es, jemanden zu finden - und umso teurer wird die Dienstleistung.</p>
<p>In einer Stadt oder Ortschaft ist es relativ einfach, jemanden aufzuspüren, der einen gewöhnlichen Zauber wie <a class="spell" href="#spell-wunden-heilen">Wunden heilen</a> oder <a class="spell" href="#spell-identifizieren">Identifizieren</a> zu wirken. Der Preis dafür bewegt sich wahrscheinlich zwischen zehn und 50 Goldmünzen (gegebenenfalls zuzüglich Materialkomponenten). Um jemanden zu finden, der in der Lage und willens ist, Zauber höherer Stufen zu wirken, ist wahrscheinlich eine</p>