<h4 id="zauber-des-magiers">Zauber des Magiers</h4>

<h5>Zaubertricks (0. Grad)</h5>
<ul>
<li><a href="#spell-ausbessern">Ausbessern</a></li>
<li><a href="#spell-botschaft">Botschaft</a></li>
<li><a href="#spell-einfache-illusion">Einfache Illusion</a></li>
<li><a href="#spell-feuerpfeil">Feuerpfeil</a></li>
<li><a href="#spell-gift-verspruehen">Gift versprühen</a></li>
<li><a href="#spell-kalte-hand">Kalte Hand</a></li>
<li><a href="#spell-kaeltestrahl">Kältestrahl</a></li>
<li><a href="#spell-licht">Licht</a></li>
<li><a href="#spell-magierhand">Magierhand</a></li>
<li><a href="#spell-saeurespritzer">Säurespritzer</a></li>
<li><a href="#spell-schockgriff">Schockgriff</a></li>
<li><a href="#spell-tanzende-lichter">Tanzende Lichter</a></li>
<li><a href="#spell-taschenspielerei">Taschenspielerei</a></li>
<li><a href="#spell-zielsicherer-schlag">Zielsicherer Schlag</a></li>
</ul>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-alarm">Alarm</a></li>
<li><a href="#spell-brennende-haende">Brennende Hände</a></li>
<li><a href="#spell-donnerwoge">Donnerwoge</a></li>
<li><a href="#spell-falsches-leben">Falsches Leben</a></li>
<li><a href="#spell-federfall">Federfall</a></li>
<li><a href="#spell-fuerchterlicher-lachanfall">Fürchterlicher Lachanfall</a></li>
<li><a href="#spell-identifizieren">Identifizieren</a></li>
<li><a href="#spell-illusionsschrift">Illusionsschrift</a></li>
<li><a href="#spell-lange-schritte">Lange Schritte</a></li>
<li><a href="#spell-lautloses-trugbild">Lautloses Trugbild</a></li>
<li><a href="#spell-magie-entdecken">Magie entdecken</a></li>
<li><a href="#spell-magierruestung">Magierrüstung</a></li>
<li><a href="#spell-magisches-geschoss">Magisches Geschoss</a></li>
<li><a href="#spell-nebelwolke">Nebelwolke</a></li>
<li><a href="#spell-person-bezaubern">Person bezaubern</a></li>
<li><a href="#spell-rascher-rueckzug">Rascher Rückzug</a></li>
<li><a href="#spell-schild">Schild</a></li>
<li><a href="#spell-schlaf">Schlaf</a></li>
<li><a href="#spell-schmieren">Schmieren</a></li>
<li><a href="#spell-schutz-vor-gut-und-boese">Schutz vor Gut und Böse</a></li>
<li><a href="#spell-schwebende-scheibe">Schwebende Scheibe</a></li>
<li><a href="#spell-selbstverkleidung">Selbstverkleidung</a></li>
<li><a href="#spell-sprachen-verstehen">Sprachen verstehen</a></li>
<li><a href="#spell-springen">Springen</a></li>
<li><a href="#spell-spruehende-farben">Sprühende Farben</a></li>
<li><a href="#spell-unsichtbarer-diener">Unsichtbarer Diener</a></li>
<li><a href="#spell-vertrauten-finden">Vertrauten finden</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-arkanes-schloss">Arkanes Schloss</a></li>
<li><a href="#spell-blindheit-taubheit">Blindheit/Taubheit</a></li>
<li><a href="#spell-dauerhafte-flamme">Dauerhafte Flamme</a></li>
<li><a href="#spell-dunkelheit">Dunkelheit</a></li>
<li><a href="#spell-dunkelsicht">Dunkelsicht</a></li>
<li><a href="#spell-einfluesterung">Einflüsterung</a></li>
<li><a href="#spell-flammenkugel">Flammenkugel</a></li>
<li><a href="#spell-gedanken-wahrnehmen">Gedanken wahrnehmen</a></li>
<li><a href="#spell-gegenstand-aufspueren">Gegenstand aufspüren</a></li>
<li><a href="#spell-gestalt-veraendern">Gestalt verändern</a></li>
<li><a href="#spell-klopfen">Klopfen</a></li>
<li><a href="#spell-magische-aura-des-arkanisten">Magische Aura des Arkanisten</a></li>
<li><a href="#spell-magische-waffe">Magische Waffe</a></li>
<li><a href="#spell-magischer-mund">Magischer Mund</a></li>
<li><a href="#spell-nebelschritt">Nebelschritt</a></li>
<li><a href="#spell-netz">Netz</a></li>
<li><a href="#spell-person-festhalten">Person festhalten</a></li>
<li><a href="#spell-sanfte-ruhe">Sanfte Ruhe</a></li>
<li><a href="#spell-saeurepfeil">Säurepfeil</a></li>
<li><a href="#spell-schwaechestrahl">Schwächestrahl</a></li>
<li><a href="#spell-schweben">Schweben</a></li>
<li><a href="#spell-seiltrick">Seiltrick</a></li>
<li><a href="#spell-sengender-strahl">Sengender Strahl</a></li>
<li><a href="#spell-spiegelbilder">Spiegelbilder</a></li>
<li><a href="#spell-spinnenklettern">Spinnenklettern</a></li>
<li><a href="#spell-unsichtbares-sehen">Unsichtbares sehen</a></li>
<li><a href="#spell-unsichtbarkeit">Unsichtbarkeit</a></li>
<li><a href="#spell-vergroessern-verkleinern">Vergrößern/Verkleinern</a></li>
<li><a href="#spell-verschwimmen">Verschwimmen</a></li>
<li><a href="#spell-windstoss">Windstoß</a></li>
<li><a href="#spell-zerbersten">Zerbersten</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-blitz">Blitz</a></li>
<li><a href="#spell-feuerball">Feuerball</a></li>
<li><a href="#spell-fliegen">Fliegen</a></li>
<li><a href="#spell-flimmern">Flimmern</a></li>
<li><a href="#spell-fluch">Fluch</a></li>
<li><a href="#spell-fluch-brechen">Fluch brechen</a></li>
<li><a href="#spell-furcht">Furcht</a></li>
<li><a href="#spell-gasfoermige-gestalt">Gasförmige Gestalt</a></li>
<li><a href="#spell-gegenzauber">Gegenzauber</a></li>
<li><a href="#spell-geisterross">Geisterross</a></li>
<li><a href="#spell-glyphe-des-schutzes">Glyphe des Schutzes</a></li>
<li><a href="#spell-hast">Hast</a></li>
<li><a href="#spell-hellsehen">Hellsehen</a></li>
<li><a href="#spell-hypnotisches-muster">Hypnotisches Muster</a></li>
<li><a href="#spell-maechtiges-trugbild">Mächtiges Trugbild</a></li>
<li><a href="#spell-magie-bannen">Magie bannen</a></li>
<li><a href="#spell-schneesturm">Schneesturm</a></li>
<li><a href="#spell-schutz-vor-energie">Schutz vor Energie</a></li>
<li><a href="#spell-schutzkreis">Schutzkreis</a></li>
<li><a href="#spell-stinkende-wolke">Stinkende Wolke</a></li>
<li><a href="#spell-tote-beleben">Tote beleben</a></li>
<li><a href="#spell-unauffindbarkeit">Unauffindbarkeit</a></li>
<li><a href="#spell-vampirgriff">Vampirgriff</a></li>
<li><a href="#spell-verlangsamen">Verlangsamen</a></li>
<li><a href="#spell-verstaendigung">Verständigung</a></li>
<li><a href="#spell-wasser-atmen">Wasser atmen</a></li>
<li><a href="#spell-winzige-huette">Winzige Hütte</a></li>
<li><a href="#spell-zungen">Zungen</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-arkanes-auge">Arkanes Auge</a></li>
<li><a href="#spell-dimensionstuer">Dimensionstür</a></li>
<li><a href="#spell-eissturm">Eissturm</a></li>
<li><a href="#spell-feuerschild">Feuerschild</a></li>
<li><a href="#spell-feuerwand">Feuerwand</a></li>
<li><a href="#spell-geheime-truhe">Geheime Truhe</a></li>
<li><a href="#spell-kreatur-aufspueren">Kreatur aufspüren</a></li>
<li><a href="#spell-maechtige-unsichtbarkeit">Mächtige Unsichtbarkeit</a></li>
<li><a href="#spell-plage">Plage</a></li>
<li><a href="#spell-privates-heiligtum">Privates Heiligtum</a></li>
<li><a href="#spell-scheingelaende">Scheingelände</a></li>
<li><a href="#spell-schwache-elementare-beschwoeren">Schwache Elementare beschwören</a></li>
<li><a href="#spell-schwarze-tentakel">Schwarze Tentakel</a></li>
<li><a href="#spell-stein-formen">Stein formen</a></li>
<li><a href="#spell-steinhaut">Steinhaut</a></li>
<li><a href="#spell-toedliches-phantom">Tödliches Phantom</a></li>
<li><a href="#spell-treuer-hund">Treuer Hund</a></li>
<li><a href="#spell-unverwuestliche-sphaere">Unverwüstliche Sphäre</a></li>
<li><a href="#spell-verarbeitung">Verarbeitung</a></li>
<li><a href="#spell-verbannung">Verbannung</a></li>
<li><a href="#spell-verwandlung">Verwandlung</a></li>
<li><a href="#spell-verwirrung">Verwirrung</a></li>
<li><a href="#spell-wasser-kontrollieren">Wasser kontrollieren</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-ablenkung">Ablenkung</a></li>
<li><a href="#spell-arkane-hand">Arkane Hand</a></li>
<li><a href="#spell-aeusserlichkeiten">Äußerlichkeiten</a></li>
<li><a href="#spell-ausspaehung">Ausspähung</a></li>
<li><a href="#spell-bindung-der-ebenen">Bindung der Ebenen</a></li>
<li><a href="#spell-elementar-beschwoeren">Elementar beschwören</a></li>
<li><a href="#spell-energiewand">Energiewand</a></li>
<li><a href="#spell-erinnerung-veraendern">Erinnerung verändern</a></li>
<li><a href="#spell-erschaffung">Erschaffung</a></li>
<li><a href="#spell-geas">Geas</a></li>
<li><a href="#spell-gegenstaende-beleben">Gegenstände beleben</a></li>
<li><a href="#spell-kaeltekegel">Kältekegel</a></li>
<li><a href="#spell-kontakt-zu-anderen-ebenen">Kontakt zu anderen Ebenen</a></li>
<li><a href="#spell-kreis-der-teleportation">Kreis der Teleportation</a></li>
<li><a href="#spell-monster-festhalten">Monster festhalten</a></li>
<li><a href="#spell-person-beherrschen">Person beherrschen</a></li>
<li><a href="#spell-sagenkunde">Sagenkunde</a></li>
<li><a href="#spell-steinwand">Steinwand</a></li>
<li><a href="#spell-telekinese">Telekinese</a></li>
<li><a href="#spell-telepathische-bindung">Telepathische Bindung</a></li>
<li><a href="#spell-todeswolke">Todeswolke</a></li>
<li><a href="#spell-traum">Traum</a></li>
<li><a href="#spell-waende-passieren">Wände passieren</a></li>
</ul>

<h5>6. Grad</h5>
<ul>
<li><a href="#spell-aufloesung">Auflösung</a></li>
<li><a href="#spell-boeser-blick">Böser Blick</a></li>
<li><a href="#spell-eiswand">Eiswand</a></li>
<li><a href="#spell-erde-bewegen">Erde bewegen</a></li>
<li><a href="#spell-fleisch-zu-stein">Fleisch zu Stein</a></li>
<li><a href="#spell-frostsphaere">Frostsphäre</a></li>
<li><a href="#spell-kettenblitz">Kettenblitz</a></li>
<li><a href="#spell-kugel-der-unverwundbarkeit">Kugel der Unverwundbarkeit</a></li>
<li><a href="#spell-magisches-gefaess">Magisches Gefäß</a></li>
<li><a href="#spell-massen-einfluesterung">Massen-Einflüsterung</a></li>
<li><a href="#spell-notfall">Notfall</a></li>
<li><a href="#spell-sofortige-beschwoerung">Sofortige Beschwörung</a></li>
<li><a href="#spell-sonnenstrahl">Sonnenstrahl</a></li>
<li><a href="#spell-todeskreis">Todeskreis</a></li>
<li><a href="#spell-untote-erschaffen">Untote erschaffen</a></li>
<li><a href="#spell-unwiderstehlicher-tanz">Unwiderstehlicher Tanz</a></li>
<li><a href="#spell-vorbestimmtes-trugbild">Vorbestimmtes Trugbild</a></li>
<li><a href="#spell-waechter-und-hueter">Wächter und Hüter</a></li>
<li><a href="#spell-wahrer-blick">Wahrer Blick</a></li>
</ul>

<h5>7. Grad</h5>
<ul>
<li><a href="#spell-arkane-spiegelung">Arkane Spiegelung</a></li>
<li><a href="#spell-arkanes-schwert">Arkanes Schwert</a></li>
<li><a href="#spell-aetherische-gestalten">Ätherische Gestalten</a></li>
<li><a href="#spell-ebenenwechsel">Ebenenwechsel</a></li>
<li><a href="#spell-energiekaefig">Energiekäfig</a></li>
<li><a href="#spell-finger-des-todes">Finger des Todes</a></li>
<li><a href="#spell-herrliches-herrenhaus">Herrliches Herrenhaus</a></li>
<li><a href="#spell-regenbogenspiel">Regenbogenspiel</a></li>
<li><a href="#spell-schwerkraft-umkehren">Schwerkraft umkehren</a></li>
<li><a href="#spell-simulakrum">Simulakrum</a></li>
<li><a href="#spell-spaetzuendender-feuerball">Spätzündender Feuerball</a></li>
<li><a href="#spell-symbol">Symbol</a></li>
<li><a href="#spell-teleportieren">Teleportieren</a></li>
<li><a href="#spell-trugbild-projizieren">Trugbild projizieren</a></li>
<li><a href="#spell-verbergen">Verbergen</a></li>
</ul>

<h5>8. Grad</h5>
<ul>
<li><a href="#spell-antimagisches-feld">Antimagisches Feld</a></li>
<li><a href="#spell-antipathie-sympathie">Antipathie/Sympathie</a></li>
<li><a href="#spell-flammende-wolke">Flammende Wolke</a></li>
<li><a href="#spell-gedankenleere">Gedankenleere</a></li>
<li><a href="#spell-halbebene">Halbebene</a></li>
<li><a href="#spell-irrgarten">Irrgarten</a></li>
<li><a href="#spell-klon">Klon</a></li>
<li><a href="#spell-monster-beherrschen">Monster beherrschen</a></li>
<li><a href="#spell-schwachsinn">Schwachsinn</a></li>
<li><a href="#spell-sonnenfeuer">Sonnenfeuer</a></li>
<li><a href="#spell-wetterkontrolle">Wetterkontrolle</a></li>
<li><a href="#spell-wort-der-macht-betaeubung">Wort der Macht: Betäubung</a></li>
</ul>

<h5>9. Grad</h5>
<ul>
<li><a href="#spell-astrale-projektion">Astrale Projektion</a></li>
<li><a href="#spell-einkerkerung">Einkerkerung</a></li>
<li><a href="#spell-gestaltwandel">Gestaltwandel</a></li>
<li><a href="#spell-meteoritenschwarm">Meteoritenschwarm</a></li>
<li><a href="#spell-regenbogenwand">Regenbogenwand</a></li>
<li><a href="#spell-tor">Tor</a></li>
<li><a href="#spell-unheimliches-schicksal">Unheimliches Schicksal</a></li>
<li><a href="#spell-voraussicht">Voraussicht</a></li>
<li><a href="#spell-wahre-verwandlung">Wahre Verwandlung</a></li>
<li><a href="#spell-wort-der-macht-tod">Wort der Macht: Tod</a></li>
<li><a href="#spell-wunsch">Wunsch</a></li>
<li><a href="#spell-zeitstopp">Zeitstopp</a></li>
</ul>