<h4 id="zauber-des-zauberers">Zauber des Zauberers</h4>

<h5>Zaubertricks (0. Grad)</h5>
<ul>
<li><a href="#spell-ausbessern">Ausbessern</a></li>
<li><a href="#spell-botschaft">Botschaft</a></li>
<li><a href="#spell-einfache-illusion">Einfache Illusion</a></li>
<li><a href="#spell-feuerpfeil">Feuerpfeil</a></li>
<li><a href="#spell-gift-verspruehen">Gift versprühen</a></li>
<li><a href="#spell-kalte-hand">Kalte Hand</a></li>
<li><a href="#spell-kaeltestrahl">Kältestrahl</a></li>
<li><a href="#spell-licht">Licht</a></li>
<li><a href="#spell-magierhand">Magierhand</a></li>
<li><a href="#spell-saeurespritzer">Säurespritzer</a></li>
<li><a href="#spell-schockgriff">Schockgriff</a></li>
<li><a href="#spell-tanzende-lichter">Tanzende Lichter</a></li>
<li><a href="#spell-taschenspielerei">Taschenspielerei</a></li>
<li><a href="#spell-zielsicherer-schlag">Zielsicherer Schlag</a></li>
</ul>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-brennende-haende">Brennende Hände</a></li>
<li><a href="#spell-donnerwoge">Donnerwoge</a></li>
<li><a href="#spell-falsches-leben">Falsches Leben</a></li>
<li><a href="#spell-federfall">Federfall</a></li>
<li><a href="#spell-lautloses-trugbild">Lautloses Trugbild</a></li>
<li><a href="#spell-magie-entdecken">Magie entdecken</a></li>
<li><a href="#spell-magierruestung">Magierrüstung</a></li>
<li><a href="#spell-magisches-geschoss">Magisches Geschoss</a></li>
<li><a href="#spell-nebelwolke">Nebelwolke</a></li>
<li><a href="#spell-person-bezaubern">Person bezaubern</a></li>
<li><a href="#spell-rascher-rueckzug">Rascher Rückzug</a></li>
<li><a href="#spell-schild">Schild</a></li>
<li><a href="#spell-schlaf">Schlaf</a></li>
<li><a href="#spell-selbstverkleidung">Selbstverkleidung</a></li>
<li><a href="#spell-sprachen-verstehen">Sprachen verstehen</a></li>
<li><a href="#spell-springen">Springen</a></li>
<li><a href="#spell-spruehende-farben">Sprühende Farben</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-attribut-verbessern">Attribut verbessern</a></li>
<li><a href="#spell-blindheit-taubheit">Blindheit/Taubheit</a></li>
<li><a href="#spell-dunkelheit">Dunkelheit</a></li>
<li><a href="#spell-dunkelsicht">Dunkelsicht</a></li>
<li><a href="#spell-einfluesterung">Einflüsterung</a></li>
<li><a href="#spell-gedanken-wahrnehmen">Gedanken wahrnehmen</a></li>
<li><a href="#spell-gestalt-veraendern">Gestalt verändern</a></li>
<li><a href="#spell-klopfen">Klopfen</a></li>
<li><a href="#spell-nebelschritt">Nebelschritt</a></li>
<li><a href="#spell-netz">Netz</a></li>
<li><a href="#spell-person-festhalten">Person festhalten</a></li>
<li><a href="#spell-schweben">Schweben</a></li>
<li><a href="#spell-sengender-strahl">Sengender Strahl</a></li>
<li><a href="#spell-spiegelbilder">Spiegelbilder</a></li>
<li><a href="#spell-spinnenklettern">Spinnenklettern</a></li>
<li><a href="#spell-unsichtbares-sehen">Unsichtbares sehen</a></li>
<li><a href="#spell-unsichtbarkeit">Unsichtbarkeit</a></li>
<li><a href="#spell-vergroessern-verkleinern">Vergrößern/Verkleinern</a></li>
<li><a href="#spell-verschwimmen">Verschwimmen</a></li>
<li><a href="#spell-windstoss">Windstoß</a></li>
<li><a href="#spell-zerbersten">Zerbersten</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-auf-wasser-gehen">Auf Wasser gehen</a></li>
<li><a href="#spell-blitz">Blitz</a></li>
<li><a href="#spell-feuerball">Feuerball</a></li>
<li><a href="#spell-fliegen">Fliegen</a></li>
<li><a href="#spell-flimmern">Flimmern</a></li>
<li><a href="#spell-furcht">Furcht</a></li>
<li><a href="#spell-gasfoermige-gestalt">Gasförmige Gestalt</a></li>
<li><a href="#spell-gegenzauber">Gegenzauber</a></li>
<li><a href="#spell-hast">Hast</a></li>
<li><a href="#spell-hellsehen">Hellsehen</a></li>
<li><a href="#spell-hypnotisches-muster">Hypnotisches Muster</a></li>
<li><a href="#spell-maechtiges-trugbild">Mächtiges Trugbild</a></li>
<li><a href="#spell-magie-bannen">Magie bannen</a></li>
<li><a href="#spell-schneesturm">Schneesturm</a></li>
<li><a href="#spell-schutz-vor-energie">Schutz vor Energie</a></li>
<li><a href="#spell-stinkende-wolke">Stinkende Wolke</a></li>
<li><a href="#spell-tageslicht">Tageslicht</a></li>
<li><a href="#spell-verlangsamen">Verlangsamen</a></li>
<li><a href="#spell-wasser-atmen">Wasser atmen</a></li>
<li><a href="#spell-zungen">Zungen</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-dimensionstuer">Dimensionstür</a></li>
<li><a href="#spell-eissturm">Eissturm</a></li>
<li><a href="#spell-feuerwand">Feuerwand</a></li>
<li><a href="#spell-maechtige-unsichtbarkeit">Mächtige Unsichtbarkeit</a></li>
<li><a href="#spell-plage">Plage</a></li>
<li><a href="#spell-steinhaut">Steinhaut</a></li>
<li><a href="#spell-tier-beherrschen">Tier beherrschen</a></li>
<li><a href="#spell-verbannung">Verbannung</a></li>
<li><a href="#spell-verwandlung">Verwandlung</a></li>
<li><a href="#spell-verwirrung">Verwirrung</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-aeusserlichkeiten">Äußerlichkeiten</a></li>
<li><a href="#spell-erschaffung">Erschaffung</a></li>
<li><a href="#spell-gegenstaende-beleben">Gegenstände beleben</a></li>
<li><a href="#spell-insektenplage">Insektenplage</a></li>
<li><a href="#spell-kaeltekegel">Kältekegel</a></li>
<li><a href="#spell-kreis-der-teleportation">Kreis der Teleportation</a></li>
<li><a href="#spell-monster-festhalten">Monster festhalten</a></li>
<li><a href="#spell-person-beherrschen">Person beherrschen</a></li>
<li><a href="#spell-steinwand">Steinwand</a></li>
<li><a href="#spell-telekinese">Telekinese</a></li>
<li><a href="#spell-todeswolke">Todeswolke</a></li>
</ul>

<h5>6. Grad</h5>
<ul>
<li><a href="#spell-aufloesung">Auflösung</a></li>
<li><a href="#spell-boeser-blick">Böser Blick</a></li>
<li><a href="#spell-erde-bewegen">Erde bewegen</a></li>
<li><a href="#spell-kettenblitz">Kettenblitz</a></li>
<li><a href="#spell-kugel-der-unverwundbarkeit">Kugel der Unverwundbarkeit</a></li>
<li><a href="#spell-massen-einfluesterung">Massen-Einflüsterung</a></li>
<li><a href="#spell-sonnenstrahl">Sonnenstrahl</a></li>
<li><a href="#spell-todeskreis">Todeskreis</a></li>
<li><a href="#spell-wahrer-blick">Wahrer Blick</a></li>
</ul>

<h5>7. Grad</h5>
<ul>
<li><a href="#spell-aetherische-gestalten">Ätherische Gestalten</a></li>
<li><a href="#spell-ebenenwechsel">Ebenenwechsel</a></li>
<li><a href="#spell-feuersturm">Feuersturm</a></li>
<li><a href="#spell-finger-des-todes">Finger des Todes</a></li>
<li><a href="#spell-regenbogenspiel">Regenbogenspiel</a></li>
<li><a href="#spell-schwerkraft-umkehren">Schwerkraft umkehren</a></li>
<li><a href="#spell-spaetzuendender-feuerball">Spätzündender Feuerball</a></li>
<li><a href="#spell-teleportieren">Teleportieren</a></li>
</ul>

<h5>8. Grad</h5>
<ul>
<li><a href="#spell-erdbeben">Erdbeben</a></li>
<li><a href="#spell-flammende-wolke">Flammende Wolke</a></li>
<li><a href="#spell-monster-beherrschen">Monster beherrschen</a></li>
<li><a href="#spell-sonnenfeuer">Sonnenfeuer</a></li>
<li><a href="#spell-wort-der-macht-betaeubung">Wort der Macht: Betäubung</a></li>
</ul>

<h5>9. Grad</h5>
<ul>
<li><a href="#spell-meteoritenschwarm">Meteoritenschwarm</a></li>
<li><a href="#spell-tor">Tor</a></li>
<li><a href="#spell-wort-der-macht-tod">Wort der Macht: Tod</a></li>
<li><a href="#spell-wunsch">Wunsch</a></li>
<li><a href="#spell-zeitstopp">Zeitstopp</a></li>
</ul>