<h4 id="zauber-des-klerikers">Zauber des Klerikers</h4>

<h5>Zaubertricks (0. Grad)</h5>
<ul>
<li><a href="#spell-ausbessern">Ausbessern</a></li>
<li><a href="#spell-goettliche-fuehrung">Göttliche Führung</a></li>
<li><a href="#spell-heilige-flamme">Heilige Flamme</a></li>
<li><a href="#spell-licht">Licht</a></li>
<li><a href="#spell-thaumaturgie">Thaumaturgie</a></li>
<li><a href="#spell-verschonung-der-sterbenden">Verschonung der Sterbenden</a></li>
<li><a href="#spell-widerstand">Widerstand</a></li>
</ul>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-befehl">Befehl</a></li>
<li><a href="#spell-gift-und-krankheit-entdecken">Gift und Krankheit entdecken</a></li>
<li><a href="#spell-gutes-und-boeses-entdecken">Gutes und Böses entdecken</a></li>
<li><a href="#spell-heilendes-wort">Heilendes Wort</a></li>
<li><a href="#spell-heiligtum">Heiligtum</a></li>
<li><a href="#spell-lenkendes-geschoss">Lenkendes Geschoss</a></li>
<li><a href="#spell-magie-entdecken">Magie entdecken</a></li>
<li><a href="#spell-nahrung-und-wasser-reinigen">Nahrung und Wasser reinigen</a></li>
<li><a href="#spell-schild-des-glaubens">Schild des Glaubens</a></li>
<li><a href="#spell-schutz-vor-gut-und-boese">Schutz vor Gut und Böse</a></li>
<li><a href="#spell-segnen">Segnen</a></li>
<li><a href="#spell-verderben">Verderben</a></li>
<li><a href="#spell-wasser-erschaffen-oder-zerstoeren">Wasser erschaffen oder zerstören</a></li>
<li><a href="#spell-wunden-heilen">Wunden heilen</a></li>
<li><a href="#spell-wunden-verursachen">Wunden verursachen</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-attribut-verbessern">Attribut verbessern</a></li>
<li><a href="#spell-beistand">Beistand</a></li>
<li><a href="#spell-blindheit-taubheit">Blindheit/Taubheit</a></li>
<li><a href="#spell-dauerhafte-flamme">Dauerhafte Flamme</a></li>
<li><a href="#spell-fallen-finden">Fallen finden</a></li>
<li><a href="#spell-gebet-der-heilung">Gebet der Heilung</a></li>
<li><a href="#spell-gefuehle-besaenftigen">Gefühle besänftigen</a></li>
<li><a href="#spell-gegenstand-aufspueren">Gegenstand aufspüren</a></li>
<li><a href="#spell-person-festhalten">Person festhalten</a></li>
<li><a href="#spell-sanfte-ruhe">Sanfte Ruhe</a></li>
<li><a href="#spell-schutz-vor-gift">Schutz vor Gift</a></li>
<li><a href="#spell-schuetzendes-band">Schützendes Band</a></li>
<li><a href="#spell-schwache-genesung">Schwache Genesung</a></li>
<li><a href="#spell-stille">Stille</a></li>
<li><a href="#spell-vorahnung">Vorahnung</a></li>
<li><a href="#spell-waffe-des-glaubens">Waffe des Glaubens</a></li>
<li><a href="#spell-zone-der-wahrheit">Zone der Wahrheit</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-auf-wasser-gehen">Auf Wasser gehen</a></li>
<li><a href="#spell-fluch">Fluch</a></li>
<li><a href="#spell-fluch-brechen">Fluch brechen</a></li>
<li><a href="#spell-glyphe-des-schutzes">Glyphe des Schutzes</a></li>
<li><a href="#spell-hellsehen">Hellsehen</a></li>
<li><a href="#spell-leuchtfeuer-der-hoffnung">Leuchtfeuer der Hoffnung</a></li>
<li><a href="#spell-magie-bannen">Magie bannen</a></li>
<li><a href="#spell-massen-heilendes-wort">Massen-Heilendes Wort</a></li>
<li><a href="#spell-mit-stein-verschmelzen">Mit Stein verschmelzen</a></li>
<li><a href="#spell-mit-toten-sprechen">Mit Toten sprechen</a></li>
<li><a href="#spell-nahrung-und-wasser-erschaffen">Nahrung und Wasser erschaffen</a></li>
<li><a href="#spell-schutz-vor-energie">Schutz vor Energie</a></li>
<li><a href="#spell-schutzkreis">Schutzkreis</a></li>
<li><a href="#spell-tageslicht">Tageslicht</a></li>
<li><a href="#spell-tote-beleben">Tote beleben</a></li>
<li><a href="#spell-verstaendigung">Verständigung</a></li>
<li><a href="#spell-waechtergeister">Wächtergeister</a></li>
<li><a href="#spell-wiederbeleben">Wiederbeleben</a></li>
<li><a href="#spell-zungen">Zungen</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a></li>
<li><a href="#spell-hueter-des-glaubens">Hüter des Glaubens</a></li>
<li><a href="#spell-kreatur-aufspueren">Kreatur aufspüren</a></li>
<li><a href="#spell-stein-formen">Stein formen</a></li>
<li><a href="#spell-todesschutz">Todesschutz</a></li>
<li><a href="#spell-verbannung">Verbannung</a></li>
<li><a href="#spell-wasser-kontrollieren">Wasser kontrollieren</a></li>
<li><a href="#spell-weissagung">Weissagung</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-ansteckung">Ansteckung</a></li>
<li><a href="#spell-ausspaehung">Ausspähung</a></li>
<li><a href="#spell-bindung-der-ebenen">Bindung der Ebenen</a></li>
<li><a href="#spell-flammenschlag">Flammenschlag</a></li>
<li><a href="#spell-geas">Geas</a></li>
<li><a href="#spell-gutes-und-boeses-bannen">Gutes und Böses bannen</a></li>
<li><a href="#spell-heiliges-gespraech">Heiliges Gespräch</a></li>
<li><a href="#spell-insektenplage">Insektenplage</a></li>
<li><a href="#spell-massen-wunden-heilen">Massen-Wunden heilen</a></li>
<li><a href="#spell-sagenkunde">Sagenkunde</a></li>
<li><a href="#spell-tote-erwecken">Tote erwecken</a></li>
<li><a href="#spell-vollstaendige-genesung">Vollständige Genesung</a></li>
<li><a href="#spell-weihen">Weihen</a></li>
</ul>

<h5>6. Grad</h5>
<ul>
<li><a href="#spell-heilung">Heilung</a></li>
<li><a href="#spell-heldenmahl">Heldenmahl</a></li>
<li><a href="#spell-klingenbarriere">Klingenbarriere</a></li>
<li><a href="#spell-leid">Leid</a></li>
<li><a href="#spell-rueckruf">Rückruf</a></li>
<li><a href="#spell-untote-erschaffen">Untote erschaffen</a></li>
<li><a href="#spell-verbuendeter-aus-den-ebenen">Verbündeter aus den Ebenen</a></li>
<li><a href="#spell-wahrer-blick">Wahrer Blick</a></li>
<li><a href="#spell-weg-finden">Weg finden</a></li>
<li><a href="#spell-zutritt-verwehren">Zutritt verwehren</a></li>
</ul>

<h5>7. Grad</h5>
<ul>
<li><a href="#spell-aetherische-gestalten">Ätherische Gestalten</a></li>
<li><a href="#spell-auferstehung">Auferstehung</a></li>
<li><a href="#spell-celestisches-wesen-beschwoeren">Celestisches Wesen beschwören</a></li>
<li><a href="#spell-ebenenwechsel">Ebenenwechsel</a></li>
<li><a href="#spell-feuersturm">Feuersturm</a></li>
<li><a href="#spell-goettliches-wort">Göttliches Wort</a></li>
<li><a href="#spell-regeneration">Regeneration</a></li>
<li><a href="#spell-symbol">Symbol</a></li>
</ul>

<h5>8. Grad</h5>
<ul>
<li><a href="#spell-antimagisches-feld">Antimagisches Feld</a></li>
<li><a href="#spell-erdbeben">Erdbeben</a></li>
<li><a href="#spell-heilige-aura">Heilige Aura</a></li>
<li><a href="#spell-wetterkontrolle">Wetterkontrolle</a></li>
</ul>

<h5>9. Grad</h5>
<ul>
<li><a href="#spell-astrale-projektion">Astrale Projektion</a></li>
<li><a href="#spell-massen-heilung">Massen-Heilung</a></li>
<li><a href="#spell-tor">Tor</a></li>
<li><a href="#spell-wahre-auferstehung">Wahre Auferstehung</a></li>
</ul>