<h4 id="zauber-des-waldlaeufers">Zauber des Waldläufers</h4>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-alarm">Alarm</a></li>
<li><a href="#spell-tierfreundschaft">Tierfreundschaft</a></li>
<li><a href="#spell-wunden-heilen">Wunden heilen</a></li>
<li><a href="#spell-magie-entdecken">Magie entdecken</a></li>
<li><a href="#spell-gift-und-krankheit-entdecken">Gift und Krankheit entdecken</a></li>
<li><a href="#spell-nebelwolke">Nebelwolke</a></li>
<li><a href="#spell-gute-beeren">Gute Beeren</a></li>
<li><a href="#spell-zeichen-des-jaegers">Zeichen des Jägers</a></li>
<li><a href="#spell-springen">Springen</a></li>
<li><a href="#spell-lange-schritte">Lange Schritte</a></li>
<li><a href="#spell-mit-tieren-sprechen">Mit Tieren sprechen</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-dornenwuchs">Dornenwuchs</a></li>
<li><a href="#spell-dunkelsicht">Dunkelsicht</a></li>
<li><a href="#spell-fallen-finden">Fallen finden</a></li>
<li><a href="#spell-gegenstand-aufspueren">Gegenstand aufspüren</a></li>
<li><a href="#spell-rindenhaut">Rindenhaut</a></li>
<li><a href="#spell-schutz-vor-gift">Schutz vor Gift</a></li>
<li><a href="#spell-schwache-genesung">Schwache Genesung</a></li>
<li><a href="#spell-spurloses-gehen">Spurloses Gehen</a></li>
<li><a href="#spell-stille">Stille</a></li>
<li><a href="#spell-tierbote">Tierbote</a></li>
<li><a href="#spell-tiere-oder-pflanzen-aufspueren">Tiere oder Pflanzen aufspüren</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-auf-wasser-gehen">Auf Wasser gehen</a></li>
<li><a href="#spell-mit-pflanzen-sprechen">Mit Pflanzen sprechen</a></li>
<li><a href="#spell-pflanzenwachstum">Pflanzenwachstum</a></li>
<li><a href="#spell-schutz-vor-energie">Schutz vor Energie</a></li>
<li><a href="#spell-tageslicht">Tageslicht</a></li>
<li><a href="#spell-tiere-beschwoeren">Tiere beschwören</a></li>
<li><a href="#spell-unauffindbarkeit">Unauffindbarkeit</a></li>
<li><a href="#spell-wasser-atmen">Wasser atmen</a></li>
<li><a href="#spell-windwall">Windwall</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a></li>
<li><a href="#spell-kreatur-aufspueren">Kreatur aufspüren</a></li>
<li><a href="#spell-steinhaut">Steinhaut</a></li>
<li><a href="#spell-wesen-des-waldes-beschwoeren">Wesen des Waldes beschwören</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-einswerden-mit-der-natur">Einswerden mit der Natur</a></li>
<li><a href="#spell-hoelzerner-weg">Hölzerner Weg</a></li>
</ul>