<h4 id="zauber-des-hexenmeisters">Zauber des Hexenmeisters</h4>

<h5>Zaubertricks (0. Grad)</h5>
<ul>
<li><a href="#spell-einfache-illusion">Einfache Illusion</a></li>
<li><a href="#spell-gift-verspruehen">Gift versprühen</a></li>
<li><a href="#spell-kalte-hand">Kalte Hand</a></li>
<li><a href="#spell-magierhand">Magierhand</a></li>
<li><a href="#spell-taschenspielerei">Taschenspielerei</a></li>
<li><a href="#spell-unheimlicher-strahl">Unheimlicher Strahl</a></li>
<li><a href="#spell-zielsicherer-schlag">Zielsicherer Schlag</a></li>
</ul>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-hoellischer-tadel">Höllischer Tadel</a></li>
<li><a href="#spell-illusionsschrift">Illusionsschrift</a></li>
<li><a href="#spell-person-bezaubern">Person bezaubern</a></li>
<li><a href="#spell-rascher-rueckzug">Rascher Rückzug</a></li>
<li><a href="#spell-schutz-vor-gut-und-boese">Schutz vor Gut und Böse</a></li>
<li><a href="#spell-sprachen-verstehen">Sprachen verstehen</a></li>
<li><a href="#spell-unsichtbarer-diener">Unsichtbarer Diener</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-dunkelheit">Dunkelheit</a></li>
<li><a href="#spell-einfluesterung">Einflüsterung</a></li>
<li><a href="#spell-fesseln">Fesseln</a></li>
<li><a href="#spell-nebelschritt">Nebelschritt</a></li>
<li><a href="#spell-person-festhalten">Person festhalten</a></li>
<li><a href="#spell-schwaechestrahl">Schwächestrahl</a></li>
<li><a href="#spell-spiegelbilder">Spiegelbilder</a></li>
<li><a href="#spell-spinnenklettern">Spinnenklettern</a></li>
<li><a href="#spell-unsichtbarkeit">Unsichtbarkeit</a></li>
<li><a href="#spell-zerbersten">Zerbersten</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-fliegen">Fliegen</a></li>
<li><a href="#spell-fluch-brechen">Fluch brechen</a></li>
<li><a href="#spell-furcht">Furcht</a></li>
<li><a href="#spell-gasfoermige-gestalt">Gasförmige Gestalt</a></li>
<li><a href="#spell-gegenzauber">Gegenzauber</a></li>
<li><a href="#spell-hypnotisches-muster">Hypnotisches Muster</a></li>
<li><a href="#spell-maechtiges-trugbild">Mächtiges Trugbild</a></li>
<li><a href="#spell-magie-bannen">Magie bannen</a></li>
<li><a href="#spell-schutzkreis">Schutzkreis</a></li>
<li><a href="#spell-vampirgriff">Vampirgriff</a></li>
<li><a href="#spell-zungen">Zungen</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-dimensionstuer">Dimensionstür</a></li>
<li><a href="#spell-plage">Plage</a></li>
<li><a href="#spell-scheingelaende">Scheingelände</a></li>
<li><a href="#spell-verbannung">Verbannung</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-ausspaehung">Ausspähung</a></li>
<li><a href="#spell-kontakt-zu-anderen-ebenen">Kontakt zu anderen Ebenen</a></li>
<li><a href="#spell-monster-festhalten">Monster festhalten</a></li>
<li><a href="#spell-traum">Traum</a></li>
</ul>

<h5>6. Grad</h5>
<ul>
<li><a href="#spell-boeser-blick">Böser Blick</a></li>
<li><a href="#spell-feenwesen-beschwoeren">Feenwesen beschwören</a></li>
<li><a href="#spell-fleisch-zu-stein">Fleisch zu Stein</a></li>
<li><a href="#spell-massen-einfluesterung">Massen-Einflüsterung</a></li>
<li><a href="#spell-todeskreis">Todeskreis</a></li>
<li><a href="#spell-untote-erschaffen">Untote erschaffen</a></li>
<li><a href="#spell-wahrer-blick">Wahrer Blick</a></li>
</ul>

<h5>7. Grad</h5>
<ul>
<li><a href="#spell-aetherische-gestalten">Ätherische Gestalten</a></li>
<li><a href="#spell-ebenenwechsel">Ebenenwechsel</a></li>
<li><a href="#spell-energiekaefig">Energiekäfig</a></li>
<li><a href="#spell-finger-des-todes">Finger des Todes</a></li>
</ul>

<h5>8. Grad</h5>
<ul>
<li><a href="#spell-halbebene">Halbebene</a></li>
<li><a href="#spell-monster-beherrschen">Monster beherrschen</a></li>
<li><a href="#spell-redegewandtheit">Redegewandtheit</a></li>
<li><a href="#spell-schwachsinn">Schwachsinn</a></li>
<li><a href="#spell-wort-der-macht-betaeubung">Wort der Macht: Betäubung</a></li>
</ul>

<h5>9. Grad</h5>
<ul>
<li><a href="#spell-astrale-projektion">Astrale Projektion</a></li>
<li><a href="#spell-einkerkerung">Einkerkerung</a></li>
<li><a href="#spell-voraussicht">Voraussicht</a></li>
<li><a href="#spell-wahre-verwandlung">Wahre Verwandlung</a></li>
<li><a href="#spell-wort-der-macht-tod">Wort der Macht: Tod</a></li>
</ul>