<h4 id="zauber-des-barden">Zauber des Barden</h4>

<h5>Zaubertricks (0. Grad)</h5>
<ul>
<li><a href="#spell-ausbessern">Ausbessern</a></li>
<li><a href="#spell-botschaft">Botschaft</a></li>
<li><a href="#spell-einfache-illusion">Einfache Illusion</a></li>
<li><a href="#spell-gehaessiger-spott">Gehässiger Spott</a></li>
<li><a href="#spell-licht">Licht</a></li>
<li><a href="#spell-magierhand">Magierhand</a></li>
<li><a href="#spell-tanzende-lichter">Tanzende Lichter</a></li>
<li><a href="#spell-taschenspielerei">Taschenspielerei</a></li>
<li><a href="#spell-zielsicherer-schlag">Zielsicherer Schlag</a></li>
</ul>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-donnerwoge">Donnerwoge</a></li>
<li><a href="#spell-federfall">Federfall</a></li>
<li><a href="#spell-feenfeuer">Feenfeuer</a></li>
<li><a href="#spell-fuerchterlicher-lachanfall">Fürchterlicher Lachanfall</a></li>
<li><a href="#spell-heilendes-wort">Heilendes Wort</a></li>
<li><a href="#spell-heldenmut">Heldenmut</a></li>
<li><a href="#spell-identifizieren">Identifizieren</a></li>
<li><a href="#spell-illusionsschrift">Illusionsschrift</a></li>
<li><a href="#spell-lange-schritte">Lange Schritte</a></li>
<li><a href="#spell-lautloses-trugbild">Lautloses Trugbild</a></li>
<li><a href="#spell-magie-entdecken">Magie entdecken</a></li>
<li><a href="#spell-mit-tieren-sprechen">Mit Tieren sprechen</a></li>
<li><a href="#spell-person-bezaubern">Person bezaubern</a></li>
<li><a href="#spell-schlaf">Schlaf</a></li>
<li><a href="#spell-selbstverkleidung">Selbstverkleidung</a></li>
<li><a href="#spell-sprachen-verstehen">Sprachen verstehen</a></li>
<li><a href="#spell-tierfreundschaft">Tierfreundschaft</a></li>
<li><a href="#spell-unsichtbarer-diener">Unsichtbarer Diener</a></li>
<li><a href="#spell-verderben">Verderben</a></li>
<li><a href="#spell-wunden-heilen">Wunden heilen</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-attribut-verbessern">Attribut verbessern</a></li>
<li><a href="#spell-blindheit-taubheit">Blindheit/Taubheit</a></li>
<li><a href="#spell-einfluesterung">Einflüsterung</a></li>
<li><a href="#spell-fesseln">Fesseln</a></li>
<li><a href="#spell-gedanken-wahrnehmen">Gedanken wahrnehmen</a></li>
<li><a href="#spell-gefuehle-besaenftigen">Gefühle besänftigen</a></li>
<li><a href="#spell-gegenstand-aufspueren">Gegenstand aufspüren</a></li>
<li><a href="#spell-klopfen">Klopfen</a></li>
<li><a href="#spell-magischer-mund">Magischer Mund</a></li>
<li><a href="#spell-metall-erhitzen">Metall erhitzen</a></li>
<li><a href="#spell-person-festhalten">Person festhalten</a></li>
<li><a href="#spell-schwache-genesung">Schwache Genesung</a></li>
<li><a href="#spell-stille">Stille</a></li>
<li><a href="#spell-tierbote">Tierbote</a></li>
<li><a href="#spell-tiere-oder-pflanzen-aufspueren">Tiere oder Pflanzen aufspüren</a></li>
<li><a href="#spell-unsichtbares-sehen">Unsichtbares sehen</a></li>
<li><a href="#spell-unsichtbarkeit">Unsichtbarkeit</a></li>
<li><a href="#spell-zerbersten">Zerbersten</a></li>
<li><a href="#spell-zone-der-wahrheit">Zone der Wahrheit</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-fluch">Fluch</a></li>
<li><a href="#spell-furcht">Furcht</a></li>
<li><a href="#spell-glyphe-des-schutzes">Glyphe des Schutzes</a></li>
<li><a href="#spell-hellsehen">Hellsehen</a></li>
<li><a href="#spell-hypnotisches-muster">Hypnotisches Muster</a></li>
<li><a href="#spell-maechtiges-trugbild">Mächtiges Trugbild</a></li>
<li><a href="#spell-magie-bannen">Magie bannen</a></li>
<li><a href="#spell-mit-pflanzen-sprechen">Mit Pflanzen sprechen</a></li>
<li><a href="#spell-mit-toten-sprechen">Mit Toten sprechen</a></li>
<li><a href="#spell-pflanzenwachstum">Pflanzenwachstum</a></li>
<li><a href="#spell-stinkende-wolke">Stinkende Wolke</a></li>
<li><a href="#spell-unauffindbarkeit">Unauffindbarkeit</a></li>
<li><a href="#spell-verstaendigung">Verständigung</a></li>
<li><a href="#spell-winzige-huette">Winzige Hütte</a></li>
<li><a href="#spell-zungen">Zungen</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-bewegungsfreiheit">Bewegungsfreiheit </a></li>
<li><a href="#spell-dimensionstuer">Dimensionstür</a></li>
<li><a href="#spell-kreatur-aufspueren">Kreatur aufspüren</a></li>
<li><a href="#spell-maechtige-unsichtbarkeit">Mächtige Unsichtbarkeit </a></li>
<li><a href="#spell-scheingelaende">Scheingelände</a></li>
<li><a href="#spell-verwandlung">Verwandlung</a></li>
<li><a href="#spell-verwirrung">Verwirrung</a></li>
<li><a href="#spell-zwang">Zwang</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-ablenkung">Ablenkung</a></li>
<li><a href="#spell-aeusserlichkeiten">Äußerlichkeiten</a></li>
<li><a href="#spell-ausspaehung">Ausspähung</a></li>
<li><a href="#spell-bindung-der-ebenen">Bindung der Ebenen</a></li>
<li><a href="#spell-erinnerung-veraendern">Erinnerung verändern</a></li>
<li><a href="#spell-erwecken">Erwecken</a></li>
<li><a href="#spell-geas">Geas</a></li>
<li><a href="#spell-gegenstaende-beleben">Gegenstände beleben</a></li>
<li><a href="#spell-kreis-der-teleportation">Kreis der Teleportation</a></li>
<li><a href="#spell-massen-wunden-heilen">Massen-Wunden heilen</a></li>
<li><a href="#spell-monster-festhalten">Monster festhalten</a></li>
<li><a href="#spell-person-beherrschen">Person beherrschen</a></li>
<li><a href="#spell-sagenkunde">Sagenkunde</a></li>
<li><a href="#spell-tote-erwecken">Tote erwecken</a></li>
<li><a href="#spell-traum">Traum</a></li>
<li><a href="#spell-vollstaendige-genesung">Vollständige Genesung</a></li>
</ul>

<h5>6. Grad</h5>
<ul>
<li><a href="#spell-boeser-blick">Böser Blick</a></li>
<li><a href="#spell-massen-einfluesterung">Massen-Einflüsterung</a></li>
<li><a href="#spell-unwiderstehlicher-tanz">Unwiderstehlicher Tanz</a></li>
<li><a href="#spell-vorbestimmtes-trugbild">Vorbestimmtes Trugbild</a></li>
<li><a href="#spell-waechter-und-hueter">Wächter und Hüter</a></li>
<li><a href="#spell-wahrer-blick">Wahrer Blick</a></li>
<li><a href="#spell-weg-finden">Weg finden</a></li>
</ul>

<h5>7. Grad</h5>
<ul>
<li><a href="#spell-arkanes-schwert">Arkanes Schwert</a></li>
<li><a href="#spell-arkane-spiegelung">Arkane Spiegelung</a></li>
<li><a href="#spell-aetherische-gestalten">Ätherische Gestalten</a></li>
<li><a href="#spell-auferstehung">Auferstehung</a></li>
<li><a href="#spell-energiekaefig">Energiekäfig</a></li>
<li><a href="#spell-herrliches-herrenhaus">Herrliches Herrenhaus</a></li>
<li><a href="#spell-regeneration">Regeneration</a></li>
<li><a href="#spell-symbol">Symbol</a></li>
<li><a href="#spell-teleportieren">Teleportieren</a></li>
<li><a href="#spell-trugbild-projizieren">Trugbild projizieren</a></li>
</ul>

<h5>8. Grad</h5>
<ul>
<li><a href="#spell-gedankenleere">Gedankenleere</a></li>
<li><a href="#spell-monster-beherrschen">Monster beherrschen</a></li>
<li><a href="#spell-redegewandtheit">Redegewandtheit</a></li>
<li><a href="#spell-schwachsinn">Schwachsinn</a></li>
<li><a href="#spell-wort-der-macht-betaeubung">Wort der Macht: Betäubung</a></li>
</ul>

<h5>9. Grad</h5>
<ul>
<li><a href="#spell-voraussicht">Voraussicht</a></li>
<li><a href="#spell-wahre-verwandlung">Wahre Verwandlung</a></li>
<li><a href="#spell-wort-der-macht-tod">Wort der Macht: Tod</a></li>
</ul>