<h4 id="zauber-des-druiden">Zauber des Druiden</h4>

<h5>Zaubertricks (0. Grad)</h5>
<ul>
<li><a href="#spell-ausbessern">Ausbessern</a></li>
<li><a href="#spell-druidenkunst">Druidenkunst</a></li>
<li><a href="#spell-flammen-erzeugen">Flammen erzeugen</a></li>
<li><a href="#spell-gift-verspruehen">Gift versprühen</a></li>
<li><a href="#spell-goettliche-fuehrung">Göttliche Führung</a></li>
<li><a href="#spell-shillelagh">Shillelagh</a></li>
<li><a href="#spell-widerstand">Widerstand</a></li>
</ul>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-donnerwoge">Donnerwoge</a></li>
<li><a href="#spell-feenfeuer">Feenfeuer</a></li>
<li><a href="#spell-gift-und-krankheit-entdecken">Gift und Krankheit entdecken</a></li>
<li><a href="#spell-gute-beeren">Gute Beeren</a></li>
<li><a href="#spell-heilendes-wort">Heilendes Wort</a></li>
<li><a href="#spell-lange-schritte">Lange Schritte</a></li>
<li><a href="#spell-magie-entdecken">Magie entdecken</a></li>
<li><a href="#spell-mit-tieren-sprechen">Mit Tieren sprechen</a></li>
<li><a href="#spell-nahrung-und-wasser-reinigen">Nahrung und Wasser reinigen</a></li>
<li><a href="#spell-nebelwolke">Nebelwolke</a></li>
<li><a href="#spell-person-bezaubern">Person bezaubern</a></li>
<li><a href="#spell-springen">Springen</a></li>
<li><a href="#spell-tierfreundschaft">Tierfreundschaft</a></li>
<li><a href="#spell-verstricken">Verstricken</a></li>
<li><a href="#spell-wasser-erschaffen-oder-zerstoeren">Wasser erschaffen oder zerstören</a></li>
<li><a href="#spell-wunden-heilen">Wunden heilen</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-attribut-verbessern">Attribut verbessern</a></li>
<li><a href="#spell-dornenwuchs">Dornenwuchs</a></li>
<li><a href="#spell-dunkelsicht">Dunkelsicht</a></li>
<li><a href="#spell-fallen-finden">Fallen finden </a></li>
<li><a href="#spell-flammenklinge">Flammenklinge </a></li>
<li><a href="#spell-flammenkugel">Flammenkugel </a></li>
<li><a href="#spell-gegenstand-aufspueren">Gegenstand aufspüren </a></li>
<li><a href="#spell-metall-erhitzen">Metall erhitzen </a></li>
<li><a href="#spell-mondstrahl">Mondstrahl</a></li>
<li><a href="#spell-person-festhalten">Person festhalten</a></li>
<li><a href="#spell-rindenhaut">Rindenhaut</a></li>
<li><a href="#spell-schutz-vor-gift">Schutz vor Gift</a></li>
<li><a href="#spell-schwache-genesung">Schwache Genesung</a></li>
<li><a href="#spell-spurloses-gehen">Spurloses Gehen</a></li>
<li><a href="#spell-tierbote">Tierbote</a></li>
<li><a href="#spell-tiere-oder-pflanzen-aufspueren">Tiere oder Pflanzen aufspüren</a></li>
<li><a href="#spell-windstoss">Windstoß</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-auf-wasser-gehen">Auf Wasser gehen</a></li>
<li><a href="#spell-blitze-herbeirufen">Blitze herbeirufen</a></li>
<li><a href="#spell-magie-bannen">Magie bannen</a></li>
<li><a href="#spell-mit-pflanzen-sprechen">Mit Pflanzen sprechen</a></li>
<li><a href="#spell-mit-stein-verschmelzen">Mit Stein verschmelzen</a></li>
<li><a href="#spell-pflanzenwachstum">Pflanzenwachstum</a></li>
<li><a href="#spell-schneesturm">Schneesturm</a></li>
<li><a href="#spell-schutz-vor-energie">Schutz vor Energie</a></li>
<li><a href="#spell-tageslicht">Tageslicht</a></li>
<li><a href="#spell-tiere-beschwoeren">Tiere beschwören</a></li>
<li><a href="#spell-wasser-atmen">Wasser atmen</a></li>
<li><a href="#spell-windwall">Windwall</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-bewegungsfreiheit">Bewegungsfreiheit</a></li>
<li><a href="#spell-eissturm">Eissturm</a></li>
<li><a href="#spell-feuerwand">Feuerwand</a></li>
<li><a href="#spell-kreatur-aufspueren">Kreatur aufspüren</a></li>
<li><a href="#spell-plage">Plage</a></li>
<li><a href="#spell-rieseninsekt">Rieseninsekt</a></li>
<li><a href="#spell-scheingelaende">Scheingelände</a></li>
<li><a href="#spell-schwache-elementare-beschwoeren">Schwache Elementare beschwören</a></li>
<li><a href="#spell-stein-formen">Stein formen</a></li>
<li><a href="#spell-steinhaut">Steinhaut</a></li>
<li><a href="#spell-tier-beherrschen">Tier beherrschen</a></li>
<li><a href="#spell-verwandlung">Verwandlung</a></li>
<li><a href="#spell-verwirrung">Verwirrung</a></li>
<li><a href="#spell-wasser-kontrollieren">Wasser kontrollieren</a></li>
<li><a href="#spell-wesen-des-waldes-beschwoeren">Wesen des Waldes beschwören</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-ansteckung">Ansteckung</a></li>
<li><a href="#spell-ausspaehung">Ausspähung</a></li>
<li><a href="#spell-bindung-der-ebenen">Bindung der Ebenen</a></li>
<li><a href="#spell-einswerden-mit-der-natur">Einswerden mit der Natur</a></li>
<li><a href="#spell-elementar-beschwoeren">Elementar beschwören</a></li>
<li><a href="#spell-erwecken">Erwecken</a></li>
<li><a href="#spell-geas">Geas</a></li>
<li><a href="#spell-hoelzerner-weg">Hölzerner Weg</a></li>
<li><a href="#spell-insektenplage">Insektenplage</a></li>
<li><a href="#spell-massen-wunden-heilen">Massen-Wunden heilen</a></li>
<li><a href="#spell-schutzhuelle-gegen-lebendes">Schutzhülle gegen Lebendes</a></li>
<li><a href="#spell-steinwand">Steinwand</a></li>
<li><a href="#spell-vollstaendige-genesung">Vollständige Genesung</a></li>
<li><a href="#spell-wiedergeburt">Wiedergeburt</a></li>
</ul>

<h5>6. Grad</h5>
<ul>
<li><a href="#spell-dornenwand">Dornenwand</a></li>
<li><a href="#spell-erde-bewegen">Erde bewegen</a></li>
<li><a href="#spell-feenwesen-beschwoeren">Feenwesen beschwören</a></li>
<li><a href="#spell-heilung">Heilung</a></li>
<li><a href="#spell-heldenmahl">Heldenmahl</a></li>
<li><a href="#spell-pflanzentor">Pflanzentor</a></li>
<li><a href="#spell-sonnenstrahl">Sonnenstrahl</a></li>
<li><a href="#spell-weg-finden">Weg finden</a></li>
<li><a href="#spell-windwandeln">Windwandeln</a></li>
</ul>

<h5>7. Grad</h5>
<ul>
<li><a href="#spell-arkane-spiegelung">Arkane Spiegelung</a></li>
<li><a href="#spell-ebenenwechsel">Ebenenwechsel</a></li>
<li><a href="#spell-feuersturm">Feuersturm</a></li>
<li><a href="#spell-regeneration">Regeneration</a></li>
<li><a href="#spell-schwerkraft-umkehren">Schwerkraft umkehren</a></li>
</ul>

<h5>8. Grad</h5>
<ul>
<li><a href="#spell-antipathie/sympathie">Antipathie/Sympathie</a></li>
<li><a href="#spell-erdbeben">Erdbeben</a></li>
<li><a href="#spell-schwachsinn">Schwachsinn</a></li>
<li><a href="#spell-sonnenfeuer">Sonnenfeuer</a></li>
<li><a href="#spell-tierform">Tierform</a></li>
<li><a href="#spell-wetterkontrolle">Wetterkontrolle</a></li>
</ul>

<h5>9. Grad</h5>
<ul>
<li><a href="#spell-gestaltwandel">Gestaltwandel</a></li>
<li><a href="#spell-sturm-der-vergeltung">Sturm der Vergeltung</a></li>
<li><a href="#spell-voraussicht">Voraussicht</a></li>
<li><a href="#spell-wahre-auferstehung">Wahre Auferstehung</a></li>
</ul>