<h4 id="zauber-des-paladins">Zauber des Paladins</h4>

<h5>1. Grad</h5>
<ul>
<li><a href="#spell-befehl">Befehl</a></li>
<li><a href="#spell-gift-und-krankheit-entdecken">Gift und Krankheit entdecken</a></li>
<li><a href="#spell-goettliche-gunst">Göttliche Gunst</a></li>
<li><a href="#spell-gutes-und-boeses-entdecken">Gutes und Böses entdecken</a></li>
<li><a href="#spell-heldenmut">Heldenmut</a></li>
<li><a href="#spell-magie-entdecken">Magie entdecken</a></li>
<li><a href="#spell-nahrung-und-wasser-reinigen">Nahrung und Wasser reinigen</a></li>
<li><a href="#spell-schild-des-glaubens">Schild des Glaubens</a></li>
<li><a href="#spell-schutz-vor-gut-und-boese">Schutz vor Gut und Böse</a></li>
<li><a href="#spell-segnen">Segnen</a></li>
<li><a href="#spell-wunden-heilen">Wunden heilen</a></li>
</ul>

<h5>2. Grad</h5>
<ul>
<li><a href="#spell-beistand">Beistand</a></li>
<li><a href="#spell-brandmarkendes-niederstrecken">Brandmarkendes Niederstrecken</a></li>
<li><a href="#spell-gegenstand-aufspueren">Gegenstand aufspüren</a></li>
<li><a href="#spell-magische-waffe">Magische Waffe</a></li>
<li><a href="#spell-reittier-finden">Reittier finden</a></li>
<li><a href="#spell-schutz-vor-gift">Schutz vor Gift</a></li>
<li><a href="#spell-schwache-genesung">Schwache Genesung</a></li>
<li><a href="#spell-zone-der-wahrheit">Zone der Wahrheit</a></li>
</ul>

<h5>3. Grad</h5>
<ul>
<li><a href="#spell-fluch-brechen">Fluch brechen</a></li>
<li><a href="#spell-magie-bannen">Magie bannen</a></li>
<li><a href="#spell-nahrung-und-wasser-erschaffen">Nahrung und Wasser erschaffen</a></li>
<li><a href="#spell-schutzkreis">Schutzkreis</a></li>
<li><a href="#spell-tageslicht">Tageslicht</a></li>
<li><a href="#spell-wiederbeleben">Wiederbeleben</a></li>
</ul>

<h5>4. Grad</h5>
<ul>
<li><a href="#spell-kreatur-aufspueren">Kreatur aufspüren</a></li>
<li><a href="#spell-todesschutz">Todesschutz</a></li>
<li><a href="#spell-verbannung">Verbannung</a></li>
</ul>

<h5>5. Grad</h5>
<ul>
<li><a href="#spell-geas">Geas</a></li>
<li><a href="#spell-gutes-und-boeses-bannen">Gutes und Böses bannen</a></li>
<li><a href="#spell-tote-erwecken">Tote erwecken</a></li>
</ul>