<h3 id="changelog">&Auml;nderungsverzeichnis</h3>
<p>In den folgenden Punkten weicht diese Fassung des SRD 5.1 von der durch <a href="https://www.wizards.com">Wizards of the Coast</a> veröffentlichten <a href="https://dnd.wizards.com/de/resources/systems-reference-document">deutschsprachigen Übersetzung</a> ab:</p>
<ul>
    <li><strong>Zauber <a class="spell" href="#spell-einfache-illusion">Einfache Illusion</a>:</strong> Schule "Bannzauber" in "Illusionszauber" geändert</li>
    <li><strong>Zauber <a class="spell" href="#spell-widerstand">Widerstand</a>:</strong> in <em>Widerstand (Resistenz*)</em> umbenannt und Zauber <a class="spell" href="#spell-resistenz">Resistenz</a> als Referenz auf <a class="spell" href="#spell-widerstand">Widerstand</a> zugefügt.</li>
    <li><strong>Magischer Gegenstand <a class="magicitem" href="#magicitem-amulett-der-gesundheit">Anhänger der Gesundheit (selten)</a>:</strong> in <em>Amulett der Gesundheit</em> umbenannt
    <li><strong>Zauber <a class="spell" href="#spell-wasser-kontrollieren">Wasser kontrollieren</a>:</strong> Die letzten beiden Absätze unter "Wasser teilen" nach "Wasserstrudel" verschoben</li>
    <li><strong>Zauber <a class="spell" href="#spell-waechtergeister">Wächtergeister</a>:</strong> Bezeichnung <em>Schutzgeister</em> in Klammern zugefügt</li>
    <li><strong>Zauber <a class="spell" href="#spell-schutzgeister">Schutzgeister</a>:</strong> Zauber <em>Schutzgeister</em> als Referenz auf <a class="spell" href="#spell-waechtergeister">Wächtergeister</a> zugefügt</li>
    <li><strong>NSC <a class="monster" href="#monster-priester">Priester</a>:</strong> Zauber <em>Schutzgeister</em> in <a class="spell" href="#spell-waechtergeister">Wächtergeister</a> geändert</li>
    <li><strong><a href="#zauber-des-klerikers">Zauber des Klerikers</a>, 3. Grad:</strong> Zauber <em>Schutzgeister</em> in <a class="spell" href="#spell-waechtergeister">Wächtergeister</a> geändert</li>
    <li><strong>"der SL":</strong> "der SL" in "die SL" sowie "der Spielleiter" in "die Spielleitung" geändert</li>
    <li><strong>"der Spieler":</strong> "der Spieler" in "die Spieler*in" geändert</li>
    <li><strong>Seitenangaben:</strong> Seitenangaben durch entsprechende Links ersetzt</li>
</ul>