<h3 id="kastenverzeichnis">Kästenverzeichnis</h3>
<ul>
<li><a href="#box-sich-verstecken">                             Sich verstecken                             </a></li>
<li><a href="#box-schritt-fuer-schritt-durch-den-kampf">        Schritt für Schritt durch den Kampf        </a></li>
<li><a href="#box-mit-gegenstaenden-in-der-naehe-interagieren"> Mit Gegenständen in der Nähe interagieren </a></li>
<li><a href="#box-wettstreit-im-kampf">                         Wettstreit im Kampf                         </a></li>
<li><a href="#box-kreaturen-anpassen">                          Kreaturen anpassen                          </a></li>
<li><a href="#box-uebung-mit-ruestungen-waffen-und-werkzeugen"> Übung mit Rüstungen Waffen und Werkzeugen </a></li>
<li><a href="#box-haltegriff-regeln-fuer-monster">              Haltegriff-Regeln für Monster              </a></li>
<li><a href="#box-heilige-pflanzen-und-holz">                   Heilige Pflanzen und Holz                   </a></li>
<li><a href="#box-duiden-und-die-goetter">                      Duiden und die Götter                      </a></li>
<li><a href="#box-dein-zauberbuch">                             Dein Zauberbuch                             </a></li>
<li><a href="#box-dein-segen-des-pakts">                        Dein Segen des Pakts                        </a></li>
<li><a href="#box-deinen-schwur-brechen">                       Deinen Schwur brechen                       </a></li>
<li><a href="#box-erschoepfung">                                Erschöpfung                                </a></li>
<li><a href="#box-in-ruestung-zaubern">                         In Rüstung zaubern                         </a></li>
<li><a href="#box-die-schulen-der-magie">                       Die Schulen der Magie                       </a></li>
<li><a href="#box-ausruestunspakete">                           Ausrüstunspakete                           </a></li>
<li><a href="#box-selbstversorgung">                            Selbstversorgung                            </a></li>
</ul>