<h4>Rechtliche Informationen</h4>
<p>Das Systemreferenzdokument 5.1 wird gemäß den Bedingungen der Lizenz Creative Commons Namensnennung 4.0 International („CC-BY-4.0&quot;) kostenlos zur Verfügung gestellt. Dieser Inhalt darf auf jede durch diese Lizenz erlaubte Weise genutzt werden, solange das betreffende Werk die folgende Zuschreibung enthält:</p>
<p>Dieses Werk enthält Material aus dem Systemreferenzdokument 5.1 („SRD 5.1&quot;) von Wizards of the Coast LLC, das unter <a class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline" href="https://dnd.wizards.com/de/resources/systems-reference-document">https://dnd.wizards.com/de/resources/systems-reference-document</a> <a class="d-inline d-sm-inline d-md-none d-lg-none d-xl-none" href="https://dnd.wizards.com/de/resources/systems-reference-document">systems-reference-document</a> verfügbar ist. Das SRD 5.1 ist lizenziert gemäß der Lizenz Creative Commons Namensnennung 4.0 International, die unter <a class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline" href="https://creativecommons.org/licenses/by/4.0/legalcode.de">https://creativecommons.org/licenses/by/4.0/legalcode.de</a> <a class="d-inline d-sm-inline d-md-none d-lg-none d-xl-none" href="https://creativecommons.org/licenses/by/4.0/legalcode.de">legalcode.de</a> verfügbar ist.</p>
<p>Außer der oben genannten darf das Werk keine andere Zuschreibung bezüglich Wizards enthalten. Das Werk darf jedoch eine Angabe enthalten, dass es „mit der Fünften Edition kompatibel&quot; oder „5E-kompatibel&quot; ist.</p>
<p>Abschnitt 5 der Lizenz CC-BY-4.0 enthält einen Gewährleistungsausschluss und eine Beschränkung unserer Haftung gegenüber dem Ersteller des Werks.</p>
