<h3 id="tabellenverzeichnis">Tabellenverzeichnis</h3>
<ul>
<li><a href="#table-drakonische-abstammung">                        Drakonische Abstammung                                  </a></li>
<li><a href="#table-barbar">                                        Barbar                                                  </a></li>
<li><a href="#table-barde">                                         Barde                                                   </a></li>
<li><a href="#table-druide">                                        Druide                                                  </a></li>
<li><a href="#table-tiergestalt">                                   Druide: Tiergestalt                                     </a></li>
<li><a href="#table-arktis">                                        Druide: Arktis                                          </a></li>
<li><a href="#table-gebirge">                                       Druide: Gebirge                                         </a></li>
<li><a href="#table-grasland">                                      Druide: Grasland                                        </a></li>
<li><a href="#table-kueste">                                        Druide: Küste                                          </a></li>
<li><a href="#table-sumpf">                                         Druide: Sumpf                                           </a></li>
<li><a href="#table-wald">                                          Druide: Wald                                            </a></li>
<li><a href="#table-wueste">                                        Druide: Wüste                                          </a></li>
<li><a href="#table-hexenmeister">                                  Hexenmeister                                            </a></li>
<li><a href="#table-erweiterte-zauberliste-des-unholds">            Hexenmeister: Erweiterte Zauberliste des Unholds        </a></li>
<li><a href="#table-kaempfer">                                      Kämpfer                                                </a></li>
<li><a href="#table-kleriker">                                      Kleriker                                                </a></li>
<li><a href="#table-untote-zerstoeren">                             Kleriker: Untote Zerstören                             </a></li>
<li><a href="#table-domaenenzauber-des-lebens">                     Kleriker: Domänenzauber des Lebens                     </a></li>
<li><a href="#table-magier">                                        Magier                                                  </a></li>
<li><a href="#table-moench">                                        Mönch                                                  </a></li>
<li><a href="#table-paladin">                                       Paladin                                                 </a></li>
<li><a href="#table-schwurzauber-der-hingabe">                      Paladin: Schwurzauber der Hingabe                       </a></li>
<li><a href="#table-schurke">                                       Schurke                                                 </a></li>
<li><a href="#table-waldlaeufer">                                   Waldläufer                                             </a></li>
<li><a href="#table-zauberer">                                      Zauberer                                                </a></li>
<li><a href="#table-zauberplaetze-erschaffen">                      Zauberer: Zauberplätze Erschaffen                      </a></li>
<li><a href="#table-drakonische-abstammung-schaden">                Zauberer: Drakonische Abstammung - Schaden              </a></li>
<li><a href="#table-charakterentwicklung">                          Charakterentwicklung                                    </a></li>
<li><a href="#table-klassenkombinationen-voraussetzungen">          Klassenkombinationen Voraussetzungen                    </a></li>
<li><a href="#table-uebung-fuer-klassenkombinationen">              Übung für Klassenkombinationen                        </a></li>
<li><a href="#table-klassenkombinationen-fuer-zauberwirker">        Klassenkombinationen für Zauberwirker                  </a></li>
<li><a href="#table-standardsprachen">                              Standardsprachen                                        </a></li>
<li><a href="#table-exotische-sprachen">                            Exotische Sprachen                                      </a></li>
<li><a href="#tempeldiener-persoenlichkeitsmerkmal">                Tempeldiener: Persönlichkeitsmerkmal                   </a></li>
<li><a href="#tempeldiener-ideal">                                  Tempeldiener: Ideal                                     </a></li>
<li><a href="#tempeldiener-bindung">                                Tempeldiener: Bindung                                   </a></li>
<li><a href="#tempeldiener-makel">                                  Tempeldiener: Makel                                     </a></li>
<li><a href="#table-standardwechselkurse">                          Standardwechselkurse                                    </a></li>
<li><a href="#table-ruestung-an--und-ablegen">                      Rüstung an und ablegen                                 </a></li>
<li><a href="#table-ruestung">                                      Rüstung                                                </a></li>
<li><a href="#table-waffen">                                        Waffen                                                  </a></li>
<li><a href="#table-abenteurerausruestung">                         Abenteurerausrüstung                                   </a></li>
<li><a href="#table-behaelterkapazitaet">                           Behälterkapazität                                     </a></li>
<li><a href="#table-werkzeuge">                                     Werkzeuge                                               </a></li>
<li><a href="#table-reittiere-und-andere-tiere">                    Reittiere und andere Tiere                              </a></li>
<li><a href="#table-sattel-und-zaumzeug-geschirr-und-fuhrwerke">    Sattel und Zaumzeug, Geschirr und Fuhrwerke             </a></li>
<li><a href="#table-wasserfahrzeuge">                               Wasserfahrzeuge                                         </a></li>
<li><a href="#table-handelswaren">                                  Handelswaren                                            </a></li>
<li><a href="#table-lebensstil-ausgaben">                           Lebensstil-Ausgaben                                     </a></li>
<li><a href="#table-unterkunft-und-verpflegung">                    Unterkunft und Verpflegung                              </a></li>
<li><a href="#table-dienstleistungen">                              Dienstleistungen                                        </a></li>
<li><a href="#table-attributswerte-und-modifikatoren">              Attributswerte und Modifikatoren                        </a></li>
<li><a href="#table-typische-schwierigkeitsgrade">                  Typische Schwierigkeitsgrade                            </a></li>
<li><a href="#table-reisegeschwindigkeit">                          Reisegeschwindigkeit                                    </a></li>
<li><a href="#table-bereich-groessenkategorien">                    Bereich Größenkategorien                              </a></li>
<li><a href="#table-ausspaehung">                                   Zauber: Ausspähung                                     </a></li>
<li><a href="#table-erschaffung">                                   Zauber: Erschaffung                                     </a></li>
<li><a href="#table-spielwerte-fuer-belebte-gegenstaende">          Zauber: Spielwerte für belebte Gegenstände            </a></li>
<li><a href="#table-teleportieren">                                 Zauber: Teleportieren                                   </a></li>
<li><a href="#table-verwirrung">                                    Zauber: Verwirrung                                      </a></li>
<li><a href="#table-niederschlag">                                  Zauber: Niederschlag                                    </a></li>
<li><a href="#table-temperatur">                                    Zauber: Temperatur                                      </a></li>
<li><a href="#table-wind">                                          Zauber: Wind                                            </a></li>
<li><a href="#table-wiedergeburt">                                  Zauber: Wiedergeburt                                    </a></li>
<li><a href="#table-rettungswurf-sg-und-angriffsbonus-fuer-fallen"> Rettungswurf-SG und Angriffsbonus für Falle            </a></li>
<li><a href="#table-schadensgrad-nach-stufe">                       Schadensgrad nach Stufe                                 </a></li>
<li><a href="#table-kurzfristiger-wahnsinn">                        Kurzfristiger Wahnsinn                                  </a></li>
<li><a href="#table-langfristiger-wahnsinn">                        Langfristiger Wahnsinn                                  </a></li>
<li><a href="#table-dauerhafter-wahnsinn">                          Dauerhafter Wahnsinn                                    </a></li>
<li><a href="#table-ruestungsklasse-eines-gegenstands">             Rüstungsklasse eines Gegenstands                       </a></li>
<li><a href="#table-trefferpunkte-eines-gegenstands">               Trefferpunkte eines Gegenstands                         </a></li>
<li><a href="#table-gifte">                                         Gifte                                                   </a></li>
<li><a href="#table-hebel-des-apparats-der-krabbe">                 Gegenstand: Hebel des Apparats der Krabbe               </a></li>
<li><a href="#table-bohnenbeutel">                                  Gegenstand: Bohnenbeutel                                </a></li>
<li><a href="#table-drachenschuppenpanzer">                         Gegenstand: Drachenschuppenpanzer                       </a></li>
<li><a href="#table-eiserne-flasche">                               Gegenstand: Eiserne Flasche                             </a></li>
<li><a href="#table-elementarer-edelstein">                         Gegenstand: Elementarer Edelstein                       </a></li>
<li><a href="#table-federfigur">                                    Gegenstand: Federfigur                                  </a></li>
<li><a href="#table-fliegender-teppich">                            Gegenstand: Fliegender Teppich                          </a></li>
<li><a href="#table-guertel-der-riesenstaerke">                     Gegenstand: Gürtel der Riesenstärke                   </a></li>
<li><a href="#table-halskette-der-gebetsperlen">                    Gegenstand: Halskette der Gebetsperlen                  </a></li>
<li><a href="#table-handbuch-der-golems">                           Gegenstand: Handbuch der Golems                         </a></li>
<li><a href="#table-heiltraenke">                                   Gegenstand: Heiltränke                                 </a></li>
<li><a href="#table-horn-von-walhalla">                             Gegenstand: Horn Von Walhalla                           </a></li>
<li><a href="#table-ifriti-flasche">                                Gegenstand: Ifriti Flasche                              </a></li>
<li><a href="#table-karten-der-illusion">                           Gegenstand: Karten der Illusion                         </a></li>
<li><a href="#table-kerze-der-anrufung">                            Gegenstand: Kerze der Anrufung                          </a></li>
<li><a href="#table-ring-der-sternschnuppen">                       Gegenstand: Ring der Sternschnuppen                     </a></li>
<li><a href="#table-ring-des-widerstands">                          Gegenstand: Ring des Widerstands                        </a></li>
<li><a href="#table-robe-der-nuetzlichen-dinge">                    Gegenstand: Robe der Nützlichen Dinge                  </a></li>
<li><a href="#table-ruestung-des-widerstands">                      Gegenstand: Rüstung des Widerstands                    </a></li>
<li><a href="#table-schicksalskarten">                              Gegenstand: Schicksalskarten                            </a></li>
<li><a href="#table-sphaere-des-nichts">                            Gegenstand: Sphäre des Nichts                          </a></li>
<li><a href="#table-stab-der-macht">                                Gegenstand: Stab der Macht                              </a></li>
<li><a href="#table-stab-des-magus">                                Gegenstand: Stab des Magus                              </a></li>
<li><a href="#table-trank-der-riesenstaerke">                       Gegenstand: Trank der Riesenstärke                     </a></li>
<li><a href="#table-trank-des-widerstands">                         Gegenstand: Trank des Widerstands                       </a></li>
<li><a href="#table-grauer-trickbeutel">                            Gegenstand: Grauer Trickbeutel                          </a></li>
<li><a href="#table-rostfarbener-trickbeutel">                      Gegenstand: Rostfarbener Trickbeutel                    </a></li>
<li><a href="#table-beigefarbener-trickbeutel">                     Gegenstand: Beigefarbener Trickbeutel                   </a></li>
<li><a href="#table-seiten-des-wuerfels-der-kraft">                 Gegenstand: Seiten des Würfels der Kraft               </a></li>
<li><a href="#table-wuerfel-der-kraft-zauber-oder-gegenstand">      Gegenstand: Würfel der Kraft - Zauber oder Gegenstand  </a></li>
<li><a href="#table-zauberschriftrolle">                            Gegenstand: Zauberschriftrolle                          </a></li>
<li><a href="#table-zauberstab-des-wunders">                        Gegenstand: Zauberstab des Wunders                      </a></li>
<li><a href="#table-kommunikation">                                 Kommunikation                                           </a></li>
<li><a href="#table-sinne">                                         Sinne                                                   </a></li>
<li><a href="#table-gesinnung">                                     Gesinnung                                               </a></li>
<li><a href="#table-besonderes-ziel">                               Besonderes Ziel                                         </a></li>
<li><a href="#table-monster-groessenkategorien">                    Monster Größenkategorien                              </a></li>
<li><a href="#table-trefferwuerfel-nach-groesse">                   Trefferwürfel nach Größe                             </a></li>
<li><a href="#table-uebungsbonus-nach-herausforderungsgrad">        Übungsbonus nach Herausforderungsgrad                  </a></li>
<li><a href="#table-erfahrungspunkte-nach-herausforderungsgrad">    Erfahrungspunkte nach Herausforderungsgrad              </a></li>
<li><a href="#table-halbdrachen-farbe">                             Halbdrachen Farbe                                       </a></li>
<li><a href="#table-halbdrachen-hg">                                Halbdrachen HG                                          </a></li>
<li><a href="#table-erschoepfung">                                  Erschöpfung                                            </a></li>
<li><a href="#table-aegyptische-goetter">                           Ägyptische Götter                                     </a></li>
<li><a href="#table-griechische-gottheiten">                        Griechische Gottheiten                                  </a></li>
<li><a href="#table-keltische-goetter">                             Keltische Götter                                       </a></li>
<li><a href="#table-nordische-gottheiten">                          Nordische Gottheiten                                    </a></li>
</ul>